[2022-05-25 05:19] ayanhamza opened #2051 "Traefik trafficRouting in canary strategy doesn't work as expected"
## Summary

I configured trafficRouting via TraefikService like in docs. But still not working. Traffic to my service not splited by weights. It's still working round-robin (default behaviour of traefik-service) 50% of traffic goes to stable, and 50 % to canary. But expected only 20% to canary that declared in first step of my Rollout strategy.
Below my yaml files:

[code]

[code]

[code]

My argo

[2022-05-25 05:50] ayanhamza commented on #2051
I notice that in source code files of last release by path `argo-rollouts-1.2.1/rollout/trafficrouting ` doesn't exists files of supporting traefik. I suppose that last release v1.2.1 still not supports traefik trafficRouting.

[2022-05-25 05:58] kostis-codefresh commented on #2051
@ayanhamza yes you are right

If you want to use Traefik you need to build argo rollouts from latest commit. It is not part of a release yet.

[2022-05-25 10:23] ayanhamza commented on #2051
I build argo-rollout from latest commit as you recommended and it's work's as expected. Please add this feature to the next release! Thank's! All the best!

[2022-05-25 10:23] #2051 closed

[2022-05-25 19:51] #474 closed

[2022-05-26 11:21] PhilippPlotnikov commented on #1438
I have finished PR with Gateway API support, can someone review it please ?
https://github.com/argoproj/argo-rollouts/pull/2004

[2022-05-26 12:47] PhilippPlotnikov commented on #782
I have implemented Gateway API support. Can someone review it ?
https://github.com/argoproj/argo-rollouts/pull/2004
It should solve the problem with Kong

[2022-05-26 13:16] PhilippPlotnikov commented on #958
I would like to implement it

[2022-05-26 18:36] harikrongali commented on #2050
can you post manifest files that you are using?

[2022-05-26 19:54] MarkSRobinson commented on #2050
@harikrongali

I've attached the Rollout manifest.  I can attach others if they'd be useful.  We're using LinkerD as the service mesh topology in the cluster.

[rollout.txt](https://github.com/argoproj/argo-rollouts/files/8781705/rollout.txt)

[2022-05-26 23:07] ju187 commented on #1466
I still getting this bug. Argo rollout version is 1.2

[2022-05-29 06:36] phuongnd96 commented on #1005
Actually i found a way for this to work, documents seems to be outdated for setup with Kayenta. You can try https://gist.github.com/phuongnd96/1614a7b2a301c5965045941d92cf3ced.

[2022-05-30 04:17] jinleileiking opened #2058 "FEAT: records promote details."
I cannot know what time I execute promote command. Better give  a history for logging `promote` cmd.

[2022-05-30 14:27] geojakes commented on #1962
@RaviHari Is this being tracked in a different location as well?

[2022-05-31 19:54] harikrongali commented on #2050
@perenesenko can you provide your findings here?

[2022-05-31 20:05] perenesenko commented on #2050
@MarkSRobinson
Could you provide the whole rollout content with the `status` field:

[2022-05-31 20:11] perenesenko commented on #2050
Due to logs, I see that canary pods should be reached 100% ready as I see the next log in the first line:

We're shifting the traffic only in case the canary pods readiness number reached to the desired number. So It should be the 100%
Then we're switching the service labels. But this does not happen because canary pods not 100% ready:

Have to figure out why on a previous step 100% was ready, but

[2022-06-01 12:24] greenkiwi opened #2063 "Rollouts UI"
## Summary

When using the Argo Rollouts UI, pods appear ready when they are still in a progressing state.
![image](https://user-images.githubusercontent.com/54169/171403402-7da7b754-feec-4edb-88af-a946f03b5d52.png)

You can see that the pods still correctly show as progressing in the ArgoCD UI.  However, in the Rollouts Dashboard, those pods show as green checkmarks.  It appears that the pod icon

[2022-06-01 15:49] iandelahorne opened #2064 "Traffic flaps back to stable during canary promotion"
## Summary
I believe this is similar to  https://github.com/argoproj/argo-rollouts/issues/1826

I am evaluating Argo Rollouts on EKS, using the AWS ALB controller for managing ingress. I've noticed while using the [demo app](https://github.com/argoproj/rollouts-demo) using a canary deployment with the manifests from the [getting-started/alb](https://github.com/argoproj/argo-rollouts/tree/master/do

[2022-06-01 16:51] harikrongali commented on #2026
please reopen if you still see the issue

[2022-06-01 16:51] #2026 closed

[2022-06-01 18:53] kevinburkesegment opened #2065 "Checksum mismatch downloading argo-rollouts v1.2.0, v1.2.1"
Hi, did you happen to push different content to the same Git tag, or change the released content at the URL? I had a checksum mismatch in my local go.sum for this module and version.

[code]

[2022-06-01 20:02] kevinburkesegment commented on #2065
Aha, I figured it out - the module in proxy.golang.org works fine but the contents behind the proxy - ie if you do GOPROXY=direct - do not match up.

[2022-06-01 20:36] kevinburkesegment commented on #2065
Here's the diff I see between what's available for download from proxy.golang.org and what's available if I check out v1.2.0 of the source directly, with this command (which is what Go runs):

[code]

[code]

[2022-06-01 22:13] kevinburkesegment commented on #2065
It also looks like there were two different CI builds for v1.2.0, and I am guessing for v1.2.1 as well

https://github.com/argoproj/argo-rollouts/runs/5634127235?check_suite_focus=true
https://github.com/argoproj/argo-rollouts/runs/5634458780?check_suite_focus=true

[2022-06-02 00:45] jessesuen commented on #2065
Ohh I think you may be right about this. The release process is such that the tag comes first, and then the build. This sometimes leads to situation where even though the tip of the branch passed, the release action fails and needs a minor fixing and retagging.

[2022-06-02 04:35] kevinburkesegment commented on #2065
FYI I get the same issue when I try to download v1.2.1

[code]

which means that the last two releases are broken for anyone who does not want to download from proxy.golang.org. I'm happy to go through the same process as above to figure out the diff between the proxy.golang.org version and the tagged release if you'd like.

Is there a way you could tag a new release?

[2022-06-02 15:57] pragmaticivan opened #2067 "Automatically close slate (1 year old) pull requests"
Thoughts on automatically closing PRs with the last iteration older than 1 year (giving heads up of course).

[2022-06-02 23:56] MarkSRobinson commented on #2050
@perenesenko

Here's the full rollout object
[rollout.txt](https://github.com/argoproj/argo-rollouts/files/8828458/rollout.txt)

What I can figure happened is that we had a networking problem causing 30 pods to fall off being ready (either the node itself died or networking on the node died, we're not certain).

From the logs, it sounds like this could be prevent by either forcing the networking s

[2022-06-03 00:58] MarkSRobinson opened #2068 "Argo Rollouts will mark a rollout in-progress after it is completed."
## Summary

If a finished deploy loses some pods (eg, a node is deleted), argo will mark the deploy as in-progress again.  It will continue to be in progress until all the pods are available again.

Once a rollout has finished, it should never go back to in-progress.

## Diagnostics

What version of Argo Rollouts are you running?

1.2.0

[code]

[code]

This particular deploy finished 2 hours earl

[2022-06-03 08:27] harikrongali commented on #2068
that is expected behavior. Rollout in progress doesn't mean there is ongoing deployment. When pods are not available, Rollout status changes to progress until pods are available. It follows the Kubernetes Deployment resource in calculating the health state.

[2022-06-03 08:27] #2068 closed

[2022-06-03 17:54] ju187 opened #2071 "Run load generation during canary"
# Summary

Canary deployment needs enough traffic to feed the analysis quires, i.e prometheus.  The load generation should be coordinated with the canary so it last the entire progression.

# Use Cases

In non production environment, a loader generator is needed to generate traffic for analysis run.  There are many ways for this but ideally the load generation should be triggered by the rollout to

[2022-06-03 18:21] zachaller commented on #2071
So I am working on a feature that is not quite load generation but might help anyways. The feature is traffic mirroring with the ability to apply filters so that you only mirror say read only traffic to the canary. This might be something that you could use in the interim to help you out.

I also think that a more generic feature for rollouts could be a step that has the ability to call an argo wo

[2022-06-03 19:48] zachaller opened #2073 "spec changes for header and mirror based routing"
# Summary

We are planning to add traffic mirror and header based routing which now puts a different set of requirements on Argo Rollouts to have the idea of precedence within the routes that argo rollouts creates. Most traffic routers such as Istio, Ambassador, and Trafiek and others have the concept of being able to control route precedence. So in order to implement the two mentioned features ab

[2022-06-03 20:49] ju187 commented on #2071
Thanks for the reply.  Not sure the traffic mirroring is helpful as in out test environment, there is lack of any kind of traffic.  The second certainly helps, but it requires Argo workflow.  I am thinking using a job template to run an image to generate some traffic, the downside of that hard to coordinate with the overall canary steps.  Basically I need to have a long running process that stops

[2022-06-03 21:39] zachaller commented on #2071
As a work around using features today you could do something with the notification engine to a webhook https://argoproj.github.io/argo-rollouts/generated/notification-services/webhook/

[2022-06-06 17:06] perenesenko commented on #2064
I've checked the issue and could reproduce it. I thought the [TargetGroup weight and IP](https://argoproj.github.io/argo-rollouts/features/traffic-management/alb/#targetgroup-weight-verification) verification would solve the issue but it's still there.

I found that the weight-changing functionality works fine (with TargetGroup verification enabled) when shifting traffic to 10, 50, 80. but the iss

[2022-06-06 17:15] #1962 closed

[2022-06-06 23:14] harikrongali commented on #1506
https://github.com/argoproj/argo-rollouts/pull/1910 fixes the issue

[2022-06-06 23:14] #1506 closed

[2022-06-06 23:15] harikrongali commented on #1318
https://github.com/argoproj/argo-rollouts/pull/2075 fixes the issue

[2022-06-06 23:18] #1591 closed

[2022-06-07 01:48] iandelahorne commented on #2064
@perenesenko thanks for confirming that you can reproduce.

Yes, from what I observe the Target Group weight is being managed correctly and without delay (that is, during the period traffic flaps back to stable, the weight is set correctly to go 100% to the "stable" service). It seems the rollouts controller is shifting weight to 100% stable before the stable service has updated to the new labels.

[2022-06-07 09:11] kzcPo opened #2078 "kubectl argo rollouts get rollout Execution time too long"
## Summary

exec `kubectl argo rollouts get rollout xxx`
Execution time exceeds 3S

[code]

## Diagnostics

[code]
[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-06-07 20:21] AakashRaj20 commented on #1845
@zswanson
/assign

[2022-06-08 02:26] ShuipingHe opened #2085 "AWS ALB header based routing support"
# Summary
We have scenarios that the ALB can route traffic to different target groups(canary/stable services) based on request headers. It seems ALB itself can do this, using ALB ingress annotation or modify the ALB listen rules on AWS console. However, I don't see that Argo Rollouts can support AWS ALB with this header based routing.
The rollout spec doc explains that rollout controller injects t

[2022-06-08 02:28] #2085 closed

[2022-06-08 02:29] joey100 opened #2086 "AWS ALB header based routing support"
# Summary
We have scenarios that the ALB can route traffic to different target groups(canary/stable services) based on request headers. It seems ALB itself can do this, using ALB ingress annotation or modify the ALB listen rules on AWS console. However, I don't see that Argo Rollouts can support AWS ALB with this header based routing.
The rollout spec doc explains that rollout controller injects t

[2022-06-08 04:45] AakashRaj20 commented on #1845
Hey i would like to try this issue. Can you assign it to me.
/assign

[2022-06-08 12:15] RaviHari opened #2087 "Expose metric for rollout abort with analysisrun failure"
# Summary

Expose a metric when Rollout gets aborted with Analysis failure and reverts the rollout to stable version.

# Use Cases

This helps in preventing any incidents to happen.

When would you use this?

The purpose here is to capture how many such issues / incidents were prevented with argo-rollouts in use which otherwise could have resulted in incidents / outage.

It would be good expose th

[2022-06-08 13:47] AakashRaj20 commented on #1845
Can you tell me how can I get this issue assigned to me, I want to try it

[2022-06-08 14:19] AakashRaj20 commented on #1845
/assign

[2022-06-08 14:44] nikhil1raghav commented on #1897
Is this issue still being worked upon @vishal-yadav.
As @vishal-yadav said _spec.selector_ can also get resolved from _spec.workloadRef_ and while doing validation we are already checking if both of them are nil.

Then why this is not being caught here

 https://github.com/argoproj/argo-rollouts/blob/575a619d68fdd0e21e6dfa80aeea1c6c34009ef9/pkg/apis/rollouts/validation/validation.go#L102

[2022-06-08 20:41] roee-landesman opened #2088 "Support multi-rollout promotion process"
# Summary

We have an interesting setup where we create multiple rollouts in a single helm chart deployment. This works well for us, however we'd like to be able to group all of these rollouts together and promote them in one action, preferably through the dashboard. The only workaround I can think of today is a small script to loop through the rollouts in a namespace using `kubectl argo rollouts

[2022-06-09 02:09] nikhil1raghav commented on #2088
Are you talking about promote full for every rollout or promote to next step?
If this is about promoting every rollout to next step simultaneously then I think for this to work as expected, rollouts must have same number of steps and must be in sync. As sometimes it may happen that even after promoting a rollout it doesn't move to next step because of the way maxSurge and maxUnavailable are set an

[2022-06-09 17:24] gageorsburn opened #2090 "Validation check does not take canary labels into consideration"
## Summary

What happened/what you expected to happen?
Upon upgrading Argo Rollouts to the latest version v1.2.1 our rollouts stopped working with a validation error saying that the rollout was invalid.

[code]

The rollout previously worked before upgrading. Upon investigating what was going on myself I looked at the change log and found this pull request: https://github.com/argoproj/argo-rollout

[2022-06-09 17:53] roee-landesman commented on #2088
Hey @nikhil1raghav, thanks for the quick response. You bring up a good point about the pairing of the many to many relationship between rollouts and steps. For this feature request I would specifically be targeting rollouts grouped together (by say a label) that would have equal promotion strategies.

[2022-06-09 20:11] #1987 closed

[2022-06-09 21:18] zachaller commented on #2090
Can you post your rollout and service yaml's, you need to make sure the labels that are pre applied there match aka if you have say an app label on the rollout and an app label on the service the values need to match.

[2022-06-10 13:49] zachaller commented on #2090
Ahh I understand more what you are talking about now let me double check that validation logic now that I understand what your doing.

[2022-06-10 13:55] zachaller commented on #2090
Ok so I just did a quick test with adding labels via the snippet below and did not run into any issue with validation, I would double check that all your services do not have a label of with a key of `role`. The validation check dose not care if there are extra labels as long as the key:value pairs match.

[code]

[2022-06-10 13:59] gageorsburn commented on #2090
@zachaller I may be misunderstanding, but wouldn't our service want `role: stable` to select the stable pods in canary?

Vs our other service which has a `role: canary`? If we just specified `app: workflow-api` the service would select every workflow-api pod regardless of whether or not it was stable.

[2022-06-10 14:24] zachaller commented on #2090
Argo rollouts will properly add the pod template hashes to separate stable from canary

[code]

[2022-06-10 14:36] gageorsburn commented on #2090
Ahhh okay I see. This probably could be more clear in the docs but I'll close this now. Thanks for your help!

[2022-06-10 14:36] #2090 closed

[2022-06-10 20:42] perenesenko commented on #2023
During the investigation I found the reason. After reconciliation is done we're immediately calling for a new reconciliation in case if the status _message_ field changed.

The error message we have every time has a different text as we're displaying the address of a `Replicas` field rather than a value
For example the next message has Replicas:(*int32)(0xc000a8936c) value with the address.

In ge

[2022-06-12 10:24] diegolagospagopa opened #2092 "Docs: Keda support in documentation and examples"
# Summary

Docs: Support Keda in documentation and examples

# Use Cases

in my company we want to use a system that allows us to do the canary deployment.

Unfortunately, since we heavily use keda for scaling our applications, we cannot use argo rollouts yet. As for an issue in KEDA https://github.com/kedacore/keda/issues/595 there are no examples or documentation in argorollouts that makes us fe

[2022-06-13 12:10] jinleileiking opened #2093 "Maybe problem with cluster-autoscaler when evicting pods for draining node"
## Summary

See https://github.com/kubernetes/autoscaler/issues/4966

[2022-06-13 18:09] perenesenko commented on #2093
@jinleileiking
Argo Rollouts doesn't control the pods directly only by replica sets.
So I don't think it's a Rollouts controller causing this issue.

[2022-06-13 18:29] zachaller commented on #2015
I will take this

[2022-06-13 18:47] #1318 closed

[2022-06-13 20:16] zachaller commented on #563
closed by #2074

[2022-06-14 01:45] kzcPo opened #2095 "kubectl argo rollouts dashboard OOM kill"
## Summary

What happened/what you expected to happen?
`kubectl argo rollouts dashboard` high memory usage.
![image](https://user-images.githubusercontent.com/16077203/173475284-e7abd2a3-1c68-4d6a-bc6e-816cf1d65790.png)

before long time, this pod OOM kill!!

## Diagnostics

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-06-14 02:21] jinleileiking commented on #2093
cluster-autoscaler uses evict. I do not know if this is the reason related. I will test

[2022-06-14 17:58] perenesenko commented on #2095
@kzcPo Could you provide steps to reproduce?
How many rollouts
Manifest for rollout

[2022-06-14 21:48] jessesuen commented on #995
The fix is in master and will be part of v1.3.0

[2022-06-14 21:48] #995 closed

[2022-06-15 06:55] #2093 closed

[2022-06-15 14:35] deybhayden opened #2099 "AWS Target Verify Group Issue - AWS Region required, but was not found"
## Summary

I've got an EKS cluster along with the `argo-rollouts` controller with the `--aws-verify-target-group` running in the `argo-rollouts` namespace. There's an IRSA role attached to the `argo-rollouts` account with the permissions listed in the documentation [here](https://argoproj.github.io/argo-rollouts/features/traffic-management/alb/#usage_1). My rollouts stall as progressing however,

[2022-06-15 18:52] leoluz opened #2101 "Improve the error message for AnalysisRun"
## Summary

Today, when AnalysisRun fails it returns the message with the string "Error" to the user. We should improve Rollouts error handling to provide a better message.

Consider the success condition bellow:
[code]

Sometimes the error is related to the metric success condition not being met but sometimes it is related to the metric not available causing result[0] == nil with `IndexOutofBound

[2022-06-15 19:13] harikrongali commented on #2099
Yes, you need to provide AWS_REGION as an env variable.
[code]

[2022-06-15 19:13] #2099 closed

[2022-06-15 19:20] deybhayden commented on #2099
Hey @harikrongali thanks for responding! I'll take a stab at updating the documentation, as that wasn't clear at first. I also think an update in the Helm chart to be able to specify a value like `controller.extraEnv` would help automated installs in the future.

[2022-06-16 18:48] mdb opened #2102 "[docs] The "Analysis" section of documentation menu contains no "Graphite" link"
## Summary

The "Analysis" sidebar section at https://argoproj.github.io/argo-rollouts/ contains no link to https://argoproj.github.io/argo-rollouts/analysis/graphite/.

## Diagnostics

![Screen Shot 2022-06-16 at 1 02 30 PM](https://user-images.githubusercontent.com/184109/174143434-6ef0a565-a105-4f3f-b374-8263c0005309.png)

---

**Message from the maintainers**:

Impacted by this bug? Give it a

[2022-06-16 22:29] jessesuen opened #2103 "Completed Event/Condition should only trigger during updates"
## Summary

Currently, we equate the Completed condition to a Healthy rollout. However, a Rollout becomes Progressing for other reasons than an update (e.g. pod restarts).

Looking at the intent of the condition, it is intended to only emit when updates complete. See:

[code]

The Completed condition should only be set to False in the middle of an update and set to True at the end of the update. A

[2022-06-16 22:35] jessesuen commented on #2103
To fix this, I think the existing `RolloutComplete()` helper should be renamed to `RolloutHealthy()` and we should introduce a new `RolloutComplete()` helper that ignores pod availability and only considers stable/current pod hash.

https://github.com/argoproj/argo-rollouts/blob/03636ab13003bcf487e8db83b6cde394c8237c23/utils/conditions/conditions.go#L257-L286

[2022-06-17 02:36] mvgmb opened #2105 "Add validation to avoid changes to the Rollout selector field"
## Summary

Rollout's `selector` field should be immutable. However, Argo Rollout's validation allows changing this field, resulting in orphan ReplicaSets.

## How to Reproduce

Create a rollout by running `kubectl apply -f rollout.yaml`:

[code]

Update the Rollout's `selector` field by adding a new label and then run `kubectl apply -f rollout.yaml`:

[code]

Then run `kubectl get pods`. It shoul

[2022-06-17 11:26] kostis-codefresh commented on #2088
@roee-landesman this has been requested multiple time but is needs a formal proposal and proper design. There are many questions that need to be answered here.

For example if I group 5 rollouts and deploy them at once as you say what happens if rollout 3 fails? Do I rollback also 4 and 5? Do I also rollback 1 and 2? Are rollouts independent or they have dependencies?

This feature request expands

[2022-06-17 17:38] mitchellhuang commented on #1992
We have also experience this and were surprised by it. We assumed by setting it to 0, there would be no delay and the ReplicaSet would be terminated immediately. We also ended up changing it to 1 to get closer towards the desired behavior.

[2022-06-20 15:42] geojakes commented on #1962
@RaviHari What is the release cadence here?

[2022-06-20 17:33] bpoland opened #2109 "Healthy rollout stuck in Degraded state, prevents scaling/restart"
## Summary

We're not exactly sure how this happened, but one of our Rollouts got stuck in a degraded state even though the stable version ReplicaSet was totally fine.  This put things into a weird state where some changes that we requested were not taking effect:
1. HPA auto-scaling didn't cause the number of pods to change
2. Requesting a pod restart did not do anything

We were able to get out

[2022-06-21 12:05] vipul0805 commented on #911
@jessesuen Hi, I think changing the value of `version` on each rollout will cause difficulties in monitoring a large number of applications as the value of the label has to be changed in the monitoring dashboards while the Rollout is in progress.

I would like to suggest that the `version` label can be injected in both the DestinationRule and the pods through the feature  [#770](https://github.com

[2022-06-21 15:15] anhtranquang commented on #1329
hi @jessesuen , any workaround for this issue? The expected behavior should be: Rollback the rollout when the pod status is CrashLoopBackOff imho!

[2022-06-21 16:32] benpbrown opened #2110 "argo-rollouts occasionally crashes in argoproj/pkg"
## Summary

argo-rollouts occasionally crashes with the following message

[code]

## Diagnostics

The issue appears to be that argo-rollouts is dependent on an older version of argoproj/pkg that contains a bug manifesting as that crash.

pkg version: https://github.com/argoproj/argo-rollouts/blob/a6dbe0ec2db3f02cf695ba3c972db72cecabaefb/go.mod#L8
pkg issue: https://github.com/argoproj/pkg/pull/47

[2022-06-22 04:32] nikhil1raghav commented on #2024
I want to work on this issue, @pragmaticivan can you please tell me where is this error located that is swallowed in 1.2.0
As it breaks in `/go/src/github.com/argoproj/argo-rollouts/analysis/analysis.go:319` this goroutine. I checked it creates a newRelic provider but found everything same in 1.1.1 and 1.2.0 regarding how account Id is handled.

[2022-06-23 13:41] #2023 closed

[2022-06-23 13:46] #2110 closed

[2022-06-23 19:44] perenesenko opened #2116 "The canary ping-pong should skip alb target group verification"
# Summary
Remove the alb target group verification even if the flag `--aws-verify-target-group` is enabled for the canary with ping-pong feature.

The ping-pong feature was implemented for canary to have another way of pod readiness indication. Once the readiness gates are used for the canary ping-pong configuration there is no need to have target group verification.
In other words the ping-pong f

[2022-06-27 15:19] amirschw opened #2117 "argo-rollouts controller leader resumes working after it stops leading, running alongside the new leader"
**Describe the bug**

When running with more than 1 replica of argo-rollouts controller (with the `--leader-elect` flag), and the current leader fails to renew the lease, stops leading and "shutting down", it continues to work (reconciling, having an active metrics server, etc.) together with the new leader.

**To Reproduce**

1. deploy the controller with the `--leader-elect` flag and 2 replicas

[2022-06-28 04:20] ayanhamza opened #2118 "When "Degraded" state, canary-service doesn't have any endpoints. That's why TraefikService can"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [ ] I've inclued the version of argo rollouts.

I found that after "Degraded" phase, selector of canary-service not return to old ReplicaSet Hash. And still remains in new ReplicaSet Hash. That's why canary-service doesn't have endpoints. And TraefikService not serve traffic to stable version, Please help. How to modify code to change H

[2022-06-28 18:21] perenesenko commented on #2118
Hi @PhilippPlotnikov
Could you please look on this issue?

[2022-06-29 06:57] mfkje06 commented on #474
I just tested this case, but found the routing traffic base on headers and percentage existed at the same time.

If I only want the traffic existing through header based routing , how should i set them ?

[2022-06-29 18:29] MarkSRobinson opened #2119 "Manually aborting a deployment using dynamicStableScale does not respect pod disruption budget"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

Aborting a deployment that uses dynamicStableScale:true will cause Argo to scale down the new deployment to 0 instead of respecting PDB.

<img width="1012" alt="Screen Shot 2022-06-29 at 10 16 09 AM" src="https://user-images.githubusercontent.com/2237823/176497438-844

[2022-06-29 22:42] jessesuen commented on #2119
@MarkSRobinson can you paste the PDB? With Rollouts, since this is not a built-in application controllers (Deployment, ReplicationController, ReplicaSet, and StatefulSet) you can only use `spec.minAvailable` and the value must be an integer and not a percentage. See:

https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors

[2022-06-29 23:49] #563 closed

[2022-06-30 11:14] RaviHari commented on #2011
@deepanverma19 I tried using HPA and whenever scaleup / scaledown happens the rollout status phase is healthy it is not degraded. The events generated are on ScalingReplicaSet not on rollout-completed / rollout-degraded.

[code]

Can you please re-verify your use case.

[2022-06-30 18:05] #1538 closed

[2022-07-05 03:00] ivpr commented on #914
Istio has a workload dashboard which is getting polluted with workload name as replica set(which changes for every deployment). To fix it, we are using a workaround to add the env variable that controls the workload name via pod annotation in out rollout spec
[code]

[2022-07-05 18:21] kevinburkesegment commented on #2065
Hey, just wondering if there's any chance you could tag a new release, even tagging 1.2.2 to point at the same commit that is currently present in proxy.golang.org would be helpful. Thanks.

[2022-07-05 19:34] gasgurda opened #2125 "Controller can't find smi resource"
**Describe the bug**

rollout controller cant find resource trafficsplits.split.smi-spec.io

**To Reproduce**

1) Install  traefik-mesh https://doc.traefik.io/traefik-mesh/install/
2) Install service.yml
3) Install rollout.yml

**Expected behavior**

rollout controller must find resource trafficsplits.split.smi-spec.io

**Version**

v1.2.0, v1.2.1, latest, 1.1.1

**Logs**

[code]
**api-resources**

[2022-07-06 22:29] syndicut commented on #1457
Just for the reference, there is https://github.com/DataDog/extendeddaemonset for daemonset with canaries, but I like argo-rollouts support for extended canary analysis =)

[2022-07-07 08:20] MahnoorAsghar opened #2130 "Upgrade go-restful dependency version due to CVE 2022-1996 vulnerability"
# Summary
I have an issue with a argoproj/argo-rollouts dependency version: go-restful v2.9.5. This is being imported by argo-rollouts, and the latest release of argo-rollouts uses this version too. I want to get this upgraded to go-restful v3.8.0.

# Use Cases
I am using argo-rollouts in my repository, and my repository is getting CVE-2022-1996 vulnerability brought by go-restful library v2.9.5.

[2022-07-08 20:04] zachaller commented on #2125
@gasgurda can you run the controller with this flag set and try again `--traffic-split-api-version=v1alpha3`

[2022-07-08 20:19] zachaller commented on #2117
I am not able to reproduce this, it looks like your kube api server had issues during the leader lease though by timing out. I don't think there is an issue with rollouts itself.

[2022-07-09 09:44] gasgurda commented on #2125
@zachaller ty, it works. Could you add this instruction into documentation ?

[2022-07-11 06:33] prostobox commented on #2088
Hi, are there any updates? I also encountered 1 application deploying 50+ rollouts in green blue , I would like to be able to promote everything with one command

[2022-07-11 18:20] zachaller commented on #1200
Not fixed 100% but dose improve the situation by allowing reries fixed in https://github.com/argoproj/argo-rollouts/pull/2123

[2022-07-11 20:19] MarkSRobinson commented on #2119
@jessesuen Ah, I see.  We don't use `spec.minAvailable`, we just have `maxUnavailable` set as a percentage.

[code]

Do we need to convert to using `minAvailable` instead of `maxUnavailable`?

[2022-07-12 14:37] #2125 closed

[2022-07-12 19:24] zachaller commented on #2130
fixed in https://github.com/argoproj/argo-rollouts/pull/2136

[2022-07-13 06:16] Pratyush-123 opened #2139 "Unable to scrap controller_clientset_k8s_request_total metric"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [X] I've inclued the version of argo rollouts.

**Describe the bug**
I am trying to run a forked version of argo rollouts v1.2. The Argo Rollout Controller is working fine but I am unable to scrap `controller_clientset_k8s_request_total` metric.  As per the doc this metric should be there.

**To Reproduce**

**Expected behavior**
Argo r

[2022-07-14 05:57] EagleIJoe opened #2141 "Details page empty on installed dashboard with workloadRef"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

The argo rollouts dashboard details page is empty when being installed in a cluster and utilizing workloadRef method.

**To Reproduce**

1. Deploy argo rollouts dashboard via the dashboard-install.yaml manifest.
2. Deploy argo rollout via deployment referencing (workl

[2022-07-15 13:59] gitarns commented on #1883
i'd really like like this too.

[2022-07-17 12:13] amirschw commented on #2117
Thanks for looking into it, @zachaller. It makes sense that API server issues caused this, but don't you think that the rollouts controller should be resilient to such disruptions? BTW, this replicates for me in several different clusters. My current mitigation is just running with a single replica of the controller.

[2022-07-18 17:27] juanvasquezreyes commented on #1904
is there any update on this?

[2022-07-19 19:45] chrisplim opened #2151 "AnalysisRun gets stuck in Running state for dryrun + successful job metric"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

AnalysisRun gets stuck in `Running` state if the metric is listed as a dryrun and is a Job that completes Successfully with exit code 0.

**To Reproduce**

1. Apply this manifests file: https://gist.github.com/chrisplim/c864a22a5ea7ba788a6a86ca13e54807
[code]
2. Get/w

[2022-07-19 19:54] zachaller commented on #2103
Closed by #2147

[2022-07-19 20:02] zachaller commented on #2130
We are working on trying to releasing a 1.3 RC in the next 2 to 4 weeks.

[2022-07-19 20:02] #2130 closed

[2022-07-21 15:08] zachaller commented on #2117
Can you try tuning these parameters `--leader-election-lease-duration and --leader-election-renew-deadline` https://argoproj.github.io/argo-rollouts/FAQ/#can-we-run-the-argo-rollouts-controller-in-ha-mode if you have a k8s api server that is that overloaded its timing out you might need to tune those as well. I am also looking into one other thing in regards to this just an fyi

[2022-07-21 20:39] shakefu commented on #2024
FYI this critical bug broke our entire production cluster for many hours since the Rollout controller kept crash looping.

[2022-07-21 20:46] shakefu commented on #2024
@perenesenko @jessesuen @leoluz @harikrongali It looks like the fix for this is already in `master` https://github.com/argoproj/argo-rollouts/blob/master/analysis/analysis.go#L329

Any idea when you'll cut a bugfix release to resolve this? I don't see any releases since May. I'd rather not have to fork the repository to get a fix out since this is a production issue for us.

[2022-07-21 20:53] harikrongali commented on #2024
@shakefu we can do a patch release next week

[2022-07-21 22:18] shakefu commented on #2024
@harikrongali Thanks so much!

[2022-07-22 15:15] zachaller commented on #2119
@MarkSRobinson you can only use `spec.minAvailable` and it has to be an int not a percentage. Have you tried this and did it behave as expected?

[2022-07-22 15:24] MarkSRobinson commented on #2119
@zachaller I haven't had a chance to try it yet

[2022-07-22 19:29] harikrongali commented on #2151
@agrawroh can you check the above usecase?

[2022-07-22 20:40] bitti commented on #1761
In our case we even observed that the old ReplicaSet is not even scaled down and that can be easily overlooked, since it doesn't appear in the history anymore! While changing a `matchLabels` value should be an exceptional case and not happen regularly that makes this issue even more prone to be overlooked and I think this should be fixed with priority.

Note that I don't propose to make `matchLabe

[2022-07-22 21:06] #2141 closed

[2022-07-22 21:12] perenesenko commented on #1730
This issue could be fixed with https://github.com/argoproj/argo-rollouts/pull/2153

[2022-07-22 23:40] #1885 closed

[2022-07-23 16:36] marcportabellaclotet-mt opened #2157 "Add testkube analysis provider"
# Summary

What change needs making?

It would be interesting to add [teskube](https://kubeshop.github.io/testkube/) as analysys provider.
Testkube is a very useful framework which integrates a lof od testing tools like postman,cypress,k6s...
It has a very well defined API, and it returns the execution test results.

# Use Cases

When would you use this?

It is already possible to run a job and ru

[2022-07-24 11:26] marcportabellaclotet-mt opened #2158 "When defining an analysis with multiple items, when one item fails, others are aborted but marked as successful."
Checklist:

* [x ] I've included steps to reproduce the bug.
* [x ] I've included the version of argo rollouts.

**Describe the bug**

When defining an analysis with multiple items, when one item fails, others are aborted but marked as successful.
**To Reproduce**
Create an analysis template like this:
[code]
create a rollout pointing to the above analysis:
[code]

**Expected behavior**

The expec

[2022-07-25 16:31] rcontreras-te commented on #1939
So, I bumped into this just today.  We're running K8S `v1.16.13` / argo-rollouts `v1.1.1` and I was unable to upgrade to argo-rollouts `v1.2.1` because of this.

So what is the minimum version of K8S required in order to use argo-rollouts `v1.2.0`?  I didn't see minimum requirement mention in the `v1.2.0` release notes.  @harikrongali , you mentioned that there might be an update to the docs for t

[2022-07-25 22:15] perenesenko commented on #1523
I can't reproduce that issue.
I've used the current one on a day 7/25/22 `master` branch. Also I've switched to the 9/21/21.
No error was found.

@jessesuen Is there any specific way this issue should be reproduced?

[2022-07-25 22:38] perenesenko commented on #1531
@jessesuen Do we need this?
Enabling image publishing to ghcr.io.

[2022-07-26 05:28] blkperl commented on #1876
Fixed in #2136

[2022-07-26 05:28] #1876 closed

[2022-07-26 05:29] blkperl commented on #1875
Fixed in #1856

[2022-07-26 05:29] #1875 closed

[2022-07-26 08:24] preethignanesh opened #2162 "Argo-rollouts not changing the image name for deployment referenced in workloadRef section"
### Discussed in https://github.com/argoproj/argo-rollouts/discussions/2161

<div type='discussions-op-text'>

<sup>Originally posted by **preethignanesh** July 26, 2022</sup>
I am trying the Argo rollouts for blue/green strategy. We have defined the deployments within our component spec, so while creating the rollout yaml instead of defining the pod config, I am using
workloadRef:
    apiVersion:

[2022-07-26 17:52] leoluz commented on #2024
Released argo-rollouts patch v1.2.2 to address this issue:
https://github.com/argoproj/argo-rollouts/releases/tag/v1.2.2

[2022-07-26 17:52] #2024 closed

[2022-07-27 06:56] ssanders1449 commented on #1738
I agree that this should be addressed by setCanaryScale, but please see https://github.com/argoproj/argo-rollouts/issues/1779 where I show that we need to add a 'minReplicas' property to setCanaryScale

[2022-07-27 07:55] doctornkz commented on #2116
Good day, everyone. Recently we have enabled the ping-pong approach to mitigate some issues with ArgoRollouts, and the feature works great. Only one problem we found with OutOfSync Ingress:
![image](https://user-images.githubusercontent.com/2026721/181192653-c1db245d-cf99-4e13-af52-6531e93d2666.png)
It's happening every second deployment and as I understood the Ingress' annotation doesn't follow t

[2022-07-27 13:22] #2102 closed

[2022-07-27 15:34] pallamidessi opened #2166 "High CPU usage with many old analysisRun objects"
Hello 👋 !

We've came across some interesting performance/scalability issue: the argo-rollouts controller does use quite a bit of CPU when there are many old (non-active) analysisRun object in the cluster. Deleting them fix the performance issue completely

The performance issue wasn't too much of a problem to be honest but the resource usage is surprising (especially for "inactive" objects)

Chec

[2022-07-27 16:02] gpuliyar commented on #2088
@kostis-codefresh - that's a good point. For our use case, as mentioned by @roee-landesman, we want the ability to roll back all the rollouts in that group. I expect other users might have other requirements - where they want to stop the rollouts after the first failure. So it would be nice if this was configurable in some form.

[2022-07-27 18:20] zachaller commented on #2166
Did a single rollout have 6600 runs or was that the totatl number of runs within the namespace from many different rollouts? Also just to inform you in case you were not aware you can control the number of runs to keep via
[code]
This of course dose not help with the performance case where there are multiple rollouts so need to look into that a bit more just to make sure rollouts is being as effic

[2022-07-27 20:47] perenesenko commented on #1531
Talked with @jessesuen about this.
We decided not to enable it

[2022-07-27 20:47] #1531 closed

[2022-07-28 12:03] pallamidessi commented on #2166
Great question !
We're aware of those settings (which we will decrease in the meantime because it is of relatively low-value for us). We had so many analysisRun object around because we have 2220 services and rollouts running in our cluster and I believe that why we're seeing this kind of niche performance issue.

More than happy to have a look at it, if you have some pointers :) ?

[2022-07-28 15:08] sys-ops commented on #574
Hi Y'All, Is anyone working on this feature? I see it's been open for 2 years now.

It is highly demanded on production environments where during incidents we need to rollback quickly to the previous stable version.
Preanalysis and postanalysis runs have been already performed during a previous rollout, hence we do not need to make sure once again that the previous version is stable.

Could you ad

[2022-07-29 06:45] tfrokt commented on #2037
How do I debug when just getting: `"The Rollout \"<my service>\" is invalid:` and that's it? No reason.

[2022-07-29 06:50] tfrokt commented on #2037
I had "30min" instead of "30m" in my template ..

[2022-07-29 10:33] sys-ops opened #2167 "scale Down Replica Count during scaleDownDelay"
# Summary

During the scaleDownDelay the old ReplicaSet takes up CPU and memory resources which it does not need. Full traffic goes to the new ReplicaSet.

Even if I scale ReplicaSet down manually, the number of PODs in that ReplicaSet goes back to the previous state because it is controlled by the rollout.

# Use Cases

It would be useful in cases where a replicaCount is high and/or resources req

[2022-07-29 10:57] sys-ops opened #2168 "Allow fast-tracked rollbacks for kubectl argo rollouts undo"
# Summary

As of now there is no way to perform a fast-tracked rollback (skip analysis, pauses and steps entirely) if a rollout deployment has been performed successfully.

# Use Cases

When would you use this?

I need that feature during incidents on production when I need to rollback to the previous stable version as fast as possible.

---

**Message from the maintainers**:

Impacted by this bug

[2022-07-29 13:20] tfrokt opened #2169 "Datadog query syntax not clear, leading to error"
**Describe the bug**

This is the query I am using: `default_zero(sum:client_event_total{env:prod,cliendid:42}.as_count())`
It is working datadog syntax (open metrics in datadog copy/paste works for me), but it is different to the [example](https://argoproj.github.io/argo-rollouts/analysis/datadog/).
The rollout does not succeed.

Full template:

[code]

**Version**

Can I see the version in the l

[2022-07-29 15:52] #1720 closed

[2022-08-01 17:32] zachaller opened #2171 "e2e multiple k8s versions"
# Summary

In regards to https://github.com/argoproj/argo-rollouts/pull/2163 we should update our e2e action to support multiple versions of kuberentes.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-08-01 20:13] zachaller opened #2172 "Argo Rollouts invalid spec not cleared from conditions"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [ ] I've inclued the version of argo rollouts.

**Describe the bug**

ArgoCD shows that the rollout is in a degreaded state due to rollouts controller possibly not clearing the InvalidSpec condition upon it being created

**To Reproduce**

I have not reproduced this yet but I think to start I would deploy rollout resources then make a c

[2022-08-01 20:34] #2172 closed

[2022-08-02 18:41] jbrardport commented on #1983
👍

[2022-08-03 04:30] tfrokt commented on #2169
Another one. Getting `SetCanaryScale requires TrafficRouting` after trying setting explicit number of replicas to scale to.

From the [docs](https://argoproj.github.io/argo-rollouts/features/canary/) it is not clear why my rollout throws this error.

from my template:

[code]

[2022-08-03 05:09] tfrokt commented on #2169
I've played around with it a bit more.

This is what I've tried:

[code]

It is throwing this error:

`Rollout <rollout> is invalid: spec.strategy.dynamicStableScale: Invalid value: true: Canary dynamicStableScale can only be used with traffic routing"`

But the worst about the issue is, it removed the running, stable deployment! It would be great to have a warning in the documentation.

[2022-08-03 12:20] tfrokt commented on #2169
Adding to my original post

`assessed Error due to consecutiveErrors (5) \\u003e consecutiveErrorLimit (4): \\\"Error Message: invalid operation: \\u003e (mismatched types \\u003cnil\\u003e and int)`

for analysis template:

[code]

(part of) the rollout template:

[code]

The canary stays up for less than a minute and gets shut down. Expected behaviour: it stays up for at least 3m (failureLimit *

[2022-08-04 13:45] jbouchery commented on #2046
Hi @zachaller

Any update on this issue?

Regards

[2022-08-05 11:29] dodwmd opened #2179 "argo-rollouts CRDs are old"

[2022-08-05 11:29] #2179 closed

[2022-08-05 20:04] coolbry95 commented on #1992
Another option if you want the replica sets to scale down immediately is to use `scaleDownDelaySeconds: -1`.

This is what we moved to since 0 keeps them indefinitely.

[2022-08-05 20:04] kzcPo commented on #1992
你好，我已经收到邮件！

[2022-08-10 02:06] pfldy2850 opened #2185 "Temporary load balancing occurs after sync in canary strategy using traefik."
Checklist:

* [ ] I've included steps to reproduce the bug.
* [ ] I've inclued the version of argo rollouts.

**Describe the bug**

We are building a canary deployment strategy on ArgoCD using Rollouts that has traefik as a traffic routing tool.
As we know, The process of rollouts when starts syncing is as follows.

1. When we sync the application, the weighted traefikservice syncs to the initial

[2022-08-10 08:55] pp185214 commented on #1635
Do we have any update on this project? We will use StatefulRollout pretty much in our CI/CD pipeline. Thanks a lot for any new information.

[2022-08-10 09:15] salaboy opened #2186 "Support Knative Services for Rollouts"
# Summary

Related to: https://github.com/knative/serving/issues/13024
Supporting Knative Services if Knative is installed seems to be something both communities want to see happening. I wonder how I can facilitate the integration from the Knative side to at least have a PoC that we can use to validate if a fully-fledged feature is needed. Is the Argo Rollouts community aware of any experiments ar

[2022-08-10 19:17] jandersen-plaid commented on #2050
I think the key issue is that the rollout is continuing reconciliation when the selectors are delayed in being swapped.

That is, https://sourcegraph.com/github.com/argoproj/argo-rollouts/-/blob/rollout/service.go?L284 returns `nil` as if everything is normal when we cannot swap the replicaset hashes of the stable and canary replicasets. This allows the reconciliation to proceed onward to this ste

[2022-08-11 17:43] perenesenko commented on #2185
@pfldy2850 Could you please provide the argo-rollouts version?

[2022-08-13 18:00] jSherz opened #2191 "./server/static/index.html missing on 1.3.0-rc1"
Checklist:

* [X] I've included steps to reproduce the bug.
* [X] I've inclued the version of argo rollouts.

**Describe the bug**

When trying to view the dashboards as part of kubectl plugin or service as part of 1.3.0-rc1, the following error is seen:

[code]

[code]

Trying via CLI:

[code]

[code]

Via the service/pod installation using the dashboard install YML file:

[code]

[code]

**To Re

[2022-08-15 03:58] httin opened #2196 "Argo Rollouts allows to keep only failed metric results"
# Summary

What change needs making?
In the `measurementRetention` under `analysis` spec, it's good to have an boolean option like `onlyKeepFailedResults`, defaults to `false`.
When this is `true`, the metric results in `AnalysisRun` only show failed results, otherwise, it should have the current behavior.

# Use Cases
In a release, I have to monitor lots of metrics, each of them should have more

[2022-08-15 13:59] zachaller commented on #2046
So this is actually do to how k8s manages their deps. Using the replace directive to replace all k8s deps with a version of k8s dependencies you want to use is correct.

An example: https://github.com/argoproj/argo-schema-generator/blob/main/go.mod#L139-L166

[2022-08-15 13:59] #2046 closed

[2022-08-16 10:13] httin commented on #2117
I'm also experiencing this issue, I deploy 2 argo-rollouts controller pods with argument `--leader-elect` (and it's weird when this arguments is duplicated, like `--leader-elect --leader-elect`). After operating for some days, both of them are supposed to be leaders. And it duplicates slack notifications, like this issue https://github.com/argoproj/argo-rollouts/issues/1667; all of metrics are dup

[2022-08-16 22:35] zachaller commented on #2119
@MarkSRobinson going to close this let me know if does not solve the issue however and we can reopen

[2022-08-16 22:35] #2119 closed

[2022-08-17 14:59] #2191 closed

[2022-08-17 15:07] leoluz commented on #2191
@jSherz Thanks for pointing this out. We fixed this issue in `master` and also cherry-picked in `release-1.3` branch. Are you able to give it a try with one of the two branches? We are waiting on another bug fix before releasing rc2.

[2022-08-17 20:44] kmlamkin9 opened #2199 "Docs: Getting Started Page containing broken link, 404 pages not formatting correctly, and missing step for creating apps via CLI"
# Summary

Docs: Getting Started Page containing broken link, 404 pages not formatting correctly, and missing step for creating apps via CLI

# Use Cases

1. On the [getting started page](https://argo-cd.readthedocs.io/en/stable/getting_started/) under step 1, there is the text "Follow the [instructions to configure a certificate](https://argo-cd.readthedocs.io/en/stable/getting_started/operator-m

[2022-08-17 20:45] #2199 closed

[2022-08-17 20:45] kmlamkin9 commented on #2199
Wrong Project. Apologies.

[2022-08-18 15:20] kevarr opened #2200 "Capability to either rollback blue green deployment after n seconds"
# Summary

Currently a user can automatically promote by enabling autoPromotionEnabled. I would like a flag for to automatically abort a deployment, for example autoAbortEnabled.

# Use Cases

When would you use this?

When a user wants to set up a time window where a user must promote their deployment so that the preview revision resources don't live forever if the user forgets to manually abort.

[2022-08-18 15:22] #2200 closed

[2022-08-18 19:18] spaghettifunk commented on #2186
Related discussion: https://github.com/argoproj/argo-rollouts/discussions/2133

[2022-08-19 09:24] jeromeguiard commented on #1005
Can we get a clarification from the team. Is the documentation outdated and those parameters are going to be eventually remove, or the dev hasn't been done yet?
In my usecase I am trying to pass dynamic parameters to Kayenta as part of a rollout step outside an experiment.

I want to be able to trigger the analysis whenever I want as part of release steps.

 I was planning to rely on those paramet

[2022-08-19 15:13] zachaller commented on #1005
If you look at the [docs](https://argoproj.github.io/argo-rollouts/analysis/kayenta/) the time values are coming in via the experiment

[code]

[2022-08-20 06:17] harikrongali opened #2205 "Redesigning the canary replica counts"
# Summary

The current implementation for canary replica counts in https://github.com/argoproj/argo-rollouts/tree/master/utils/replicaset  is very complex and doesn't cover all the use cases

Outcome: Simplify replica count calculation considering maxSurge & maxUnavailable.

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We priorit

[2022-08-22 08:03] jeromeguiard commented on #1005
Thanks for the answer,
Indeed with an experiment it works without issue.

my question was related to the status of interval and count in the doc and if how possibly retrieve time base variable outside of the experiment. As I would like to trigger a kayenta job as a last step of my deployment.

[2022-08-22 11:50] angeloslenis commented on #1364
Any updates here?

[2022-08-22 22:46] Jolley71717 commented on #958
Based on the description of how PruneLast works, I'd venture a guess that the old configmap is still present.

What I'd like to see is the addition of the `revisionHistoryLimit` that only lets x number of configmaps stay around before being pruned.

Similar to
[code]

[2022-08-23 20:35] zachaller commented on #2073
closed by #2074

[2022-08-23 20:35] #2073 closed

[2022-08-24 05:00] deepanverma19 commented on #2011
@RaviHari my best guess here is probably it works fine for normal HPA but is having issues with [keda](https://keda.sh/) which we're using. I will close this issue for now and reopen one later (if required), thanks for looking into this! Also, I see `rollout-aborted` was added recently to the config, so I replaced our customized `rollout-degraded` with `rollout-aborted` Thanks, that was helpful.

[2022-08-24 05:00] #2011 closed

[2022-08-24 14:06] Vignesh-Au commented on #1707
@johnniee Can you please share an example configuration for argo rollout canary release for a kafka consumer application? I am new to argo rollout and would like to know how weight distribution happens for a kafka consumer app.

[2022-08-24 21:16] #2103 closed

[2022-08-25 06:00] johnniee commented on #1707
Hi @Vignesh-Au, here's a snippet for our canary strategy we are using for our Kafka consumers:
[code]

The `maxSurge: 0` will make sure there won't be any 'spare' replicas during the deployment.

[2022-08-25 12:49] Vignesh-Au commented on #1707
Thanks @johnniee.

[2022-08-25 19:53] #1277 closed

[2022-08-28 08:22] ssanders1449 commented on #2001
@zachaller provided the following workaround in Slack

_As a work around for this you could have one Ingress resource that is managed by rollouts then have multiple other ingress resources acts as proxies to the rollouts managed one. You would need to use k8s ExternalService to point to a domain that resolves to your ingress managed by rollouts. Something kind of like https://www.elvinefendi.com/2

[2022-09-01 15:22] aniketphanse opened #2225 "nginx traffic routing double annotationPrefixes"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

When setting additionalIngressAnnotations in nginx trafficRouting, argo-rollouts adds the annotationPrefix always even when the additional annotations have a prefix resulting in two prefixes, which is invalid.

**Steps to reproduce the bug**
- Create a rollouts config

[2022-09-02 03:47] zachaller commented on #2225
Based on the documentation https://argoproj.github.io/argo-rollouts/features/traffic-management/nginx/ this seems to be the correct behavior. What are you trying to accomplish by adding an additional prefix that dose not match the ingress controller prefix?

[2022-09-02 18:39] zachaller opened #2226 "Expriment Support for Mirroring"
# Summary

Experiments currently only support sending a percentage of production traffic to the experiment replica sets. We should
add the ability for experiments to mirror traffic as well.

# Use Cases

When you want to run an experiment that does not affect any end user traffic.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-09-02 19:33] zachaller commented on #2225
Yea this is currently not supported and we would need to probably add another field something like `additionalAnnotations` and/or `additionalLabels` to maintain backwards compatibility.

[2022-09-02 19:51] Vignesh-Au commented on #2225
Thanks @zachaller!

Can you please let us know an ETA for your team to make this change?

Also, we would like to know if your team would be open to PRs from us for the change.

Thanks again!

[2022-09-04 18:02] agrawroh commented on #2151
Sorry for the delayed response. This definitely looks like a bug. I'll try to repro on my end and would open a fix PR.

[2022-09-05 00:59] chrisplim commented on #2151
Here's the output of the analysisrun
I ran: `kubectl logs -n argo-rollouts deployment/argo-rollouts | grep analysisrun=`

The output was too long for the comment
https://gist.github.com/chrisplim/1093db72f5d4371bd1bdc41af2f670d2

[2022-09-05 02:57] agrawroh commented on #2151
Thanks, @chrisplim. Could you please also do "kubectl describe ar <name>" and then paste that screenshot? To see the latest analysis run, you can do "kubectl get ar"

[2022-09-05 04:13] chrisplim commented on #2151
@agrawroh
It was a little big for my screen to do a screenshot, so i'll paste the text if that's ok

[code]

[2022-09-05 11:29] RaviHari opened #2228 "Notification not sent when the conditions are not set"
The issues is related to: https://github.com/argoproj/argo-rollouts/pull/2066

Notifications are working when run on v1.2.2 but when upgraded v1.3.0-rc versions Notifications are not sent when conditions are not mentioned.

The logs are being generated though:
[code]

[2022-09-05 21:01] chenfli commented on #2090
Hi,
I seem to have the same issue, I have removed the stable/canary metadata, for the exact reason.
It seems that I still get both canary and stable pods on the stable service.
For example I got
```rollouts-pod-template-hash: 75fd44f76b``` - on all stable pods

and

```rollouts-pod-template-hash: 75fd44f76b``` - on canary pod

@zachaller, any idea why the stable service still selects a canary pod

[2022-09-06 16:57] MarkSRobinson commented on #1340
Implemented as dynamicStableScale - thanks

[2022-09-06 16:57] #1340 closed

[2022-09-07 15:19] Sonam11 opened #2232 "Argo Rollouts pods crashing with failed to sync informer error"
**Description**
We are using workloadRef, in our services default configs, and when Argo Rollouts trying to sync the rollout objects, it uses a generic informer (which is not a shared informer) and when syncing with this informer, it fails, retries few times.. and fails again and then kills the pod and new pods gets started again and intermittently it starts happening again.
Debugging done so far:

[2022-09-07 15:40] jeromeguiard opened #2233 "Experiment create service with hardcoded port."
**Describe the bug**

Using experiment in rollout step, it is expected to have a service created to route traffic to it. as describe in this doc: https://github.com/argoproj/argo-rollouts/blob/master/docs/features/experiment.md

[code]

Created service related to the experiment have port 8080 as targetPort

**To Reproduce**

Start an experiment, in a rollout canary step, set weight for stable and

[2022-09-07 15:47] AntSworD commented on #1547
Emm..
Looks like the same problem occured again, already try latest/v1.3.0-rc2..etc
![image](https://user-images.githubusercontent.com/2549087/188921869-e9b1d368-904e-4b2a-8ec8-f9917843c3c4.png)

[2022-09-07 21:43] mubarak-j opened #2235 "Service selector switched after older replica scaled down to zero causing an outage"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've included the version of argo rollouts.

**Describe the bug**

During the last step of a canary rollout with traffic routing and `dynamicStableScale: true`, the `service-canary` was set to `desiredWeight 100` (timestamp 11:01:09), and the old replicaset was scaled down to zero (timestamp 11:01:42). But this happened after `servi

[2022-09-07 23:15] zachaller commented on #2235
Possibly related https://github.com/argoproj/argo-rollouts/pull/2187 and https://github.com/argoproj/argo-rollouts/issues/2050

[2022-09-09 01:00] MarkSRobinson opened #2239 "Argo doesn't support maxSurge: 0% correctly"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [ ] I've inclued the version of argo rollouts.

**Describe the bug**

When using a deployment with maxSurge: 0%, maxUnavailable: 100%, dynamicStableScale: true.  Argo will run old and new pods at the same time.  We've had some bug reports internally of services that have to run exactly 1 pod at a time, running 2 pods for a bit of time.

[2022-09-11 12:26] AliDotS commented on #1914
When leader election is enabled there is one line that doesn't follow JSON format.
`12:08:56.641662       1 leaderelection.go:248] attempting to acquire leader lease argocd/argo-rollouts-controller-lock...`

[2022-09-12 14:30] nikhil1raghav commented on #2139
Can anyone @harikrongali  @jessesuen  please assign this to me? From what I have found out these metrics shouldn't be working from v1.1.0 as well.

Kubeclient is initialized before adding metrics roundtripper to the config.

[2022-09-12 14:53] Vignesh-Au commented on #2239
@MarkSRobinson I noticed a similar behavior and asked it as a question here - https://github.com/argoproj/argo-rollouts/discussions/2237

[2022-09-13 17:04] alexef commented on #2169
While evaluating argo-rollouts, I ran into almost all of the issues above.

[2022-09-13 20:38] mubarak-j commented on #2050
One of our apps with over 170 pods suffered an outage due to this bug https://github.com/argoproj/argo-rollouts/issues/2235. Reading this issue, it seems this bug always had the potential to hit since using `dynamicStableScale: true` (~ 30 releases/rollouts since then). But it seems to be to have made possible by a longer than usual delay for EKS to spin up new nodes/pods during the rollout (~ 5 m

[2022-09-14 02:23] tfrokt commented on #2169
I got it working in the end, but it required a few tweaks:

1. The analysis template required using this syntax `successCondition: default(result, 0) > 0` as described [here](https://argoproj.github.io/argo-rollouts/features/analysis/) at the very bottom of the page (it is in the docs). This prevents the `mismatched types` types error which causes retries immediately! and ignores the interval set

[2022-09-14 02:26] tfrokt commented on #2169
Here's one of the analysis templates:

[code]

[2022-09-14 15:37] jlevesy opened #2241 "Allow creating analysis job in a different namespace than the analysis run"
# Summary

I don't know if it's a bug or a feature, but here I go 😅

It looks like that the [JobMetric](https://github.com/argoproj/argo-rollouts/blob/4848fb12833e6e14ff9a2d8c783d5be04960d303/pkg/apis/rollouts/v1alpha1/analysis_types.go#L225) carries a metadata object and  especially a namespace attribute.

Which makes me think that if I write something like this, the analysis job would actually b

[2022-09-14 15:44] zachaller commented on #2239
So with traffic routed canary the maxSuge configuration is not used at all as seen https://github.com/argoproj/argo-rollouts/blob/master/utils/replicaset/canary.go#L318-L358

I do know there have been some bugs related to dynamicStableScale that might correlate with this but will need to dig a bit more into if it makes sense when dynamicStableScale is enable to support surge options.  At first gla

[2022-09-14 20:06] #2228 closed

[2022-09-15 20:12] zachaller commented on #2241
The idea is interesting and I could see it making sense I think in order to not break ownerReferences we would need to bring in the the idea of a cluster scoped job template kind. This would however make the work a bit more involved.

[2022-09-15 20:30] zachaller commented on #2241
Also after reading the docs a few times I do not think there is a way to cleanly do cross namespaced ownerReference :(

[2022-09-15 20:31] jlevesy commented on #2241
Yes that's correct, you would need a cluster scoped resource to take ownership of the resource cross namespace. That's the only way I'm afraid 😅

[2022-09-15 20:46] zachaller commented on #2241
Have you played with the idea of having the job reaching out to those namespaces and reading the shared resources instead. You should be able to specifiy the service account the job is running as and grant it permission to do so.

[2022-09-16 06:38] jlevesy commented on #2241
True, but we're still running this from a rollout as a prePromotionAnalysis for a blueGreen deployment, and this is scoped to a namespace. So, maybe I misunderstood your comment, how would that work?

Thanks for your help anyway :)

[2022-09-16 09:34] FuyuanChu commented on #557
Praise for supporting this.

[2022-09-16 14:45] zachaller commented on #2241
So within the job code/process basically using kubectl or kubernetes api's to pull secrets across namespaces you would need to have a cluster role bound to the service account the job is running as not sure what your security model looks like for that but it could be something you could use maybe

[2022-09-16 15:42] jlevesy commented on #2241
Ah, good point thanks!

[2022-09-16 17:40] zachaller commented on #2232
Have you tried to reproduce this on v1.2.2 or the 1.3-rc?

[2022-09-17 12:10] jchenau opened #2246 "Allow auto promotion for same image version while disable auto promotion in other scenarios"
# Summary

basically add a parameter `autoPromotionEnabledForSameVersion: true` that will do auto promotion if the rollout image tags are not changed, but not auto promoted when image tags are changed.

# Use Cases

We'd like to set auto promotion to false because we use the pipeline to do the promotion for all rollouts at the same time.

But there are some cases when the configmap updated (or oth

[2022-09-19 08:58] zidad opened #2248 "rollouts lint throws nil pointer in 1.3.0 when there's a kong ingress specified"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

When I update to the latest version of argo-rollouts the linting feature fails for me when there's a kong ingress specified with the following error (both on MacOS and Ubuntu):

panic: runtime error: invalid memory address or nil pointer dereference

**Describe the bug**

**To Reproduce**

[2022-09-19 21:39] gdvalle opened #2249 "Dashboard web root no longer redirects to /rollouts"
**Describe the bug**
`v1.3.0` introduced a behavioral change where the Dashboard UI no longer redirects on the root to `/rollouts`, and instead displays a `404 not found`.

That change seems to have happened [here](https://github.com/argoproj/argo-rollouts/pull/2075/files#diff-d89226ec31d158da289f4b79e877ca3b12b70d993555b6bf4fec186446181e61L93), in the [PR](https://github.com/argoproj/argo-rollout

[2022-09-19 22:34] object88 opened #2250 "Inconclusive result on Kubernetes Job metric"
# Summary

The current implementation of the [Job](https://argoproj.github.io/argo-rollouts/analysis/job/) metric does not allow for an "inconclusive" result.  This puts it at a technical deficit against other metrics.

# Use Cases

I can think of 2 use cases:
1) The job is unable to start, as with a CLB or Image Pull Error, as mentioned in [Issue 1329](https://github.com/argoproj/argo-rollouts/is

[2022-09-20 13:42] sang-w0o opened #2254 "Not configuring proper ServiceAccount on pods"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

We can define ServiceAccount on `spec.template.spec.serviceAccountName` in Rollout yaml file.
But the pods created by this Rollout uses default ServiceAccount, not using the ServiceAccount that I have configured.
The Kubernetes Deployment works just fine using the sam

[2022-09-20 13:59] dbs-gong commented on #2254
define serviceAccountName
in the spec - this works and passes the serviceAccount to the pod correctly

On Tue, Sep 20, 2022 at 4:42 PM 나상우(Roy) ***@***.***> wrote:

--
  Daniel Ben Shoushan
  Senior Devops Engineer
972547100069
***@***.***
www.gong.io

[2022-09-20 14:01] sang-w0o commented on #2254
Nope, using serviceAccountName also fails to pass the correct value to pods.

[2022-09-21 11:23] sang-w0o commented on #2254
This was because my argocd auto-sync was turned on, while I was testing using `kubectl apply` in my machine.

[2022-09-21 11:23] #2254 closed

[2022-09-22 07:48] iam-veeramalla commented on #1845
@AakashRaj20 to get it assigned, I think you should be a member. Someone should manually assign this to you till then as I just did.

[2022-09-22 07:49] iam-veeramalla commented on #1845
Please let me know if  you are still interested in working on this, I can take this up if not :)
@AakashRaj20

[2022-09-22 07:53] iam-veeramalla commented on #1750
Hi @crenshaw-dev , There is already a PR for this by @danielhelfand #1867 .. Do you think anything else is required on the PR. I will be more than happy to contribute or we can close this.

[2022-09-22 13:02] caduri opened #2258 "AnalysisRun final error message for metrics that failed to run, is very long and repeating itself"
**Describe the bug**

When a Prometheus metric is failing due to a bad address then the error message in AnalysisRun is long and repeating itself
[code]

note: This is just an example the error message is longer

**To Reproduce**

In order to reproduce:
1. Create ClusterAnalysisTemplate with bad prometheus address
2. Add it to a rollout strategy as step analysis
3. Check the error message in Analy

[2022-09-22 18:01] zachaller opened #2259 "Rollback API is returning an error"
The rollback api via UI and CLI is returning an error

[code]

[2022-09-22 23:08] zachaller commented on #2225
Thinking about another solution for this vs adding a new field the code could be modified such that if `annotationPrefix` is an empty string we let the `additionalIngressAnnotations` as is

[2022-09-23 04:48] Sonali-Rajput commented on #1821
I would like to take on this issue, can you make it more clear please @nissy34?

[2022-09-23 17:38] zachaller opened #2262 "grpc versions of traffic routers and metric providers"
# Summary

Add a traffic router and metric provider grpc implementations.

# Use Cases

This would allow implementations of both traffic routers and metric providers to live outside of the argo rollouts repo.

The use cases being custom implementations to still leverage argo rollouts. We have uses cases currently where rollouts is managing an istio virtual service that another internal controller

[2022-09-26 20:09] m-wynn opened #2266 "VirtualService's Retries stanza gets deleted by Argo"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

Argo Rollouts is managing routes on a couple Istio delegate VirtualServices.  These VirtualServices have a `route` and a `retries` stanza.  Whenever Argo updates the VirtualService, the `retries` stanza is lost.  I did not notice this issue before upgrading to Istio 1

[2022-09-26 21:03] zachaller commented on #2266
Can you test this against Argo Rollouts 1.2.2?

[2022-09-26 22:00] m-wynn commented on #2266
I downgraded to 1.2.2, removed the `setHeaderRoute` bit as it is not compatible with 1.2, and attempted a rollback.  You are correct, I no longer lose the `retries` stanza on upgrade.

I also realized that argo was deleting the `port` stanza from the routes it manages as well.  This is also resolved with a rollback to 1.2.2.

[2022-09-27 01:12] zachaller commented on #2266
Ok, I think I have an idea on what is going on will try to get a fix out soon.

[2022-09-27 18:13] #2139 closed

[2022-09-27 18:24] #2248 closed

[2022-09-27 19:15] gdvalle commented on #2249
Thanks, @leoluz!

[2022-09-28 03:27] namnh2204 opened #2271 "Rollout experiment validate dupplicated containerPort with different name on template specs"
Checklist:

* [ x ] I've included steps to reproduce the bug.
* [ x ] I've inclued the version of argo rollouts.

**Describe the bug**
When I tried to create rollout with experiment, the error below throw.
```The Rollout "rollout-demo" is invalid: spec.template.spec.containers[0].ports[1]: Duplicate value: map[string]interface {}{"containerPort":8080, "protocol":"TCP"}```. Why rollout required uni

[2022-09-28 16:45] dmitrytretyakov opened #2272 "Traffic Management. Use equal Istio configuration for Experiment replicasets"
# Summary
I'm trying to cover all of our pipeline requirements with ArgoCD Rollout and stuck on the next one:
we want Experiment service canary and baseline configurations to be identical to canary and stable service configurations as much as possible. To be sure in releasing process a bit more.

We use Istio as a traffic management system and Istio is a big part of every service.
For now, ArgoCD

[2022-09-28 17:11] Armstrong4444 commented on #1547
I probably use a workaround. I downloaded install-dashboard.yaml (https://github.com/argoproj/argo-rollouts/blob/master/manifests/dashboard-install.yaml), installed into cluster and created ingress. Now I can get into websites.

[2022-09-28 23:12] jessesuen commented on #2239
We need to do a better job document this, but `maxSurge`, `maxUnavailable` is not intended to be honored when using traffic routing (even with `dynamicStableScale: true`) because any dramatic shift in traffic weights could cause a Rollout to overwhelm a ReplicaSet running too few pods.

Here is an example scenario of why it cannot be honored.:

[code]

When we reach the `setWeight: 100` step we ar

[2022-09-28 23:15] jessesuen commented on #2239
I should note that maxSurge and maxUnavailable is honored properly when `trafficRouting` is *not* used because it behaves like Deployment

[2022-09-29 00:02] Cylix opened #2273 "Letter "L" doesn't work after navigating to a rollout details page"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've included the version of argo rollouts.

**Describe the bug**

Search inputs on the UI do not accept the letter "L" after navigating to a rollout details page.

The bug only seem to affect the letter "L". It is probably due to a shortcut implementation since the letter "L" seems to be used for navigating back to the dashboard ro

[2022-09-29 00:26] jessesuen commented on #2233
Yes, this is a bit of an embarrassing bug. I am pretty sure @zachaller is right and `TemplateService` was intended to be used to give full control on the service that was created.

[2022-09-29 01:17] MarkSRobinson commented on #2239
It might be worth covering the use case for services that don't have ingresses.  I'm thinking of a service that pulls from kinesis.  This is common enough that it'd be worth highlighting in the documentation.

[2022-09-29 07:43] junjunjunk opened #2274 "Enhance: Delete selector field in example of Rollout using workloadRef"
# Summary
Delete `.spec.selector` field in the following example.
https://github.com/argoproj/argo-rollouts/blob/master/docs/migrating.md#reference-deployment-from-rollout
And add description of behavior when workloadRef is usedof for `spec.selector` in the following specification.

https://github.com/argoproj/argo-rollouts/blob/master/docs/features/specification.md

If we use workloadRef, then `.

[2022-09-29 14:16] #2266 closed

[2022-09-29 18:33] zachaller opened #2275 "Suport jsonBody for web metric provider"
# Summary

Add support to web metric provider to make posting json easier. We would do this by adding a new field called `jsonBody`.

Today in order to post json to a web metric provider to POST data you end up with a metric configuration like this
[code]

The body field being just a string that gets posted as the body in the http request.

I propose to add something like `jsonBody` which would ma

[2022-09-29 19:33] MarkSRobinson opened #2276 "Expose Analysis data as metrics"
# Summary

What I'd like to see exposed as a set of metrics is

  - analysis name
  - Number of successes
  - Number of failures
  - Number of errors
  - Analysis value as seen by AR
  - Last state

# Use Cases

I use grafana/prometheus extensively for monitoring and I'd like to make it easier for users to debug deployment failures.  Right now, they really struggle to see why a deployment failed (

[2022-09-30 14:18] DanTulovsky opened #2278 "Dashboard: Provide a table view"
# Summary

Would it be possible to provide a table like view for the main dashboard page?  One line per rollout.  The boxes make it somewhat difficult to get an "at a glance" view of what's going on.

# Use Cases

All the time.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-09-30 16:07] zachaller commented on #2117
So I have been able to reliable reproduce this and have some idea's on what is going on, I am working on a fix for it.

[2022-09-30 21:01] nullin opened #2279 "Canary with experiment as first step does not update canary service with correct template hash"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've included the version of argo rollouts.

**Describe the bug**

Using the `rollout-experiment` example at https://github.com/argoproj/rollouts-demo, I noticed that the `rollouts-pod-template-hash` associated with the canary service is not updated if the first step in canary strategy is `experiment`

**To Reproduce**

* Use the `r

[2022-10-02 14:39] kaikiat opened #2281 "How can I debug if the value in setWeight is different from actualWeight"
**Describe the bug**
The setWeight is different from actualWeight.

**To Reproduce**
This is my rollout yaml
[code]
**Expected behavior**
Expects setWeight to be the same as actualWeight. But actualWeight is always 50%

**Screenshots**

<img width="340" alt="Screenshot 2022-10-02 at 10 35 45 PM" src="https://user-images.githubusercontent.com/32543853/193459726-3d04332c-a27e-4fef-a7fc-ccc4462db8ea.

[2022-10-03 20:13] zachaller commented on #2281
As per documentation it seems you are using basic canary and so if you have basic canary with say only 2 pods you would run into this. For reference here is the docs

If the canary Rollout does not use [traffic management](https://argoproj.github.io/argo-rollouts/features/traffic-management/), the Rollout makes a best effort attempt to achieve the percentage listed in the last setWeight step betwe

[2022-10-04 00:14] perenesenko commented on #2235
I've tested this case with the `dynamicStableScale: true`.
In my environment I'm not facing this error. The controllers steps I'm observing in my case:
1. Traffic weight 100
2. Switched selector for service 'stable-service'
3. Traffic weight updated to 0
4. Scaled down old ReplicaSet

But in case of this bug the **service switch** happened at the end:
1. 11:01:09 service-canary was set to desiredW

[2022-10-04 21:39] #2064 closed

[2022-10-05 07:06] premadk commented on #2275
Hi, I am new to Argo Rollouts. As a beginner, I think this enhancement fits well for me. Can I contribute on this? Thanks!

[2022-10-05 15:12] #2281 closed

[2022-10-05 15:14] #1950 closed

[2022-10-05 22:22] zachaller commented on #2235
@mubarak-j Quick question are you running argo rollouts with HA enabled as in do you run multiple controller pods?

[2022-10-05 22:55] mubarak-j commented on #2235
Yes, argo-rollouts is running in HA mode with 2 replicas using the [community chart](https://github.com/argoproj/argo-helm/tree/main/charts/argo-rollouts). it was release/rollout number 43 for this service (which you can tell by the replicaset version) and at least we were running the last 15 of them in HA mode without issue.

As mentioned in [my comment](https://github.com/argoproj/argo-rollouts/

[2022-10-06 01:21] perenesenko commented on #2235
I'm observing the continuous issues with the rs update conflicts. @mubarak-j thanks for the info about 2 replicas. This should help me.

[2022-10-06 14:26] zachaller opened #2290 "UI not setting correct mime type"
The UI is not sending the correct mime types and is responding to things like JS files etc as plain/text

[2022-10-06 16:57] chrisplim commented on #2151
Hi @agrawroh, I was trying to test the fix on release 1.3.0, but it seems I get the same behavior when I run through the reproducing steps in the PR description.

<details>
<summary>kubectl argo rollouts version</summary>

[code]

</details>

<details>
<summary>kubectl describe ar</summary>

[code]

</details>

<details>
<summary>kubectl logs -n argo-rollouts deployment/argo-rollouts | grep analys

[2022-10-06 17:07] chrisplim commented on #2151
Following up. It seems that the fix didn't actually get picked up in release 1.3.0 (I misread one of the commits)

[2022-10-07 15:23] zachaller opened #2297 "Missing metric for updatedReplicas"
Checklist:

* [ x] I've included steps to reproduce the bug.
* [ x] I've inclued the version of argo rollouts.

**Describe the bug**

We currently expose `status.availableReplicas` and `status.readyReplicas` but we are missing `status.updatedReplicas` we should also expose `status.updatedReplicas`as a prometheus metric.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2022-10-07 16:02] todaywasawesome opened #2298 "Prometheus metrics should support self-signed certs."
Many metrics providers that are locally hosted on the same Kubernetes cluster use internal, self-signed certs. This can throw errors when trying to use the available https endpoints. We should add support for self-signed certs.

https://github.com/argoproj/argo-rollouts/blob/4d8fbd151e10bb7c08fe6a573f65857cb91ec330/metricproviders/prometheus/prometheus.go#L146-L173

[2022-10-07 19:48] nitram509 commented on #2297
✋ will pick this one :)

[2022-10-07 23:48] premadk commented on #2275
Thanks @zachaller Here is the PR https://github.com/argoproj/argo-rollouts/pull/2301

[2022-10-08 15:58] dratler commented on #2298
Hi @todaywasawesome ,
Is this still open for the grab ?

[2022-10-08 17:33] dratler commented on #2298
Also I think using self sign certificate will be good for local only unless some 3rd party can use it for wrong

[2022-10-08 19:19] MarkSRobinson commented on #2071
@ju187 You could use the Job analysis type - https://argoproj.github.io/argo-rollouts/analysis/job/.  You could write a load generate with k6 - k6.io - and package it up as a image to run against the system.

[2022-10-08 20:01] nitram509 commented on #2290
👋 will work on it and provide a PR within the next 48h

[2022-10-10 04:01] johnzheng1975 commented on #1904
is there any work around for this? like use version more than xx.xxx.xxx, or other ways to avoid this issue?
thanks.

[2022-10-10 18:07] christianh814 commented on #2298
I imagine the spec could look like this (Similar to the Web provider)

[code]

[2022-10-12 07:09] mihneastaub opened #2314 "Rollout resource not modify VirtualService"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

I have upgraded the ArgoRollouts operator to the latest version v1.3.1, the problem is that the VirtualService resource is not modified by the Rollout. The destinationRule is modified as expected.

**To Reproduce**

Need to have istio deployed in the cluster and use s

[2022-10-12 07:29] iam-veeramalla commented on #2314
Hi @mihneastaub what is the change that you are expecting ? Can you please provide that details ?

[2022-10-12 07:31] mihneastaub commented on #2314
Hello @iam-veeramalla,

Thank you for the response.

As described in the [documentation](https://github.com/argoproj/argo-rollouts/blob/master/docs/features/traffic-management/istio.md#:~:text=Rollouts%20will%20continuously%3A-,modify%20the%20VirtualService%20spec.http%5B%5D.route%5B%5D.weight%20to%20match%20the%20current%20desired%20canary%20weight,-modify%20the%20DestinationRule), the Rollout re

[2022-10-12 07:36] iam-veeramalla commented on #2314
Thanks @mihneastaub because you have mentioned about the upgrade, Can I assume it was working as expected before the upgrade ?

[2022-10-12 07:38] mihneastaub commented on #2314
Yes, I have used `v1.2.1` version and is worked as expected. After I have made the upgrade to the latest version `v1.3.1` this modification of the `VirtualService` is not working for me.

I want to mention that the modification of the DestinationRule resource is done correctly.

[2022-10-12 07:47] mihneastaub commented on #2314
@iam-veeramalla, those are the events inside of the Rollout resource.

![image](https://user-images.githubusercontent.com/57804495/195281912-f14bb542-1a22-45d0-a2d1-63f87f5bbc05.png)

From what I see, is mention in the events `TrafficWeightUpdated` but is not mention that the `VirtualService `was modified  like it does with the `DestinationRule`.

[2022-10-12 09:55] hyt05 opened #2316 "Argo does not change the service tag to the old version after the Rollout canary is interrupted"
When I publish a grayscale version normally, argo will modify the selector value of the service, and when I click interrupt, argo does not modify the selector value of the old version, or is there any alternative?

There is a stable service called rollout-stable and a preview service called rollout-canary, argo added tags to both services after the first release
[code]
When I do a canary release i

[2022-10-12 11:55] iam-veeramalla commented on #2314
Hi @mihneastaub ,

It's working fine for me. Please check below.

**Rollouts Version**:
`quay.io/argoproj/argo-rollouts:v1.3.1`

**ScreenShot of Rollout**:

![Screenshot 2022-10-12 at 5 21 01 PM](https://user-images.githubusercontent.com/43399466/195336012-d5e01e3b-b0dd-48db-8007-f13b9ab3cd5e.png)

**ScreenShot of VitualService Update**:

![Screenshot 2022-10-12 at 5 21 21 PM](https://user-images.

[2022-10-12 12:17] csantanapr commented on #1323
Not having authentication is major blocker for adopting the dashboard in production cluster
Really looking forward on this enhancement

[2022-10-12 13:52] iam-veeramalla commented on #2316
@hyt05 are you looking for `kubectl argo rollouts **undo** <rollout-name>` instead of interrupt ?
https://argoproj.github.io/argo-rollouts/generated/kubectl-argo-rollouts/kubectl-argo-rollouts_undo/

[2022-10-12 14:29] lukpep opened #2317 "Dashobard namespace picker requires to text deletion to show full list of namespaces"
**Describe the bug**

Is this the desired behaviour?
![CleanShot 2022-10-12 at 16 21 22](https://user-images.githubusercontent.com/2960580/195369533-8996d0b3-f6cd-415d-9572-0e3802e29aef.gif)

In order to view the full list of namespaces with rollout objects I need to delete the namespace name first.

**To Reproduce**

Install 2 rollouts in 2 separate namespaces and dashboard in standard argo-rollo

[2022-10-12 15:42] zachaller commented on #2317
This is I feel expected behavior based on it being a filtered list. A filtered lists I feel works best when there are a lot of namespaces.

[2022-10-12 16:06] mihstaub commented on #2314
Hello @iam-veeramalla,

Thank you very much for investigating this.

It seems that my problem was resolved using the routes name inside of the Rollout resource. But from what I understand from the documentation, is optional if there is a single route in VirtualService, required otherwise.

So, I think is problem with the documentation as for me is working without adding the name of the routes for

[2022-10-12 16:07] mihneastaub commented on #2314
Hello @iam-veeramalla,

Thank you very much for investigating this.

It seems that my problem was resolved using the routes name inside of the Rollout resource. But from what I understand from the documentation, is optional if there is a single route in VirtualService, required otherwise.

So, I think is problem with the documentation as for me is working without adding the name of the routes for

[2022-10-12 17:54] iam-veeramalla commented on #2314
so @mihneastaub can we close this issue ?

[2022-10-12 22:56] bitti opened #2322 "argo-rollouts lint 1.3.0 segfaults when there's a VirtualService specified"
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

Since the last two versions or so, I can't lint manifest which contain a `VirtualService` together with a `Rollout` anymore, because I get a segfault.

**To Reproduce**

Minimal example:

[code]

Output

[code]

**Expected behavior**

No crash but linting results.

**

[2022-10-13 00:49] zachaller commented on #2322
Can you try 1.3.1 I think this is fixed via https://github.com/argoproj/argo-rollouts/pull/2256

[2022-10-13 00:58] zachaller commented on #2322
I will take a look at this

[2022-10-13 01:00] zachaller commented on #2322
Can you provide your full rollout object i think I have an idea on what is going on but I would like to view a more valid rollout object as well?

[2022-10-13 01:08] bitti commented on #2322
Why should that matter, if it's invalid I should just get a validation error? I'd need to scrub the full rollout from any company sensitive data, which is additional work.

[2022-10-13 02:41] #2317 closed

[2022-10-13 04:09] hyt05 commented on #2316
Yes, this is what I want, but I still don't know what the point of Abort is

[2022-10-13 06:02] iam-veeramalla commented on #2316
@hyt05 Since UNDO is what you are looking for I am closing this issue :)

[2022-10-13 06:02] #2316 closed

[2022-10-13 06:34] mihneastaub commented on #2314
Yes, we can close this issue, but the documentation should enhanced for this problem.

[2022-10-13 06:34] #2314 closed

[2022-10-13 07:06] iam-veeramalla opened #2325 "Footer blocks the content on Analaysis overview page when scrolled down."
Checklist:

* [x] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**
This is a very strange behavior that I noticed which can also be specific to browser. When I open the Analysis Overview page on my FireFox browser (Version 105.0.1 64-bit).

As I keep scrolling down, the footer blocks the page view. Please refer to the screenshot.

Thi

[2022-10-13 09:29] lukpep commented on #2317
I can understand the convenience of filtering the list - but at the same time, I feel that it should work differently:
* user clicks the dropdown
* all namespaces are visible (not all rollouts - all namespaces)
* user can choose one
* rollouts from that namespace are presented
* user clicks dropdown again, and all namespaces are visible - if one wants, one can filter it by writing something but by

[2022-10-13 14:31] #2117 closed

[2022-10-13 21:45] #2322 closed

[2022-10-14 07:52] iam-veeramalla commented on #2258
@caduri I was trying to reproduce the issue at my end.

When I submit a bad Prometheus address, I ran into a different error which looks good.
[code]

I might be missing something, Does the `bad Prometheus address` mean an `invalid address` ? To reproduce the above scenario I used `prometheus.example.com` which does not exist.

[2022-10-14 16:20] eddie-knight opened #2329 "Bring CLOMonitor score to 100%"
As Argo is signed up for the Security Slam, this issue is to track the efforts necessary to bring argo-rollouts [CLOMonitor](https://clomonitor.io/projects/cncf/argo) score to 100%.

## CLOMonitor report

### Summary

**Repository**: argo-rollouts
**URL**: https://github.com/argoproj/argo-rollouts
**Checks sets**:  `CODE`
**Score**: 86

### Checks passed per category

| Category  |  Score  |
| :--

[2022-10-14 16:55] zachaller opened #2330 "Create Signed Docker Images"
# Summary

We should sign our docker images like argo cd has just done via this PR https://github.com/argoproj/argo-cd/pull/10925

# Use Cases

For security when end users want to know that the image has been built by our github actions.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-10-14 21:21] batistein commented on #1060
Any updates on this? Any workarounds?

[2022-10-16 13:44] nikhil1raghav commented on #2279
@nullin How do you update this, `kubectl edit ro` ?

[2022-10-17 05:54] ayanhamza commented on #2118
@PhilippPlotnikov help pls

[2022-10-17 15:28] dcortright commented on #2273
@zachaller I would like to take this up for Hacktoberfest.

[2022-10-17 15:47] zachaller commented on #2273
Sounds good and thanks for jumping in. Feel free to reach out if you need anything!

[2022-10-19 13:41] zachaller opened #2350 "Upgrade examples to support k8s 1.25"
**Describe the bug**

Currently we have examples that use Ingress v1beta1 that k8s API is deprecated in k8s 1.25 we should update Ingress any any other resources that are removed in k8s 1.25.

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#migrate-to-non-deprecated-apis

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the

[2022-10-19 13:46] zachaller opened #2351 "Upgrade k8s resources for e2e tests so that they work on k8s 1.25"
We should upgrade our e2e resources to work with newer version of k8s keeping in mind that we might need to support multiple version in relation to https://github.com/argoproj/argo-rollouts/issues/2171

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-10-19 18:48] nullin commented on #2279
@nikhil1raghav, yes.

[2022-10-19 22:47] #2275 closed

[2022-10-20 01:17] zachaller commented on #2065
Is this working for 1.3.1?

[2022-10-20 19:26] zachaller opened #2353 "Document cosign verification"
Now that we have signed images we should also document how to verify them argocd has done this via https://github.com/argoproj/argo-cd/pull/10967 and also possibly provide link to https://docs.sigstore.dev/cosign/overview/#kubernetes-integrations

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-10-20 20:37] harikrongali commented on #2158
@marcportabellaclotet-mt can you check with the latest release 1.3.1?

[2022-10-20 20:38] harikrongali commented on #2151
@chrisplim can you try with 1.3.1 release and confirm if still an issue?

[2022-10-20 20:49] harikrongali commented on #1906
please try with latest image 1.3.1 and reopen if still an issue

[2022-10-20 20:49] #1906 closed

[2022-10-20 23:01] zachaller opened #2354 "Update SMI docs"
SMI ingress needs to have this annotation applied to the ingress objects our docs do not mention this `nginx.ingress.kubernetes.io/service-upstream: "true"`

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-10-21 12:32] alexef commented on #2233
@jessesuen / @zachaller I assume that the fix for this would be to follow up on https://github.com/argoproj/argo-rollouts/pull/1158 and infer the servicePorts from the Rollout.spec.template.containers, or additionally allow the user to specify the port.

We have an additional use case for this - we use experiments to create a separate workload (different pod labels) that does not receive productio

[2022-10-21 15:17] zachaller commented on #2233
So we have talked about this a bit and it is a bug however I think the fix we want to implement is to embed the whole service spec into the TemplateService something like:

[code]

I think we might want to maintain control of the metadata like auto generating names etc. Do you see any issues with this approach? I feel it will be a lot more future proof this way and provide full customization.

[2022-10-21 15:30] alexef commented on #2233
Thanks for the link to #2257, I missed it.

Looking at the code, we control ownership of the generated service using an annotation. This will allow one to override the service name (this is our use case), but keep having it managed by the experiment controller.

I don't see an issue with embedding the whole service spec, assuming empty and partial services are allowed (so one can only override the

[2022-10-21 18:39] zachaller opened #2359 "fix namespace install including crd's"
Then namespace install manifests contains crds. Having CRD's included in the namespaced install is a bit strange because generally people that install into a particular namespace will have multiple installs in one cluster and crd's are a cluster level resource so for example if they use argocd to install rollouts in multiple namespaces they will fight for control of the crds. ArgoCD's manifest the

[2022-10-21 19:43] chrisplim commented on #2151
@harikrongali Hello, it seems like the commit made it into the `release-1.3` branch, but the `Build` job failed in the workflow https://github.com/argoproj/argo-rollouts/actions/runs/3199266846

[2022-10-22 13:47] zachaller commented on #2233
Would you mind pointing me to the code where we get the ports form the replicaset? I think it probably still makes sense to do that because I am guessing it only does that when the experiment is part of a rollout, and the port issue is only really an issue if you try to submit an standalone experiment?

[2022-10-22 21:12] alexef commented on #2233
I was copying in https://github.com/argoproj/argo-rollouts/pull/2356/files#diff-9160eeeef3ac3a4d98cb24f696d54437422a13d16245d8068373f49384cc7e2fR289-R298, exactly, when the Experiment was part of a Rollout, and at a point we already had a ReplicaSet.

I'm not carrying it over to #2357 due to concerns around what ports should/should not get exposed.

[2022-10-24 03:36] rarecrumb commented on #1134
This doesn't seem to be the case. I'm using cert-manager with CloudFlare Origin Issuer and the TLS values are not inherited by the canary ingress.

Same issue:
[code]

[2022-10-24 20:15] rarecrumb commented on #1323
@alexec any update here? Seems like it should be easy to put dex or something similar in front of this?

[2022-10-24 23:03] perenesenko commented on #2235
@mubarak-j BTW
Was the log you provided modified? Did you remove any lines in between?

I'm expecting to see the probably "delaying service switch..." message between:
"2022-09-06T17:01:09.000Z"   "Updating Ingress `team-service-canary` to desiredWeight '100'"
and
"2022-09-06T17:01:41.000Z"   "Updating Ingress `team-service-canary` to desiredWeight '0'"
but it's not there.

I could not reproduce t

[2022-10-25 06:01] zachaller commented on #2073
https://cloud-native.slack.com/archives/C01U781DW2E/p1666632541542379?thread_ts=1666277093.264039&cid=C01U781DW2E

User complaint about not having canaryTemplate

[2022-10-25 10:05] ssanders1449 opened #2371 "Add LightStep as a provider for Analysis Templates"
My company is moving to use LightStep (https://lightstep.com/) for metrics and alerting. We have existing rollouts that are using Prometheus for analysis, and we would like to port them to using the Lighstep Observability APIs (https://api-docs.lightstep.com/reference/overview)

[2022-10-26 04:46] zachaller commented on #2371
After taking a brief look at the API here https://api-docs.lightstep.com/reference/querytimeseries-1 do you think using something like argo rollouts web metric [provider](https://argoproj.github.io/argo-rollouts/analysis/web/) or even possibly something like the [job](https://argoproj.github.io/argo-rollouts/analysis/job/) to accomplish what you need?

[2022-10-26 06:50] pparth commented on #2276
Very important addition guys. Analysis results should be transformed into metrics, added back to a target data series system. super useful for reporting and auditing. Is there any support for that now?

[2022-10-26 13:20] ssanders1449 commented on #2371
Yes I think that using the web provider will be a good solution

[2022-10-26 13:20] #2371 closed

[2022-10-26 14:12] rhyswilliamsza commented on #2239
It would be great to have an override traffic rollout strategy where we dynamically scale-down stable and scale-up canary in an orchestrated process, thereby capping our total running replicas (for e.g. when one has a stateful application that expects n replicas).

This obviously runs the risk of overloading stable whilst waiting for replicas to come up, but may be useful in specific situations! :

[2022-10-26 15:26] schakrad commented on #2063
@harikrongali , I would like to work on this issue.

[2022-10-26 18:32] MarkSRobinson opened #2374 "Having duplicate analysis entries will corrupt /metrics end-point"
Checklist:

* [X] I've included steps to reproduce the bug.
* [X] I've inclued the version of argo rollouts.

**Describe the bug**

If a user accidentally creates two Analysis' with duplicate names, it will corrupt the metrics such that Argo gets put into a broken state.  The /metrics endpoint will return an error, this will cause k8s to put into an unready state.

**To Reproduce**

Create an Anal

[2022-10-26 23:28] blkperl opened #2377 "rollout_phase is marked deprecated in code but not the docs"
Checklist:

* [x] I've included steps to reproduce the bug.
* [ ] I've inclued the version of argo rollouts.

**Describe the bug**

rollout_phase is marked deprecated in code but not in the docs

- https://github.com/argoproj/argo-rollouts/blob/55a041a6b3d088cf9ddcfc4121ad8c97880489db/controller/metrics/prommetrics.go#L69-L75
- https://argoproj.github.io/argo-rollouts/features/controller-metrics/

[2022-10-27 02:15] zachaller commented on #2171
For the test results we would probably want to take a look at the suggestion of the upstream action here https://github.com/EnricoMi/publish-unit-test-result-action#use-with-matrix-strategy there are some security concens that need to be watched out for with the usage of that plugin all documented pretty well upstream.

Dose that kind of answer your questions?

[2022-10-27 07:48] iam-veeramalla commented on #2377
I will add the deprecation notice to the docs. Assigning it to myself.

[2022-10-27 10:37] alexef commented on #574
@jessesuen we're also interested in this feature. I can take a stab at implementing it, can you give me some hints where should this be?

[2022-10-27 10:38] alexef commented on #2168
Related to #574

[2022-10-27 12:16] thomas-riccardi commented on #2015
I've started working on it in #2379, with several questions there

[2022-10-27 12:35] saumeya commented on #2325
I am unable to see the bug when I run `mkdocs serve` . Adding this to docs/assets/versions.css might help but not sure.
[code]

[2022-10-27 17:28] marcportabellaclotet-mt commented on #2158
Same thing with argo-rollouts 1.3.1 and argo-cd 2.5.0

![image](https://user-images.githubusercontent.com/56038098/198358286-083819e4-eb5d-4b13-ac1c-46ea659050b1.png)

[2022-10-28 00:16] skodamarthi commented on #2353
@zachaller Can I work on this? Should we use the same public key in ArgoCD or a different one?

[2022-10-28 14:11] skodamarthi commented on #2354
@zachaller Can you please clarify where this needs to be added?  Is this the doc that needs to be updated? https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started/smi/index.md.

[2022-10-29 02:47] zachaller commented on #2354
Yes that is the doc and the example ingress object found in the same directory https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started/smi/ingress.yaml

[2022-10-29 03:13] #2232 closed

[2022-10-29 20:17] skodamarthi commented on #2354
@zachaller Do I need to also update https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started/smi/ingress.yaml to have this annotation along with https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started/smi/index.md?

[2022-10-30 03:06] 34fathombelow commented on #2353
@skodamarthi you would use [this public key](https://github.com/argoproj/argo-rollouts/pull/2334#issuecomment-1284538907).  Feel free to ask any questions if you need help.

[2022-10-31 13:06] shibataka000 opened #2382 "Dashboard's port should be able to be changed."
# Summary

Port of [UI dashboard](https://argoproj.github.io/argo-rollouts/dashboard/) , which can be run by `kubectl argo rollouts dashboard` command, can't be changed from `3100`.
It should be able to be changed.

# Use Cases

I'd like to run UI dashboard using other port like below.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with

[2022-10-31 15:38] #2171 closed

[2022-11-01 15:12] sbeaulie commented on #1808
I had the same question when doing a security review of Rollouts.

Would removing the ClusterRoleBinding from the install yaml, and instead craft one RoleBinding for each ns work in this case? I think it should unless there are cluster resources (nodes, non-resource endpoints) that Argo rollouts needs access to via ClusterRoleBinding?

[2022-11-01 15:50] #2330 closed

[2022-11-02 17:47] Nishant-sehgal commented on #1656
I can pick this up. Can you assign this to me ?

[2022-11-03 03:26] cdlliuy opened #2391 "[enhancement] Dashboard can be launched as a "read-only" view"
We are hosting argo-rollout dashboard as an application for monitoring purpose.

**Problem:**
Per security compliance, we don't want people to execute any action through the dashboard manually.
We edited the "cluste role" to disable the `upate/patch` permission for argo-rollout-dashboard, but the "rollback" and etc buttons on the  dashboard will confusing its user.

**Proposal**
Propose to have an

[2022-11-03 11:52] Nishant-sehgal commented on #1656
PR: https://github.com/argoproj/argo-rollouts/pull/2393

[2022-11-04 02:00] zachaller commented on #2329
Releases are now signed https://quay.io/repository/argoproj/argo-rollouts?tab=tags

[2022-11-04 02:00] #2329 closed

[2022-11-04 02:20] #1980 closed

[2022-11-04 06:56] daurnimator opened #2395 "Apache APISIX support"
# Summary

I was evaluating APISIX and found that Argo rollouts doesn't support it for traffic splitting.

From https://argoproj.github.io/argo-rollouts/features/traffic-management/#how-does-argo-rollouts-enable-traffic-management

APISIX supports traffic management via its CRD: https://apisix.apache.org/docs/ingress-controller/concepts/apisix_route/#weight-based-traffic-split

# Use Cases

When u

[2022-11-05 06:49] Nishant-sehgal commented on #1656
Have created a PR for this: https://github.com/argoproj/notifications-engine/pull/113

[2022-11-07 15:16] Nishant-sehgal commented on #1656
@zachaller can u check ?

[2022-11-07 20:57] #2382 closed

[2022-11-07 22:02] #2290 closed

[2022-11-08 03:37] #2350 closed

[2022-11-08 06:46] jinleileiking commented on #528
Wait, wait....

[2022-11-08 14:32] #2377 closed

[2022-11-08 16:59] #2233 closed

[2022-11-09 21:22] #2015 closed

[2022-11-09 21:34] zachaller commented on #2050
This is also an interesting https://github.com/argoproj/argo-rollouts/pull/2187

[2022-11-10 11:11] aldor007 commented on #438
Hey, any updates regarding this topic?

[2022-11-10 15:10] Gallardot commented on #2395
Maybe I can try to make it happen.

[2022-11-11 03:20] DWSR commented on #1914
Not stale.

[2022-11-11 17:46] mubarak-j commented on #2235
@perenesenko, apologies for my late reply. Here is a [gist with unfiltered rollouts logs](https://gist.github.com/mubarak-j/a4e77f5fb93b23ce842c69a41ca3a608).

[2022-11-13 04:27] #1799 closed

[2022-11-13 06:36] Nishant-sehgal commented on #1656
@zachaller can you review this ?

[2022-11-13 21:04] abdennour commented on #958
My method for that since i am using always Helm with Argocd:

1. Job `PreSync` caculating the `sha256sum` of the configmap X & store it in a centralized configmap.
2. Job `PostSync` caculating the `sha256sum` of the  configmap X & compare it with the stored SHA..
 - If there are the same , don't do anything.
 - If they are different, trigger whatever you want to trigger based on your need
 - If yo

[2022-11-14 07:50] jaymebrd commented on #1755
This has been implemented, merged and released so I think we can close this.

[2022-11-14 08:20] #1755 closed

[2022-11-15 02:48] alexef commented on #1807
I see a bit of overlap between this feature and https://github.com/argoproj/argo-rollouts/issues/1779

[2022-11-15 02:54] alexef commented on #1779
@zachaller so I see the reason not to add complexity to the controller and the Rollout spec in https://github.com/argoproj/argo-rollouts/issues/1738#issuecomment-1013554941

Should a global flag (--canary-min-replicas) affecting all Rollouts be an acceptable compromise here?

[2022-11-15 16:51] #2151 closed

[2022-11-15 18:24] zachaller commented on #1779
Could use a Pod Disruption Budget to do the exact same thing you should be able to use the spec.minAvailable option based on https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors

[2022-11-17 08:48] alexef opened #2415 "Experiment schedule for regression testing"
# Summary

Allow a standalone Experiment to have a schedule (same as a CronJob) so that the same experiment could run over and over again.

# Use Cases

We would use it for regression testing or production instances. At times, even though there is no code change (so no deployment), changes in Data can lead to the application misbehaving.

Being able to run the same golden path experiment and learn

[2022-11-17 14:34] zachaller commented on #2415
I have to think about this a little bit more, but I think we at Intuit could also possibly use something like this. We have played around with PoC's of running analysis queries on schedules as well. This would be one step more in spinning up pods for the experiment so yea.... thinking

[2022-11-17 16:34] bpoland commented on #1807
Hmm, it seems like that is covering something different (minimum pods during a rollout).  With this ticket I'd like a way to reuse pods for the new version that are already running if we want to retry the rollout.

[2022-11-17 20:51] chris-altamimi commented on #1904
Seeing the same issue on our end in AKS using Rollouts raw installation ( not helm chart ). Going to migrate to using the chart to see if it is resolved.

Restarting rollouts does not fix this for us

[2022-11-18 20:30] zachaller commented on #2415
I have just been randomly thinking about this in the context of implementation. Take this all with a grain of salt just kind of dumping some thoughts. So if we decided to add this feature a few things I am not a huge fan of is having to reimplement the feature set of upstream k8s cron jobs. With that in mind I was just playing around with some ideas on how to do this.

I think it would need to be

[2022-11-18 20:44] zachaller commented on #2415
One other question do you purposely want to use experiments, or would being able to run analysis runs on say the current production setup also solve your use case?

[2022-11-18 20:55] alexef commented on #2415
thank you for the insight. thinking a bit more about it, for regression testing, a recurrent AnalysisRun would be enough

[2022-11-19 03:17] zachaller commented on #1779
@ssanders1449 any updates if you could use PDB to accomplish the same thing or not?

[2022-11-19 18:39] ssanders1449 commented on #1779
@zachaller as far as I can see, setting a Pod Disruption Budget on a Rollout currently only supports setting 'minAvailable' to a fixed number of pods and, more importantly, it would count *all* of the pods in the Rollout (both stable and canary) when making that calculation - with no distinction between them. So, it really can't do what we want here.

This is actually one of the enhancements that

[2022-11-19 19:33] ssanders1449 opened #2419 "Pod Disruption Budgets per Replicaset in a Rollout"
# Summary

Currently Pod Disruption Budgets (PDBs) do not work well with Rollouts for the following reasons:

  1) It does not support maxUnavailable or percentages. You can only specify minAvailable and it must be an integer, not a percentage. See - https://kubernetes.io/docs/tasks/run-application/configure-pdb/#arbitrary-controllers-and-selectors
  2) It operates on all pods (both canary and sta

[2022-11-19 19:39] ssanders1449 commented on #1779
I created a new issue for adding support for a PDB per ReplicaSet (https://github.com/argoproj/argo-rollouts/issues/2419), but as I said above, won't solve this issue if the PDB is defined using 'maxUnavailable'

[2022-11-20 15:01] zachaller commented on #1779
So I also was able to spend a little bit more time looking into this and this is a slight summary.

With rollouts ability to adjust labels on individual pods via:
[code]

I am pretty sure would allow you to use PDB on the canary only however the limitation will then apply that you can only use `.spec.minAvailable` from the PDB. I would be curious with that if it solves your immediate use for minAv

[2022-11-21 02:46] mubarak-j commented on #2395
API Gateway support in PR#2004 will at least cover Gateway Class/http routes use cases of APISIX

[2022-11-21 09:02] tao12345666333 commented on #2395
Hi, I'm Jintao, Apache APISIX PMC member.

I am very glad to see that you have discussions related to APISIX, which shows that APISIX has been known by more and more people.

Currently, Apache APISIX Ingress controller supports three configuration methods.

- Ingress
- APISIX's CRD
- Gateway API

The first two have been GA a long time ago, and are used by a large number of users in the production

[2022-11-21 09:22] anup1384 commented on #2071
Hi @zachaller  @ju187 @MarkSRobinson ,

I'm also looking for the same feature which generates load on canary pods before handling traffic to warmup application pods. Any update?

@ju187  Do you have any solutions?

[2022-11-21 15:41] zachaller commented on #2071
@anup1384 an Job analysis is a perfect use for this we even have a small example of it being used https://github.com/argoproj/rollouts-demo/blob/master/examples/preview-testing/preview-testing.yaml#L56-L61

[2022-11-22 14:27] ssanders1449 commented on #2419
The premise behind this request was wrong. We just tested a Rollout with a pdb that specified 'maxUnavailable: 10%' and the PDB worked perfectly. We even tested with separate PDBs for the 'stable' and 'canary' replicasets (by adding labels via stableMetadata and canaryMetaData) and both PDBs worked properly with 'maxUnavailable: 10%'

It looks like the relevant reference is https://kubernetes.io/d

[2022-11-22 15:36] ssanders1449 commented on #1779
It seems that the premise about the PDB limitation was incorrect.  We just performed a test on a Rollout where we defined a PDB with 'maxUnavailable: 10% (which is what we used for most of our pre-Rollout deployments), and it worked perfectly. Also, using the labels defined by canaryMetadata and stableMetadata we were also able to create 2 separate PDBs with 'maxUnavailable: 10%' and they both wor

[2022-11-23 03:18] S0n98 commented on #1525
I'm suffering this problem when using workload ref:
`the "Rollback" buttons on previous revisions don't work -- clicking them doesn't do anything`
This function only works when I place pod template directly in Rollout spec.template

[2022-11-23 03:22] S0n98 commented on #1525
I'm suffering this problem when using `workloadRef`:

This function only works when I place pod template directly in Rollout spec.template

[2022-11-23 04:59] anup1384 commented on #2071
Thanks, @zachaller  is it applicable for all new pods?
and how to handle during HPA(Horizontal pod autoscaling)

[2022-11-23 05:49] saiharshitach opened #2432 "Can we directly upgrade argorollouts of version 1.1.1 to 1.2.3 by apply yaml of 1.2.3?"
### Discussed in https://github.com/argoproj/argo-rollouts/discussions/2423

<div type='discussions-op-text'>

<sup>Originally posted by **saiharshitach** November 22, 2022</sup>
Can we directly upgrade argorollouts of version 1.1.1 to 1.2.3 by apply yaml of 1.2.3?

What is the upgrade process for argorollouts component?Does it impatc existing objects of rollouts in any way during this upgrade?

T

[2022-11-23 13:23] lucaspouzac opened #2434 "Add root-path to the /api endpoint ?"
Hi,

If we add ingress k8s, we must add /api as rule, but it's too generic. Maybe, you can add /api behn root path ?

https://github.com/argoproj/argo-rollouts/blob/d8686e2465c6454355928dc70166178d158a80dc/server/server.go#L107

[2022-11-25 03:43] zachaller commented on #2071
You would use the service and or ingress to access the pods so all new pods would all be included

[2022-11-25 14:09] #574 closed

[2022-11-26 05:42] jandersen-plaid commented on #2050
For what it is worth, I think https://github.com/argoproj/argo-rollouts/pull/2187 is ready to go -- I had originally scoped it out to all configurations of argo rollouts, but some of the end to end tests actually rely on swapping service selectors when the canary replicaset is still not ready, so I dialed it back to just `dynamicStableScale`.

I have applied the patch of the change to the `release

[2022-11-27 04:34] zachaller commented on #2050
@jandersen-plaid Thanks for updating that I will also take a look at what you have done to "dial" it back a bit. I have been very slowly working at another fix for this with just changing the calculation to account for availability instead of introducing an error state if it pans out I think it would make a bit more sense to go that route. However if it does not pan out I think what you did will e

[2022-11-27 14:34] zachaller commented on #1779
Thank you for the great write up on the reasoning, it is also good to know that k8s docs about the PDB limitations do not apply here I am guessing its because the parent is still a replicaset. Also thanks for the 3 implementations give me just a bit to think think about what one makes the most sense.

[2022-11-28 00:27] jandersen-plaid commented on #2050
Great! I took a look at the PR and your approach overall seems more correct to me (adding error states generally leads to difficulty in discerning when the state is updated 😢 ), so I look forward to the final result!

For what it is worth, I had the exact same end to end tests fail for me as well (`TestALBExperimentStepNoSetWeight` and `TestIstioUpdateInMiddleZeroCanaryReplicas`). I think that the

[2022-11-28 17:32] #2432 closed

[2022-11-29 23:08] meeech commented on #1680
To help anyone coming later - the bulk of the notif docs seem to be pulled in:  https://github.com/argoproj/argo-rollouts/blob/master/hack/gen-docs/main.go#L28

[2022-11-29 23:26] meeech commented on #1680
Docs should give guidance to the namespace that the `notifications-install.yaml` should be installed to: same namespace as the controller

[2022-11-30 21:16] MarkSRobinson opened #2443 "High CPU/Mem usage with Argo"
Checklist:

* [ ] I've included steps to reproduce the bug.
* [x] I've inclued the version of argo rollouts.

**Describe the bug**

Often we get an argo pod with very high CPU and memory usage.  It happens often but it's not easy to trigger directly.

This is an argo instance before crashing, it didn't self recover.
![image](https://user-images.githubusercontent.com/2237823/204907183-49a3bd7f-5535

[2022-11-30 22:39] zachaller commented on #2443
I have a theory that this is due to a bug with leader election are you running your pods in an HA setup aka more than one rollouts controller pod? If so this should be fixed by this PR in master https://github.com/argoproj/argo-rollouts/pull/2291