[2020-08-25 00:45] aweis89 commented on #556
I'd like to add another use-case where we're looking for this feature: We're using canary-by-header and we'd like 0% of none matching traffic to go to the canary pods.

But I've noticed the issue @shuheiktgw mentioned regarding scaling. We encountered it because we tried to `setWeight` to only `1` but then noticed that only 1 pod would scale up, even though all of the canary traffic is going to th

[2020-08-25 01:49] jessesuen commented on #572
I could only find setImage as a mutating operation using Update()

https://github.com/argoproj/argo-rollouts/blob/b04dcfe30d2120b0275fda4832051d6a4fe21988/pkg/kubectl-argo-rollouts/cmd/set/set_image.go#L63-L77

The promote command uses patch and is not affected.

[2020-08-25 02:40] aweis89 commented on #556
On second thought, perhaps it would be more versatile if we allowed for the option of having separate HPA's for the canary vs stable pods. We could add a `Spec.Strategy.Canary.StableHPA` and `Spec.Strategy.Canary.CanaryHPA`, which would just cause the controller to add the label selectors (`rollouts-pod-template-hash`) for stable and canary pods to the specified HPA. That would allow us to have se

[2020-08-25 03:38] jessesuen opened #669 "Control over the replica scale of canary stack (when trafficRouting is used)"
Spawned from https://github.com/argoproj/argo-rollouts/issues/556

NOTE: this proposal has is only related to canary with trafficRouting, and does not apply to the basic canary strategy.

EDIT: I was completely wrong about scaling the canary stack to 100%. We actually match the canary stack scale to the current weight. However, we always leave the stable RS scaled to 100%. So the only thing that I

[2020-08-25 03:40] jessesuen commented on #556
I spawned https://github.com/argoproj/argo-rollouts/issues/669 for a new feature to control canary scale.

To resolve this issue, a change should be made that even at 0% canary weight, we scale up the canary stack to 100%, which is a much simpler feature.

[2020-08-25 12:28] johnkost commented on #504
Let me see if I can reproduce on v0.9

[2020-08-25 17:09] aweis89 commented on #669
Isn't this already being done here: https://github.com/argoproj/argo-rollouts/blob/master/utils/replicaset/canary.go#L84

That sounds perfect!

Yeah, I could see that getting tricky, especially if the two HPAs have different scaling criteria. I'm wondering if to get around that, it would make sense to also have a `stableHPA` reference as well. Perhaps then the controller could just assign each HPA

[2020-08-25 19:12] jessesuen commented on #669
If you look at the implementation of that method, you see:

[code]

So when traffic routing is used, we scale canary to 100%.

[2020-08-25 20:13] jessesuen commented on #669
I think I might be completely wrong about this. Let me test the behavior.

[2020-08-25 21:25] jessesuen commented on #669
I'm closing this, because it was made under the false assumption that we don't already smartly scale the canary stack based on current weight. So the only gap that I see, is the zero-weight use case, mentioned in https://github.com/argoproj/argo-rollouts/issues/556. Will go back to that issue.

[2020-08-25 21:25] #669 closed

[2020-08-25 21:47] jessesuen commented on #556
So far, I think the proposal to have explicit scale steps seems like the best option. The syntax would look like:

[code]

Currently, when iterating the steps, the canary scale will always match canary weight. With this feature, this behavior would be overridden with `setCanaryScale` step:

Here are some use cases:

1. Traffic shadowing

I want to perform traffic shadowing, so I need the canary sc

[2020-08-26 01:49] resouer opened #676 "Support reference model for workloads"
# Summary

What change needs making?

Consider change the embedded mode to reference mode, so we could have more flexibility on workload side.

[code]

[code]

# Use Cases

To support we use Deployment or our own stateless workload (like CloneSet).

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-08-27 15:54] pliutak-nih commented on #587
We have the same issue.
I raised a bug for Istio team reflecting the actions Argo Rollouts took during canary deployment https://github.com/istio/istio/issues/26861.

[2020-08-27 17:15] aweis89 opened #685 "Allow separate HPA isolation for canary and stable"
# Summary

Currently, argo supports creating an HPA with a Rollout target. This proposal would support isolated HPAs that target the canary or stable ReplicaSets directly.

# Use Cases

When using `canary-by-header`, or some other non-proportional traffic routing pattern, the stable ReplicaSet can be under or over-provisioned since the HPA is looking at the average of Pods belonging to both Replic

[2020-08-28 05:02] #685 closed

[2020-08-29 01:23] aweis89 commented on #556
One potential gotcha, if someone were to put an experiment or analysis step right after the `matchTrafficWeight` step, the newRSs would scale to zero, since the `setWeight` hasn't been set yet and is therefore at 0. Is the intention to wait until there is another `setWeight` and maintain the `setCanaryScale.replicas` even after the `matchTrafficWeight`?

[2020-08-30 06:46] #389 closed

[2020-08-30 06:47] jessesuen commented on #389
Fixed via a tolerant informer which does best effort unmarshalling.

[2020-08-30 06:48] jessesuen commented on #517
controller-gen is built in `dist` directory and the makefile add the dist directory in the path

[2020-08-30 06:48] #517 closed

[2020-08-31 06:45] BEvgeniyS commented on #587
@nemo83 as noted above, doesn't matter how I trigger it. We tried direct object editing and helm deployment - result is the same

[2020-08-31 06:50] hari2192 commented on #587
Following up on issue reported by @BEvgeniyS, we still facing this issue:

We have tried to update our canary strategy by adding extra step to at the end:
`steps:
      - setWeight: 20
      - pause:
          duration: 5m
      - setWeight: 40
      - pause:
          duration: 5m
      - setWeight: 60
      - pause:
          duration: 5m
      - setWeight: 80
      - pause:
          duration:

[2020-08-31 21:34] jessesuen commented on #358
Closing as fixed. Will punt on the validating admission webhook since we now have the tolerant informer preventing users from borking the controller with an invalid spec.

[2020-08-31 21:34] #358 closed

[2020-09-01 15:27] davidxia opened #693 "Any plans to garbage collect AnalysisRuns for each Rollout?"
# Summary

Are there any plans to garbage collect at the AnalysisRun level for each Rollout? Like keep only 10 most recent AnalysisRuns from a single Rollout?

# Use Cases

Garbage collection only happens when number of Jobs created by a single AnalysisRun exceed 10 [via this PR](https://github.com/argoproj/argo-rollouts/pull/258). We are creating a new AnalysisRun each time for a Rollout.

---

*

[2020-09-01 20:52] jessesuen commented on #693
It was the intent to GC analysisruns tied to the ReplicaSet. If this isn't working, it's a bug.

[2020-09-01 21:31] davidxia commented on #693
@jessesuen, thanks. I don't think old AnalysisRuns are being GCed. But I'm not sure because I don't know the GC logic. Are there docs or a link to code or commit of how this should work?

[2020-09-02 00:17] jessesuen commented on #693
Here is the code which is supposed to delete AnalysisRuns:

https://github.com/argoproj/argo-rollouts/blob/7689b1f2f1f69c93d212cb1253c3a8ad37251268/utils/analysis/filter.go#L105-L147

So this should be tied to `spec.revisionHistoryLimit`, just as older replicaSets are GC'd.

I don't see any reason why this wouldn't be working. Have you confirmed that the number of AnalysisRuns does not honor `spec

[2020-09-02 01:25] davidxia commented on #693
Thanks, let me check.

[2020-09-02 07:36] #556 closed

[2020-09-02 11:25] jessesuen opened #695 "kubectl argo rollouts lint -f <FILE>"
# Summary

Now that we have validation libraries, the plugin could leverage the library to allow users to lint the rollout objects via the CLI, in order to catch mistakes before applying or committing to a git repo

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-02 11:27] jessesuen opened #696 "plugin should display problems in status.conditions"
# Summary

The plugin currently only shows a Rollout has an InvalidSpec, but does not show the message associated with the InvalidSpec condition. It would be much more useful to show why a Rollout was invalid.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-02 16:15] davidxia commented on #693
Yup, this is all working as expected. We just had a lot of steps in our AnalysisTemplate which caused a lot of Jobs. Once I looked at the unique number of Pod template hashes in the AnalysisRuns, I noticed there's a max of 10 which corresponds to the Rollout's spec.revisionHistoryLimit of 10.

[2020-09-02 16:15] #693 closed

[2020-09-02 20:26] jessesuen opened #698 "Publish images to GitHub container registry"
No official decision is being made, but we need to start publish images to both DockerHub and the new GitHub Container Registry. A decision will be made later on what registry we will continue to use, given DockerHub's new policy of pruning inactive images.

[2020-09-02 22:01] jessesuen commented on #676
The challenge of doing something like this:

[code]

is that the rollout-controller has no control over how the underlying ReplicaSet/Pods are created, and thus it cannot control things such as:
1. control the individual scale of the canary vs. stable.
2. perform last-mile injection of pod spec adjustments (e.g. [inter-revision anti-affinity](https://argoproj.github.io/argo-rollouts/features/anti-

[2020-09-02 22:06] jessesuen commented on #508
Fixed by https://github.com/argoproj/argo-rollouts/pull/510 (I believe).

[2020-09-02 22:06] #508 closed

[2020-09-02 22:17] jessesuen commented on #531
So the annoying log message has been suppressed with https://github.com/argoproj/argo-rollouts/pull/656, but rollouts does still has a "feature" to auto-detect istio at 10 minute intervals.

[2020-09-02 22:17] #531 closed

[2020-09-02 23:32] resouer commented on #676
@jessesuen The motivation is indeed to we are trying to enable other system to manage workload by itself, for example create and manage workload revisions.

In CloneSet, it generates revision labels to group old/new pods during upgrade. Another example is ContainerizedWorkload in OAM, it generates `deployment-v1`, `deployment-v2`... for different revisions.

So the solution in my mind could be int

[2020-09-03 10:05] qcastel opened #700 "Kustomise and Argo Rollout: The overlay of a rollout manifest is overriding the container configuration instead of merging it."
## Summary

When using kustomise and an overlay, the rollout manifest resulting is not behaving the same way as a deployment.
In particular, the containers section is completely override by the overlay instead of using a merge strategy.

It's probably easier to illustrate this bug. This is why I created a reproduction git repo: https://github.com/qcastel/kustomise-argo-rollout-bug

## Diagnostics

[2020-09-03 18:54] #572 closed

[2020-09-03 20:45] jessesuen commented on #700
This is actually a kustomize issue where they lack proper support of CRDs. They can only do a JSON merge patch, instead of the kubernetes style *Strategic* Merge Patch. I'll link to some bugs about this in a little bit.

[2020-09-04 00:07] jessesuen opened #701 "Ability to verify weight before completing setWeight steps"
# Summary

When Argo Rollouts adjusts a canary weight, it currently assumes that the adjustment was made and moves on to the next step. However, for some traffic routing providers, this change can take a long time to take effect (or possibly never even made) since external factors may cause the change to become delayed.

This proposal is to add verification to the traffic routers so that after a `

[2020-09-04 00:20] jessesuen commented on #617
@hexsel I'd like to understand your proposal a little better. Could you provide the alternative resulting DestinationRule / VirtualService that achieves the canary using that means?

[2020-09-04 00:51] jessesuen commented on #617
OK, my memory is a bit hazy (and I also might be wrong about this), but I think one of the motivations for current design was that two separate services were able to produce istio prometheus metrics that were not available with a single DestinationRule and VirtualService. In other words, it would be possible to graph and compare the metrics of a canary vs. stable service, but not two DestinationRu

[2020-09-04 00:53] jessesuen commented on #700
Duping to https://github.com/argoproj/argo-rollouts/issues/538 which links to upstream kustomize issue.

[2020-09-04 00:53] #700 closed

[2020-09-04 01:45] jessesuen commented on #587
Hello, I'm just catching up on this issue so I apologize if I missed something. So the original suggestion of:

[code]

Was to accomplish two things:

1. Allow time for Istio itself, to affect the change in weights *before* Argo Rollouts decides to scale down the old pods. Currently, as soon as the last step is completed, the rollout controller immediately starts scaling down the old ReplicaSet, w

[2020-09-04 02:10] jessesuen commented on #617
That said, I think it is possible to enhance the rollout istio canary implementation to reference a DestinationRule which would be updated by the controller with the canary/stable rollouts-pod-template-hash values.

[2020-09-04 07:56] stephen-harris opened #702 "Datadog metric provider"
# Summary

In addition to WaveFront / Kayenta I'd like to suggest implementing a [Datadog ](https://www.datadoghq.com/) provider.

# Use Cases

Due to limitations raised [here ](https://github.com/argoproj/argo-rollouts/issues/405) it's not possible to use the webmetric provider with Datadog. Additionally by providing an explicit provider makes configuring the analysis template simpler for the use

[2020-09-04 07:58] stephen-harris commented on #702
I'd be happy to provide a PR for this.

[2020-09-04 09:46] jessesuen commented on #702
That would be great! DataDog has been frequently requested, and we'd love to support it but lack the expertise, familiarity, and access to the tool.

[2020-09-07 12:53] shibataka000 opened #707 "docs: I can't see any docs about kubectl plugin commands"
## Summary

I can't see any docs about kubectl plugin commands in https://argoproj.github.io/argo-rollouts/ .

For example, following pages are broken.

- https://argoproj.github.io/argo-rollouts/generated/kubectl-argo-rollouts/kubectl-argo-rollouts.md
- https://argoproj.github.io/argo-rollouts/generated/kubectl-argo-rollouts/kubectl-argo-rollouts_abort.md
- https://argoproj.github.io/argo-rollout

[2020-09-08 21:28] denisrohr commented on #654
As a workaround:
- Install golang for windows
- Checkout the argo-rollouts repo
- CMD into the root folder of the repo
- Execute
[code]
- Copy the resulting kubectl-argo-rollouts.exe into C:\Windows\System32 or any other %PATH%
- You can now use argo-rollouts plugin from inside kubectl

[2020-09-09 18:23] jessesuen commented on #654
With GitHub actions, I think it would be possible to make windows builds part of build/release process.

[2020-09-10 14:47] hexsel commented on #617
Regarding the metrics issue you mentioned, I admit I do not know if it is possible, but I found this:
https://istio.io/latest/docs/tasks/observability/metrics/querying-metrics/

![image](https://user-images.githubusercontent.com/299385/92748168-df73d680-f352-11ea-957b-8e4f135c35e7.png)

Which _seems_ to indicate you could query metrics for different labels on the same virtual service.

[2020-09-11 22:46] jessesuen commented on #617
Thanks for providing the use case. I believe what you are saying checks out.

Ah. My information was based on what I saw in the default dashboard. But looks like what you are saying is possible.

I think I agree Rollouts should provide another options of performing canary:

* the current approach, with canary/stable Services, and a VirtualService with canary/stable route destinations to those resp

[2020-09-14 08:46] Juhyeok opened #709 "Allow to canary endpoint feature to support mupliple AWS ALB."
# Summary
Our application has 2 ALBs. but looks support only an ALB. I'm using alb ingress controller for mapping between ingress and AWS ALB.

- currently yaml.
Only that `app-ext` ingress can receive canary traffic when deployment. Other ingress(ALB) which is connected to app pods should receive stable traffic as 100% when deployment.
[code]

# Use Cases
Our app has internal alb for VPC internal

[2020-09-14 08:47] jukops opened #710 "Allow to canary endpoint feature to support mupliple AWS ALB. #709"
# Summary
Our application has 2 ALBs. but looks support only an ALB. I'm using alb ingress controller for mapping between ingress and AWS ALB.

- currently yaml.
Only that `app-ext` ingress can receive canary traffic when deployment. Other ingress(ALB) which is connected to app pods should receive stable traffic as 100% when deployment.
[code]

# Use Cases
Our app has internal alb for VPC internal

[2020-09-14 08:47] #709 closed

[2020-09-14 20:58] jessesuen commented on #710
I think this use case makes sense to support multiple alb ingress references.

[2020-09-17 01:45] jessesuen commented on #587
I think a new way of achieving canary in Argo Rollouts to allow a single service but leverage a DestinationRule with canary/stable subsets, would help avoid this issue. The feature enhancement is being discussed here:

https://github.com/argoproj/argo-rollouts/issues/617

[2020-09-17 07:05] tdongsi opened #712 "Namespace-install controller is giving RBAC errors."
## Summary

What happened/what you expected to happen?

I'm in a corporate Kubernetes cluster and not allowed to create ClusterRole's, only namespace-scoped objects such as Role or RoleBinding.
I'm using the [namespace-install.yaml](https://github.com/argoproj/argo-rollouts/blob/master/manifests/namespace-install.yaml) but I got numerous errors in controller log like this.

[code]

My Rollout is s

[2020-09-17 11:24] jessesuen opened #713 "No InvalidSpec condition when referencing a missing analysis template"
## Summary

There needs to be an validation check failure when a rollout references an analysis template which doesn't exist

## Diagnostics

What version of Argo Rollouts are you running? v0.9.0

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-17 18:22] jessesuen commented on #459
I confirmed that Rollout cannot use an expression like: `successCondition: result[0] == NaN || result[0] > 90`. I feel that it should

In the meantime, a workaround is `inconclusiveLimit: 999999` to treat it as success.

[2020-09-17 20:04] jessesuen opened #714 "Rollout is creating analysisRun on initial deploy"
## Summary

In v0.9.0, when deploying a freshly created Rollout, an analysis run is being created when it shouldn't be. Am able to reproduce in v0.9.0 but not in v0.8.3

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-17 20:07] jessesuen commented on #714
This seems to be happening only when trafficRouting is used

[2020-09-17 22:47] jessesuen opened #715 "Panic after switching to tolerant informers"
## Summary

This code is incorrect because it's casting the object to a rollout but we now return unstructured.Unstructured with the new tolerant informer

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-18 04:43] jukops commented on #710
Thanks for kindly reply.
Actually, This is the feature that I need. But I cannot attach multiple ALB :(
If it's implemented, It would be really good.

[2020-09-19 03:39] jessesuen opened #717 "jsonPath should not be required for web metric"
Got this error when using the web metric:

[code]

If jsonPath is omitted, the `result` placeholder object should simply be the whole return payload.

[2020-09-19 03:48] jessesuen opened #718 "insecureSkipHostVerify option for web metric"
# Summary

Web metric should allow communicating to a host with a self-signed certificate, and thus an insecureSkipHostVerify option

# Use Cases

Dev and test purposes

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-19 05:36] jessesuen opened #720 "Rollout can pause twice for same canary pause step"
## Summary

The TestCanarySetCanaryScale e2e test sometimes fails, which reproduces the following problem where

1. the Rollout controller pauses a Rollout when reaching a canary pause step
2. the e2e test unpauses the rollout (as part of a promote)
3. the Rollout controller pauses it again because it is operating on a stale rollout in the informer cache

The e2e test then times out because it nev

[2020-09-19 08:59] jessesuen opened #721 "AnalysisRun are not being associated with correct revision"
## Summary

The analysis run is incorrectly being associated with the wrong ReplicaSet revision:

[code]

## Diagnostics

What version of Argo Rollouts are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-19 10:30] jessesuen opened #723 "analysisrun in a reconciliation hotloop"
## Summary

I have an analysisrun in a reconciliation hotloop

[code]

AnalysisRun object:

[code]

## Diagnostics

What version of Argo Rollouts are you running?

v0.9

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-19 21:31] jessesuen commented on #721
This seems to be caused by recent change to rolloutContext

[2020-09-21 11:44] rhysemmas opened #727 "Support HA in rollouts controller"
# Summary

Adding support to the rollouts controller for HA, through the use of leadership elections. E.g:
https://tunein.engineering/implementing-leader-election-for-kubernetes-pods-2477deef8f13
https://carlosbecker.com/posts/k8s-leader-election
https://pkg.go.dev/k8s.io/client-go/tools/leaderelection

# Use Cases

When wanting to run multiple replicas of the rollouts controller, with the aim of

[2020-09-21 21:08] #723 closed

[2020-09-21 21:10] #715 closed

[2020-09-22 01:02] #714 closed

[2020-09-22 01:29] #721 closed

[2020-09-22 02:35] #720 closed

[2020-09-22 04:58] jessesuen commented on #713
Looks like we have checks for everything but background analysis:

[code]

[2020-09-22 05:16] jessesuen opened #728 "web metric jsonPath always returns values as strings"
## Summary

According to https://github.com/argoproj/argo-rollouts/pull/705#discussion_r488051520, the json path library we use to parse arbitrary payloads in the web metric, returns result values as strings. It should return the result in the original format, so that functions like `asFloat` are not necessary if the data is already in the desired format.

## Diagnostics

v0.9

---

**Message from

[2020-09-22 11:11] jessesuen commented on #728
We're not using jsonParser to its fullest potential because we call the Execute convenience method which loses the information about the type. If we switch to jsonParser.FindResults(), we will get reflect.Values which indicate the original type.

[code]

[2020-09-23 19:14] jessesuen opened #732 "Fix go.mod dependency on vbom.ml/util"
From slack:

James Wen  12:12 PM
hey trying to set up argo-rollouts for local development and etc., but encountering some issues with the go dependencies:

[code]

jesse:argo:  1:05 PM
Yes, I think it’s entirely probable our transient dependency fell out from underneath us, and the issue you linked to should be duplicated into rollouts.

[2020-09-25 00:11] jwelch92 opened #736 "NewRelic metric provider"
# Summary

Expanding the [New Relic](https://newrelic.com/) support to include standard analysis instead of only Mann-Whitney experimentation with Kayenta will cover more use cases.

# Use Cases

This provides a way to run background analysis and regular canary analysis without dealing with all of the setup and configuration required to run Kayenta. Additionally, this will provide options for anal

[2020-09-25 00:12] jwelch92 commented on #736
I am planning on submitting a PR for this in the near future.

[2020-09-25 03:04] vdharmap opened #737 "Argo MSaaS converter dropped mounts."
Argo MSaaS converter dropped mounts. When msaas coverter is executed on one of deployment repo it dropped /etc/security mount from app. that caused application failures.

[2020-09-25 17:25] jessesuen commented on #737
This is an internal tool, not OSS

[2020-09-25 17:25] #737 closed

[2020-09-25 17:26] jessesuen commented on #736
Thanks for raising this. You are correct in that a GraphQL interface warrants a new provider

[2020-09-26 09:07] #728 closed

[2020-09-26 11:41] jessesuen opened #738 "Scaling events mid-update may not match Deployment behavior"
## Summary

Rollouts scale differently than a Deployment, when the scale event happens in the middle of an update:

To reproduce:

1. Apply canary rollout with no steps and:

[code]

2. Update rollout with a new image/spec will crashloop backoff (this allows us to halt progress of an update)
3. Rollout will surge up, such that there are 6 replicas (2 new, 4 old)
4. `kubectl scale` the rollout to 8

[2020-09-27 12:45] Eslamanwar commented on #587
I can confirm that we are facing the same issue with istio/Argo rollout on k8s ,the 503 happens exactly when at the start and the end of the canary route shifting . any workaround we can follow to mitigate this issue till we have DestinationRule with canary/stable subsets

[2020-09-28 23:08] jessesuen commented on #718
Fixed

[2020-09-28 23:08] #718 closed

[2020-09-28 23:09] jessesuen commented on #717
Fixed in v0.9.1

[2020-09-28 23:09] #717 closed

[2020-09-28 23:38] jessesuen commented on #696
Fixed in https://github.com/argoproj/argo-rollouts/pull/729

[2020-09-28 23:38] #696 closed

[2020-09-29 02:05] jessesuen commented on #707
Fixed

[2020-09-29 02:05] #707 closed

[2020-09-29 02:08] jessesuen opened #746 "TestListWithWatch is flakey"
## Summary

TestListWithWatch sometimes fails in CI:

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-09-29 02:09] jessesuen commented on #746
expected:
[code]

actual:
[code]

[2020-09-29 05:50] peterstace opened #747 "Rollout stuck progressing when using short lived job post promotion analysis"
## Summary

First, thanks for Argoproj, it's been working great for us so far 👍

We're using Argo Rollouts to deploy webservices using the BlueGreen strategy, using a post analysis that's based on a k8s Job. The Job verifiers that the webservices are working correctly using system level tests. The tests can take a variable amount of time to run, but can range anywhere from a few seconds to several

[2020-09-29 11:35] mmpei commented on #727
any update?

[2020-09-30 00:21] jessesuen commented on #747
I can reproduce this. Also affects v0.9.

[2020-09-30 02:51] jessesuen commented on #747
@peterstace is the forever Progressing status the one reported by Argo CD? or the kubectl plugin? If Argo CD, which version?

[2020-09-30 03:03] jessesuen commented on #747
The countdown you see is the `spec.strategy.blueGreen.scaleDownDelaySeconds`.  See: https://argoproj.github.io/argo-rollouts/features/bluegreen/#scaledowndelayseconds.

The value delays the scaledown of the old replicaset, which allow the new service IP tables to get propagated to the cluster after modifying the service. By default this value is 30 seconds, which is generally sufficient time to pr

[2020-09-30 03:24] jessesuen commented on #747
I believe this to be fixed in v0.9.1.

[2020-09-30 15:27] dudadornelles opened #748 "Add metric for replicas_desired"
# Summary

Add a new metric `rollout_info_replicas_desired` to represent the number of replicas you ultimately desire your rollout to have

# Use Cases

We are moving from Deployments to Rollouts and having problems migrating our datadog monitors to use the available rollout metrics. We have monitoring around number of replicas unavailable to help us identify degradation of service, but in argo-ro

[2020-09-30 19:06] #748 closed

[2020-09-30 20:10] jessesuen commented on #727
@mmpei yes, please feel free to work on it since this would come after a bunch of other v0.10 priorities for us.

[2020-09-30 20:12] dudadornelles opened #750 "Rollout.Status.AvailableReplicas is null during rollout"
## Summary

During a rollout with bluegreen strategy, `Rollout.Status.AvailableReplicas` changes to null for a little bit, which can trip monitoring alerts, when in fact replicas have been available the whole time (thats the whole point of progressive delivery).

## Diagnostics

What version of Argo Rollouts are you running? 0.9.0

## logs

controller doesn't have useful logs for this, but watchin

[2020-09-30 20:29] jessesuen commented on #750
It's null (omitted) when the value is zero:

[code]

Is availableReplicas truly zero? or is this an accounting problem?

[2020-09-30 20:37] dudadornelles commented on #750
I looked at  `readyReplicas` during the rollout as well and the logs are:

[code]

So Im quite positive that at all times during the deployment there are `availableReplicas`, I think it is how we are updating that value during the rollout that is not quite right

[2020-09-30 20:40] dudadornelles commented on #750
Potentially here? https://github.com/argoproj/argo-rollouts/blob/master/rollout/bluegreen.go#L244

Maybe we should be passing the old replica set there too?

[2020-09-30 21:16] jessesuen commented on #750
I think I may have broken this recently in https://github.com/argoproj/argo-rollouts/pull/704.

[2020-09-30 23:33] peterstace commented on #747
The forever Progressing status is reported by the rollouts kubectl plugin. I just had a look in the Argo UI and the rollout _does_ progress to Healthy there. So that matches the idea that it's just a reporting problem.

My argo rollouts kubectl plugin is:

[code]

Note though that my Argo Rollouts version is v0.8.3 (so they're a bit out of sync).

And the Argo CD version is v1.6.2.

---

I'll upgr

[2020-10-01 21:47] alexec commented on #727
I'm implementing for workflows. Should be able to give you test code to copy.

[2020-10-02 04:46] jessesuen opened #754 "Faster InvalidSpec recovery"
## Summary

1. Apply a Rollout with InvalidSpec because it references a service that doesnt exist
2. Apply the missing service

Rollout will not reconcile until much later (resync period) before clearing the InvalidSpec condition. Ideally when the service is applied, the Rollout will recover immediately.

## Diagnostics

What version of Argo Rollouts are you running? v0.9.1

---

**Message from th

[2020-10-02 08:07] jessesuen opened #756 "BlueGreen trapped in Progressing until ScaleDownDelay is exceeded"
## Summary

At the end of a successful blue-green update, we have a rollout with a status like:

[code]

Currently the kubectl plugin (and I believe also Argo CD), considers the above Rollout in a Progressing state because we have less updated replicas than status.replicas:

The check which decides this is in the rollout_info:

[code]

This calculation is misguided because with blue-green, we may

[2020-10-02 16:52] alexec commented on #727
https://github.com/argoproj/argo/pull/4185

[2020-10-06 00:17] #750 closed

[2020-10-06 18:28] jessesuen commented on #756
The kubectl rollout plugin does not match the health check in Argo CD. I may be the problem

[code]

[2020-10-07 00:59] peterstace commented on #747
I'm no longer seeing the "forever progressing" issue after updating everything to the latest (Argo CD v1.7.7 and Argo Rollouts v0.9.1).

[2020-10-07 00:59] #747 closed

[2020-10-07 18:42] ferwasy opened #771 "Argo CD can fire PostSync hooks prematurely (before Rollout is Healthy)"
Hello. I'm using argo-cd version 1.6.2 with argo-rollouts version 0.7.2 to perform BlueGreen deployments. I've configured a bunch of PostSync hooks. My expectation is that these hooks should be triggered after the BlueGreen deploy finishes (the new version is already deployed, all the new pods have been created and the "active" service is pointing to the new version). However, I noticed that the h

[2020-10-07 18:44] jessesuen commented on #455
Proposed spec to support this:

[code]

[2020-10-07 18:46] jessesuen commented on #455
I've verified with prometheus-operator/kube-state-metrics, the new pod labels get reflected in the metrics within minutes.

[2020-10-07 21:44] jessesuen commented on #771
Is this a bug or my expectation was incorrect

This sounds like a bug, but given the versions, possibly addressed in later releases. It's affected by the health.lua script that is baked into Argo CD. The hooks should only fire once the rollout becomes healthy.

[2020-10-08 10:59] hoantran3108 commented on #771
Hello. I'm using B/G deployment and struggling the same issue which needs to perform a cache purge after the new version successfully rollouts. Do we have any workaround for this? I'm using ArgoCD 1.7.5 and Argo Rollout 0.9.1.

Thanks

[2020-10-08 11:39] ferwasy commented on #771
@jessesuen and @hoantran3108 thank you very much for your quick responses. I was thinking in upgrading both ArgoCD and Argo Rollouts versions supposing that the new releases would contain the fix for this issue, but after @hoantran3108 comment, I'm starting to doubt about it. Any recommendations?

[2020-10-08 20:19] jessesuen commented on #771
Thanks for the data points. I will need some time to reproduce this.

[2020-10-08 21:38] ferwasy commented on #771
I've being doing some tests and I noticed that the PostSync job gets triggered BEFORE `status.blueGreen.activeSelector `is equals to `status.blueGreen.previewSelector `which is the condition for "healthy" state in `health.lua`

[2020-10-09 15:31] ferwasy commented on #771
We can confirmed that these also happens with ArgoCD version 1.7.7

[2020-10-09 15:44] abatilo commented on #521
@jessesuen Any ideas when this will get worked on? This seems like kind of a non-starter for people that want automatic rollback on deployments

[2020-10-09 20:16] RaeShelly opened #773 "Is there a Rollout apiversion that corresponds to Deployment apiversion "apps/v1"?"
Rollout apiversion "argoproj.io/v1alpha1" corresponds to Deployment apiversion "extensions/v1beta1". This Deployment apiversion has been deprecated for Kubernetes v1.16 and higher (https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/). Is there a Rollout apiversion that corresponds to Deployment apiversion "apps/v1"?

Currently using Argo Rollouts to automate testing in CD pipelines. In

[2020-10-09 21:15] ferwasy commented on #771
We found a workaround. We run the following bash script as the PostSync job with sync-wave: 1. That script waits until the preview service and the active service point to the same replica set (we noticed that when the first PostSync job is triggered, they point to different replica sets already). Once this script finishes, it means that the new rollout is healthy, so the following PostSync jobs (s

[2020-10-09 21:54] rmorampudi opened #774 "previewReplicaCount pauses the Rollout indefinitely without running the prePromotionAnalysis"
## Summary

We tried to use the previewReplicaCount, with the prePromotionAnalysis in the rollout manifest. But the Rollout is paused indefinitely after scaling replicaSet to match the PreviewReplicaCount. From the live Rollout object it looks like the postPromotionAnalysis step is not being called.

## Diagnostics
Manifest used:
[code]
What version of Argo Rollouts are you running?
Tried both Arg

[2020-10-09 22:56] jessesuen commented on #773
This isn't true. We import the v1.17 podtemplate so we currently have all functionality that v1.17 has in the v1.17 pod spec. What leads you to believe that rollouts is somehow tied to extensions/v1beta1?

Can you share the live rollout object? Something doesn't seem right -- the output is as if your controller isnt running at all.

[2020-10-09 23:02] #702 closed

[2020-10-09 23:51] abatilo commented on #521
If someone could give me a hint on where to start, I'd be willing to try and contribute!

[2020-10-10 04:59] #756 closed

[2020-10-10 12:21] jessesuen commented on #774
Thanks for the example. I'm able to reproduce and think I know the fix.

[2020-10-10 16:00] rmorampudi commented on #774
Great, thank you.

[2020-10-10 18:52] RaeShelly commented on #773
Okay, thats good to know. Appreciate the timely response. Attached is the rollout output.
[rollout-output.txt](https://github.com/argoproj/argo-rollouts/files/5359689/rollout-output.txt)
rollout describe
[rollout-describe.txt](https://github.com/argoproj/argo-rollouts/files/5359720/rollout-describe.txt)

For microservices that don't use rollout, the deployment spec needed to be changed (apiversion

[2020-10-11 00:18] abatilo commented on #521
Following up here. It appears that setting `failureLimit` to 0 caused the rollout to cancel back. Someone had posted a similar question in the Argo Rollouts Slack and Jesse mentioned it. Maybe others here should try explicitly setting that value to 0?

[2020-10-12 11:55] ferwasy commented on #771
@jessesuen thank you very much for your help. I've checked the health.lua script and according to this code

[code]
the healthy status seems to be setted appropriately. Could the issue exists in the code that "listens" this change?

[2020-10-13 12:19] abatilo opened #777 "Canary rollouts with a failed AnalysisRun immediately terminate all canary pods and ignores maxUnavailable"
## Summary

When doing a canary rollout with `maxUnavailable: 0`, if I have an `AnalysisRun` fail, all of the canary pods are immediately terminated even though the previous revision has no available pods.

## Diagnostics

Versions of all tools:
[code]

Repro yaml can be found [here](https://gist.github.com/abatilo/e98186261db7e555f962c9657e9abd2c).

Steps to repro:
[code]

The moment the `Analysi

[2020-10-13 14:01] ferwasy commented on #771
@hoantran3108 can you try the script above and confirm that is fixes your issue?

[2020-10-13 19:18] inspiremirnal opened #778 "Analysis Arguments support for valueFrom"
# Summary
Currently Analysis step under Canary can only read arguments value from value , and it would be more dynamic to use valueFrom, to refer to metadata labels.

When would you use this?

In case of keeping majority of things in kustomize base , so that overlays can just be overriding or populating only things that are not standard, it would be much better to have feature to refer metadata la

[2020-10-13 22:52] jessesuen commented on #521
There's been a lot of issues I've been working through with blue-green and analysis, in that it was basically broken. I feel like this issue may be covered by the v0.9.2 work in progress, as I have been focusing a lot on blue-green + analysis issues.

[2020-10-14 10:21] kosukeoya opened #779 "Release manifests with CRD's using apiextensions.k8s.io/v1"
# Summary

The apiextensions.k8s.io/v1beta1 version of CustomResourceDefinition is deprecated and will no longer be served in v1.19. Use apiextensions.k8s.io/v1 instead

https://github.com/kubernetes/kubernetes/blob/release-1.16/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals

It would be good to update Argo Rollouts CRD's ([here](https://github.com/argoproj/argo-rollouts/tree/master/manifes

[2020-10-14 20:44] jessesuen commented on #779
We should do this, but we'll need to provide both versions since it will otherwise raise minimum version to v1.15.

[2020-10-14 21:09] #774 closed

[2020-10-14 22:40] jessesuen commented on #773
OK, yes my suspicion was confirmed. Your rollout object has no `.status`, which indicates the rollout controller doesn't even appear to be running.

[code]

I suggest to look at rollout controller logs to see if you see anything wrong.

[2020-10-15 06:47] vivekanandg opened #782 "Traffic management for kong ingress controller and kuma"
# Summary
Currently I see that only the below are supported
* Istio
* Nginx Ingress Controller
* AWS ALB Ingress Controller
* Service Mesh Interface (SMI)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-10-15 08:23] jessesuen commented on #777
I've identified this as a regression between v0.9.0 and v0.9.1.

Technical details: It is related to performance improvement that was made in v0.9.1 where controller writes back an updated Rollout object back to the informer. Although the Rollout is up-to-date after reconciliation, the ReplicaSets which it modified, are *not* updated, and so the next reconciliation is calculating based off of stal

[2020-10-15 09:29] jessesuen commented on #777
Looks like my change in GetReplicasForScaleDown is what broke it:

[code]

 https://github.com/argoproj/argo-rollouts/pull/739

[2020-10-15 11:33] mclarke47 commented on #455
Sounds good, we will assume that the label will change but the pod will not be re-created. We should be able to account for this with our metric setup.

[2020-10-15 13:04] abatilo commented on #695
I've attempted an implementation for this [here](https://github.com/argoproj/argo-rollouts/pull/783). Please let me know if this is sufficient!

[2020-10-15 20:50] jessesuen commented on #455
Correct

[2020-10-15 21:10] chihaiaalex commented on #455
Hello! Regarding Step 2. I would like to also give you some input with regards to my described use case: https://github.com/argoproj/argo-rollouts/issues/589. Is it enough to patch the pod with the new label to mimic what ArgoRollouts would do?

[2020-10-15 23:32] jessesuen commented on #701
Need to research TargetGroupBinding in alb-ingress-controller v2

[2020-10-16 19:38] #777 closed

[2020-10-16 20:10] #698 closed

[2020-10-19 01:10] jessesuen commented on #521
v0.9.2 is released with many fixes to blue-green in conjunction with analysis. I believe the issue is resolved but please reopen if still an issue.

[2020-10-19 01:10] #521 closed

[2020-10-19 01:11] jessesuen commented on #773
Closing as I think this is environmental problem. Controller is not populating any status information to the rollout, which indicates it is not running.

[2020-10-19 01:11] #773 closed

[2020-10-19 05:56] jessesuen commented on #771
I can reproduce this, and I believe I understand the problem. The problem is that right after applying the Rollout, Argo CD performs the health check of a Rollout too quickly, before the Rollout controller has a chance to update the status with the new information. So the sequence of events is:

1. argo-cd applies new rollout spec
2. argo-cd immediately assesses health of rollout (before the rollo

[2020-10-19 07:36] jessesuen commented on #771
Looked into this. I've verified that as far back as kubernetes v1.13, `metadata.generation` is being populated with values. So with that piece of information, it should be safe to completely switch to integer status.observedGeneration. I didn't bother trying v1.12.

An easy way to reproduce this, is to shut down the argo-rollouts controller, and sync an Application with a Rollout and PostSync hook

[2020-10-19 10:10] jessesuen commented on #771
The fix for this is much more involved than I anticipated. In order to properly use metadata.generation, the controller will need to switch to using [status subresources](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#status-subresource) in the CRD definition. When I attempted to record metadata.generation without using status subresources, the con

[2020-10-19 11:36] ferwasy commented on #771
@jessesuen thank you for the research. Looking forward to have news about the fix.

[2020-10-19 12:14] TommyLike opened #790 "Job analysis template leads to creating jobs repeatelly."
## Summary

I created a simple job analysis template for http smoke test, but the template belows will leads to argo rollout keep creating the job repeatelly, I am wondering if I misuse the template or this is a potential bug.
[code]
the command above will success for sure. and the related code lies here:
https://github.com/argoproj/argo-rollouts/blob/master/utils/analysis/helpers.go#L213

the rol

[2020-10-19 12:22] mclarke47 commented on #790
Can't be sure without seeing the Rollout but it's likely you're using https://argoproj.github.io/argo-rollouts/features/analysis/#background-analysis, which is intended

[2020-10-19 12:26] TommyLike commented on #790
@mclarke47 it's `premotionAnalysis`, I can update the issue.

[2020-10-19 14:39] Eslamanwar commented on #617
@jessesuen we have the 503 issue when using canary/blue-green strategy with Istio , as istio doesnt expect 2 services points to the same pod , when can we expect the desitinationRule support for argo-rollout ,thank you

[2020-10-19 15:11] johnniee opened #792 "Using ReadinessGate for the canary ReplicaSet"
# Summary
as part of the migration of my Deployment manifest into Rollout, I have trouble using the ReadinessGate. My Infra runs on AWS EKS using ALB. I'm using the following example https://github.com/argoproj/argo-rollouts/blob/master/docs/getting-started/alb/rollout.yaml
with the addition of this ReadinessGate block:
[code]
But obviously, pods can't pass the readinessGate since the pods aren't

[2020-10-19 18:47] jgquach3 opened #793 "Scale down preview replica set when the analysis run fails in bg"
# Summary
- Currently within bg, the preview replica set does not scale down when an analysis run fails.

What change needs making?
- The scale down annotation can be added on the preview replica set in the case of an analysis run failure.
PR - https://github.com/argoproj/argo-rollouts/compare/master...jgquach3:preview-scale-down?expand=1
(currently by default it will scale down, but another key c

[2020-10-19 19:23] jessesuen commented on #790
Can you try with v0.9.2? This had a bunch of fixes with blue-green + analysis

[2020-10-19 19:32] jessesuen commented on #792
This is isn't obvious to me. Why wouldn't pods be registered under the new target group?

[2020-10-20 01:08] TommyLike commented on #790
@jessesuen fixed in v0.9.2, thanks @jessesuen

[2020-10-20 01:09] #790 closed

[2020-10-20 01:26] TommyLike opened #794 "[WebMetrics] Support configure HTTP method and valid response code."
# Summary

We have webmetric and it needs to be updated to support configure http method and valid response code.

# Use Cases
Check the endpoint's reachability (status code only, without specifying `JSONPATH` ) is another common usecase for rollout analysis.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-10-20 04:57] johnniee commented on #792
@jessesuen Thanks for your reply.
The new pods are not being registered behind the stable target group. See the message:```

    message: corresponding condition of pod readiness gate "target-health.alb.ingress.k8s.aws/rollouts-demo-ingress_rollouts-demo-stable_80"
      does not exist.
[code]

[2020-10-20 06:07] TommyLike opened #795 "Job's label value exceeds max value of 63 characters."
## Summary
Assume we have created an analysis template as below:
[code]
argo rollout will failed to create the wanted job due to the limit of max label value length(63) in kubernetes.
[code]
I guess this is a known issue [1], but it's very likely to happen, due to the generation style.
[1]: https://github.com/argoproj/argo-rollouts/blob/a98a2742e522549a660e1de20b7b7c08dcc6884a/metricproviders/job/

[2020-10-20 12:05] shiransky opened #796 "SecurityPrivileged Forbidden"
## Summary

When upgrading to argo rollouts v0.9.2 we encountered the following issue:

Invalid: spec.template.spec.initContainers[0].securityPrivileged: Forbidden: disallowed by cluster policy

in the version 0.7.2 we didn't have this issue

From the log:
time="2020-10-20T12:01:31Z" level=info msg="Started syncing rollout at (2020-10-20 12:01:31.117536654 +0000 UTC m=+1.199094785)" namespace=defa

[2020-10-20 18:38] jessesuen commented on #796
Can you share your rollout?

[2020-10-20 18:40] jessesuen commented on #796
This is almost certainly a bug with your Rollout spec. Rollouts v0.9. added validation of specs, which is the error you are seeing now. We re-use the validation from Deployments, so if you were to convert your rollout to deployment, you should get the same error.

[2020-10-20 19:45] mrak commented on #532
The fundamental issue here is if you want to use experiments with traffic management such as the NGINX ingress controller it is impossible to have one Service that can send traffic to the stable _and_ experiment pods.

This is due to `canaryService` and `stableService` being required parameters for traffic management (at least for NGINX). As soon as you set these options the argo-rollouts controll

[2020-10-20 20:59] dudadornelles commented on #727
There are no docs on upgrading argo-rollouts currently; is it fair to assume that upgrades will be disruptive for rollouts that are happening at that moment?

[2020-10-20 21:26] jessesuen commented on #727
Upgrading rollouts is simply applying the new set of manifests. There are no special instructions

For the time duration where the rollout controller is down (this should only take a few seconds), Rollout resources which are in the middle of upgrades will not make progress. When the rollout controller comes back up, the updates will resume and continue where they left off. This is the same time as

[2020-10-20 21:33] jessesuen commented on #796
I've looked into this more, and I see a place where the validation library that we use in Kubernetes disallow privileged by default. Since we are only using this for the context of validation, rollouts should allow this. I think this is a bug.

[2020-10-20 21:35] dudadornelles commented on #727
Thanks a lot for the reply, I can see how HA is not that important for the controller given rollouts can resume as soon as the controller is back.

[2020-10-20 22:09] jessesuen commented on #532
@mrak explained it better than I could have. Currently, the Experiment steps in rollouts allows you full control over the labels, with an additional convenience syntax to easily use the stable/canary pod hashes.

Yes, great explanation. The current Experiment integration in Rollout is definitely geared more towards the weighted-replica-count canary (before we had traffic management features/integr

[2020-10-21 05:29] aweis89 commented on #617
Does it make sense then to eliminate the first option and drop support for canary/stable SVCs and just use subsets for Istio traffic routing? Or is it actually possible to have a single Virtual Service reference multiple SVCs (was not able to get this working myself either)?

[2020-10-21 21:08] ruben-ojeda-mednax commented on #521
This is to confirm the issue was resolved:
![image](https://user-images.githubusercontent.com/48603217/96787593-03015680-13c0-11eb-8bb2-6eb8f605e95a.png)

[2020-10-22 06:08] jessesuen commented on #796
@khhirani can you take a look at this? The issue is here:

https://github.com/kubernetes/kubernetes/blob/b46612a74224b0871a97dae819f5fb3a1763d0b9/pkg/apis/core/validation/validation.go#L5785-L5789

The validation library which we reuse calls `capabilities.Get()` but Get() will always return false unless initialized with a library call.

To reproduce this, you need to deploy a Rollout which sets `s

[2020-10-22 19:42] jessesuen commented on #792
@johnniee

I think to solve this, you may need a third service for this, that targets all of the Rollout pods. The readiness gate should reference a single root service, which selects on `app: rollouts-demo`

[code]

[2020-10-22 20:27] yanowitz opened #798 "do not attempt to cache secrets for analysis templates"
## Summary

My colleague (@mrak) and I expect the Argo Rollouts controller to successfully boot. In one our Kubernetes clusters, we have over 600MB of secrets and the Controller is unable to succeed at booting.

Issue #420 is where this functionality was introduced.

Given that we can just query for specific secrets at resolveArgs time, we want to grab these lazily, not cache everything.

We are p

[2020-10-22 20:47] jessesuen commented on #798
@yanowitz we made the conscious decision to use an informer because we did not want to incur extra load on the K8s API server during reconciliation. With your proposed change, the problem would shift to hammering the API server for AnalysisTemplates which need secrets.

[2020-10-23 09:32] flavio-lemos-farfetch-com opened #800 "Rollouts controller panics when there's an invalid Rollout"
## Summary

Rollouts controller panics when applying a Rollout with invalid values (specifically resources.requests.cpu). To recover from it, the invalid Rollout(s) need to be fixed, otherwise the rolltous controller will keep failling...

[code]

Ther error, is the extra space on  **cpu: 500 m**

What I expect to happen?

- Validations to avoid applying invalid Rollout objects into the cluster
-

[2020-10-23 15:31] yanowitz commented on #798
Is there evidence that this hammering would happen in practice? What's the number of analysis runs occurring in parallel where this would be a problem that reference secrets?

I hesitate to add complexity, but if the caching is a hard-requirement for some folks (it's definitely not for us), then I guess we have to make it an option?

Alternatively, it would also be good to not wedge fetching the s

[2020-10-23 20:05] jessesuen commented on #798
No evidence, but principally, our design approach across all argoproj controllers has been to be able reconcile early and often, without consequence or impact to the system. Being able to make this assumption has freed a lot controller logic with simpler design. Whenever we have to start having to concerning ourselves with reconciliation/logic avoidance, it starts to make the control loop more com

[2020-10-23 20:14] carlosdoordash commented on #800
We encountered the Rollouts controller panic when mistakenly setting annotations or labels with numeric or boolean values.

For example...
[code]

This looks related https://github.com/argoproj/argo-rollouts/pull/666

[2020-10-23 20:16] jessesuen commented on #798
BTW, the above technique would be desired and applicable across the board. Rollouts references Secrets, VirtualServices, Ingresses, which obviously not all would be used by a Rollout, and so other parts of the controller would benefit from discarding objects of no relevance to the controller.

[2020-10-24 07:07] jessesuen commented on #800
https://github.com/argoproj/argo-rollouts/pull/666 was actually supposed to address this specific problem, but somehow it didn't. Looking into it.

[2020-10-24 09:09] jessesuen commented on #796
@khhirani nevermind i have a fix for this

[2020-10-24 09:19] jessesuen commented on #779
FYI, this has been postponed to v1.22, so we have time. See https://github.com/kubernetes/kubernetes/issues/82022

[2020-10-24 09:53] jessesuen commented on #505
I believe this is addressed in v0.9.2. Please re-open if this is still an issue

[2020-10-24 09:53] #505 closed

[2020-10-24 09:55] jessesuen commented on #471
Closing since we haven't seen this since.

[2020-10-24 09:55] #471 closed

[2020-10-24 10:31] jessesuen commented on #222
Don't think this is needed

[2020-10-24 10:31] #222 closed

[2020-10-24 10:32] jessesuen commented on #303
not needed

[2020-10-24 10:32] #303 closed

[2020-10-24 10:34] jessesuen commented on #794
Is this a duplicate of https://github.com/argoproj/argo-rollouts/issues/371 ?

[2020-10-24 10:36] jessesuen commented on #504
I believe this to be fixed in v0.9.2. Please reopen if you can reproduce it there

[2020-10-24 10:36] #504 closed

[2020-10-24 11:03] jessesuen commented on #701
I was hoping it would surface status information about the load balancer, but after reading https://aws.amazon.com/blogs/containers/introducing-aws-load-balancer-controller, it appears to be unrelated and won't help

[2020-10-24 11:58] jessesuen commented on #798
Actually, the solution might be simpler.

`k8s.io/client-go/tools/cache` allows you to create a custom cache.Config which have a custom Process() function, which we could then implement a function that returns a partial object (i.e Secret). The decision to return a full vs. partial Secret would be determined on whether or not the Secret is referenced by an AnalysisTemplate/Run.

[2020-10-25 01:25] TommyLike commented on #794
Yes, As long as if that issue will cover the case of no json response and only cares about the status code.

[2020-10-26 09:35] dobegor commented on #771
@jessesuen is there a fix in 0.9.2?

[2020-10-26 15:10] yanowitz commented on #798
So we would lazily resolve secrets and only cache referenced ones? I love that.

[2020-10-26 18:03] jessesuen commented on #771
There won't be a fix in v0.9.x. The fix carries some risk as it requires us to use the status subresource, which forces us to deal with the challenges that I mentioned above, touching more code than I think is safe in v0.9.

[2020-10-26 19:04] yanowitz commented on #798
Sorry, I've been thinking this more and I'm still confused by the overall approach. It's quite possible I don't understand what's going on, because it seems like we aren't reducing load on the server at all, and are probably increasing it.

Specifically, the initial response:

1. With our proposed change, the only time AnalysisTemplates cause the apiserver to get hit is when they are being instant

[2020-10-26 20:26] dobegor commented on #771
@jessesuen thanks, I missed that. It would probably be better to mention that PostSync hooks are unusable with Argo Rollouts ATM because people might lose a lot of time before they find this issue (just like I did :) )

[2020-10-26 21:28] ferwasy commented on #771
@jessesuen does this fix needs to be implemented in `argo-cd` or `argo-rollouts`?
Thanks!

[2020-10-26 22:31] #800 closed

[2020-10-26 22:31] #796 closed

[2020-10-26 22:33] #424 closed

[2020-10-26 22:51] jessesuen commented on #771
I discussed this with @alexmt today. There are a combination of things we'll need to do:

Near term:

1. Introduce an artificial delay between sync waves/phases in Argo CD. This gives 3rd party controllers the opportunity to respond to spec changes, and update status. This will benefit *all* custom resources with health checks, not just Rollouts. This will address the problem in the near term, how

[2020-10-27 03:17] henrywangx opened #805 "Rollout-controller won't keep reconcile for previewService change"
## Summary

If previewService is not deployed before the rollout. The rollout will stay InvalidSpec condition, even previewService has been deployed later.

## Diagnostics

Latest Version

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-10-27 07:36] jessesuen commented on #805
Duplicate of https://github.com/argoproj/argo-rollouts/issues/754

[2020-10-27 07:36] #805 closed

[2020-10-27 14:11] ferwasy commented on #771
@jessesuen I see. Thank you for the update. Willing to test the near term solution as soon as is released.

[2020-10-28 16:18] johnniee commented on #792
@jessesuen Thanks for the idea. The readiness gate should mark my registered pod as healthy/unhealthy during all the time pod is up. Creating a demo target group/service won't really help since it could just give me the indication that something isn't working well, but It won't help me during the pod lifetime.

I think that this can be solved by register the pods to the canary service, connect the

[2020-10-28 23:08] jessesuen opened #808 "kubectl plugin create should create objects using dynamic client"
## Summary

Currently the plugin is tightly coupled with a specific rollout version because it unmarshals files into the typed objects (which might be out-of-date from the version running in the cluster.

For example, if the controller is running a newer version of rollouts, and the plugin is outdated, during a create the plugin will drop all unknown fields which are not known by the plugin.

We s

[2020-10-31 01:53] #736 closed

[2020-11-01 22:03] nestorsokil opened #811 "Inline Analysis starts before preview pod is ready"
## Summary

What happened/what you expected to happen?
This is my config:
[code]
The problem is that the `acceptance-test` analysis run kicks in before the new Pod reaches Ready state.
[code]

## Diagnostics

What version of Argo Rollouts are you running?
`0.9.2`

# Paste the logs from the rollout controller

# Logs for the entire controller:
kubectl logs -n argo-rollouts deployment/argo-rollouts

[2020-11-02 09:55] irvifa commented on #455
I was wondering if this Pr https://github.com/argoproj/argo-rollouts/pull/770 is ready to be reviewed

[2020-11-02 11:32] nestorsokil opened #813 "scaleDownDelayRevisionLimit is not working as expected"
## Summary

What happened/what you expected to happen?
I’m using a large` scaleDownDelaySeconds` and `scaleDownDelayRevisionLimit: 1` , but what I’m observing is that after my `postPromotionAnalysis` is run I’m left with a single RS. What I would expect is to have the old one being kept running for `scaleDownDelaySeconds` or until another rollout happens and `scaleDownDelayRevisionLimit` is exceed

[2020-11-02 20:19] jessesuen commented on #771
The near term solution (https://github.com/argoproj/argo-cd/issues/4669) is merged into Argo CD and will be available in Argo CD v1.8.

[2020-11-02 22:00] jessesuen commented on #811
Need to confirm if:
[code]

is the step *index* vs. the step number. I suspect the latter, which means that it should be `startingStep: 3`

[2020-11-03 01:01] #778 closed

[2020-11-03 08:09] nestorsokil commented on #811
@jessesuen I think it's step number (1-based) as per docs, but I don't think it matters for me
[code]
I'm ok with background analysis starting on setWeight or on the first pause

[2020-11-03 08:43] jessesuen commented on #811
@nestorsokil oh I misread the problem as background analysis starting prematurely when you clearly stated that inline is started prematurely. I think this is working as expected then. When you have analysis as the first step, e.g.:

[code]

Then you have a setWeight of 0. Rollout controller does not scale the canary up until there is a non-zero weight.

What you need is the new upcoming v0.10 feat

[2020-11-03 11:37] jessesuen commented on #813
I can reproduce this. As you noted, it only happens when `scaleDownDelayRevisionLimit: 1`, but if the `scaleDownDelayRevisionLimit` is anything greater than 1, it works as expected.

[2020-11-03 11:52] jessesuen commented on #813
@nestorsokil as a workaround, you should omit the `scaleDownDelayRevisionLimit` field entirely. The default behavior is such that only one old replicaSet will be kept scaled up. The bug here is that we need to treat `scaleDownDelayRevisionLimit: 1` the same as omitting `scaleDownDelayRevisionLimit`

[2020-11-03 13:20] nestorsokil commented on #811
@jessesuen cool, that makes sense thank you! Do you have a release schedule or a roadmap somewhere?

[2020-11-03 13:37] nestorsokil commented on #813
@jessesuen thank you! will look at the workaround later

[2020-11-03 17:29] nestorsokil commented on #813
@jessesuen well, it looks like omitting doesn't really help, now the RS is kept until it's delay, so I end up with 3 of them (or even more if I release more). What I want ideally is to always have exactly 2 ReplicaSets. I guess I could make background analysis run indefinitely, but that seems like a non-native thing and also may result in more surprise behavior I believe.
<img width="1037" alt="om

[2020-11-03 18:35] jessesuen commented on #813
Ooops, it looks like I mispoke here. It appears that the default behavior is that it is that there is no limit. I'll work on a fix.

[2020-11-03 19:21] jessesuen commented on #811
v0.10 will be out within 3 weeks.

[2020-11-03 19:21] jessesuen commented on #811
Duplicate of https://github.com/argoproj/argo-rollouts/issues/556

[2020-11-03 19:21] #811 closed

[2020-11-03 21:31] yanowitz commented on #798
@jessesuen any thoughts?

[2020-11-03 22:11] #754 closed

[2020-11-03 23:22] jessesuen commented on #713
Fixed

[2020-11-03 23:22] #713 closed

[2020-11-03 23:49] russellwhitaker commented on #695
Any progress on this? If implemented, this would be a _major_ developer usability enhancement. I know I could use it right now, myself...

[2020-11-04 06:19] hari2192 commented on #702
Datadog provider doesn't seems to be working for us.

I have updated argo-rollouts with latest version v0.9.2.

Also, followed instructions from here https://argoproj.github.io/argo-rollouts/features/analysis/#datadog-metrics

1. Created secret for datadog API key and APP key in argo-rollouts namespace:

[code]

 2. Created analysis in application namespace:
[code]

3. Ran the analysis but getting

[2020-11-04 06:22] hari2192 opened #817 "Datadog provider doesn't seems to be working"
Datadog provider doesn't seems to be working for us.

I have updated argo-rollouts with latest version v0.9.2.

Also, followed instructions from here https://argoproj.github.io/argo-rollouts/features/analysis/#datadog-metrics

1. Created secret for datadog API key and APP key in argo-rollouts namespace:

[code]

 2. Created analysis in application namespace:
[code]

3. Ran the analysis but getting

[2020-11-04 07:41] #813 closed

[2020-11-04 07:55] jessesuen commented on #817
DataDog is not available in v0.9. Its coming in v0.10

[2020-11-04 09:23] jessesuen commented on #817
FYI if you'd like to try it earlier than v0.10 (available in ~3 weeks), you can install https://github.com/argoproj/argo-rollouts/blob/master/manifests/install.yaml.

I will update docs to indicate the feature is available since v0.10

Duplicate of https://github.com/argoproj/argo-rollouts/issues/702

[2020-11-04 09:23] #817 closed

[2020-11-04 09:31] jessesuen commented on #792
I didn't quite follow your last comment, did you find a workaround/solution? Or are you suggesting some type of new behavior that needs to be done in rollout controller to support this?

[2020-11-04 09:32] jessesuen commented on #746
Doesn't seem to be flakey anymore

[2020-11-04 09:32] #746 closed

[2020-11-05 09:37] #575 closed

[2020-11-05 09:39] jessesuen commented on #798
@yanowitz I think your logic makes more sense. I think we can switch to looking up secrets on-demand. You mentioned you had a PR ready?

[2020-11-05 09:54] #455 closed

[2020-11-05 11:38] jessesuen commented on #771
This has been implemented in Argo CD as well.

[2020-11-05 12:26] dobegor commented on #771
So is there anything left other than releasing Argo CD 1.8?

[2020-11-05 13:46] smitthakkar96 commented on #592
incase of restart we simply bring up new pods all together and then swap similar to bluegreen deployment

[2020-11-05 22:48] jessesuen commented on #771
The Argo CD v1.8 fix to delay waves by a few seconds, should work most of the time. The 2-second delay between waves, is generally sufficient to allow the rollout controller (or other controllers) to react, and update the rollout into a Progressing state.

That said, it is not 100% reliable. For 100% reliability, Argo Rollouts needs to start using status subresource. Use of the status subresource

[2020-11-05 23:40] jessesuen commented on #796
@shiransky the fix is now in an official release v0.9.3

[2020-11-06 01:11] #712 closed

[2020-11-06 01:11] #334 closed

[2020-11-06 09:42] dobegor commented on #771
Awesome thanks for clarifying this!

[2020-11-06 22:52] yanowitz commented on #798
We'll open one for review next week. I imagine you'll want some changes but it will be a good place to start.

[2020-11-08 11:03] nestorsokil opened #825 "Make AnalysisTemplate more configurable"
# Summary

There are a number of fields in AnalysisTemplate/ClusterAnalysisTemplate that are static (`consecutiveErrorLimit`, `interval`, `count`, etc). It would mean a lot of practical benefits to make them dynamically configurable.

# Use Cases
Having a single AnalysisTemplate you could define different threasholds for different applications (since they may have different tolerance to failures).

[2020-11-09 14:04] bryonwinger commented on #617
Using a single Service along with a Virtual Service and Destination Rule subsets also opens the door to easily add header based routing.

[2020-11-09 17:50] mrak commented on #798
PRed as https://github.com/argoproj/argo-rollouts/pull/829

[2020-11-09 20:13] jessesuen commented on #798
Fixed in https://github.com/argoproj/argo-rollouts/pull/829

[2020-11-09 20:13] #798 closed

[2020-11-09 23:02] #771 closed

[2020-11-09 23:02] #440 closed

[2020-11-09 23:05] jessesuen commented on #771
This will be in v0.10. However if using Argo Rollouts v0.10 with Argo CD, it will need to be used with Argo CD v1.8+.

[2020-11-10 17:53] flavio-lemos-farfetch-com commented on #800
Hi @jessesuen, I have just tried the latest argo-rollouts version (0.9.3) which should have fixed this issue, but the controller still panics on the same error...

[2020-11-11 00:24] #573 closed

[2020-11-11 03:11] khhirani commented on #808
@jessesuen Should the plugin use the dynamic client only for object creation, or should the dynamic client replace the RO client entirely?

[2020-11-11 03:47] jessesuen commented on #808
It should do it for wherever it could cause problem of dropping fields. For example, the patches that happen in promote, abort, restart do not need to switch, since they have no risk of dropping fields (patches will not drop fields)

However, creating an analysis run from a template, or local file has risk of dropping unknown fields, as does create.

[2020-11-11 05:08] khhirani commented on #808
Just to clarify, only creation has the risk of dropping unknown fields?

[2020-11-11 10:40] AnyISalIn opened #838 "The controller crashes when the resource unit is not set up correctly."
## Summary

What happened/what you expected to happen?

The controller crashes when the resource unit is not set up correctly.

[code]

## Diagnostics

What version of Argo Rollouts are you running?

v0.9.1

# Paste the logs from the rollout controller

# Logs for the entire controller:
[code]
# Logs for a specific rollout:
kubectl logs -n argo-rollouts deployment/argo-rollouts | grep rollout=<ROL

[2020-11-12 02:56] jessesuen commented on #838
This is fixed in v0.9.3

[2020-11-12 02:56] #838 closed

[2020-11-12 03:11] nstogner opened #839 "Pause documentation appears incorrect"
## Summary

Pause documentation for canaries [here](https://argoproj.github.io/argo-rollouts/features/specification/) reports that the `pause: {}` step sets the Rollout `.spec.paused` field to `true`:

[code]

When running through the example, the `spec.paused` field never gets set:

`kubectl get ro rollouts-demo -ojson | jq '.spec.paused'` returns `null` while `kubectl argo rollouts get ro rollou

[2020-11-12 07:03] jessesuen commented on #592
Resolved by https://github.com/argoproj/argo-rollouts/pull/833. Note that blue-green does not support multi-pod restarts at this time. A separate issue can be filed for it if needed.

[2020-11-12 07:03] #592 closed

[2020-11-12 10:53] jessesuen commented on #839
Ah yes. This behavior was changed a while back. `spec.paused` is now strictly for user pauses. The controller will no longer touch that field. There is now a `status.pauseConditions` which gets set by controller for pause steps, inconclusive analysis.

[2020-11-12 14:50] nstogner commented on #839
Hey Jesse, thanks for the quick response! Is there a reason why `spec.paused` is only reserved for user pauses? Driving resource behavior by changing `.status` is a fairly big anti-pattern in k8s. Instead of changing the docs to match the current behavior, would we consider changing the behavior to match the docs?

[2020-11-13 00:12] jh-sz opened #841 "Retrying an aborted rollout"
## Summary
We use blue-green strategy, when the `AnalysisRun` has failed, the `rollout` will be in an `aborted` status. Once the analysis issue has been fixed (due to problem outside of the current project). Nothing happens after running the below command

[code]

I can see from the application `events`, for a brief period of time (like 1 sec). The status of the app has changed
[code]

Would have

[2020-11-13 02:38] #808 closed

[2020-11-13 10:11] jessesuen commented on #839
We need a way to discern when a user manually pauses the rollout vs. the controller. For example, the problem we faced is when we were at a time-limited (1-hour) pause step, but the user decides that they then want the rollout to pause indefinitely by manually pausing it. The user is unable to make a change to the rollout to capture the intent to pause indefinitely, since the single field was alre

[2020-11-13 10:31] jessesuen commented on #841
I'm unable to reproduce this (with tip of master):

After retrying a failed rollout, I'm able to get it to invoke a second analysisrun, and the second revision becomes healthy after it passes.

[code]

I even enhanced a test to attempt to catch this, but it passed (https://github.com/argoproj/argo-rollouts/pull/843).

Are you using a current plugin? (v0.9.3 to match your controller)?

[2020-11-13 10:34] jessesuen commented on #841
Rollout events showing the analysis failing then passing, then switching service.

[code]

[2020-11-13 10:38] #695 closed

[2020-11-13 10:41] jessesuen commented on #732
Doesnt seem like a problem

[2020-11-13 10:41] #732 closed

[2020-11-13 22:11] #839 closed

[2020-11-14 11:47] jessesuen opened #845 "Restarting a single replica Rollout in middle of canary should only restart 1 pod"
## Summary

I had a rollout (replicas: 1) which was paused during an update (1 x canary + 1 x stable), and performed a restart. The controller restarted both pods at the same time but it should only restart one:

## Diagnostics

Version v0.10.0

# Paste the logs from the rollout controller

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues

[2020-11-16 06:30] jh-sz commented on #841
I think the scenario I've got is slightly different.
We use `postPromotionAnalysis` and we don't use  `previewService`.

So the step is:
1. Revision 1 is deployed and running fine with Replicaset-a
1. Revision 2 deploys with Replicaset-b, but failed `postPromotionAnalysis`
1. Fix the failure
1. Retry, but `SwitchService` keeps switching back to Replicaset-b

[2020-11-16 23:35] jessesuen opened #849 "Istio VirtualService updates are not being corrected immediately"
## Summary

When testing istio, I noticed that when I manually adjusted the weights of my VirtualService (out-of-band from rollouts), the argo rollouts controller did not change it back to the current desired weight. The rollout controller has an informer on istio VirtualServices, and it is supposed to immediately correct the weight to what the Rollout controller wants it to be, for the current st

[2020-11-18 12:57] turkenh commented on #617
I've been struggling with this for some time and I think I found a solution.

To have in-mesh communications to hit the virtual service, you need to include [reserved word `mesh`](https://istio.io/latest/docs/reference/config/networking/virtual-service/#VirtualService) in `spec.gateways`, which is there by default if you didn't set any other gateway. It is true that DNS entry not added by default

[2020-11-18 15:22] simonc-613 commented on #352
Came here cause I'm looking for something similar.
We'll be using fully automated blue greens for the purpose of getting a clean traffic switch over.

We have a case where currently deployments are validated using `helm upgrade --wait` but as Helm doesn't support CRDs in `--wait` I need something to know when the Rollout is completed.

I'm in the process of promoting ArgoCD but the team who'll be

[2020-11-18 22:58] jh-sz commented on #841
@jessesuen are you able to take another look, thanks

[2020-11-19 03:24] khhirani commented on #849
@jessesuen Did you notice this on while testing on Minikube?

[2020-11-19 03:45] jessesuen commented on #849
No, I noticed when testing on a GKE cluster

[2020-11-19 10:28] #845 closed

[2020-11-19 10:34] jessesuen commented on #841
If you are performed a `retry` on the failed rollout, then it's intended/expected that the active service will switch to Replicaset-b, because replicaset-b is your desired state.

Basically retry should do the same exact thing as the the first attempt, which does:
1. bringing up the new replicaset-b (in the case of retry, replicaset-b is already running)
2. switching active service to point to rep

[2020-11-20 20:17] jessesuen commented on #617
Thanks for the workaround @turkenh !

Regarding the previous comment about the following query to have custom queries on canary vs. stable:

![image](https://user-images.githubusercontent.com/12677113/99843621-b5931900-2b26-11eb-9ddf-8a9298e0cceb.png)

So `version` is a special reserved word that you must apply as a label to your pod spec, in order to get this values populated in metrics. From doc

[2020-11-21 17:27] arghya88 commented on #825
/assign

[2020-11-22 20:05] niscoveanumircea commented on #587
I confirm that this is also happening with :
[code]

![image](https://user-images.githubusercontent.com/22934144/99911086-c09ea280-2cfa-11eb-8a6e-b6b46ce09b79.png)

When I first noticed the 503 NR responses, these kind of responses appeared both when the rollout started and when the rollout ended (right before the termination of the old pods).

Using the following strategy I thought I am going to

[2020-11-23 09:46] agrawal93 opened #863 "Argo Rollouts Operator requires read operations on Secrets"
# Summary
**What do you want to know about this project?**
Argo Rollouts Operator throws the error below, if I revoke all access to Secrets in ClusterRoleBinding. I would like to understand why does Argo Rollouts Operator need privileges to read list of secrets at cluster scope.
[code]

# Motivation
**Why do you need to know this, any examples or use cases you could include?**
As a central Kuberne

[2020-11-23 21:39] alexmt commented on #863
@agrawal93 , secret read is required because secret can be referenced from AnalysysTemplates and AnalysysRun.

[2020-11-24 01:26] agrawal93 commented on #863
AnalysisTemplate and AnalysisRun are at namespace level, so in that case shouldn't the read for secrets be namespace scoped?

[2020-11-25 07:51] ghostx3 opened #864 "ARGO Rollouts with Azure Kubernetes Services (AKS)"
I'm looking for a way to use ARGO Rollouts with Azure AKS. In my case network plugin - Azure - and I'm also using Application Gateway to protect traffic.

Looking for use cases how-to implement ARGO Rollouts in a right way to get more flexibility managing traffic with Canary and BlueGreen scenarios.

I'd like to have native integration with Application Gateway in the first place, but I understand

[2020-11-26 07:03] jay-lee-otsk opened #866 "Ability to restart up to maxUnavailable pods at a time for a bluegreen rollout"
# Summary

By #833 a case for Canary rollout was covered, however a **BlueGreen** rollout object also need this feature.
Note that it is already mentioned in #592 ( I totally cannot understand why it is resolved by #833 )
With this enhancement, any DevOps member could also restart the pod easily from ArgoCD UI. I think it is one of the basic features which this kind of solution should have.

# Use

[2020-11-26 07:20] carlosdoordash commented on #864
Argo Rollouts doesn't manipulate Kubernetes Ingress resources nor Cloud load balancers. Instead, it only updates the Kubernetes Service resource and specifically adds a selector `rollouts-pod-template-hash` to match the ReplicaSet hash of the active pods...

[code]

[2020-11-26 08:16] ghostx3 commented on #864
Hi Carlos, thank you for you reply. Let me draw you attention on this topic: https://argoproj.github.io/argo-rollouts/getting-started/alb/

So it not that true ARGO Rollouts doesn't communicate with Cloud resources and doesn't work with them. We can clearly see in topic: "When looking at the listener rules, we see that the forward action weights _have been modified by the controller_ to reflect th

[2020-11-26 11:19] carlosdoordash commented on #864
Nice! Just to be clear, I only have experience with the blueGreen deployment strategy. From the [traffic management](https://argoproj.github.io/argo-rollouts/features/traffic-management/) doc, it seems that Argo Rollouts does manipulate Cloud resources but only when you use a canary deployment strategy and only by modifying the K8s Ingress resource...

But to answer your original question "Looking

[2020-11-30 01:45] jh-sz commented on #841
Hi @jessesuen, thanks for looking into it again

Sorry, that was a typo, was meant to say `Replicaset-a`.

So similar to the steps you have listed there, after switching the active service to `replicaset-b`, before it runs the postPromotion analysis, it switching back to `replicaset-a`. It's the same behaviour everytime I exec the `retry` command

[2020-12-01 08:27] zionwu opened #869 "Rollout Controller did not creating new pod"
## Summary
In our production env, our apps are deployed using Rollout with readiness probe configured. One day, Due to the issue of a middleware,  some of our apps became NotReady.  After the middleware recovered, we need to restart those apps so we deleted the pods of apps. After the pods are deleted, the new pods are not created by the rollout controller.  We tried to create a new rollout object

[2020-12-01 08:49] msonnleitner opened #870 "Progressive rollout with istio subsets"
# Summary

Is it possible or useful to do automated canary rollouts based on subsets? [Given the following rollout](https://argoproj.github.io/argo-rollouts/features/traffic-management/istio/), I was wondering, if there is any particular reason, that two services are required. Would it not be possible to use one service and two Istio subsets (like v1,v2)

[code]

Could it not potentially done like

[2020-12-01 22:02] jessesuen commented on #869
Rollouts does not manage pods, it manages ReplicaSets. When pods are deleted, it's the responsibility of the ReplicaSet to recreate it.

Could you grep the logs for a single `rollout=XXXXX`. The "Started syncing" messages are not enough.

[2020-12-01 22:03] jessesuen commented on #869
Also, this version is quite old. It's unlikely we'll be able to backport a potential fix to this release

[2020-12-01 22:04] jessesuen commented on #870
This is something we want to do. https://github.com/argoproj/argo-rollouts/issues/617 is tracking the feature request.

[2020-12-01 22:04] #870 closed

[2020-12-02 16:15] davidxia opened #872 "Rollout stuck in Progressing without aborting when (Cluster)AnalysisTemplate is missing required arg"
## Summary

If a Rollout doesn't provide a required arg for a (Cluster)AnalysisTemplate, the Rollout remains stuck on the same step index with a status.conditions[0].type of Progressing indefinitely. I expect the Rollout to transition to an error state and the canary would fail and be rolled back.

## Diagnostics

0.10.0

[code]

My Rollout

[code]

My ClusterAnalysisTemplate

[code]

---

**Messa

[2020-12-02 17:39] dwalker-va commented on #451
My situation is that many apps support different protocols on different ports and they have different Services for this. When I do a rollout, I would like all of the relevant services to be part of the rollout. (Using Istio).

[2020-12-02 23:28] jessesuen commented on #825
Rather than add the values in the template reference, I think we should support these are arguments to the AnalysisTemplate. e.g.:

[code]

and just use normal arg substitution to handle this.

[2020-12-03 00:07] #849 closed

[2020-12-03 02:31] jessesuen opened #878 "requiredForCompletion does not work"
## Summary

Tried using `requiredForCompletion` feature for rollout/experiment/analysis but my experiment kept running forever.

[code]

## Diagnostics

What version of Argo Rollouts are you running? v0.10.0

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-12-03 23:33] jessesuen commented on #451
Thanks for the second use-case, I'll expand the scope of this to include the canary strategy.

[2020-12-04 22:04] kushthedude commented on #619
Hi @alexmt I would like to work on this issue

[2020-12-05 15:59] frejonb opened #881 "Blue green introspection"
I have the following situation. Service A talks to service B. In service A’s configmap I have a variable pointing to B’s service name.

Is there any way that when I rollout a new revision of A, that the environment variable is changed to now point to B’s preview service? For example using kustomize?

I think the promotion phase might be a bit tricky. Any ideas how to solve this issue in rollouts?

[2020-12-05 16:00] debu99 commented on #516
we already use traefik ingressroute for blue/green deployment, we would like to try rollout once it supports traefik

[2020-12-06 00:54] debu99 commented on #516
https://troy.wang/docs/kubernetes/posts/argo-rollouts-support-traefik/

[2020-12-08 01:46] Yorkerrr opened #883 "Missing labels and annotations after last step of canary rollout"
## Summary

I want to implement a canary release with istio as a traffic manager. Everything works as expected but in a result replica-set istio-related annotations and labels are missing. Here is a diff between the initial pod manifest and a final one:

<img width="960" alt="Screen Shot 2020-12-07 at 5 42 20 PM" src="https://user-images.githubusercontent.com/1927829/101427359-90870000-38b3-11eb-8

[2020-12-08 04:03] jessesuen commented on #883
This is a bug. The `canaryMetadata` and `stableMetadata` feature is dropping the injected labels/annotations on the pods. Will prioritize a fix for a v0.10.2 patch.

[2020-12-08 14:41] derekperkins commented on #473
Other argo projects are dealing with this too.
https://github.com/argoproj/gitops-engine/issues/56

[2020-12-08 16:49] niscoveanumircea commented on #587
The previously described behavior is not reproducing with Istio 1.8.0 !

[2020-12-08 19:57] hjanuschka commented on #538
since kubernetes-sigs/kustomize#2339 still not merged, for others who might stumble upon this.

i just used `Deployment`  in the whole kustomize pipeline.
and later on changing resource kind to `Rollout`

kustomization.yaml

[code]

transform_to_rollout.json
[code]

if you'd used "commonLables" you also might need to change/add some of them.

[2020-12-10 00:35] #582 closed

[2020-12-10 00:39] eroji opened #890 "ArgoCD can't apply kustomization with rollout"
I followed the instructions on installing argo-rollouts and I was already using ArgoCD for deployments. However, when I included the rollout strat YAML, I'm getting the following error when I attempt to sync. What am I doing wrong?

Error
[code]

rollout.yaml
[code]

[2020-12-10 02:49] soulseen opened #891 "provide health check for argo-rollout controller"
# Summary

provide a health check for argo-rollout controller.
according to the install file https://github.com/argoproj/argo-rollouts/blob/master/manifests/install.yaml#L15034, it does not have the readiness and liveness probes.

[2020-12-10 02:50] soulseen commented on #891
@jessesuen pls take a look at this issue. thanks a lot.

[2020-12-10 15:50] makzzz1986 opened #893 "Does NewRelic provider support secretKeyRef?"
# Summary

Old-fashion Web provider supports arguments from .spec, so I can use [ExternalSecrets](https://github.com/external-secrets/kubernetes-external-secrets), for example:
[code]

I couldn't find a way how I can use ExternalSecrets with NewRelic provider, I should hardcode Token in a Secret manifest.
So the question is:
* How can I use `secretKeyRef` to provide a token for NewRelic analysis p

[2020-12-10 16:08] #893 closed

[2020-12-11 05:36] #863 closed

[2020-12-11 05:43] #864 closed

[2020-12-11 05:47] #890 closed

[2020-12-11 05:52] #881 closed

[2020-12-11 05:52] #792 closed

[2020-12-11 08:25] makzzz1986 commented on #893
ExternalSecrets creates Secret files with key names, so it is possible to create put variables with keys like /path/personal-api-key, /path/account-id, /path/region and obtain it by
[code]

[2020-12-11 09:31] makzzz1986 opened #895 "NewRelic provider gets a personal-token with trailing new line and ruin net/http"
## Summary

@jwelch92
I follow a [documentation](https://argoproj.github.io/argo-rollouts/analysis/newrelic/)
I have a Secret:
[code]
`AnalysisRun` fails with error:
[code]
When I do
```echo BASE64APITOKEN|base64 -d```
I get a correct result, without a new line character

## Diagnostics

Argo Rollouts 0.10.1
K8S 1.18

[code]
ime="2020-12-11T09:28:44Z" level=info msg="Event(v1.ObjectReference{Kind:

[2020-12-11 09:36] makzzz1986 commented on #895
@jwelch92 I can try to make a PR with a fix, but I'm totally noob in open source and Golang :roll_eyes:

[2020-12-11 09:44] makzzz1986 commented on #895
Ah, maybe base64 encoded it with new line

[2020-12-11 09:48] #895 closed

[2020-12-11 09:49] makzzz1986 commented on #895
echo and base64 fool me :disappointed:

[2020-12-12 03:02] jessesuen commented on #891
Since the rollout controller is not a web service (aside from metrics endpoint), there is no need for an indicator to Kubernetes that the container is ready to receive traffic and added to the Endpoints list. What are you expecting in terms of a readiness probe?

Similarly, liveness probes are only intended to be used if the container is in an unrecoverable state which can only be fixed with a ter

[2020-12-14 08:32] bharthi31 opened #896 "Canary based traffic management using Citrix Ingress controller."
# Summary

Enable canary based traffic management using Citrix Ingress controller.

# Use Cases

Customers using Argo Rollouts for canary deployment should be able to manage traffic using Citrix Ingress Controller.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-12-14 23:12] kcboschert opened #900 "Automatically terminate Experiments without durations in Rollout steps"
# Summary

Experiments attached to Rollout steps currently either:
1. run for the specified `duration`
2. run until a user manually terminates the experiment

We'd like to avoid defining an arbitrary duration for our use case below and have the Experiment terminate automatically once the analyses attached to the experiment have completed.

# Use Cases

We're starting an experiment during our canar

[2020-12-14 23:43] jessesuen commented on #900
Duplicate of https://github.com/argoproj/argo-rollouts/issues/878

This actually a bug. We have a field which is supposed to allow for this, but it doesn't appear to be working

[2020-12-14 23:43] #900 closed

[2020-12-15 19:37] jessesuen opened #908 "Pod restart feature is not honoring PDBs"
## Summary

The restart pod feature uses normal Pod delete API, and not the evict API. This means that any pod disruption budget is not being honored.

## Diagnostics

What version of Argo Rollouts are you running? v0.10.1

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2020-12-15 22:02] #869 closed

[2020-12-16 09:36] #878 closed

[2020-12-16 10:11] #883 closed

[2020-12-16 20:35] RochesterinNYC commented on #455
The implementation of #770 and some internal changes to our metrics emission shim to attach a special tag to metrics emitted from canary Pods has allowed us to do baseline vs. canary comparisons during rollout analysis.

As a follow-up to this, we have a few use cases where we want to do baseline vs. canary comparisons for a few metrics that are emitted from some very common K8s metric tools:
- Ex

[2020-12-17 05:43] jessesuen opened #911 "Inject version label on pods to support istio destionation_version queries"
With istio, `version` is a special reserved word that can be applied as a label to pod specs, in order to get this values populated in metrics. From docs (https://istio.io/latest/docs/ops/deployment/requirements/#pod-requirements):

* **Pods with app and version labels**: We recommend adding an explicit app label and version label to the specification of the pods deployed using a Kubernetes Deploy

[2020-12-17 05:46] #908 closed

[2020-12-17 21:18] jessesuen opened #913 "E2E tests timeout with `waiting for rollout spec update to be observed`"
## Summary

E2E tests flake and timeout randomly with error: "waiting for rollout spec update to be observed". Example:

[code]

The underlying problem is the observedGeneration recorded in status, is older than the metadata.generation and the controller is not reconciling the new version.

This might be a test specific issue, or could be a problem where we do not requeue rollouts properly.

[2020-12-17 23:59] jessesuen commented on #900
Fixed in v0.10.2 (now released)

[2020-12-17 23:59] jessesuen commented on #883
Fixed in v0.10.2 (now released)

[2020-12-17 23:59] jessesuen commented on #908
Fixed in v0.10.2 (now released)

[2020-12-18 00:02] jessesuen commented on #869
The rollout should have a condition explaining the problem. Usually because one of the resources the rollout depends on is not valid or misconfigured (e.g. an istio virtual service). The plugin will display this (as will Argo CD when clicking on the resource). But as of now, theres just not enough information to go off of to do anything.

[2020-12-18 03:57] Yorkerrr opened #914 "ISTIO_META_WORKLOAD_NAME is not as expected"
## Summary

Pods with injected istio sidecar have ISTIO_META_WORKLOAD_NAME and ISTIO_META_OWNER updated with a suffix of replica-set.

<img width="581" alt="Screen Shot 2020-12-17 at 7 54 25 PM" src="https://user-images.githubusercontent.com/1927829/102572741-b5dcf080-40a1-11eb-9ca0-296e2617fb26.png">

Expected:
        - name: ISTIO_META_WORKLOAD_NAME
          value: example
        - name: ISTI

[2020-12-18 21:52] jessesuen commented on #914
I think this might be an istio issue where they are assuming the use of a Deployment and not considering something like Rollout as the owner resource. Could you raise an issue there?

[2020-12-19 00:14] Yorkerrr commented on #914
@jessesuen thank you for the reply, looks like here is a place where deployment metadata is grabbed: https://github.com/istio/istio/blob/master/pkg/kube/inject/inject.go#L564
`deploymentMetadata = outValue.FieldByName("ObjectMeta").Addr().Interface().(*metav1.ObjectMeta)`
Value for the `ISTIO_META_WORKLOAD_NAME` is taken from `deploymentMetadata.Name`. is that expected that ObjectMeta.Name of Roll

[2020-12-22 21:55] asoorm opened #922 "Support Tyk Ingress / Tyk ApiDefinition. Plugin system to support more ingresses in a generic way"
# Summary

I am currently working on the https://github.com/TykTechnologies/tyk-operator/ which contains an ingress controller & an API Definition Controller (Custom Resource Definition).

I have 2 customers currently asking us to reach out to you about getting Argo Rollouts integrated.

I'm happy to give it a go - and help contribute the integration for the short-term.

For the medium-longer term

[2020-12-22 21:59] jessesuen commented on #922
This is the purpose of the [SMI spec](https://smi-spec.io/). In fact, using the SMI spec is how we are able to integrate with Linkerd using the SMI's TrafficSplit object (there is no linkerd specific integration). Ideally we will avoid tight integrations with specific controllers and the controllers would adopt this standard.

[2020-12-22 22:31] asoorm commented on #922
Thanks @jessesuen for the quick reply. I think i'm a little lost - maybe im missing something.

Tyk is not a service mesh. It's an ingress API Gateway. I have yet to see an ingress controller implement the SMI spec, only service meshes. I've been looking a bit into the SMI spec - but only see it as useful for describing service-service communication. For Ingress, we have the official Ingress Speci

[2020-12-23 07:08] futayamaji opened #925 "Failed to run AnalysisRun with "spec.replicas" and "spec.template" changes at same time"
## Summary

I tried to run argo rollouts analysis. When I first changed `spec.replicas` and `spec.template.spec.containers.livenessProbe` at same time, AnalysisRun was correctly started. **However, it was not running at second time**.

Is it a bug, or just included some misconfiguration at manifest files?

[code]

## Diagnostics

### environments

* Argo Rollouts version: ```v0.10.2```
* Argo Roll

[2020-12-25 13:06] zcc35357949 opened #926 "analysis run always recreate when rollout under canary pause status"
## Summary

What happened/what you expected to happen?
I create a rollout with background web analysis. I config analysis args to make the analysis run always become inconclusive status.However, the controller keep creating new analysis runs and these analysis runs will be deleted until rs deleted.

if rollout has been paused by inconclusive analysis run, analysis creation will skip.
https://githu

[2020-12-28 20:59] #891 closed

[2020-12-29 07:33] Eslamanwar commented on #532
We face the same issue , as we cant use Experiment CRD as Kayenta-style analysis to compare canaries against an additional baseline deployment brought up at the same time. as we using Istio traffic management features and not weighted-replica-count canary . any feature plan to implement it as it is standard way to implement baseline approach in Canary.

[2021-01-04 22:38] jessesuen commented on #866
Changes necessary are:
1. introduce `maxUnavailable` to `spec.strategy.blueGreen`
2. pod restarter reconciler will honor that value during a restart

NOTE:
* not sure if we can re-use the canary maxUnavailable calculation but if we cannot, then maxUnavailable should be 20% of available.

[2021-01-08 21:39] #825 closed

[2021-01-12 00:08] jessesuen opened #935 "Additional prometheus metric for deploys, analysis"
# Summary

Any time a spec changes that triggers a new rollout, we should increment a prometheus counter on a new deploy. Similarly, we should have counters/gauges for analysis such as when analysis is running, completed, measurements are successful, completed.

# Use Cases

I primarily would like this to monitor deploy activity as part of operating the controller and to gather usage information.

[2021-01-12 02:39] jessesuen commented on #866
Actually I mispoke. maxUnavailable defaults to 0 so we would restart 1 pod at a time, not 20%.

[2021-01-12 19:17] jessesuen commented on #866
I mispoke again. Here is the truth looking at k8s source code:

[code]

We are not defaulting to 25% when restarting pods using the canary strategy so that's a bug that needs to be fixed.

[2021-01-12 19:32] jessesuen opened #938 "Canary strategy is not defaulting maxUnavailable to 25%"
## Summary

The canary strategy is supposed to behave like a Deployment rollingUpdate strategy by defaulting both maxUnavailable and maxSurge to 25%.

While maxSurge does seem to be defaulting to 25%, maxUnavailable appears to be defaulting to 0.

## Diagnostics

What version of Argo Rollouts are you running?

v0.10.2 but I tested with v0.8.2 and v0.6.3 those versions also exhibit the same behavio

[2021-01-12 19:47] jessesuen commented on #938
@dthomson25 helped me pinpoint the bug to here:

https://github.com/argoproj/argo-rollouts/commit/c8d7de4a7ce26b5a84df0f77daf8ad9e7c93073f#diff-460e0448455cae92ce052a3a2d029eb1e38a2c1d9c29c994e5128cae2a7e44c9R17

[2021-01-12 20:45] jessesuen commented on #926
It was intentional design decision to rerun the analysis until it passed. So when a rollout is paused because of an Inconclusive AnalysisRun, when the rollout is resumed it will recreate the analysis.

There is a mechanism to skip analysis if analysis is inconclusive and you don't want to run it again. When the rollout is paused because of an inconclusive analysisrun step, you can skip that step a

[2021-01-12 23:52] jessesuen opened #939 "ProgressDeadlineExceeded condition not cleared in a paused blueGreen rollout"
## Summary

When investigating a blueGreen rollout which was considered degraded because it had a ProgressDeadlineExceeded timeout condition, I noticed the pods were actually ready/available even though the condition was still set.

I think there may be a bug where the controller doesn't ever clear ProgressDeadlineExceeded once it reaches that condition.

## Diagnostics

What version of Argo Rollo

[2021-01-13 01:26] jessesuen commented on #939
I can reproduce this with the following rollout. The key part of reproducing this is: `autoPromotionEnabled: false`.

[code]

Even though both stacks are ready, the rollout is still considered Degraded:

[code]

[2021-01-13 01:38] jessesuen commented on #939
This does **not** affect a canary rollout which hit a progressDeadlineSeconds timeout at a pause step. I tried with the following rollout:

[code]

The rollout did degrade as expected after 10 seconds, but the ProgressDeadlineExceeded condition cleared once the pod reached readiness:

[code]

[2021-01-13 15:18] artem-nefedov opened #941 "Option to scale down current stack upon abort"
## Summary

What happened/what you expected to happen?

If you run analysis as a step after `setCanaryScale` and it fails, canary replicas created by `setCanaryScale` will run indefinitely (until new version is deployed) after rollback is performed, even though they are never going to be used for anything. It should either be cleaned up by default (similar to replicas created by `setWeight`), or t

[2021-01-13 15:41] artem-nefedov opened #942 "Rollout stuck in "Progressing" indefinitely after failed experiment"
## Summary

What happened/what you expected to happen?

Rollout would be forever stuck in "Progressing" after experiment with analysis failed.
Running `kubectl argo rollouts abort` does not help, but `kubectl argo rollouts restart` does.

It seems that it is only reproduced if the same experiment was already run successfully in the same rollout once prior to this.

Rollout strategy:

[code]

## Di

[2021-01-13 19:19] kcboschert opened #943 "Experiment marked as Successful while an AnalysisRun that eventually fails is still running"
## Summary

We have a Rollout that is configured to stand up both a cold stable/control pod along with a cold canary pod as an Experiment that runs for a 90 second duration. During the experiment, we run an analysis template that gives the stable and canary pods some time to send metrics off to DataDog (initialDelay of 50 seconds), and then checks the difference of the errors between the two exper

[2021-01-13 19:49] jessesuen commented on #941
When you say "after rollback is performed" do you mean when the rollout is aborted? If so, this is the current design. The rationale was that retrying analysis would not have to redo all the spin-up time of scheduling pods, and warm up. Note that BlueGreen has a similar behavior in that the new stack is not terminated when rollback is aborted caused by analysis failure.

This is not the first time

[2021-01-13 20:03] artem-nefedov commented on #941
Yes, I mean when it is aborted automatically due to new version failing on analysis.

Yes, I believe that would do it.

[2021-01-13 21:28] MarkSRobinson opened #944 "kubectl argo rollouts create segfaults"
## Summary

I ran  `kubectl argo rollouts create -f analysis-run.yaml -n msr-test` and I got

[code]

analysis-run.yaml
[code]

## Diagnostics

[code]

What version of Argo Rollouts are you running?

[code]
# Paste the logs from the rollout controller

No logs emitted from controller.

[code]

[2021-01-13 22:36] jessesuen commented on #944
Fixed in https://github.com/argoproj/argo-rollouts/pull/932

[2021-01-13 22:36] #944 closed

[2021-01-15 00:22] jessesuen commented on #553
This is fixed

[2021-01-15 00:22] #553 closed

[2021-01-18 05:08] takata-ast opened #955 "When scaleDownDelaySeconds is specified, the controller doesn't cancel AnalysisRuns."
## Summary

AS Docs(https://argoproj.github.io/argo-rollouts/features/bluegreen/),
A part of "postPromotionAnalysis" says
"If scaleDownDelaySeconds is specified, the controller will cancel any AnalysisRuns at time of scaleDownDelay to scale down the ReplicaSet. "

But even scaleDownDelaySeconds is specifed, it will scale down the ReplicaSet only after the AnalysisRun completes.

## Diagnostics

ve

[2021-01-18 09:14] ahmetavc commented on #521
@jessesuen I am facing the same issue. My version is: Image: argoproj/argo-rollouts:v0.10.2
<img width="867" alt="Screen Shot 2021-01-18 at 12 10 28" src="https://user-images.githubusercontent.com/22712578/104895283-bb6e7480-5986-11eb-9f60-35e7e98d721d.png">

[2021-01-19 07:17] snuggie12 commented on #620
After reading over rollouts and istio more this will definitely work for any services for east/west traffic, but any north/south traffic that goes through gloo will not work.

So this would be requesting that gloo gets added to the list as a standalone api gateway probably most similar to the nginx IC.

[2021-01-20 20:46] jessesuen commented on #955
I think the docs are wrong. The scaleDownDelaySeconds countdown (which is defaulted to 30s) should only happen **after** postPromotionAnalysis completes, after we consider the new ReplicaSet as the stable version.

The sequence of events is:

1. scale up preview stack
2. run prePromotionAnalysis (wait for success)
3. pause (if `autoPromotionEnabled: false`)
4. switch active service selector to new

[2021-01-21 16:06] vito-laurenza-zocdoc opened #958 "Support triggering rollout when referenced ConfigMaps and/or Secrets change"
# Summary

Support for optionally triggering a rollout when one or more referenced ConfigMaps and/or Secrets change.

# Use Cases

Deployments can often be config changes only. It would be useful if a rollout could optionally happen when underlying ConfigMaps and/or Secrets used by the Deployment (as volume mounts, environment vars) are changed.

---

**Message from the maintainers**:

Impacted by

[2021-01-22 07:08] zcc35357949 commented on #926
OK，but it seem that there is no mechanism to gc these Inconclusive AnalysisRuns if the rollout stay this step for a long time.

[2021-01-27 16:53] argee5285 commented on #451
@jessesuen : Greetings! Is the feature now available to have multiple services rollout in one deployment? We have a deployment where we have multiple services (external - node port) and internal (cluster-ip), mapped to one deployment. We are looking out at using the Fargo based rollouts (blue-green) to enable that.

[2021-01-28 22:35] derekperkins commented on #528
I'd be interested

[2021-02-01 22:13] #701 closed

[2021-02-02 20:11] jstewart612 opened #970 "Rewrite Pod Topology Spread Constraints label selectors"
# Summary

Rewrite Pod Topology Spread Constraints label selectors if they use a label Argo Rollouts would normally modify on a rollout.

# Use Cases

Any time I wanted to use a Pod Topology Spread Constraint on a Deployment in a Rollout.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-02-02 20:26] leoluz commented on #369
Hi Argo Team!

I'm currently working on a project where this functionality would be really interesting to have. I see that it was removed from the planned milestones. I wanted to confirm that there is no planned work related to this? If this is confirmed I might have the bandwidth to implement it.

Please let me know.

Thank you!

[2021-02-03 14:40] leoluz opened #972 "Support Ambassador AES as a traffic router for canary rollouts"
# Summary

Add support for Ambassador AES to be used as a traffic router during canary rollouts.

What change needs making?

Provide a new `TrafficRoutingReconciler` implementation leveraging Ambassador AES canary deployment capabilities.

# Use Cases

When would you use this?

As a user of ArgoRollouts I want to be able to choose my existing Ambassador API gateway to control traffic during canary

[2021-02-03 19:06] cooperbenson-qz commented on #455
Is there any reason this wasn't implemented for the BlueGreen strategy as well? I'm looking to file a PR adding it, but wanted to see if there were any reasons that would be a bad idea

[2021-02-04 19:18] cooperbenson-qz opened #973 "Add Ephemeral Metadata for Blue Green strategy"
# Summary

Functionality for setting ephemeral metadata for Canary rollouts was proposed in #455 and implemented in #770. I would like to extend this functionality to the BlueGreen strategy as well. This would be done by adding `previewMetadata` and `activeMetadata` to the BlueGreen spec and using similar reconciliation logic to apply them to the replicasets and pods.

# Use Cases

Same use cases

[2021-02-04 19:20] cooperbenson-qz commented on #973
I'm planning on authoring a PR for this if there are no objections to the proposed implementation 😄

[2021-02-04 21:04] jessesuen commented on #973
@cooperbenson-qz this sounds great to have parity for blue-green. No objections to the proposal or you working on this. I'll assign the issue to you. Thanks!

[2021-02-04 21:05] jessesuen commented on #970
@jstewart612 I dont quite understand the feature request here. Could you add some more details about the use case and how rollouts would address it?

[2021-02-05 02:08] #866 closed

[2021-02-05 03:10] jstewart612 commented on #970
*looks up*

*sees Argo Rollouts*

That's not Argo CD....

Oops!

[2021-02-05 03:10] #970 closed

[2021-02-05 20:48] benchi opened #980 "Pull Requests still use CLA assistant, which is no longer required with DCO"
## Summary

What happened/what you expected to happen?

I opened a PR and signed commits with DCO.
In the build, it was detected that I had not signed CLA.
<img width="840" alt="Screen Shot 2021-02-05 at 12 47 59 PM" src="https://user-images.githubusercontent.com/960184/107087547-716ff600-67b0-11eb-8013-bf6f211a1492.png">

## Diagnostics

What version of Argo Rollouts are you running?
n/a
[code]

[2021-02-06 00:47] jessesuen commented on #980
Fixed in https://github.com/argoproj/argo-rollouts/pull/979

[2021-02-06 00:47] #980 closed

[2021-02-06 02:16] jessesuen commented on #914
Looked into this, it appears to choose the ReplicaSet name based on this logic:
https://github.com/istio/istio/blob/96f8bc126f5cd81cf84f5dd23ffd3b8d66e90ed7/pkg/kube/util.go#L185-L200

Since we do not use `pod-template-hash` but instead use `rollout-pod-template-hash`, it stops at setting the workload name as the resource owner name (i.e. the ReplicaSet).

I'm checking if there is a way to control

[2021-02-06 02:23] jessesuen commented on #914
It appears there is a TODO to recurse the owners, until the top-level parent is found:

[code]

https://github.com/istio/istio/blob/96f8bc126f5cd81cf84f5dd23ffd3b8d66e90ed7/pkg/kube/util.go#L161

[2021-02-09 19:40] jessesuen commented on #676
We're investigating a way to do a reference model due to the following motivations:

* CRDs (e.g. Rollouts) are not supported well in kustomize, and strategic merge patches simply don't work expected with a Rollout because lists will be replaced and not merged. By referencing a native Kubernetes kind, kustomize would still work against the k8s native, referenced object, which is the portion of the

[2021-02-10 01:12] #973 closed

[2021-02-10 01:15] #938 closed

[2021-02-10 05:57] resouer commented on #676
Yeah, I can get the motivation of your new proposal (i.e. treating user's Deployment as a "UI"). And yes, it can not solve the problem that we need to rollout the custom workloads like CloneSet etc. I'd assume it could address some folks' concerns (i.e. they can not use Deployment.

[2021-02-11 20:52] dudadornelles opened #987 "Analysis template support for interpolation in args"
# Summary

It would be interesting to support interpolation on args, e.g:

[code]

# Use Cases

We use kustomize for building manifests and without something like this, we have to override the whole query every time, whereas if this kind of interpolation was available, I'd have the cluster analysis template define the correct value and Id just override the `query` (and omit the `environment`) only

[2021-02-12 01:12] aarosil opened #988 "`app wait --suspended` hangs instead of returning prompt"
## Summary
I have app in suspended state, but following command hangs, instead of returning the prompt
[code]
## What happened/what you expected to happen?
I expected this command will return the prompt once the app shows suspended state due to rollout paused

## Diagnostics

## What version of Argo Rollouts are you running?
1.8.2

## CLI config:
[code]

## `argocd app get xxxx` output:
[code]

##

[2021-02-12 09:14] gaurav517 opened #989 "indefinite pause: ability to specify duration"
# Summary
Currently to pause indefinitely, we need to specify pause as `{}` which is fine:
[code]
However enhancement is that we should also be able to specify duration in such cases. For example: `- pause: { duration : -1 }` for indefinite pause or `- pause: { duration : 'infinity' }`.

# Use Cases

There are use cases when we prune all empty objects in manifests and then `- pause: {}` gets prune

[2021-02-13 02:05] jessesuen commented on #989
I would argue you shouldn't be doing this. There are countless examples where an empty struct is significant in meaning. `emptyDir: {}` is one example.

[code]

[2021-02-13 02:08] jessesuen commented on #958
A common technique to solving this is:
* helm - hash contents of configmap/secret and include it as an annotation in the pod.
* kustomize - use kustomize configmap/secret generators so that the name of the configmap/secret incorporates a hash of the contents of the config

[2021-02-13 02:10] #587 closed

[2021-02-13 02:10] #617 closed

[2021-02-13 05:35] jessesuen opened #990 "blue-green rollouts could pause prematurely during prePromotionAnalysis"
## Summary

The TestBlueGreenAnalysis intermittently fails with the following:

[code]

[code]

I managed to capture controller logs around the time of test:

[code]

## Diagnostics

What version of Argo Rollouts are you running? v1.0 https://github.com/argoproj/argo-rollouts/commit/c8eb953db1cf538fb5dfd36d47d86300aa918ce3

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give

[2021-02-13 05:41] jessesuen commented on #990
It appears the controller paused the rollout, unpaused it (as a result of the test promoting the rollout), and then paused it again:

[code]

[code]

[code]

[2021-02-15 11:21] yfried opened #992 "Rollout object doesn't enforce volume length"
## Summary

Creating a rollout object with volume name longer than 63 characters should fail.
But instead it hangs with `ReplicaSetCreateError`

## Diagnostics

What version of Argo Rollouts are you running?
helm chart version `argo-helm/argo-rollouts:0.3.6`
docker image: `argoproj/argo-rollouts:v0.8.3`

[code]

I'm guessing this should be handled the same way as this [issue](https://github.com/ku

[2021-02-17 01:28] jessesuen commented on #990
This is easily reproducible with the following modification to the test:

[code]

It seems there is a real bug in that we should not have paused the rollout until prePromotionAnalysis completed

[2021-02-17 17:18] PedroArvela opened #995 "Ignore stable availability during canary updates"
## Summary

If an existing rollout's revision has containers not ready or in CrashLoopBackoff, attempting to roll out a new version using the Canary strategy will be stuck in "more replicas need to be updated". After several minutes it returns Degraded with "ReplicaSet "_canary revision_" has timed out progressing.", even though all pods of that ReplicaSet are ready.

Steps:

1. Create a Rollout w

[2021-02-17 21:06] jessesuen commented on #995
We actually have a test for this (https://github.com/argoproj/argo-rollouts/blob/1c93ebc75131adde85c1086e4a5458e6f666372c/test/e2e/functional_test.go#L371), so I'm surprised you are experiencing this.

Which version of Rollouts?

[2021-02-17 21:17] leoluz commented on #972
# Overview

The general idea of this implementation is leveraging [Ambassador canary releases feature](https://www.getambassador.io/docs/latest/topics/using/canary/) integrating it and making it compatible with Argo Rollouts canary deployments. Ambassador canary releases have a very similar weight based concept used to route traffic. Ambassador will be monitoring its `Mapping` resource in order to

[2021-02-17 21:30] #459 closed

[2021-02-18 12:49] PedroArvela commented on #995
We are using argo rollouts 0.10.2, installed through the manifests in https://github.com/argoproj/argo-rollouts/blob/v0.10.2/manifests/install.yaml

We are using it in an EKS 1.16.15 cluster.

I did some additional tests, and this is what I could find.

I created the docker image specified in this repo: https://github.com/PedroArvela/http-echo/tree/http-fail-endpoint

This is a fork from hashicorp

[2021-02-22 03:55] #989 closed

[2021-02-23 11:17] rawc0der opened #1003 "SharedResourceWarning Errors when Argo is self managing Umbrella type applications."
## Summary
Encountered a setup which creates all sorts of problems.
I created an Umbrella application (Argo Application CRD referencing itself and other Applications from a folder path).
The reason for this setup is that Umbrella app is reading all the Application manifests from single folder, which further spawns the entire graph of dependencies.
I don't know if this type of setup is bad because

[2021-02-24 05:35] daleront opened #1004 "function "args" not defined when using AnalysisTemplate with datadog"
## Summary

Recently upgraded to v0.10.2 to use the datadog provider analysis for rollouts.

NOTE: This works fine as an inline analysis but I would would like to use and AnalysisTemplate for scalability

When passing in args to an AnalysisTemplate from an canary analysis I am getting the error:

[code]

# Rollout

[code]

# AnalysisTemplate

[code]

Impacted by this bug? Give it a 👍. We prioritiz

[2021-02-24 08:55] andreasevers opened #1005 "Kayenta demo setup problems"
## Summary

Hi folks.
I’m trying to get a demo running the Kayenta analysis experiments. It seems there’s some drift between [the documentation](https://argoproj.github.io/argo-rollouts/analysis/kayenta/) and the actual controller.
E.g:

It's unclear from the docs how the `args.start-time` and `args.end-time` arguments get filled in.

## Diagnostics

What version of Argo Rollouts are you running?

[2021-02-24 09:44] jessesuen opened #1006 "Analysis evaluation errors are not surfaced"
## Summary

When trying a metric query, I made a user error comparing mismatched types (array to float). However, the rollout controller did not surface this.

## Diagnostics

What version of Argo Rollouts are you running? v0.10.2

[code]

[code]

[2021-02-24 13:40] jessesuen commented on #1004
I believe this error is coming from whatever templating tool you are using to manage the YAML. Seems like you are using helm

[2021-02-24 20:00] jessesuen opened #1008 "AnalysisRun query error was not retried in 10 seconds"
## Summary

When an AnalysisRun hits an `Error`, it is supposed to retry after 10 seconds. Instead, it retried the user specified interval, which was 5 minutes.

## Diagnostics

What version of Argo Rollouts are you running? v0.10.2

[code]

[2021-02-25 20:17] #990 closed

[2021-02-25 20:17] jessesuen commented on #408
Fixed

[2021-02-25 20:17] #408 closed

[2021-02-26 01:53] jessesuen opened #1012 "Wavefront needs longer lookback period"
## Summary

Currently, our wavefront implementation makes a query using the start/end times using the time when the measurement is being made. However, this results in the problem where there may be no results in the time series, resulting in the error: `No TimeSeries found in response from Wavefront`.

We need to lower the start time in order to capture more data points in the series. Instead of

[2021-02-26 20:51] jessesuen opened #1014 "Support CloudWatch as a metric provider"
# Summary

It would be useful to gather metrics from AWS CloudWatch to drive analysis

# Use Cases

For users who are using integrations such as ALB ingress, error rate and latency would be metrics that could be used to drive rollout promotion.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-02-28 22:29] daleront commented on #1004
Hi @jessesuen

Thanks for your comment which helped me narrow down the issue. I looked further into the issues with some help and it turns out that the entire query is passed as a variable with helm, so has to be wrapped in {{' '}}.

e.g. {{' sum:http_requests_received_total{service:{{args.service-name}},!code:200} / sum:http_requests_received_total{service:{{args.service-name}},code:200}' }}

[2021-02-28 22:29] #1004 closed

[2021-03-01 01:35] #939 closed

[2021-03-02 16:01] olfway opened #1020 "Allow setCanaryScale step without traffic management"
# Summary

Add support for starting new version without production traffic and without traffic management

# Use Cases

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-03-02 19:01] jessesuen commented on #1020
This is not possible fundamentally because of the way label selectors work with services. The new canary will have the same labels as the stable stack, and so the selector will choose it.

That said, the way you can achieve your use case while using basic canary, is to launch an experiment step, which will have different labels which are unique to the experiment. The experiment pod will have a set

[2021-03-02 19:03] jessesuen commented on #1020
Example:

[code]

[2021-03-02 19:29] olfway commented on #1020
Thanks for the workaround, I'll try to test it

I thought that "production" service could be updated the same way as stableService until setWeight step is run with weight > 0

[2021-03-03 11:05] jessesuen commented on #1012
After further testing & investigation, I discovered that the wavefront query parameter `SeriesOutsideTimeWindow` affects the results the most.

Here is the wavefront description of this option from their query API:
[code]
https://code.vmware.com/apis/714/wavefront-rest#/Query/queryApi

I played around the options and found the following:
* maxPoints: 1, SeriesOutsideTimeWindow: false =  no datapoi

[2021-03-04 23:40] aweis89 opened #1026 "Canary SVC shouldn't target the new RS until first batch of canary Pods are ready"
# Summary
Currently, as soon as a canary rollout begins, the controller will add the canary selector labels to the canary SVC. This means for a brief period until the first canary Pods are ready, the canary Endpiont has no available IPs. Any routing to the canary SVC, will thus experience downtime for this period.

This proposal is to wait for the first batch of Pods to be ready before adding the

[2021-03-09 11:34] #1026 closed

[2021-03-09 11:42] kostis-codefresh opened #1028 "404 error in docs for "spec""
In the home page there is the text "There is more information on the behaviors of each strategy in the spec section."

The "spec" word is linked to https://argoproj.github.io/argo-rollouts/spec/ which is currently a 404

[2021-03-09 11:44] #1006 closed

[2021-03-09 11:44] #1008 closed

[2021-03-09 11:44] #1012 closed

[2021-03-09 16:48] aweis89 commented on #474
One thing to note, if the desired behavior is simply to always route matching header rules to the canary pods whenever they're available, and target the stable pods otherwise, this is currently achievable. Any traffic rule that only targets the canary SVC, will now meet those requirements (https://github.com/argoproj/argo-rollouts/pull/1022).

For example with Istio, you can now do:
[code]

Of cou

[2021-03-09 18:26] aweis89 commented on #474
One solution I was wondering that may broaden the use-cases, as well as make this feature more maintainable, would be to add a generic `patch` step. The patch step would have a resource ref and a patch to apply to said resource. This could enable us to make any modification to any resource at any point of the rollout, leaving much of the above concerns to the end-user to decide. Perhaps we can eve

[2021-03-10 10:28] jessesuen opened #1029 "Ability to control stable scale when using traffic routing"
# Summary

When using traffic routing with canary, the stable stack is never scaled down, until the rollout is fully promoted. This means that we are double the number of total replicas in the environment eventually (when the traffic weight reaches 100). The reasons for doing so are explained here: https://github.com/argoproj/argo-rollouts/issues/430#issuecomment-595995434

However, some users hav

[2021-03-10 16:23] kostis-codefresh opened #1030 "argo rollouts resume command does not exist"
In the blue/green example the command `kubectl argo rollouts resume ROLLOUT` is mentioned as a way to resume a blue/green deployment. https://github.com/argoproj/argo-rollouts/blob/master/examples/rollout-bluegreen.yaml#L36

However this command does not exist

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-03-10 17:59] aweis89 opened #1032 "Tip of master Rollout complains about missing AnalysisTemplate arg"
## Summary

Built and deployed the latest mater branch, and was getting an error `"argument \"message\" was not supplied"` even though the argument was present in the rollout. Unfortunately, I've already reverted to `v0.10` and so don't have any live examples to pull logs from. If a basic Rollout with an AnalysisTemplate ref and args doesn't reproduce the issue, I can try to do so again though. Re

[2021-03-12 13:34] kostis-codefresh opened #1033 "Provide an official container image with the kubectl rollouts plugin"
I couldn't find an official docker image with kubectl rollouts plugin.

Having a container image with the plugin would be great for container based CI/CD systems such as Google cloud builder, Codefresh, CircleCI, drone.io etc.

Even though I could easily create a docker image myself with the latest plugin, it would be great if Argo would do that automatically in your CI/CD system so that each new

[2021-03-17 00:49] #1030 closed

[2021-03-17 00:50] #1028 closed

[2021-03-18 14:04] kostis-codefresh commented on #403
@dthomson25 I would like to understand better what is the current manual process of creating a release

"Cherry-pick changes into the branch". What changes are exactly chosen? Is the release just what is on the master branch at any given time or something different happens?

Is there a document that explains now how each release happens?

[2021-03-18 18:32] jessesuen commented on #1033
There's an upcoming feature where the [plugin will serve a UI to visualize rollouts](https://github.com/argoproj/argo-rollouts/pull/1015 ). So it will make sense to make that available in a container image for those who want to expose this somehow.

[2021-03-19 10:27] #1032 closed

[2021-03-19 21:08] #955 closed

[2021-03-20 17:57] nestorsokil commented on #1029
Hey, came in to create a ticket for this and then saw it's already here :)
I think that's a very important feature to have. For my use case the bloated pods during canary is probably the only problem with using rollouts.

[2021-03-22 09:19] kostis-codefresh commented on #323
@jessesuen Is this issue blocked by something? Why not add this diagram to the docs?

If it it not up-to-date I would be happy to create another.

[2021-03-23 15:35] PedroArvela opened #1043 "Resource requests/limits are ignored by Kubernetes"
## Summary

When trying to apply resource requests/limits to a rollout the apply succeeds, but the resulting object in the API service has resources set as an empty object.

Anderson Silva in the Slack channel found this was related to the CRD for Rollouts defining the `resources` just as an object without any elements. By patching the additional elements the CRD would work.

This seems like a reg

[2021-03-24 22:38] #596 closed

[2021-03-24 23:19] jessesuen opened #1045 "controller can panic on startup when starting up with invalid object"
## Summary

The recent use of tolerant informers helped deal with the problem when the controller was **_introduced_** to bad rollout objects. However, I am still able to crash the controller if I change the order of steps. I can induce a crash if I introduce the bad rollout *before* the controller starts e.g.:

1. stop the controller
2. introduce a bad rollout (e.g. like below)

[code]

3. start

[2021-03-25 00:22] jessesuen commented on #1045
I think this only happens in v1.0 because the code where it is panicking is new.

[2021-03-25 04:00] Disturbing opened #1046 "SignalFX Support"
# Summary

Would love to use SignalFX with Argo Rollouts

# Use Cases

Be able to do metrics / analysis on rollouts

---
**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-03-25 08:36] zcc35357949 commented on #995
Because the stable revision's available replicas can not reach desired replica counts from weight in the first step.
https://github.com/argoproj/argo-rollouts/blob/master/rollout/canary.go#L203
`completedCurrentCanaryStep` always return false,  the rollout will be stuck in progressing state.

https://github.com/argoproj/argo-rollouts/blob/master/test/e2e/functional_test.go#L371
Rollout has no step

[2021-03-25 08:50] zcc35357949 commented on #995
Actually, we do not need to check stable revision desired replicas in such case.

[2021-03-25 11:58] karthicgit opened #1049 "Nginx controller with 1.19 for canary deployment"
# Summary

Example for canary deployment with nginx ingress and kubernetes 1.19+

# Use Cases

Kubernetes 1.19+
Ingress annotations are deprecated in 1.19+ and also Ingress resource is stable in 1.19
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-03-25 13:12] #1049 closed

[2021-03-26 21:12] jessesuen opened #1052 "Unresolved argument errors to templates does not surface as validation error"
## Summary

When debugging a rollout that had an analysis template and the rollout did not supply a required argument to the template, the rollout simply stops with an unhelpful message:

[code]

In reality, it's not a problem when more replicas needing to be updated. The real problem is that the rollout did not supply necessary arguments to analysis template, as seen in controller logs:

[code]

[2021-04-01 16:02] Yorkerrr commented on #914
@jessesuen so is your suggestion to create a ticket for the Istio community to address this in the istio codebase?

[2021-04-01 16:17] kostis-codefresh opened #1057 "Prometheus support should be explicit in the documentation"
# Summary

Right now, Prometheus is only used for some examples in the [overview](https://argoproj.github.io/argo-rollouts/features/analysis/) page of the analysis.

Ideally Prometheus should have its own page in that section of the docs like all other metric providers (along with Datadog, NewRelic etc).

# Use Cases

A person who is quickly checking the documentation site for Prometheus support m

[2021-04-01 18:59] jessesuen opened #1059 "Traffic Routing ability with Experiment steps"
# Summary

Currently, if you are using canary along with traffic routing, and have an experiment step, you cannot split traffic to the experiment stacks in a fine-grained manner. We should improve the Rollout Experiment step to also allow traffic to be shifted to experiment pods. Something like:

[code]

In the above example,  during an update, the first step would start a baseline vs. canary expe

[2021-04-01 20:09] AntPAllen opened #1060 "Support NATS for traffic management"
# Summary

Since NATS 2.2, traffic shaping is now available. https://docs.nats.io/whats_new_22#subject-mapping-and-traffic-shaping

It would be great if Argo Rollouts supported this.

# Use Cases

We use NATS instead of a service mesh, one thing that is missing is being able to run different deployment strategies using traffic shaping to a subset of pods. This capability to do this is now availabl

[2021-04-01 20:48] jessesuen commented on #1057
You're right. This is was an oversight.

[2021-04-01 21:20] jessesuen commented on #914
I do not think it's possible for rollouts to affect the workload name. I have filed https://github.com/istio/istio/issues/31854 to see if this can be handled on the Istio side.

[2021-04-01 21:45] #1045 closed

[2021-04-02 18:42] #1043 closed

[2021-04-06 04:57] jessesuen opened #1067 "spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the schema"
## Summary

This is a pre-1.0 issue and must/will be fixed by v1.0. When applying the `apiextensions.k8s.io/v1` CRD against a cluster which had previously installed  `apiextensions.k8s.io/v1beta1` version of the rollout CRDs, the kubectl apply will fail with the following error:

[code]

This means anyone upgrading from v0.10 to v1 will face this issue (so we must fix this before releasing v1.0).

[2021-04-06 07:36] caoyang001 opened #1068 "canary strategy not expected，there may be have a capacity risk in the prod"
## Summary

What happened/what you expected to happen?
case1:
[code]
Expected results：
**return newRS 3 stableRS 10**
![image](https://user-images.githubusercontent.com/4578910/113671311-c5338880-96e8-11eb-9f2d-4ecbd0fd2605.png)

Actual results：
**return newRS 3 stableRS 7**

![image](https://user-images.githubusercontent.com/4578910/113673421-8f43d380-96eb-11eb-9391-b143671ddb0a.png)
![image](htt

[2021-04-06 11:33] jessesuen commented on #1068
For case 1, the screenshot and behavior appear to be correct:

The total pods did not go below maxUnavailable of 0 (10 pods). It terminated three of the revision 1 ReplicaSets pods only *after* revision 2 had three ready pods.

[2021-04-06 11:40] jessesuen commented on #1068
For case 2, I see that you are highlighting the fact that the EndPoint does not have the correct total of pods in the list. However, please know that just like Deployments, Rollouts does not monitor if the Endpoints or EndpointSlices. Rollouts only operates on what the ReplicaSet reports as available and uses those numbers to calculate weight.

So from what I can tell, the Rollout is behaving as d

[2021-04-06 11:42] jessesuen commented on #1068
The above is an incorrect expectation.

`newRS 4 stableRS 1` are expected given the parameters:

[code]

[2021-04-06 21:13] huikang commented on #1052
Hi, Jesse (@jessesuen), I am new to argo-rollout, but am interested in investigating this issue. If no one has taken it, may I take this one?

[2021-04-07 00:51] #1057 closed

[2021-04-07 01:07] jessesuen commented on #1052
@huikang yes that would be great! To get you started, I think the error  should be returned by this method:
https://github.com/argoproj/argo-rollouts/blob/master/rollout/controller.go#L447

[2021-04-07 02:22] byangtri commented on #459
I see that there is a new feat allowing users to handle NaN result to be successful, however, I am encountering issues treating NaN as successful instead of Inconclusive. I would like NaN to be treated as successful in my analysis run. Any advice on doing this, below is my successCondition

`  metrics:
  - name: success-rate
    successCondition: isNaN(result[0]) || result[0] >= 0.10`

[2021-04-07 05:12] huikang commented on #1052
Rollout and analysisTemplate to reproduce the bug

[code]

I figured out that the root cause is that the call to https://github.com/argoproj/argo-rollouts/blob/37668f19dc976bb7c5847a4cd8c7572f1006a6ca/rollout/controller.go#L458 does not return any error because the callee method https://github.com/argoproj/argo-rollouts/blob/37668f19dc976bb7c5847a4cd8c7572f1006a6ca/pkg/apis/rollouts/validation/val

[2021-04-07 13:29] stfnbstl opened #1070 "Infinite Ingress recreation when using rancher managed cluster"
## Summary

What happened/what you expected to happen?

I created a canary rollout using nginx for traffic routing. Argo is then creating a second ingress for the canary traffic. Rancher is by default setting some annotations to ingress ressources after creation. As soon as rancher sets the annotations to the canary ingress, argo is removing them because they don't match the desired state that arg

[2021-04-07 18:01] tr-srij commented on #913
Hitting into this with rollouts in general. Any resolution here?

[2021-04-07 19:59] jessesuen commented on #1052
Great analysis. That seems like the right approach. Please feel free to send a PR. Please also include a unit test that can catch this.

[2021-04-07 20:03] jessesuen commented on #1070
Rollout does not account for other controllers also managing the Ingress which it created, so it currently syncs all annotations from the reference ingress, to the canary ingress.

The fix would need to be that it preserves injected ingresses from other controllers. This logic would need to go here:

https://github.com/argoproj/argo-rollouts/blob/master/rollout/trafficrouting/nginx/nginx.go#L58-L1

[2021-04-07 20:29] jessesuen commented on #1070
@stfnbstl can we work around this issue by explicitly setting rancher annotations using `additionalIngressAnnotations`?

[code]

[2021-04-07 20:37] huikang commented on #1052
Thanks for your feedback. I will submit a PR with the unit test.

[2021-04-08 06:19] stfnbstl commented on #1070
@jessesuen I tried that because I thought that would be enough for argo to be aware of this annotation and won't overwrite it when the value changed.
But with the additional annotations alone, the default prefix combined with the rancher tag is generating an error:

[code]

So I changed my rollout configuration to this:

[code]

But this results in this error which i cannot really explain (I remov

[2021-04-08 23:55] jessesuen commented on #1070
Ah yes, I forgot `additionalIngressAnnotations` also would also incorporate the prefix. So my workaround will not work.

I think we have to go with a fix to preserve injected annotations by other controllers, like rancher

[2021-04-08 23:56] #1068 closed

[2021-04-09 02:18] huikang commented on #992
Hi, @yfried , I could not reproduce the error.

I tested with the following volume in a rollout

[code]

The argo status shows

[code]

Could you provide more information? Thanks.

[2021-04-12 04:38] huikang commented on #1059
Hi, @jessesuen , I'd like to do some investigation on this enhancement. If no one has been looking into this issue, please assign it to me. Thanks.

[2021-04-12 04:47] huikang opened #1077 "Run analysis job with istio, rollout does not downgrade if the analysis job fails"
## Summary

When run the e2e case  in a cluster with istio enabled, the test case `TestCanarySuite/TestReduceWeightAndHonorMaxUnavailable` failed becase the rollout cannot be degrated

## Diagnostics

argo-rollouts 0.10.2

[code]

## Steps to reproduce

Run the e2e test in a cluster with istio installed

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioriti

[2021-04-12 05:52] stfnbstl commented on #1070
I don't know if it helps but this issue only occurs in combination with NGINX so far. I tried Istio for canary releases and it doesn't seem to be a problem there because there is no clone that argo and rancher are trying to "correct"

[2021-04-12 09:57] Maxweston opened #1079 "Google Cloud Load Balancer Ingress Controller"
# Summary

Much like AWS Load Balancers are already supported, could support for Google Load Balancers be added?

# Use Cases

For users of Google Cloud Platform.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-04-12 21:25] risinger commented on #958
I would be interested in seeing first-class support for config changes in Argo Rollouts similar to how [Flagger handles it](https://docs.flagger.app/usage/how-it-works). While I'm not fond of requiring the same config on basically every application, my main complaint with the status quo is the diff it generates. When using a hash to create a new configmap/secret for every change to it's contents,

[2021-04-14 18:50] #1052 closed

[2021-04-16 04:00] huikang commented on #942
@artem-nefedov , why there is only `canary-prefiew` in the experiment template? Should there be a stable replicaset?

[2021-04-16 11:36] artem-nefedov commented on #942
@huikang There is a stable replicaset, but experiment runs only on canary

[2021-04-16 11:39] artem-nefedov commented on #942
More info about reproduction:
It seems the problem occur if experiment fails when upgrading to the "older" version that was stable before.
E.g.:

1. Deploy Rollout with image 1.0.0 (this image WOULD fail the experiment, but because it's the first deployed version, steps are ignored)
2. Update to image 1.0.1 (this image passes the experiment)
3. Downgrade to image 1.0.0 (this fails the experiment a

[2021-04-16 17:17] huikang commented on #942
Gotcha. So this is different than using analysis run, where a certain percentage of the real traffic is routed to the canary service.

Let me try reproducing the error and report back. Thanks.

[2021-04-16 18:21] alexmt opened #1091 "Upgrade grpc/protobuf dependencies"
# Summary

Argo Rollouts API server uses old grcp libraries that have to be upgraded:

* `github.com/golang/protobuf` -  The `github.com/golang/protobuf` is v1 and it is in maintenance mode. It has to be replaced with v2 `google.golang.org/protobuf` see https://blog.golang.org/protobuf-apiv2
* `github.com/grpc-ecosystem/grpc-gateway` - v1 is in maintenance mode and has to be upgraded to v2 (see ht

[2021-04-16 18:41] alexmt commented on #1091
Attempted to upgrade and failed. Using this ticket to document what I've tried and which issues I've faced:

* `github.com/grpc-ecosystem/grpc-gateway` v2.3.0 no longer focused on using `protoc` and trying to replace it with `buf`. Migration to `buf` was not straightforward: could not find how to point `buf` to protos from `k8s/apimachinery`, could not find a way to use `buf` without changing our

[2021-04-17 02:49] gaurav517 opened #1092 "Support blue-green via multiple multiple DestinationRule subsets (versus preview/stable services)"
# Summary
For canary strategy, we have option to use istio destination rules instead of two services (#617)
However for blue-green strategy, we still need two services (stable/preview).
It would be good to align them so blue-green strategy can also make use of istio destination rules instead of two services.

# Use Cases
It makes application templating much simpler. If several apps are using same

[2021-04-19 18:54] #1067 closed

[2021-04-19 21:57] #478 closed

[2021-04-20 02:11] gaurav517 opened #1096 "Support integration with istio virtual-service in another namespace for canary traffic routing"
# Summary

In current canary traffic routing with istio, we can refer to a istio virtual service but that virtual service needs to be in same namespace as rollout. We should be able to refer to a virtual service that is not in rollout namespace.

Current:
[code]

Solution should enable following:
[code]

# Use Cases

In some cases istio virtual service can live in different namespace.

---

**Mess

[2021-04-20 02:12] #1092 closed

[2021-04-20 04:41] huikang commented on #942
I can reproduce this bug. In general, as long as the status of a rollout becomes `degraded`, its status will always be `progressing` if the analysis run failed on experiment again.

[2021-04-20 16:50] huikang commented on #942
@artem-nefedov , if you don't mind, I'd like to spend some time looking into this issue.

@jessesuen , I can reproduce this bug in the latest version, so please assign this task to me. Thanks.

[2021-04-20 18:35] jessesuen commented on #1079
If there is a Google Cloud Ingress or CRD object that can be managed to allow traffic splitting, then absolutely yes this should be possible.

[2021-04-20 18:50] jessesuen commented on #1096
It would be great to support this, and there was an attempt to do this last year but it was incomplete:
https://github.com/argoproj/argo-rollouts/pull/650

It's probably safe to say that @sakajunquality may not be working on it at the moment and someone else can pick this up.

[2021-04-21 00:01] jessesuen commented on #1091
@alexmt I've managed to split out most toolchain binaries and remove them as a `go.mod` library dependency in PR https://github.com/argoproj/argo-rollouts/pull/1095. Do you think your findings still hold true?

[2021-04-21 02:04] jessesuen commented on #1091
I spent a few hours on this and hit the same dead end as you.

[code]

I agree we cannot get past this upstream k8s generated.proto have this problem and its not feasible to change upstream.

Looks like we are stuck with v1 protobuf and grpc-gateway until kubernetes moves up.

[2021-04-21 04:22] huikang commented on #1096
@jessesuen , I can help with this one. Please assign it to me. Thanks.

[2021-04-21 17:26] dsbos opened #1100 "Support having multiple VirtualService objects"
# Summary

Rollout does not seem to support having (specifically, updating weights in) multiple VirtualService objects.

Per the Rollout specification currently at
https://argoproj.github.io/argo-rollouts/features/specification/, in particular, this part:
[code]
it _does_ support having multiple Istio HTTPRoute sub-objects in a VirtualService (via having that `routes` member be a list of HTTPRoute

[2021-04-22 13:38] huikang commented on #942
Hi, @artem-nefedov , a fix PR has been merged, could you test and see if the issue can be closed? Thanks.

[2021-04-22 23:58] gaurav517 commented on #1100
👍

[2021-04-23 05:56] gaurav517 opened #1105 "validation error when service fqdn is used in virtual service destination"
## Summary

If fqdn is used in istio virtual service route destinations, rollout gives error.

For example, if following is the virtual service definition:
[code]
rollout gives following error:
[code]

Using fqdn is recommended by istio (https://istio.io/latest/docs/reference/config/networking/virtual-service/#Destination):
[code]

## Diagnostics

v0.10

---

**Message from the maintainers**:

Imp

[2021-04-23 07:48] ThinkBriK opened #1106 "Support for HAProxy ingress ?"
# Summary

Support for the default  [HAProxy ingress controller](https://haproxy-ingress.github.io/)

# Use Cases

Same use cases as Nginx ingress controller, the HAProxy controller can  use weights to shape traffic and it´s the default Ingress controller for OKD and Openshift distributions.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with t

[2021-04-23 15:54] ryota-sakamoto commented on #369
Hi @leoluz
Sorry for being late.
I'm maintainer of argocd-notifications, then I'm considering to implement it using https://github.com/argoproj/notifications-engine if you have been not already implementing it.

[2021-04-23 17:42] saharMlowell opened #1107 "The rollout controller keeps creating AnalysisRun runs."
## Summary
What happened/what you expected to happen?
Happened: The rollout controller keeps creating AnalysisRun runs even though they are completed.
Expected: Canary deploys successfully after AnalysisRun gets completed.

## Diagnostics
What version of Argo Rollouts are you running? 0.10.2 was also able to reproduce with version 0.10.0 or above. The sync works properly using argo-rollouts versio

[2021-04-23 20:22] jessesuen commented on #1033
This is now automatically built and published to https://quay.io/repository/argoproj/kubectl-argo-rollouts

[2021-04-23 20:22] #1033 closed

[2021-04-23 20:24] jessesuen commented on #1107
One thing I noticed about the metric is that it has a count of `1` along side an interval `1m`. The interval would not be used because it takes only one measurement but I'm wondering if this is confusing the controller. Can we try omitting interval?

[code]

[2021-04-23 20:38] saharMlowell commented on #1107
@jessesuen omitted the `interval` but the issue persist.

[code]

[2021-04-23 20:42] jessesuen commented on #1107
@saharMlowell could you provide controller logs grepped with `rollout=percolator-router`?

[2021-04-23 20:50] jessesuen commented on #1107
There seems to be something going on with the analysisrun too. The CLI indicates it took 4 successful measurements:

[code]

Even though the count of the metric is `1`. Could you provide logs grepped with one of the analyisruns? e.g. `percolator-router-5688b6d664-2-2.17 `

[2021-04-23 20:52] jessesuen commented on #1107
Do you mean v0.10.2? We don't have a v0.10.3. We just tried reproducing this, but weren't able to.

[2021-04-23 20:54] saharMlowell commented on #1107
Correct meant v0.10.2

<img width="1024" alt="Screen Shot 2021-04-23 at 4 53 47 PM" src="https://user-images.githubusercontent.com/26151167/115928706-8fb2cd00-a454-11eb-910a-b1b484d36b5c.png">

[2021-04-23 20:56] saharMlowell commented on #1107
Attach is the grepped log of a fresh run (deleted the app and reproduced it again):
[code]
[logGrepped.txt](https://github.com/argoproj/argo-rollouts/files/6368043/logGrepped.txt)

[2021-04-23 21:05] jessesuen commented on #1107
Could you provide the output of `kubectl get rollout percolator-router -o yaml`  while it is continuously producing analysis runs?

[2021-04-23 21:18] saharMlowell commented on #1107
Output of `kubectl get rollout percolator-router -o yaml -n percolator` when continuously producing analysis runs:

[code]

[2021-04-23 21:41] jessesuen commented on #1107
@saharMlowell there might be some timing issues in the controller with the analysisrun finishing too quickly. Could we try something to see if my theory is correct.  Please add `initialDelay` to any one of your metrics:

[code]

This will artificially cause the analysisrun to take 10+ seconds to complete. If this works, then it'll point us in the right direction to explore.

[2021-04-23 21:44] jessesuen commented on #942
We can just close this with the fix in https://github.com/argoproj/argo-rollouts/pull/1099 and reopen it if it is unresolved.

[2021-04-23 21:44] #942 closed

[2021-04-23 22:02] saharMlowell commented on #1107
@jessesuen unfortunately adding `initialDelay` didn't help:

[code]
[code]

[2021-04-23 22:51] #676 closed

[2021-04-24 00:33] khhirani commented on #1107
Hi @saharMlowell, are you on the [ArgoProj Slack channel](https://argoproj.slack.com/)? It would be easier to continue this conversation there.

[2021-04-24 02:00] saharMlowell commented on #1107
@khhirani I just followed the instruction here: https://argoproj.github.io/community/join-slack/ and joined the #argo-rollouts I am not able to join the other slack channel you linked, it gives me: `You have no account on this workspace.`

[2021-04-24 02:04] khhirani commented on #1107
@saharMlowell Just messaged you on Slack

[2021-04-24 04:19] gaurav517 opened #1110 "Support JsonPath for diffing customization"
# Summary

We currently use jsonPointers for diffing customization: https://argo-cd.readthedocs.io/en/latest/user-guide/diffing/.
Because JsonPointers are quite limiting, proposal is to use JsonPath in addition to that.

# Use Cases

With JsonPointers we are limited to using index which can be error prone to specify and maintain, specially for arrays.. e.g. currently we need to use `/spec/http/0`

[2021-04-24 14:37] dsbos opened #1111 "Doc: problems in https://argoproj.github.io/argo-rollouts/"
## Summary

The page currently at https://argoproj.github.io/argo-rollouts/ says:

Does that make any sense.  How can a Rollout be any kind of ReplicaSet? Should that "Rollout" be "ReplicateSet"? Or was the author trying to say that the Rollout would be marked with something identifying the stable ReplicateSet? Or maybe something else?

That page also says:

That sentence doesn't make sense. (Appa

[2021-04-24 15:07] dsbos opened #1112 "Doc.: Contradiction on https://argoproj.github.io/argo-rollouts/features/bluegreen/"
## Summary

The page currently at https://argoproj.github.io/argo-rollouts/features/bluegreen/ says:

If the preview service is always sending traffic to the new ReplicaSet (per the second quoted sentence), then how can it sometime be sending traffic to new ReplicaSets (as the first quoted sentence says)?

Also:
- "Once the new replicaset start receives traffic" should be something like "... start

[2021-04-24 23:04] dsbos opened #1113 "Doc.: bad formatting on https://argoproj.github.io/argo-rollouts/features/canary/"
## Summary

The page currently at https://argoproj.github.io/argo-rollouts/features/canary/ says:

(Note the asterisks showing up in the rendered page. It looks like some MarkDown/etc. source code (documentation) wasn't indented correctly).

There's also a second section in that page that seems to have the same problem.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-04-26 14:37] seventieskid commented on #1107
Same issue. Salient config and output is listed below:-

![image](https://user-images.githubusercontent.com/11293885/116100715-1c53ca00-a6a5-11eb-905d-37ed467c4aa2.png)

`---
apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: always-fail
spec:
  metrics:
    - name: always-fail
      count: 1
      failureLimit: 1
      consecutiveErrorLimit: 1
      inconclusiveLimit: 1

[2021-04-26 16:22] seventieskid commented on #1107
Further update, I've managed to get the AnalyisRun into failed state 100% of the time - but it still does not abort the rollout.

![image](https://user-images.githubusercontent.com/11293885/116117303-fb46a580-a6b3-11eb-8da6-f4cc128fd64b.png)

![image](https://user-images.githubusercontent.com/11293885/116117335-0568a400-a6b4-11eb-82a4-452d242383e7.png)

[2021-04-26 18:22] dsbos commented on #1113
Several other pages also have the same formatting problem.

[2021-04-27 00:51] #323 closed

[2021-04-27 01:58] jessesuen commented on #1107
I found the bug. When we create the AnalysisRun from the AnalysisTemplate, we inadvertently randomize the list of metrics and arguments. This is a problem because when we compare the existing run to the run we want to create, it thinks it is different than the one we want to create, and so it creates it again.

The problem happens when you have many metrics in a template (or you are referencing mu

[2021-04-27 02:00] jessesuen commented on #1107
The bug is here:
https://github.com/argoproj/argo-rollouts/blob/0f131a77a650421cf8672badfcc39c9a64e7d47f/utils/analysis/helpers.go#L332-L336

and here:
https://github.com/argoproj/argo-rollouts/blob/0f131a77a650421cf8672badfcc39c9a64e7d47f/utils/analysis/helpers.go#L303-L308

also this code needs to ignore spec.Terminate since it is irreverent to semantic equality:
https://github.com/argoproj/argo

[2021-04-27 02:28] huikang commented on #1105
This is caused by compareing the service name defined in the rollout strategy istio with the fqdn because the current implemetnation assumes that virtualservice and the rollout are in the same namespace. The PR (https://github.com/argoproj/argo-rollouts/pull/1114) should fix this at line https://github.com/argoproj/argo-rollouts/pull/1114/files#diff-bc2f3a4d5d2fd799a169ceccb8bf97ae8b8a45f6a6900952

[2021-04-27 12:35] kostis-codefresh opened #1119 "Helm support should be clear in the docs"
# Summary

We don't have any documentation that mentions how you can use Helm with Argo Rollouts

# Use Cases

Open discussion is here https://github.com/argoproj/argo-rollouts/discussions/898 (support for Helm)

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-04-27 12:36] jessesuen commented on #872
The fix in https://github.com/argoproj/argo-rollouts/pull/1094 caused a different regression and had to be reverted, so reopening this issue.

[2021-04-27 15:03] dsbos opened #1121 "(Maybe) Add experiment evaluation to blue-green deployments"
# Summary

Consider allowing experiments to be used in blue-green deployments.

It seems that Experiments can be used in canary deployments (to check advancing past a certain step), but that they can't be used similarly in blue-green deployments.

# Use Cases

Here's the use case I'm looking at:
- First, I want to deploy the new (preview) version of my service/application with a _non-production_ c

[2021-04-27 17:17] kostis-codefresh commented on #1113
Hey @dsbos. What other pages have you found that have formatting issues? It would be helpful to have a full list of them if possible.

[2021-04-27 18:08] seventieskid commented on #1107
@jessesuen - I don't think that's the root cause of my particular issue when running on v0.10.2. I tried as you said and switched to single metric, no args. No difference.

However, by chance, whilst debugging locally, I tried running from the current master commit:

https://github.com/argoproj/argo-rollouts/tree/7ab60a2a1407f8c2867533faa15e8d42742c87f3

That appeared to correctly fail my Analysis

[2021-04-27 19:19] jessesuen commented on #1107
Would you be able to test with the following image (based off of v0.10.2)?

[code]

If the above image doesn't work for you, I think we may need to address it in a separate PR / debug separately

[2021-04-27 19:50] seventieskid commented on #1107
Hi, tested with that image and it didn’t fix the problem.

Tested with current argoproj/argo-rollouts:latest and it did fix the problem.

Apologies for lack of evidence and screenshots - no public github access for where I’m running the tests.

[2021-04-27 21:58] #1107 closed

[2021-04-27 22:34] jessesuen opened #1123 "workloadRef: when referenced Deployment goes missing, we delete pods"
## Summary

What happened/what you expected to happen?

Using the new workloadRef feature, a user deleted the referenced deployment. When this happened, he noticed that the rollout also deleted/scaled down the RelicaSet which was created from the Deployment definition.

Instead of scaling down the ReplicaSet, we should start emitting Warning events and put rollout in degraded state, and leave the

[2021-04-28 08:32] mclarke47 opened #1124 "Add the ability to cherry pick / exclude metrics from analysis templates and cluster analysis templates"
# Summary

(This change applies to Cluster Analysis Templates and namespaced Analysis Templates, but I am going to refer to them jointly as "analysis templates" for brevity)

In order to reduce duplication it would be useful to have the ability to cherry pick or exclude specific metrics from analysis templates.

For example:

Given an analysis template with the following metrics:

`http-latency`
`

[2021-04-28 12:02] jessesuen commented on #1121
You're correct to point out that the canary strategy is a superset of the capability of the blue-green (when a traffic router is used). How you described the way to accomplish your use case using canary steps is precisely how I would recommend to others.

It's unlikely we'll change blueGreen syntax to support your proposal, given that the canary strategy already can accomplish it, and the terminol

[2021-04-28 14:21] saharMlowell commented on #1107
@jessesuen the bug didn't get fixed, still seeing the AnalysisRun keeps creating using `docker.io/jessesuen/argo-rollouts:v0.10.2-issue1107.fix1` image.

[2021-04-28 15:46] ibottamike commented on #1107
Another data point for additional background.
I'm deploying argo-rollout with the helm chart. https://github.com/argoproj/argo-helm/tree/master/charts/argo-rollouts
I see the same issue when I deploy version `0.5.0`.  The issue does not happen with helm chart `0.4.3`. I tested switching back and forth and it only occurs with `0.5.0`

[2021-04-28 19:36] jessesuen commented on #1124
I love this idea. I wonder if it would be more flexible to support regexp in addition to, or in lieu of include and exclude

[2021-04-28 20:07] huikang commented on #1105
@gaurav517 , could you test using the latest version? If it works for you, shall we close this issue. Thanks.

[2021-04-28 20:08] huikang commented on #1096
Hi, @gaurav517 , could you test and see if we can close this issue?

[2021-04-28 22:38] huikang commented on #1123
Hi, @jessesuen , I can look into this bug. Please assign it to me. Thanks.

[2021-04-29 04:29] chengchengmu opened #1127 "argo rollouts create analysisrun -> panic: runtime error: invalid memory address or nil pointer dereference"
## Summary

What happened/what you expected to happen?

This command ` kubectl argo rollouts create analysisrun --from post-promotion -n ping-ccdev` fails with the following error:

[code]

## Diagnostics

What version of Argo Rollouts are you running?
[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-04-29 06:29] chengchengmu commented on #1127
Found that the issue is caused by a difference of version between kubectl-argo-rollouts and the argo-rollouts deployment.
I am closing this bug ticket.

Would it be possible to display an error message showing an incomptibility between cli and deployment rather than a segfault ?

[2021-04-29 06:29] #1127 closed

[2021-04-29 09:41] gaurav517 commented on #1096
Thanks a lot @huikang. Will test it over weekend assuming `argoproj/argo-rollouts:latest` docker tag has the changes.

[2021-04-29 22:43] jessesuen commented on #1107
@seventieskid @saharMlowell - are you also deploying argo-rollouts using the helm chart? or the raw manifests in the official release?

Also, @seventieskid reports that master does not seem to exhibit the behavior. If you are able to, please try with the v1.0.0-rc1 release candidate which was just published:

https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0-rc1

[2021-04-30 01:20] saharMlowell commented on #1107
@jessesuen we are deploying argo-rollouts using the helm chart `0.5.0`. However when using helm chart `0.3.6` there is no issue.

Using either of the below images with helm chart `0.5.0` would fix the issue:
[code]
Or
[code]
Thanks for addressing the issue.

[2021-04-30 04:20] huikang commented on #1123
Hi, @jessesuen , I tested workloadRef and noted that when the reference depoyment is deleted, the RelicaSet of rollout is still running (which is different than what you described) with the controller emitting the following message

[code]

Did I miss something in reproducing the behavior?

[2021-04-30 07:27] seventieskid commented on #1107
Not sure which version of helm charts we are using. The chart versions are really a distraction though because it’s the image version that makes the difference - as highlighted above.

We’re now comsuming a git commit id on the master. Can also see you now have a rc available though.

Would be great for our adoption argument if we had a rough idea when v1.0.0 will drop ?

[2021-04-30 10:55] seventieskid opened #1134 "Traffic management using NGINX ingress controller does not support TLS termination at the ingress controller."
# Summary

Traffic management using NGINX ingress controller does not support TLS termination at the ingress controller.

Original ingress yaml:

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
  name: colours
spec:
  rules:
  - host: www.example.com
    http:
      paths:
      - backend:
          serviceName: service-stable

[2021-04-30 22:07] jessesuen opened #1135 "Argo Rollouts Dashboard Promote-Full is doing normal promotion"
## Summary

![image](https://user-images.githubusercontent.com/12677113/116758787-b7121880-a9c5-11eb-90c8-6192d1156768.png)

The promote-full button on the UI is actually doing a regular promote and not a full promotion.

## Diagnostics

What version of Argo Rollouts are you running? v1.0.0-rc1

[2021-04-30 22:09] jessesuen commented on #1135
You can see the call to Promote is using false:

[code]

We should provide both options in UI

[2021-05-03 05:26] gaurav517 commented on #1096
looks good on my side. Thanks a lot.

[2021-05-03 05:26] #1096 closed

[2021-05-03 05:27] gaurav517 commented on #1105
looks good on my side. Thanks a lot.

[2021-05-03 05:27] #1105 closed

[2021-05-03 13:33] sadovnikov commented on #1100
Until one-year-old https://github.com/istio/istio/issues/22997 is resolved it's necessary to create separate VirtulServices for ingress and mesh-internal requests. With the single value of `istio. virtualService` users cannot apply canary deployment on all traffic

[2021-05-03 21:05] dsbos commented on #1113
Can't you search in the documentation source for whatever pattern resulted in rendering asterisks rather than list items (perhaps wrongly indented asterisks)?

Otherwise, do something like saving a local copy of the documentation using something like `wget`'s recursive retrieval and then searching (e.g., via `grep`) for literal asterisks in the local files.

[2021-05-04 11:49] ThinkBriK commented on #1106
Documentation is available at :

[2021-05-05 00:10] #1112 closed

[2021-05-05 05:13] huikang commented on #941
@jessesuen , do you think the proposed change is also applicable to an aborted b/g rollout?

[2021-05-05 06:16] artem-nefedov commented on #779
Hello. Please, raise priority for this. v1.22 is already in alpha.

[2021-05-05 15:28] huikang commented on #941
This seems related to #793.

@jessesuen , I will write up a change proposal to handle these user stories. Please assign this to me. Thanks.

[2021-05-05 23:30] jessesuen opened #1142 "Simplify plugin promote options (deprecate `--skip-current-step`)"
# Summary

We currently have three options to "promote" a rollout in the plugin:

[code]

The different options can be hard to explain/understand, and users may not know when to use which option. To simplify things, I think the behavior of `kubectl argo rollouts promote guestbook --skip-current-step` (which increments the step index) should be merged into the existing `kubectl argo rollouts promot

[2021-05-05 23:32] jessesuen commented on #1142
Another motivation for this is that the UI does not show `kubectl argo rollouts promote guestbook --skip-current-step` as an option, so the UI would benefit from having only the two options: promote and promote-full

[2021-05-06 00:34] samschlegel commented on #727
It is less, but since the controller is responsible for updating the ReplicaSet replicas based on the Rollout replicas, this means that if a HorizonalPodAutoscaler needs to scale up a webservice to handle increased load while the controller is down, this could lead ultimately to a service failure.

[2021-05-06 01:40] samschlegel commented on #727
Would this be as simple as running [manager.Run](https://github.com/argoproj/argo-rollouts/blob/master/cmd/rollouts-controller/main.go#L173) in the `OnStartedLeading` callback?

[2021-05-06 13:04] DanTulovsky opened #1144 "Dashboard not working"
## Summary

I have a single rollout defined. When I run:

[code]

it starts up the dashboard on port 3100. I can then visit it

<img width="1064" alt="Screen Shot 2021-05-06 at 9 01 54 AM" src="https://user-images.githubusercontent.com/509887/117302516-b6580700-ae49-11eb-9e83-9c1f7353f390.png">

If I then click on the rollout itself, it goes to `http://localhost:3100/rollout/quote-server-rollout`,

[2021-05-06 14:36] huikang opened #1145 "Rollout-controller does not expose its version"
# Summary

The current `kubectl argo rollouts version` only shows the version of the rollouts client binary.
~~Ideally `kubectl argo rollouts version`  should also display the version of the rollout-controller running in the cluster.~~

Add a sub-command to `rollout-controller` to show its version.

# Use Cases

As a user, I'd like to know which version of argo-rollouts is installed in the cluster

[2021-05-06 14:39] huikang commented on #1145
@jessesuen , I can look into this issue. Please assign it to me. Thanks.

[2021-05-06 18:06] jessesuen commented on #1145
How do you think the plugin should determine the version of the controller? Do we introduce a /version endpoint that exposes it and it reaches the endpoint via port-forwarding?

[2021-05-06 18:26] rbreeze commented on #1144
Could you provide the spec for the `quote-server-rollout` rollout please?

[2021-05-06 18:31] huikang commented on #1145
Hi, @jessesuen , my initial thought was something like `kubectl version` which shows both the local binary version and the server's version. However, after second thought, it sounds like a overkill.

Adding a sub-command should be good enough.

[2021-05-06 18:52] #1144 closed

[2021-05-06 20:10] harikrongali commented on #1142
will pick it up, please assign

[2021-05-06 20:28] DanTulovsky commented on #1144
Do you need my Deployment as well, or do you think you've already fixed this?

[2021-05-06 20:30] rbreeze commented on #1144
#1146 should have fixed this. Thanks!

[2021-05-06 20:59] #1135 closed

[2021-05-06 22:47] DanTulovsky opened #1147 "Terraform support"
# Summary

Would it be possible to have a terraform provider specific to Rollouts?

# Use Cases

I use terraform for all of my configs.  Right now I am using the 'kubectl' provider to push this out, but would rather have proper terraform support instead.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-05-07 23:56] jessesuen opened #1151 "Investigate ordering of service patching vs. replicaset creation"
## Summary

In our environment, it was observed that some pods of a Rollout's ReplicaSet never had readiness gate injected by the aws-loadbalancer-controller, but other Pods of the ReplicaSet were.

If we create a new replicaset before we patch the preview/canary service, its possible the pods of the replicaset will be created without a readiness gate because with AWS load balancer controller, it

[2021-05-08 00:06] jessesuen commented on #1151
Looks like we reconcile the new replicaset before preview service. So we can try swapping the ordering.

[code]

[2021-05-08 13:13] stephen-harris opened #1152 "[v1.0-rc-1] Cannot abort rollout"
## Summary

I created a rollout using `workloadRef`, with a simple 5 minute pause before promoting the canary (no metric analysis).

[code]

I deployed a new version by updating the Deployment image. During the 5 minute pause I ran

[code]
I expected the rollout to rollback to the previous version and be marked as Degraded. However, it continued with the pause step before promoting the canary to s

[2021-05-09 02:09] huikang commented on #1152
@stephen-harris , thanks for reporting. However, I was unable to reproduce the issue with the latest master branch. After I update the image of the deployment and abort the rollout. The rollout enters `Degraded` status as expected

[code]

Could you retry the experiment with the latest code?

[2021-05-09 19:19] thecooldrop opened #1153 "Enable commiting the changes made by controllers back to Git - Improve GitOps support"
# Summary

As a developer in GitOps team I would like to be able to track my cluster state in my GitOps repository.

I would like the controllers to make the changes to my cluster either:

1) Indirectly by commiting the desired state back to my GitOps repository

Or

2) By commiting the state change back to my repository after making the changes in cluster.

# Use Cases

An example use case would

[2021-05-10 17:46] #1145 closed

[2021-05-10 19:38] #872 closed

[2021-05-10 20:05] jessesuen commented on #1147
Hi @DanTulovsky. I'm not sure how this relates to Argo Rollouts, which is a controller that manages ReplicaSets to provide advanced rollout strategies such as blue-green/canary and canary analysis.

Do you mean to ask this in Argo CD?

[2021-05-10 21:45] stephen-harris commented on #1152
@huikang Finally got to the bottom of this. I manage to replicate this with both the latest build on quay.io and the 0.10.2 version. However, I was using the 0.9.* version of the kubectl rollouts plugin. I then updated to the 0.10.2 version of the argo rollouts plug-in and it worked (for both 0.10.2 & 1.0.0-rc-1 controller version).

[2021-05-10 21:45] #1152 closed

[2021-05-10 22:11] keithmattix commented on #521
@jessesuen I'm seeing this happen with the release candidate `v1.0.0-rc1` with helm chart version `0.5.0`
<img width="996" alt="image" src="https://user-images.githubusercontent.com/1531662/117730855-b130ea00-b1b2-11eb-982c-af7aa676fe29.png">
.

[2021-05-10 23:44] jessesuen commented on #1059
Some design notes:

1. When the experiment step (with weights) is used in conjunction with setWeight, the combined amount will be subtracted from 100 until the experiment is completed. For example:

[code]

2. SetWeight will be updated to take an *optional* list of additional destinations (excluding canary), in which to split traffic:

[code]

3. Experiment CRs will now auto-create Service objects

[2021-05-12 17:49] ryota-sakamoto commented on #1014
Hi @jessesuen
I'll do this issue.

[2021-05-13 09:48] kostis-codefresh commented on #1153
I don't think that this should be a responsibility of Argo Rollouts.

Have you seen https://github.com/argoproj-labs/argocd-image-updater ?
One of its goals is to write back in Git as you describe.

[2021-05-13 21:02] jessesuen commented on #935
Fixed in https://github.com/argoproj/argo-rollouts/pull/1115 and will be available in v1.0

[2021-05-13 21:02] #935 closed

[2021-05-13 21:23] DanTulovsky opened #1172 "kubectl-argo-rollouts-linux-amd64 get rollout -w; exit when finished"
# Summary

Would it be possible make mimic the behavior of:

[code]

It blocks while the rollout is progressing, and exits when it's done.

[code]

currently does not exit when a rollout is finished.

# Use Cases

The use case is in automation pipelines. After doing a `helm upgrade` it watches the rollout and updates the logs (for any humans watching). Once the rollout finishes, kubectl-argo-rollo

[2021-05-13 21:31] DanTulovsky commented on #1172
Nevermind, I see:

	# Watch the rollout until it succeeds, fail if it takes more than 60 seconds
	kubectl argo rollouts status --timeout 60 guestbook

[2021-05-13 21:35] DanTulovsky opened #1173 "kubectl-argo-rollouts-linux-amd64 --timeout should take a string"
# Summary

kubectl-argo-rollouts-linux-amd64 --timeout should take a string, like the other commands do. Currently it takes an integer seconds.

# Use Cases

This would make behavior the same as `kubectl --timeout` and match other time based flags in this package.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-05-13 21:41] DanTulovsky commented on #1172
Actually, would it be possible for `status` to output the same thing as `get rollout` does?  That way you can watch the rollout progress, and then the command exists when done.

[2021-05-14 00:16] rmorampudi opened #1174 "B/G Rollout status doesn't mark the rollout as paused during prePromotion analysis run"
## Summary

What happened/what you expected to happen?
During B/G pre promotion analysis run, the rollout doesn't have a pause condition in the status, it is expected to have pause conditions with reason 'BlueGreenPause'
## Diagnostics

What version of Argo Rollouts are you running?
This is seen when working with the master branch but with 0.10.2 it was working as expected
[code]

---

**Message f

[2021-05-14 00:32] jessesuen commented on #1174
I think this is by design. If prePromotionAnalysis is running, we consider this as Progressing instead of Paused because we haven't reached the pause stage yet. Pause indicates that it succeeded prepromotion analysis

[2021-05-14 00:34] jessesuen commented on #1173
Agree. Since `kubectl argo rollouts status` is new in v1.0, we can change the behavior since there is no backwards compatibility to worry about.

[2021-05-14 00:47] rmorampudi commented on #1174
@jessesuen, got it, thanks for the response.

[2021-05-14 01:05] jessesuen commented on #1151
Actually, after investigating, `reconcileBlueGreenReplicaSets` is not where we create the new ReplicaSet, so this is not as simple as switching the ordering. We actually create the ReplicaSets much earlier:

[code]

`c.newRS` is assigned at that point, which is then needed by:

[code]

So there is a hard ordering here in the code. I'm not sure this is worth fixing as it introduces unnecessary risk

[2021-05-14 04:10] #1174 closed

[2021-05-14 04:17] jessesuen commented on #1153
Agree that this is outside the purview of Argo Rollouts. Argo CD Image Updater is an example of how this could be done as a separate project (but for changes to image registries and live objects). I think you should explore that as an option since git writeback isn't something that would likely ever be part of the controller.'

Second, the upcoming notification support will have support for webhoo

[2021-05-14 04:17] #1153 closed

[2021-05-14 04:17] jessesuen commented on #1153
See: https://github.com/argoproj/argo-rollouts/pull/1175

[2021-05-14 09:38] jessesuen commented on #1142
Resolved in https://github.com/argoproj/argo-rollouts/pull/1156

[2021-05-14 09:38] #1142 closed

[2021-05-14 09:43] jessesuen commented on #1173
@perenesenko would you like to take this one?

[2021-05-14 10:34] #1111 closed

[2021-05-14 16:11] DanTulovsky opened #1180 "rollout status doesn't wait until the end after restart"
## Summary

I triggered a `restart` and then ran `rollout status`, but it finished with `healthy` before the rollout was complete. It looked like it was returning `healthy` after each individual Pod was restarted... Is this just a bad interaction with `restart`?

## Diagnostics

What version of Argo Rollouts are you running?

1.00-rc1

Here's the log of my terminal. The rollout was running through

[2021-05-14 16:18] MarkSRobinson opened #1181 "AR doesn't clean up old analysis run objects"
## Summary

AR has created thousands of analysis run objects and doesn't clean them up.

## Diagnostics

I have a job that changes the image in an argo rollout twice per hour.  It uses a (very) simple analysis template.  The result is that AR has created thousand of objects and hasn't cleaned them up.  This has build up a very large list of of these old runs because this job has been running for m

[2021-05-14 17:18] perenesenko commented on #1173
Yes, I'll take this one

[2021-05-14 17:38] jessesuen commented on #1123
Thank you for the investigation, verification, and fix. I heard this second hand and never verified this myself.

Closing as fixed in https://github.com/argoproj/argo-rollouts/pull/1136

[2021-05-14 17:38] #1123 closed

[2021-05-14 17:40] DanTulovsky opened #1183 "When paused, display how long the pause is for."
# Summary

In both the CLI and the UI, it would be great if Rollouts could show a timer for how long it's waiting for (e.g. how long this current canary step is meant to last). Something like:

[code]

# Use Cases

It's helpful to know how much time is left until the rollout progresses further.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues wit

[2021-05-14 17:48] DanTulovsky opened #1184 "Provide manifests so rollout dashboard can be accessed via Ingress"
# Summary

It would be very helpful if the GUI Dashboard was served by the operator itself, so that we could setup a stable URL for people to use to see the current rollout status.

# Use Cases

All the time instead of the CLI started dashboard.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-05-14 18:03] jessesuen commented on #1184
We actually made the kubectl-argo-rollouts plugin available as an image:
https://quay.io/repository/argoproj/kubectl-argo-rollouts

It should already be possible to create a set of manifests that make this pod available via Ingress/Service.

We can/should do this in an official capacity as an optional set of manifests to apply if you want to expose the dashboard.

[2021-05-14 18:05] carlosalca commented on #1184
Hi!

Is it possible to run the dashboard locally ? I'm not able to do it. I'm using the argo rollouts plugin in a macOS and when execute the command ```kubectl argo rollouts dashboard``` and I get this error:
[code]

Any idea ?

Thanks!

[2021-05-14 18:15] jessesuen commented on #1184
It is but since we didnt update brew formulate you are probably running v0.10 and not v1.0. You can download 1.0-rc1 directly:
https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0-rc1 until we cut the official release next week

[2021-05-14 18:19] carlosalca commented on #1184
Thanks a lot @jessesuen !! I'll try!

Regards!

[2021-05-14 18:27] jessesuen commented on #1180
This is a valid bug

The problem which is happening is an Argo Rollout restart does restarts differently from Deployment restart (which is really just a rolling update) -- a Rollout delete pods directly instead of performing an actual update (since it needs to discern updates from restarts).

Currently, the logic which determines if a rollout is healthy is here:

https://github.com/argoproj/argo-r

[2021-05-15 03:33] huikang opened #1187 "feat: lint to support analysistemplate, experiment"
# Summary

The current `lint` sub-command only validates the rollout object. It would be useful to apply the lint to other resources like analysistemplate, experiment.

What change needs making?

# Use Cases

As argo-rollouts user, I need to check if the analysistemplate or experiment yaml is written in right format.

When would you use this?

v1.0.0-rc2 or v1.0

---

**Message from the maintainer

[2021-05-15 11:04] sagarpreet-chadha commented on #474
Hey @aweis89 , thanks for answering this.
I have a quick question, what exactly happens if we use the above Istio virtual service crd and in rollout crd we define setWeight step as let’s say 5%.
1. Will all requests with custom header only be routed to canary OR all requests with custom header + 5% random traffic go to canary?
2. Is it mandatory to provide Weight in virtual Service or we can just

[2021-05-15 21:15] jessesuen opened #1189 "workloadRef rollouts should record `status.workloadObservedGeneration`"
# Summary

Rollouts that use the new workloadRef feature, currently do not benefit from client-side checks where `status.observedGeneration == metadata.generation` because changes to the referenced workload object, do not increment the rollout's `metadata.generation`. This can cause a rollout's phase (Healthy/Degraded/Progressing/Paused) to be interpreted incorrectly because a client has no way to

[2021-05-17 03:24] huikang commented on #1189
Hi, @jessesuen  , I can look into this issue. Please assign it to me. Thanks.

[2021-05-17 14:17] shakti-das opened #1191 "Istio integrated canary in multi-cluster setup"
# Summary
We (Salesforce) are using [Istio multicluster setup primary-remote](https://istio.io/latest/docs/setup/install/multicluster/primary-remote/). Argo Rollouts current Istio integration patches VirtualService (VS) and DestinationRule (DR) in the cluster where the Rollout operator is running. This setup won't work in a multicluster setup because all the VS/DR will reside in the primary/config

[2021-05-17 14:46] saberkan opened #1192 "Allow insecure Prometheus provider in AnalysisTemplate"
# Summary

What change needs making?
Currently, there is no known procedure to add an additional trusted CA to argo rollouts.
When using an HTTPS prometheus provider in AnalysisTemplate, the following error message occurs:
`Error Message: Post <myprometheus url>: x509: certificate signed by unknown authority`

We would like to have the possibility to configure an insecure flag for prometheus provi

[2021-05-17 18:05] jessesuen commented on #1192
I haven't tried this this, but I believe is is possible to volume mount certs to well known directires which will considered while connecting to servers. See:

https://golang.org/src/crypto/x509/root_linux.go

Could you try that technique?

[2021-05-17 18:07] MarkSRobinson opened #1193 "Argo rollouts often hangs with long running deploys"
## Summary

When deploying roll outs with a long step time (>10m), Argo rollouts will often hang on the last step.

AR will get to 100% deployed, with all traffic on the new pods but will get stuck tearing down the old pods.  Using kubectl plugin, the message `Message:         old replicas are pending termination` will be displayed for a considerable amount of time (10-30 minutes).  Eventually Arg

[2021-05-17 18:07] jessesuen commented on #1189
Sure!

[2021-05-17 19:36] jessesuen commented on #1193
Are you using scaleDownDelaySeconds?
Which version of the plugin? Is that also `0.10.2` as well?

[2021-05-17 21:37] jessesuen commented on #1173
Fixed in https://github.com/argoproj/argo-rollouts/pull/1194

[2021-05-17 21:37] #1173 closed

[2021-05-17 23:26] MarkSRobinson commented on #1193
I'm not using `scaleDownDelaySeconds` and the plugin version is `v0.10.0+3837eab`

[2021-05-17 23:27] MarkSRobinson commented on #1193
My setup is using canary.

[2021-05-17 23:31] jessesuen commented on #1193
Are you using canary + traffic routing? There is a fix in v1.0 plugin which may address this:

https://github.com/argoproj/argo-rollouts/commit/31afa28d59f5e98ebb2fc4c3121ead29bf8b3256#diff-e6177f3a3015ec10cd7a2cfcb6293603125bbfb53bfdbd51f342507d084e6d2e

You can download v1.0-rc1 plugin here:
https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0-rc1

[2021-05-17 23:40] MarkSRobinson commented on #1193
Yes, I'm using canary with traffic routing (linkerD).

The problem really isn't with the plugin, it's that Argo can't scale down old pods for a considerable time.

[2021-05-18 00:58] jessesuen commented on #1193
Argo should set the `spec.replicas` of the old ReplicaSet stack to `0` shortly after the promotion of the canary. After that step, it's really up to the Pods to shut themselves down since they will get SIGTERMed by kubelet while honoring the pod's grace period seconds before getting SIGKILLed by kubelet.

If you see that the old ReplicaSet has `spec.replicas: 0`, then Argo Rollouts has done its jo

[2021-05-18 01:07] jessesuen commented on #1191
This seems doable and not terribly difficult to implement.

For this to work:
1. We would introduce controller configuration to have credentials (e.g a kubeconfig) to external istio primary cluster
2. When configured with external primary clusters, the rollout controller would start additional watches on VirtualServices and DestinationRules in these primary clusters
3.  The rollout spec would intr

[2021-05-18 02:34] MarkSRobinson commented on #1193
The replica set remains set to non-zero for a considerable amount of time.  In fact, I see an error about being unable to update the replicaset at the same time Argo moves to the "waiting for pods to terminate state".  I suspect that Argo is trying to update the RS, failing, and then not retrying.

What events do you want me to extract from the event history?

[2021-05-18 09:38] jessesuen commented on #1193
This is a good theory, especially if you notice the error in logs. Rollout has a default resync period of 15m, which is actually somewhat excessive and I think the default can be reduced to 5m. To test your theory, a workaround could be to decrease this to a lower value through the CLI option to the controller. e.g. 5 minutes:

[code]

The above setting will configure it such that if an error upda

[2021-05-18 10:09] #972 closed

[2021-05-18 10:11] jessesuen commented on #779
This has been done in Rollouts v1.0

[2021-05-18 10:11] #779 closed

[2021-05-18 10:16] jessesuen commented on #466
Fixed

[2021-05-18 10:16] #466 closed

[2021-05-18 16:25] MarkSRobinson commented on #1193
Would it cause problem to drop the resync down to like 60s?

[2021-05-18 17:45] jessesuen commented on #1193
The lower the number, the more frequently there are reconciliations. More frequent reconciliations means:
* higher CPU for the rollout controller
* highter memory requirements (if you increase workers)
* potentially more API calls. though, we try to reduce this as much as possible using local cache (i.e. kubernetes informers)

So I would say it depends somewhat on the number of rollouts in the sys

[2021-05-18 17:57] jessesuen commented on #1193
Let us know if reducing the resync period helped the problem. It will help pinpoint the cause of this bug (e.g. it implies we are not requeuing rollouts on errors properly)

[2021-05-18 18:02] jessesuen commented on #1193
I actually think this is no longer a problem in v1.0.  In v1.0, we introduced a scaleDownDelay for canary+trafficRouting. In v1.0 there is now a (configurable) default scaleDownDelay of 30s before the rollout scales down the old stack.

The reason for leaving the old stack running for 30s, is to give a chance for service meshes & ingress controllers, to adjust/propagate the traffic weight changes

[2021-05-18 20:17] jessesuen commented on #1014
@ryota-sakamoto that would be great!

[2021-05-18 21:56] huikang commented on #1189
Hi, @jessesuen , following your suggestion, I updated the following method to add the `rollout.argoproj.io/workload-generation` to the rollout object on any update to the referenced workload. However, when I test the code, it always give me the error

`updating rollout revision Rollout.argoproj.io "rollouts-demo-canary" is invalid: spec.template.spec.containers: Required value`

Could you provide

[2021-05-19 09:20] kostis-codefresh commented on #1147
@DanTulovsky while I understand what you are asking wouldn't it make more sense to manage argo rollout apps with Argo and its declarative support -> https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/ ?

In my mind terraform is for instrastructure (i.e. the k8s cluster where argocd and argo-rollouts run on) and argocd should handle all application level stuff. Using terrafo

[2021-05-19 09:35] shakti-das commented on #1191
@jessesuen I would like to pick this up and start on a PR as we would need this pretty soon.

[2021-05-19 11:34] jessesuen commented on #1191
That would be great!

[2021-05-19 12:20] DanTulovsky commented on #1147
@kostis-codefresh I suppose if you are already using Argo, then yes, certainly it would make sense.

One safe way to use terraform without mixing infra and deployment is to have to separate instances of terraform, one for infra and one for deployment (which is my case).

You might defer this until [https://registry.terraform.io/providers/hashicorp/kubernetes-alpha/latest](https://registry.terrafor

[2021-05-19 13:52] DanTulovsky opened #1199 "Fix 'get rollout -w' to keep terminal history"
# Summary

It seems that the way `get rollout -w` is implemented, it output a new instance of the entire output to the screen on each refresh.  The unfortunate ramification of that is that all of the text ends up in the scroll back history.

Would it be possible to instead redraw in place (e.g. like `top` does it)?

# Use Cases

All the time :)

---

**Message from the maintainers**:

Impacted by

[2021-05-19 14:00] kostis-codefresh opened #1200 "Fix/Isolate flaky e2e tests"
Several times the e2e tests for a Pull Request fail even when the change is completely unrelated (e.g. docs)

Here are some examples:

- https://github.com/argoproj/argo-rollouts/pull/1120
- https://github.com/argoproj/argo-rollouts/pull/1179

We should fix those tests or isolate them or find the underlying issue. Otherwise github contributors will not trust e2e tests or even worse lose time debug

[2021-05-19 17:56] MarkSRobinson commented on #1193
@jessesuen I've tried setting the rollout-resync to 60s and it hasn't improved the termination latency.

I can investigate upgrading the argo-controller to 1.0-rc.  Is there a timeline for a 1.0 release?

[2021-05-19 18:50] perenesenko commented on #794
I'll take this one

[2021-05-19 19:13] jessesuen commented on #794
Let's introduce a new response variable which will be made available in the `successCondition, failureCondition` which would have a code subfield.

Then the response could be interpreted as:

[code]

NOTE: that the response variable will only be populated for the web metric.

[2021-05-19 19:34] jessesuen commented on #794
Actually this is probably a better way. In parseResponse, we currently assume response is always JSON. But in the case that it is not (e.g. empty body or raw text), we can simply assign result to be the body of the response.

[code]

Then the web metric could be used like:

[code]

[2021-05-19 20:06] #1180 closed

[2021-05-19 22:51] Yorkerrr commented on #914
Hello @jessesuen, so according to https://github.com/istio/istio/issues/31854, there is nothing that can be done on argo-rollout side and we need to wait for a fix from istio, right?

[2021-05-19 23:21] jessesuen commented on #1199
I actually looked into doing this a while ago. Turns out it was way more complicated to do as it required us to use more sophisticated console plotting libraries and so I gave up. But yes, it would be nice.

[2021-05-19 23:25] jessesuen opened #1203 "promote ROLLOUT doesn't handle two analysis steps in a row"
## Summary

What happened/what you expected to happen?

Tried to write an e2e test where a canary rollout had two analysis steps in a row, and the test would promote the rollout from the first analysis step to the next. The controller did not realize that the currentAnalysisRun for the rollout is actually for the previous step, and continues to wait for it to complete, rather than starting the nex

[2021-05-19 23:26] jessesuen commented on #1203
Test was:

[code]

[2021-05-20 03:06] DanTulovsky opened #1205 "ValueFrom on web provider isn't working properly"
## Summary

I have an AnalysisTemplate that uses the web provider. I am trying to populate the Authorization Header. This is what it looks like:

[code]

If I change `valueFrom` to a simple `value`, and populate that directly with what is in the 'api' secret under the 'staging' key, then everything works correctly.  With `valueFrom`, when I do a tcpdump, I see:

[code]

The code seems to set that

[2021-05-20 19:57] jessesuen commented on #1184
FYI, v1.0 is released! https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0

[2021-05-20 20:17] huikang opened #1208 "Analysis Template argument without default value can not be resolved in the rollout yaml"
## Summary

When AnalysisTemplate has an argument what does not have a default value or `valuefrom`. The controller's validation failed due to unresolved argument name.

[code]

## Diagnostics

What version of Argo Rollouts are you running?

commit id: 912d3ac0097a5fc24932ceee532aa18bcc79944d

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issu

[2021-05-20 20:47] huikang commented on #1208
@jessesuen , before this line https://github.com/argoproj/argo-rollouts/blob/912d3ac0097a5fc24932ceee532aa18bcc79944d/pkg/apis/rollouts/validation/validation_references.go#L113

The method does not check if the argument name is available in the rollout spec.
Is this an intended behavior?

I think the logic could

[code]

What do you think?

[2021-05-21 01:12] jessesuen commented on #1208
@khhirani this is your code. can you check?

[2021-05-21 02:23] khhirani commented on #1208
@jessesuen This is expected behavior for the Rollouts controller.

[2021-05-21 02:30] huikang commented on #1208
@khhirani @jessesuen , thanks for checking. My thought is this is an regress because in this demo application, these two args do not have any value.

https://github.com/argoproj/rollouts-demo/blob/d40152cc2d4964ad10d26a4515b9148b3e990de2/examples/istio/analysis.yaml#L8

Their values comes from the rollout yaml:

https://github.com/argoproj/rollouts-demo/blob/d40152cc2d4964ad10d26a4515b9148b3e990de

[2021-05-21 02:34] huikang commented on #1208
I think we also need to fix some missing values in the doc to avoid confusion to the users: https://argoproj.github.io/argo-rollouts/features/analysis/

Please correct me if I am wrong

[2021-05-21 02:42] iAnomaly commented on #1208
@khhirani I just upgraded from v0.10 to v1.0.0 and this is a regression. We were using two args defined in a ClusterAnalysisTemplate _without_ values which had the behavior of _requiring_ those args in the Rollout spec instead of making them _optional_ via default values.

In order to fix this bug in v1.0.0 we had to set all args in the ClusterAnalysisTemplate with default values as you say. FWIW,

[2021-05-21 03:17] khhirani commented on #1208
@huikang @iAnomaly Thank you for the details! Looking into this.

[2021-05-21 03:58] huikang commented on #1077
closing as it is fixed in the latest head

[2021-05-21 03:58] #1077 closed

[2021-05-21 08:31] #1113 closed

[2021-05-21 08:48] jessesuen commented on #1193
That would be helpful! v1.0 is now [released](https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0)!

[2021-05-21 09:09] jessesuen opened #1210 "genenerate x-kubernetes-patch-merge-key and x-kubernetes-patch-strategy"
# Summary

Kustomize 4 has finally has a mechanism to teach it how to SMP custom resources. See:

* https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/openapi/
* https://github.com/kubernetes-sigs/kustomize/issues/2825
* https://github.com/kubernetes-sigs/kustomize/issues/2339
* https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md

 In order f

[2021-05-21 09:11] jessesuen commented on #1200
Agree. The challenge has been the failure mode of these tests have not been reproducible outside of github actions, and they also seem to be not isolated to a single or few tests. I plan on exposing controller logging in the e2e tests to help chase this down.

[2021-05-21 17:22] huikang commented on #1203
Hi, @jessesuen , I can look into this issue if you don't have bandwidth.

[2021-05-21 19:47] jessesuen commented on #1203
@huikang sure! I think I have an idea for the fix:

The current code assumes `c.currentArs.CanaryStep` is correct. However, in the case of two AnlysisRuns in a row, c.currentArs.CanaryStep refers to the previous analysisrun so we are miscalculation it. We need to differentiate the two and realize that the `status.canary.currentStepAnalysisRunStatus` is actually obsolete.

The way I'm thinking of f

[2021-05-21 19:51] huikang commented on #1203
@jessesuen , thanks for the guidance.

[2021-05-22 00:25] jessesuen opened #1214 "More aggressive cleanup of old AnalysisRuns and Experiments"
# Summary

The current default behavior for deleting old AnalysisRuns and Experiments, is that a Rollout will keep around the old objects for the same amount of `spec.revisionHistoryLimit`, which defaults to 10. This seems to be too much for users, who don't really care to keep these around that long.

I think the default should be changed to delete the old objects when the Rollout reaches Healthy

[2021-05-22 01:05] jessesuen commented on #794
Resolved in https://github.com/argoproj/argo-rollouts/pull/1212

[2021-05-22 01:05] #794 closed

[2021-05-23 02:39] huikang commented on #1203
Hi, @jessesuen I was trying reproduce what you observed by the following simplified example

[code]

In this example, I see that the controller can promote from the first analysis step to the second one, and then reach step 4 after the second analysis step. Do I miss anything to reproduce the error?