[2021-11-05 15:46] dpiraud commented on #1621
hi @huikang

I can't run this example "out of the box" on our platform but i think my demo is very very close to this example.
I'll dig around this log with our k8s provider and keep you inform if I found the problem

Thx for the dashboard, simple  => My API log each call with the "color" of the version. Log goes in elastic search with a grafana on top of it.
I use ["vegeta"](https://github.com/ts

[2021-11-05 16:35] bpoland commented on #1624
Sorry I didn't get the exact one matching the above but the only difference will be the image used (which is redacted anyway :))

The rollout/rs below was in the same state when I grabbed them.

rollout yaml: https://gist.github.com/bpoland/d97a019c2b92a9495cbe81036bbaee05
replicaset yaml: https://gist.github.com/bpoland/8b8bc50c91a05b4f239c7a4bc6a8a30f

I've been investigating more and noticed th

[2021-11-05 18:53] #1391 closed

[2021-11-05 23:25] harikrongali commented on #1624
are the pods going from ready --> not ready?
I need to validate the above use case. Might be possible that pods going from ready to not ready might be causing the issue. Probable edge case.

I have one question: Is rollout becoming healthy after pods become ready again? or is it keeping as degraded after that?

[2021-11-05 23:49] bpoland commented on #1624
Yes, some pods seem to be going ready, then not ready, then ready again. It seems like that might be causing the auto-abort.

Once it gets into a degraded state because of the auto-abort, then it stays degraded even after all pods are ready again. Clicking the "retry" button in the dashboard (or I assume doing the same with the cli) immediately makes the rollout healthy again, but that shouldn't b

[2021-11-08 02:03] agrawroh commented on #1591
@huikang You can assign it to me. I'm working on a similar issue to Dry-Run mode to analysis anyways.

[2021-11-08 10:30] khhirani commented on #1580
@bpoland Sorry for the delay! Could you please attach your Rollout spec as well as the controller logs? I'm not able to recreate this issue locally, so I'd like to try it with your rollout.

[2021-11-08 13:31] noam-codefresh commented on #1242
created PR - https://github.com/argoproj/argo-rollouts/pull/1629

[2021-11-08 19:13] gavin-db opened #1630 "Panic Loop in Controller Rollout syncHandler"
## Summary

We encountered a syncHandler panic loop in the Argo Rollouts controller when updating a Rollout under the following conditions:

1. A new version of a Rollout (named apiProxy) was released with its replica count increased from 8 to 10.
2. Argo attempted to scale the base replicaset from 8 -> 10 before scaling the canary replicaset (which was left at 0).
3. The base replicaset failed to

[2021-11-08 20:30] agrawroh commented on #1630
@jessesuen Could you please assign this to me?

[2021-11-08 22:28] #1511 closed

[2021-11-08 22:32] #1566 closed

[2021-11-08 23:36] jessesuen commented on #1624
Yes, I think that must be the case. `progressDeadlineAbort` probably doesn't account for a long-running Rollout suddenly becoming unready outside upgrade window and immediately becoming Degraded.

/cc @huikang

[2021-11-08 23:37] jessesuen commented on #1623
I think we can close this since the manifests committed in git will always have `:latest`.

[2021-11-08 23:37] #1623 closed

[2021-11-08 23:55] bpoland commented on #1624
Maybe the Rollout should not be marked as `Progressing` when a deployment is not in progress, and a pod goes non-ready?  That also seems a little strange to me, and might be related?

[2021-11-09 00:25] bpoland commented on #1580
@khhirani I am able to reproduce the issue consistently on my side, here are the logs from just now when I did it:

Controller log: https://gist.github.com/bpoland/e63bfa02f2c7118e7060b56f2f74e14d
Rollout yaml: https://gist.github.com/bpoland/f4628a6039a150e00bbfd2b042381248
Replicaset yaml (from after issue): https://gist.github.com/bpoland/4a1d951d8a9687cd0fa121ac8621b8d5

The deployment was ini

[2021-11-09 00:33] khhirani opened #1631 "Faulty naming convention for Experiments with collision handling"
We currently use dot-convention to handle collisions in event that there are multiple Experiments with same name and Spec. This is an issue because the name is not DNS compatible and causes problems in the AWS console.

Here is the problematic code:

![image](https://user-images.githubusercontent.com/16888243/140840049-71c1087e-a94d-4268-b5bb-3e1b203baf1f.png)

https://github.com/argoproj/argo-rol

[2021-11-09 00:49] harikrongali opened #1633 "Make multiple Analysis templates configuration for experiments to be in line with canary"
Configurations for providing Multiple analysis, we need to keep repeating args for each analysis name https://argoproj.github.io/argo-rollouts/features/experiment/

But for canary steps, inline or background analysis, we can mention all analysis templates and args separately.

request is to make the configuration for experiments similar to inline analysis

[2021-11-09 00:53] harikrongali opened #1634 "Add delete permission for argo rollouts cluster role"
For experiments services, rollout is not able to delete services when the replica set gets scaled down.

version: 1.1.0

[2021-11-09 01:11] harikrongali commented on #1631
can we name with - (hyphen) instead of . (dot) ? for collision extension

[2021-11-09 05:06] james-callahan opened #1635 "StatefulRollout"
# Summary

I'd like to use a blue/green deployment strategy with a stateful application.

# Use Cases

e.g. I have a stateful application and I want to keep the old version up until the new version has proven itself.

Suggested by @jessesuen  in https://github.com/argoproj/argo-rollouts/issues/132#issuecomment-518519954

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-11-09 18:02] jessesuen commented on #1631
Yes that makes sense.

[2021-11-09 18:15] harikrongali opened #1636 "Weighted experiment with AWS is not working"
Running experiment with weights added and with traffic controller as AWS is not working. Service/target group annotations are not updated in the ingress for the corresponding weight.

version: 1.1.0

[2021-11-09 21:03] huikang commented on #1624
The logic to abort timeouted rollout is https://github.com/argoproj/argo-rollouts/blob/dc1c11bdf1f0772c87c810a6d7ecb1ebaf799f7a/rollout/sync.go#L655-L667

Looking into how to reproduce the error.

[2021-11-09 21:23] agill17 commented on #1624
I am not using Deployment but directly using Rollout object.
Here is the rollout definition from the cluster ( after restarting ) -- As soon as I restarted rollout, it went into degraded state. Even after pods became healthy, the rollout is still marked "Degraded". And the RS that was restarted has the following annotation being added/removed in a loop `scale-down-deadline: '2021-11-09T21:23:17Z'`

[2021-11-10 00:21] khhirani opened #1637 "Experiment service names too long for DNS conventions"
Services cannot be created with names longer than 63 characters. This is a problem when we create a service for an Experiment step in Canary with Traffic Routing, since we use the ReplicaSet name as the service name. We need to enforce that all services we create are 63 characters or less.

The problematic code is here:

![image](https://user-images.githubusercontent.com/16888243/141026613-781fc2d

[2021-11-10 02:04] jessesuen opened #1639 "scaleDownDelaySeconds: 0 does not keep old RS's scaled up indefinitely"
## Summary

I spoke with a user who is attempting to leave their old ReplicaSets scaled up *indefinitely* after an update, but also limit the total historical revisions by a certain count. I believed this could be accomplished using the following spec:

[code]

So after three updates, I expect there to be three ReplicaSets, containing four pods each (12 total pods), since I indicate that I do not

[2021-11-10 02:09] jessesuen commented on #1639
Side note: if someone only specifies `scaleDownDelaySeconds: 0` and omits `scaleDownDelayRevisionLimit`, we should document that we will use `spec.revisionHistoryLimit` as the `scaleDownDelayRevisionLimit`.

[code]

[2021-11-10 09:06] harikrongali opened #1640 "AWS alb target verification is not working if rootService is not provided"
as per https://argoproj.github.io/argo-rollouts/features/traffic-management/alb/
[code]
In above rootService is optional but not providing rootService breaks targetVerification
to reproduce
[code]
Version 1.1.0

[2021-11-10 12:18] paveq opened #1641 "Latest tag used on manifests on released version"
## Summary

Latest tag used on manifests on released version for the image.

## Expected result

When installing Rollouts via Kustomize, tag on deployment would point to the version that is requested.

Latest tag is also used in generated manifests: https://github.com/argoproj/argo-rollouts/blob/v1.1.0/manifests/install.yaml#L13149

## Additional information

My Kustomization.yaml looks like:
[cod

[2021-11-10 20:05] paveq opened #1643 "Hardcoded secret argo-rollouts-notification-secret"
## Summary

As secret argo-rollouts-notification-secret is hardcoded, and it is coming from base manifests as empty secret, it makes very difficult to use proper secrets via SealedSecret or Secret Store CSI.

- SealedSecret controller refuses to override existing secrets not managed by the controller
- Kustomize cannot remove object from base, so even if manually removing using kubectl, argo-cd de

[2021-11-10 21:35] pa4h1u3-BRONGA commented on #1639
@jessesuen what is the intended usage of scaleDownDelayRevisionLimit vs spec.revisionHistoryLimit with Argo Rollouts? For that matter, the name scaleDownDelayRevisionLimit is a bit muddy....is it a limit only applicable during the scale down delay?  It feels like we need a more expressive way to say, how many historical revisions should be retained period, not just during window of scale down dela

[2021-11-10 21:59] jessesuen commented on #1639
`spec.revisionHistoryLimit` is intended to behave exactly like deployments. In both cases will just keep old ReplicaSets around for that many revisions.

`scaleDownDelayRevisionLimit` is stating, of my 10 old revisions (controlled by `spec.revisionHistoryLimit`), I would like N of them to be left scaled up.

We need both options. `spec.revisionHistoryLimit` to behave consistently with Deployments

[2021-11-10 22:43] jessesuen commented on #1641
We no longer commit the install manifests into git with hardwired versions because it complicated the release process. Instead, we attach install manifests to the release. You can change your customization to reference this instead:

https://github.com/argoproj/argo-rollouts/releases/download/v1.1.0/install.yaml

[2021-11-10 22:43] #1641 closed

[2021-11-10 23:37] pa4h1u3-BRONGA commented on #958
@jessesuen we have this same need....we're planning on file mounted configmaps for our needs, but need seamless roll fwd/back w/ argo rollouts, and the has option is super attractive to us.

[2021-11-11 01:17] pranshu256 commented on #1593
Thanks for the suggestion. This doesn't work quite as expected. The canary set does scale down after adding the `progressDeadlineAbort`, however the rollout degradation happens much later than the duration specified in `progressDeadlineSeconds`.

In the rollout:
[code]

So I was expecting the rollout to degrade and the canary set to scale down after two minutes. However it took 7+.

[code]

The ca

[2021-11-11 01:30] #1513 closed

[2021-11-11 02:20] agrawroh opened #1647 "De-Flake E2E Tests"
# Summary

Our E2E tests are super flaky currently. This task is to de-flake them so that the E2E triggers don't fail on the PRs anymore.

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-11-11 05:38] huikang commented on #1624
@agill17 , could you help test if the PR #1649 works for you? Thanks.

[2021-11-11 12:45] bpoland commented on #1624
Sorry for the delayed response, but yes I am using workloadRef. Do you think that's related to the issue?

Do you think the above PR will fix the issue when pods are going not ready and no rollout is in progress?

[2021-11-11 14:43] huikang commented on #1624
no problem. Whether using `workloadRef` doesn't matter since I can reproduce the error for rollout w/ and w/o workloadRef.

Yes, this PR should fix the issue. Please let me know what you will find. Thanks.

[2021-11-11 18:56] #1640 closed

[2021-11-11 20:58] #1647 closed

[2021-11-12 13:41] kandeshvari opened #1651 "Ingress updater doesn't support Ingress networking.k8s.io/v1"
## Summary

I've just bulit `master`, set `--ingress-api-version networking.k8s.io/v1` according to #1529, but is still getting the error `the server could not find the requested resource (patch ingresses.extensions rollouts-demo-rollouts-demo-stable-canary)`.

## Diagnostics

k8s: v1.22.2
argo-rollouts: master commit `f77b2c5936f52b2d949209252e942b8b37e18631` from Nov 11, 2021

[code]

---

**Mes

[2021-11-12 14:54] avg07 commented on #1651
Same issue.

[2021-11-12 15:03] artem-nefedov opened #1652 "Race condition when running analysis from experiment after immediate upgrade (1.1.0 regression)"
## Summary

Version 1.1.0 introduced a new race condition, which seems to happen when you run immediate upgrades (meaning changing revision again as soon as rollout becomes ready). The chance for issue to be reproduced is around 25%-50%.

Manifest used for testing:

[code]

This manifest has an experiment, which creates a preview replica (which in turn has a separate Service), and runs webmetric-b

[2021-11-12 15:24] kandeshvari commented on #1651
fixed for `ingress-nginx` with

[code]

[2021-11-12 19:10] harikrongali opened #1653 "refactor to remove mpatch library from rollouts"
With latest commit #1545, contributors are seeing failures in running unit tests locally on mac
Reason is with mpatch library.
[code]

[2021-11-12 19:26] leoluz commented on #1651
Duplicated https://github.com/argoproj/argo-rollouts/issues/1507

[2021-11-12 19:41] perenesenko commented on #1652
@artem-nefedov
In the 1.1 there where `scaleDownDelaySeconds` feature introduced. By default there is 30 seconds scale down delay.
To avoid this you can set this value to 0

[2021-11-12 20:31] artem-nefedov commented on #1652
@perenesenko I've tried setting it like this:
[code]
... and got an error:
[code]
In my case, I don't use traffic routing features.

I also couldn't figure it out if it's possible to set for experiment specifically.
It looks like Experiment CRD does support scaleDownDelaySeconds field:
https://github.com/argoproj/argo-rollouts/blob/master/manifests/crds/experiment-crd.yaml#L92
But if I try to set

[2021-11-12 20:32] leoluz commented on #1651
@kandeshvari Thank you. It was indeed a bug in the original ingress migration PR. I fixed it and wrote a test to validate it is working in https://github.com/argoproj/argo-rollouts/pull/1655

[2021-11-12 22:51] #1651 closed

[2021-11-12 23:00] harikrongali commented on #1652
can you clarify whether pods are shutting down after 30sec consistently? I mean if you upgrade after 30sec, is it working as expected?

[2021-11-13 07:26] artem-nefedov commented on #1652
Here's a visual representation of what happens when the issue is reproduced from argo rollouts kubectl plugin. Here, we see that AnalysisRun for revision 3 has already passed, while experiment pod for revision 2 is not yet scaled down (it's about to be scaled down 3 seconds later).

[code]

@harikrongali I can confirm that If I wait for canary pod from previous revision to scale down, the issue is

[2021-11-13 07:34] artem-nefedov commented on #1652
So, to summarise, it seems that the problem is caused by newly introduced 30s delay before scaledown that affects experiments as well, and there's no way to change it back to 0 for **inline** experiments.

[2021-11-14 11:47] faustodavid opened #1656 "Argo Rollout Notifications docs is not correct"
## Summary

What happened/what you expected to happen?

I was trying to follow the docs https://argoproj.github.io/argo-rollouts/generated/notification-services/webhook/ but failed to implement it.

In the end, I managed to implement the notification webhook with the help of @jessesuen which points me out the following.

* The docs mention "**Register webhook in `argocd-notifications-cm ConfigMap`

[2021-11-14 12:04] itsnagaraj opened #1657 "Subsequent updates using Blue/Green strategy for deployment taking very long time"
## Summary

We deploy entire stack made up of 15 to 17 services using blue/green strategy in one go. Initial deployment using BG strategy works fine. Subsequent deployments take for ever. Seeing the message below for subsequent deployments but eventually runs to completion (After about 4 to 5 minutes of retrying). Any hints on why this could be happening will be useful? Also I noticed this error o

[2021-11-14 16:27] kandeshvari opened #1658 "Rollout is not dynamic labels aware"
## Summary

I use dynamic labeling to pass traffic to leader pod. Definition is

[code]

Label `role: leader` is added to pod by a sidecar container after a complex leader check.

I do not use label `role` in `Rollout` and get this error

[code]

Is there possibility to use argo rollout in such cases?

argo rollouts: master from 13 Nov '21
k8s: 1.22.3
---

**Message from the maintainers**:

Impact

[2021-11-15 03:57] huikang commented on #1653
This looks duplicate to  #1605

[2021-11-15 16:14] huikang commented on #1658
@kandeshvari , if the match label is added to the pod template as well, I think it should work. Could you verify if the pod label matches the service label?

[2021-11-15 23:13] huikang commented on #1658
The rollout's podTemplate likes Deployment, where all pods have the same labels. The behavior you described sounds a statefulset.

So I don't think dynamic labels will be supported for rollout CR.

[2021-11-16 08:54] kandeshvari commented on #1658
Dynamic labels are not for `Rollout`. They are for `Pod`. As I understand - `Rollout` cr is an extension of a `Deployment` and must act as a `Deployment`. If I use plain `Deployment` - everything works fine, if I "translate" it to `Rollout` - I'm getting the error. So, I may conclude - the problem is in the `Rollout` cr and excessive label checks, that are not present in the `Deployment`.

[2021-11-16 09:51] itsnagaraj commented on #1657
Another observation - killing the argo-rollouts pods seems to process the updates quickly. I don't see any wait times

[2021-11-16 10:09] nissy34 commented on #474
Up*2. We need this feature.

[2021-11-16 10:24] imranismail opened #1660 "Support TCP traffic splitting for Istio's VirtualService"
# Summary

An additional parser is needed to cater for TCP routes

# Use Cases

When argo rollouts is in used to expose TCP based services

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-11-16 10:27] #1614 closed

[2021-11-16 14:49] huikang commented on #1658
The rollout controller checks if the `service`'s label matches the pods label

[code]

Then the rollout must have labels `L1: K1` and `L2: K2` in the its selector's label.

[code]

Could you illustrate what you use cases?

[2021-11-16 15:12] kandeshvari commented on #1658
**My case**
[code]

`role: leader` is a dynamically added to `Pod` label. `Service` is always static and points to active pod.

I want to use canary deployment without any traffic shaper. So I await that argo rollouts just will create separate deployment for me, which in my case will be one more `standby` pod. I will test it manually, switch the leader to this node, and `promote` it to complete th

[2021-11-16 16:25] ssanders1449 commented on #474
This would have been exactly what I need, and works fine when the the rollout completes normally.

However, in the case of an abort of the rollout, the canary service is not updated to with the hash of the stable service, so after the abort is complete, the canary service has no endpoints. So, any requests made with the header will now fail

Is it a bug that after an abort the canary service has n

[2021-11-16 16:36] huikang commented on #1658
Looks like rollout is missing in the picture. Are the two pods belong to the same rollout? What is the selector label of the rollout?

[2021-11-16 16:54] noam-codefresh commented on #1200
the latest e2e run on https://github.com/argoproj/argo-rollouts/pull/1625 has two failing tests:
TestAnalysisSuite/TestMultipleAnalysis
TestFunctionalSuite/TestRolloutPauseDurationGreaterThanProgressDeadlineSeconds

[2021-11-16 17:36] dpiraud commented on #1621
Hi all

After diging with our k8s provider, we found that the argo rollout user was not allowed to patch/delete replicaset.

The error above (Operation cannot be fulfilled...) wasn't part of out problem as it remains after fixing the authorizations.

Could-it be a good idea to catch and log this error on missing authorizations ?

No bug => I close this issue

BR,

Damien

[2021-11-16 17:36] #1621 closed

[2021-11-16 18:12] perenesenko commented on #1453
Hi @jessesuen
BTW how we're going to implement the case with experiment and reference to the canary via ping-pong?
We can not specify the ping (or pong) there as it always switches

Example of the experiment with canary:
[code]

[2021-11-16 18:20] alexmt commented on #1241
Implemented by https://github.com/argoproj/argo-rollouts/pull/1625 . Thank you @noam-codefresh !

[2021-11-16 18:20] #1241 closed

[2021-11-16 18:33] #1636 closed

[2021-11-16 19:06] perenesenko commented on #1453
We just talked with @harikrongali about this and see no issue here.
In this case the "specRef: canary" means "let's use the new template here". There is no relation to the ping/pong service

[2021-11-16 20:36] harikrongali commented on #1580
@jessesuen We are able to reproduce but scenario is same even earlier as well. I wanted to understand what would be the behavior.
When promote full happens, status steps will be set as 16 and step weight as 100% so when setting the desired weight, we set the weight at the step while we are bringing up the replicas.
[code]
And in code trafficrouting.go L110

[code]

[2021-11-16 21:58] bpoland commented on #1580
When not using `dynamicStableScale` then I don't think this is an issue right, because all the "old" pods should still be up and running so they should be able to immediately handle all traffic.

It seems like the important part is that `ActualWeight` shouldn't go higher than n, where n is `floor(number of ready pods / total pods)`.  Because I think that's what the scaledown should be based on rig

[2021-11-16 22:09] bpoland commented on #1580
Ahh sorry I was confusing things in my head, yes I see what you mean now.  So without dynamicStableScale does the "old" replicaset also get scaled down immediately then?  If so, this seems like a pretty serious issue with promote-full...

[2021-11-16 23:19] harikrongali commented on #1580
Without dynamicStableScale, old replica isn't scaling down immediately. That is an expected behavior

[2021-11-17 23:25] harikrongali commented on #1580
discussed with @jessesuen. Fix will be to weight for all pods to come up and then update the weight.
in the following block, we need to have another check for promote-full
[code]

[2021-11-18 18:45] #1580 closed

[2021-11-18 18:49] #1634 closed

[2021-11-18 18:54] #1630 closed

[2021-11-18 20:25] bpoland opened #1665 "Restarting degraded rollout with traffic split starts a canary pod"
## Summary

Here's the sequence of events:
1. Rollout with traffic splitting is degraded due to an abort, no canary pods are running (all traffic is on stable version)
2. We trigger a restart of the rollout using the dashboard UI or CLI
3. The stable pods start to restart (good) but a single canary pod is also started (bad)
4. As soon as the canary pod is ready, it gets terminated and a replacemen

[2021-11-19 01:02] harikrongali opened #1666 "Background analysis should ignore count value"
Background analysis should ignore count value as it should run indefinitely until all steps are completed.
The issue that we are seeing is if there is a count value present in the analysis template, then Background analysis runs for a number of count values and stops even though rollout is still progressing.

In rollout code, for background analysis, we do ignore count during template validation b

[2021-11-19 03:12] wd commented on #1385
I have the same issue, the image version is `quay.io/argoproj/argo-rollouts:v1.1.0`

[2021-11-19 19:07] #1624 closed

[2021-11-19 22:45] deepanverma19 opened #1667 "Number of replicas = Number of times notification sent to slack channel"
## Summary

What happened/what you expected to happen?
I increased the number of replicas of argo rollouts deployment from 1 to 3 and on every success of canary rollout its sending me notification three times on slack channel. We're running more than one argo rollouts pods for HA on our aws eks.
## Diagnostics

What version of Argo Rollouts are you running?
v1.1.0
[code]

---

**Message from the m

[2021-11-21 16:27] bpoland commented on #1580
Hey folks, I've tested the fix and it does prevent the old pods from being scaled down early which is great -- thanks!

Unfortunately it looks like there's still an issue with the traffic weighting -- as soon as I promote-full, the traffic split is updated to show both set and actual weight as 100, and the linkerd traffic split shows that it's sending 100% of traffic to the stable version.  This m

[2021-11-21 16:44] bpoland commented on #1580
Oh and this also means that even with dynamicStableScale enabled, all of the old/stable version pods remain up until the final switch happens.  If the "actual" weight were being properly adjusted as the new canary pods came up, I think the old pods would start to scale down as more new pods became ready, right?

[2021-11-21 17:03] harikrongali commented on #1580
@bpoland when you do promote-full, at that time, traffic weight wont get updated.
for ex: Stable: 90, canary: 10
promote-full executed
at this moment, stable 90 canary 10 and these values wont be updated until all canary pods are ready.
after all, pods are ready, then canary 100, stable 0

that will be a limitation for promote-full and weights won't get automatically adjusted when canary pods are

[2021-11-21 17:03] harikrongali commented on #1580
and for dynamicStableScale, yes..when canary pods are coming up, stable pods gets adjusted

[2021-11-21 17:15] bpoland commented on #1580
Hmm that's not what I'm seeing -- as soon as I promote-full the linkerd traffic split gets updated to 100 stable, 0 canary.  I see that in the linkerd console, and it matches what the rollout is showing (set and actual weight are both 100 right after the promote).

I thought this type of situation was what the set/actual weight differences were for -- I would have expected the set weight to be 100

[2021-11-21 19:39] agrawroh commented on #1660
@imranismail I'm assigning this to you as you've already started working on it.

[2021-11-22 17:40] geowalrus4gh commented on #1422
Hi, is it possible to trigger a k8s job in the same deployment?

[2021-11-22 21:36] huikang commented on #1667
Thanks for reporting!

I think only the primary replica should be able to send the notification. Will fix this.

[2021-11-23 01:42] itsnagaraj commented on #1657
saw this int the k8s controller manager logs at same time when argo-rollouts controller was displaying the `Cannot update the workload-ref/annotation` message

[code]

not sure if this was relevant  but found this when hunting for root cause.

[2021-11-23 02:49] huikang commented on #1667
Hi, @deepanverma19 , I think the HA mode is not supported in v1.1.0; therefore when you have 3 replicas, it ends up 3 identical controllers.

The HA mode is planned for **v1.2**, so if you installed from the latest version the issue should be solved.
https://argoproj.github.io/argo-rollouts/FAQ/#can-we-run-the-argo-rollouts-controller-in-ha-mode

[2021-11-23 21:23] harikrongali commented on #1666
discussed with @jessesuen and background analysis can run for a finite time based on a number of count values to take. Will close the ticket.

[2021-11-23 21:23] #1666 closed

[2021-11-24 05:02] deepanverma19 commented on #1667
@huikang perfect, sounds good 👍

[2021-11-24 05:58] wd commented on #1385
Run the controller on my local machine and add the error in the outputs, I got this
[code]

It looks like the rollout controller want us to setup the `spec.selector`? But according to the example in the [doc](https://argoproj.github.io/argo-rollouts/migrating/#reference-deployment-from-rollout), we don't need to setup that?

[code]

[2021-11-24 06:00] wd commented on #1385
I think this issue still exist in the master, can we reopen this issue? @jessesuen

[2021-11-24 17:32] jali-clarke opened #1668 "Notifications do not respect defaultTriggers"
## Summary

Even though `Argo Rollouts` uses the same notification engine as `Argo CD`, it does not seem to respect `defaultTriggers` the same way that `Argo CD` does.

If I set the following in `argo-rollouts-notification-configmap`:

[code]

and attach the following annotation to the `Rollout` object:

[code]

I don't get any event notifications in the `#argo-notifications` Slack channel on e.g.

[2021-11-25 04:47] huikang commented on #1668
I guess argo-cd uses [argocd-notification](https://github.com/argoproj-labs/argocd-notifications) which contains some built-in triggers and templates. But it the defaultTriggers is unavailable by default in argo-rollouts

[2021-11-25 10:29] kostis-codefresh opened #1670 "docs: Is VPA supported by argo rollouts?"
Discussed in https://github.com/argoproj/argo-rollouts/discussions/1459

There is already documentation on how Argo Rollouts works with HPA. We need  some docs to clarify the way VPA works as well.

[2021-11-25 13:03] kostis-codefresh commented on #1518
I added another PR https://github.com/argoproj/argo-rollouts/pull/1671 for the selector of versions.

Here is how it looks https://argo-rollouts.readthedocs.io/en/doc-versioning/

![drop-down](https://user-images.githubusercontent.com/39800303/143446425-803978fe-5d28-4b81-a333-be20bdf5d6d7.png)

Currently it is pointing at my own github repo. But when this is merged I will point readthedocs to the

[2021-11-26 04:31] itsnagaraj commented on #1657
setting up the selector on the Rollout seems to have fixed the issue.

[code]

[2021-11-28 21:20] derjust opened #1675 "e2e TestWorkloadRef fails / LabelSelector is "null" & should be optional?"
## Summary

Following the `docs/CONTRIBUTING.md` documentation on `master`  47d59fa9855ab737e40e21ef5938b2b6723cb899
on OSX, the `TestWorkloadRef` e2e fails - using `make test-e2e E2E_TEST_OPTIONS="-testify.m ^TestWorkloadRef$"` for all further descriptions below:
(For context, i found this while working on my PR #1577)
[code]

## Diagnostics

What version of Argo Rollouts are you running?
`Master

[2021-11-29 04:34] huikang commented on #1611
@jessesuen , could you elaborate the above proposal a bit? Do you mean to populate the object with template in the [sendnotification method ](https://github.com/argoproj/argo-rollouts/blob/47d59fa9855ab737e40e21ef5938b2b6723cb899/utils/record/record.go#L194)or some else? Thanks.

[2021-11-30 02:58] huikang opened #1677 "Rollout stuck in progressing status with an old revision in progressing status"
## Summary

What happened/what you expected to happen?

The rollout is stuck in the progressing status and eventually becomes timeout.

[code]

Retrying the rollout or updatin doesn't resolve the issue.
The only way to remedy the problem is to delete the replicaset app1-5679f6cfdb (`revision: 3`). After that, the rollout becomes healthy.
My double is that the rollout progress is blocked due to the

[2021-11-30 05:01] huikang commented on #1675
Could you try syncing up with the latest master? the test is passed for me

[code]

[2021-11-30 06:06] derjust commented on #1675
Thank you @huikang .
I'm running of the latest `main` i see:
[code]

Can you add logging and see if your `selector` is `null` (and it serializes differently) or if there is a selector that somewhat is missing on my end?

I also cleared out my `~/.kube/config` and have only my EKS cluster present. The cluster itself was also cleaned and it has nothing running but the AWS system pods
[code]

The sam

[2021-11-30 06:16] derjust commented on #1675
Alright - I did another test with minikube - which lets the e2e test succeed:

[code]
And in a different terminal run the e2e test successfully
[code]

[2021-11-30 14:53] derjust commented on #1677
We saw this behavior and assumed it is 'expected':
If the `stable` service is degraded, Argo doesn't touch anything as a rollback might not be possible. Thus it leaves everything as-is.
Our workaround for this situation (which occurs rarely if anything) is to use `promote --full` to force the rollout (when we now the new version is the fix for the problem)

[2021-11-30 16:28] huikang commented on #1675
@derjust , thanks for the info. So the problem is reproducible in EKS.

[2021-11-30 16:53] huikang commented on #1677
@derjust , thanks for the comment. I will try to reproduce the situation and see if `promote --full` remedies the issue.

[2021-11-30 17:12] derjust commented on #1675
Yes - though i don't know if the problem is EKS (rejecting the `"null"` or if minikube is just more leninent (which it shouldn't be). Leaning towards the first but I'm not sure

[2021-11-30 18:46] alexmt commented on #1677
@huikang , please let us know if `promote --full` helps. ( adding `more-information-needed` label for a stale bot to close this issue if there will be no updates for a long time )

[2021-11-30 21:02] #1539 closed

[2021-12-01 18:58] alexmt commented on #1675
I think we should use k8s patch to change generation annotation, instead of update. The update might fail due to invalid fields and also due to concurrent modification. Created PR that changes code to use patch https://github.com/argoproj/argo-rollouts/pull/1678

[2021-12-02 13:31] RaviHari opened #1680 "Update Notification services docs"
## Summary
Argo Rollout Notification services documentation uses app in the templates instead of rollouts as it might have been taken from argocd-notifications documentation.
https://argoproj.github.io/argo-rollouts/generated/notification-services/email/
It would be good to update it with rollout templates in all the services documentaitons.

---

**Message from the maintainers**:

Impacted by thi

[2021-12-03 04:53] agrawroh commented on #1617
This is now done so closing.

[2021-12-03 04:53] #1617 closed

[2021-12-03 05:43] huikang commented on #1677
Hi, @alexmt , I can reproduce the behavior as follows, and `promote --full`  doesn't help.

1. `kubectl apply -f <the following rollout manifest> `
[code]

Following is the output of the rollout
[code]

Then I update the image to a valid image name and the status stuck in

[code]

The rollout stuck in the progressing state and `promote --full`  does not fix the it. The only way I find to fix is to

[2021-12-03 13:10] bpoland opened #1681 "Promote-full with Traffic Splitting sends traffic to non-ready ReplicaSet (still)"
## Summary

This is a follow-up to https://github.com/argoproj/argo-rollouts/issues/1580 and the discussion at the end.  I am still seeing issues with promote-full particularly when it's triggered near the middle/end of the canary steps.

Here's a timeline of a test that I just performed.  Note that 7:00 here corresponds with 12:00 in the controller log below.

7:13 - deployment initiated
- one ne

[2021-12-03 13:11] bpoland commented on #1580
Created [a follow-up](https://github.com/argoproj/argo-rollouts/issues/1681) since I think things are still broken after this fix.

[2021-12-03 20:09] jessesuen commented on #1677
Yes, I do think this is a bug if `promote --full` is not getting it out of that last state. `promote --full` should always be the break glass mechanism to move to the current revision (assuming the current revision pods can come up properly).

[2021-12-03 21:48] xbuzz opened #1682 "Homebrew deprecation notice"
## Summary

What happened/what you expected to happen?

Homebrew installation deprecation.

Please report this issue to the argoproj/tap tap (not Homebrew/brew or Homebrew/core):
  /opt/homebrew/Library/Taps/argoproj/homebrew-tap/kubectl-argo-rollouts.rb:8

OS: macOS 12.0.1 (MacBook Pro 14" 2021, Apple M1 Max)
Homebrew `3.3.6`

## Diagnostics

What version of Argo Rollouts are you running?

N/A

[

[2021-12-03 22:59] derjust commented on #1675
Thank you @alexmt !
I tested your branch locally with EKS and it works (as does my PR #1394.

As it is already approved & testes 🟢 - is there timeline to merge your PR?

Thanks again!

[2021-12-06 10:12] nissy34 commented on #1681
HI
I was facing the same issue.

The solution in my opinion to calculate the weight based on the canary available replicas.
[code]
I opened a PR https://github.com/argoproj/argo-rollouts/pull/1683 with this fix.
In my tests locally it fixed the issue.

[2021-12-06 10:39] yq314 commented on #1422
Hi guys, it looks like the newly added notification feature only comes with triggers for a successful rollout, any idea on how to configure it for failures (which is more useful in most of cases)

[2021-12-07 04:25] huikang commented on #1677
<img width="647" alt="Screen Shot 2021-12-06 at 11 24 05 PM" src="https://user-images.githubusercontent.com/463631/144966029-37b30fba-b303-4011-94f6-50ba029274fb.png">

Looks like the UI doesn't allow promote full, but the command line allows in this case. After running the promote command, the issue was resolved.

[2021-12-07 04:25] #1677 closed

[2021-12-07 18:46] liorfranko commented on #1657
We experience the same issue using the Canary strategy.

[2021-12-08 14:51] allupaku commented on #710
Do you think a definition like this would suffice this use case ?

[code]

[2021-12-08 18:07] harikrongali opened #1690 "Manifest update in middle of canary is not deploying the latest"
## Summary

1. New image triggers canary and is in steps
2. while canary is paused, there is another image update
3. Should start new canary deployment but it is not happening

workaround: delete old RS and update

## Diagnostics

What version of Argo Rollouts are you running?
v1.1.0
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with th

[2021-12-09 02:47] huikang opened #1693 "Fatal runtime execution using go 1.17"
## Summary

What happened/what you expected to happen?

go run cmd/rollouts-controller/main.go

[code]

## Diagnostics

What version of Argo Rollouts are you running?

master

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-12-09 07:39] RaviHari opened #1694 "Enable Notifications for Analysis Runs"
# Summary

Notifications to be sent based on the triggers for analysis.

# Use Cases

This will be useful when in canary deployments/progressive delivery when the traffic is being shifted to latest deployments when the analysis runs fails it notifies the users in slack/email etc.,

cc: @jessesuen

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues w

[2021-12-09 08:55] faustodavid commented on #1694
When the Analysis Run fails, the rollout is aborted. You can listen to `trigger.on-rollout-aborted` to notify your users.

[2021-12-09 09:19] RaviHari commented on #1694
sure.. I am thinking even other scenarios like:

- when the canary rolls out if there is a delayed analysis it would be good to have a notification if that analysis is successful..
- If there are multiple templates under analysis used.. it would be good to know which ones failed and which ones passed with a notification.
- prePromotionAnalysis notification can help to determine if users can promot

[2021-12-09 16:00] bpoland opened #1696 "Panic while trying to reconcile Rollout, most stable pods restarted"
## Summary

I'm not 100% sure how it got into this state but I had a Rollout which was panicing the controller.  I tried to follow the stack trace which seems to be pointing at [this line](https://github.com/argoproj/argo-rollouts/blob/master/rollout/analysis.go#L353) saying that the latest replicaset didn't have a pod hash label, but I checked and it did have a correct `rollouts-pod-template-hash

[2021-12-09 17:50] jessesuen commented on #1694
I believe we already emit events for things like: AnalyisRunFailed AnalysisRunSucceeded. I feel like it might be possible to do this today with `on-analysisrun-failed` . If not, I think it should be fixed.

Another scenario where this might not be enough is, now that we will have DryRuns in v1.2, the abort event wont actually happen but analysis will still fail. it will be good to get notified abo

[2021-12-10 21:15] jessesuen commented on #451
While I think the spec you are proposing is ideal, I do want to call out some complications with the implementation.

There is quite a bit of the blue-green code which is currently assuming a single activeService, and the controller is examining the Service as the source of truth to infer what stage it is in during blue-green update. But by switching to a list of services, the source of truth coul

[2021-12-10 21:53] #1675 closed

[2021-12-10 21:53] #1657 closed

[2021-12-10 23:27] #1693 closed

[2021-12-10 23:42] jessesuen commented on #1696
Thanks for the detailed information in the bug, it is helpful.

Here's the more readable stacktrace:

[code]

It's not that the label was missing. The only way it could have panicked is if: `c.newRS` is nil. The fact that we got to this line of code with `c.newRS` being nil, is unexpected. And since you mentioned you examined the ReplicaSet, it must have existed, so something is amiss.

[code]

Th

[2021-12-11 00:01] jessesuen commented on #1696
I feel the `syncReplicasOnly()` method is doing too much work, not to mention there is redundant effort with the normal codepath. Since the scaling path is not executed as frequently, I feel it could be a source of corner cases. `syncReplicasOnly()` was originally supposed to only handle scaling events, but I see it trying to reconcile analysis, introduced by this change:

https://github.com/argop

[2021-12-11 21:32] #913 closed

[2021-12-12 11:47] aldredb opened #1700 "Background Analysis run targets stable pod instead of canary pod"
## Summary

I deployed `Rollout` with AWS ALB `trafficRouting` and background analysis using `web` provisioner (refer to the manifests below). I changed the image from `argoproj/rollouts-demo:blue` to `argoproj/rollouts-demo:bad-green` to simulate auto rollback, but I noticed that the analysis traffic goes to `blue` (stable) instead of `bad-green` (canary), therefore all the web requests succeed a

[2021-12-12 12:06] farhanangullia commented on #1700
I'm also facing this issue for canary rollouts with Istio subset level traffic splitting.. Traffic was only routing to the stable pod during the analysis runs with the web provider.

[2021-12-12 21:03] nissy34 opened #1701 "Unit tests for traffic routing pass even if we set the expected weight to an arbitrary number"
## Summary

In the process of adding unit tests in `trafficrouting_test.go` for #1683 I noticed the mock for setWeight that asserts the desiredWeight is equal to the expected weight is **never called**, therefore the value is never checked and all tests pass even if the desiredWeight is wrong.

e.g.
in the test https://github.com/argoproj/argo-rollouts/blob/b3d50d1583835ea275ec96df47ec11b2acb9aa0b

[2021-12-13 03:54] huikang commented on #1690
Hi, @harikrongali , does this happen to a canary update with traffic management?

I tried a regular canary update (w/o traffic) and could not reproduce the behavior. When the canary update is paused and another image update is triggered, the controller brings up new pods and takes down the intermediate version.

[code]

[2021-12-13 04:29] huikang opened #1702 "UI: displaying canary scale in the steps"
# Summary

The value of canaryscale is missing in the steps of the rollout UI

# Use Cases
<img width="387" alt="Screen Shot 2021-12-12 at 11 27 18 PM" src="https://user-images.githubusercontent.com/463631/145752491-e7b88541-1dec-4808-bd2d-be5b4c51e4fe.png">

When would you use this?

Like the weight % is displayed in the UI, it is useful to see the canaryscale value.

---

**Message from the main

[2021-12-13 09:42] jessesuen opened #1704 "Leader election lease namespace should be controller namespace"
## Summary

I noticed that the upcoming 1.2 leader election feature will try to use `kube-system` as the namespace to manage the Lease object. However, I think it should manage it in the same namespace as the controller (e.g. argo-rollouts). @huikang is there a reason `kube-system` is used as the default?

## Diagnostics

What version of Argo Rollouts are you running? v1.2 (unreleased)

---

**Mes

[2021-12-13 09:45] jessesuen opened #1705 "Status.ALBStatus should be a pointer"
## Summary

The upcoming ALB status fields is polluting the Rollout status with a ton of empty information for users who are not even using ALB (which is probably most of our users).

[code]

This needs to be changed to a struct pointer so that users who don't have alb enabled, won't see this.

## Diagnostics

What version of Argo Rollouts are you running? v1.2 (unreleased)

---

**Message from th

[2021-12-13 13:45] johnniee opened #1707 "Total replica count should be capped during a rollout"
# Summary

According to the 'important' section [here](https://argoproj.github.io/argo-rollouts/features/canary/
) - Argo Rollouts makes the best effort to achieve the percentage listed in the last setWeight step.

Is there any other way I can achieve a situation where the rollout will always respect the number of the replica count I provided in the deployment file? Using traffic management won't

[2021-12-13 14:02] luckyluke13 opened #1708 "Allow multiple stableIngress"
# Summary

Under trafficRouting, stableIngress in the rollout object, only one stableIngress can be specified. It would be good to be able to specify multiple ingress rules.

# Use Cases

In many serious kubernetes implementations, it is not sustainable to work with only one big ingress rule but instead have multiple ingress rules for example for different host endpoints.

---

**Message from the

[2021-12-13 15:51] huikang commented on #1704
@jessesuen , I don't think there is any particular reason to set `kube-system` as default. I agreed that we shall use the same namespace as the controller. Let me fix it.

[2021-12-13 16:27] DanTulovsky opened #1709 "Web UI: Please put namespace in the URL"
## Summary

Please put the namespace into the URL of the dashboard component.  e.g.

http://myhost/rollout/namespace-foo/rollout-bar

It's not clear how the namespace is currently set, but I often end up in a situation where there seems to be a disconnect between the namespace being shown and the Rollout I am trying to see.  e.g. if I am trying to see Rollout "X" in namespace "Y" via:

`http://myh

[2021-12-13 17:13] harikrongali commented on #1690
@huikang one of intuit customers reported the issue and confirmed it as a bug, I still need to take a look at it. I am out last couple of weeks. Will add more details this week.

[2021-12-13 17:21] harikrongali commented on #1700
also, please provide output for kubectl get analysisruns <run-name> -o yaml -n <namespace>

[2021-12-13 23:46] aldredb commented on #1700
@harikrongali

`successCondition: "true"`. I made use of the default behavior of web metrics, which just checks for the HTTP status code (Refer to https://github.com/argoproj/argo-rollouts/issues/794). If it is not 200, then it fails. `bad-green` has a high chance to returning 500 status code. Referring to my screenshot, it is clear why the checks pass. The traffic only hits stable pod. Also as I

[2021-12-14 03:48] harikrongali commented on #1700
@aldredb tried to reproduce with your yaml files. I see canary & stable service pod hashes are updating correctly. There is nothing like analysis traffic that rollout does differently. It relies on kubernetes to route traffic based on pod hash. Url that is mentioned in the analysis template does behave differently and I don't have an answer for that. incl @jessesuen if he can provide some insight.

[2021-12-14 04:54] #1572 closed

[2021-12-14 05:55] aldredb commented on #1700
@harikrongali yes i too noticed that the `rollouts-pod-template-hash` are updated correctly

[2021-12-14 14:22] WillSewell opened #1711 "`get` command is slow with a large number of resources"
## Summary

The running time of the `get` command is proportional to the number of Rollouts, ReplicaSets, Pods, Experiments, Analyses in the cluster. With a large number of these resources it can make the command inconvenient to run. For example with roughly 10,000 of these resources, the command takes 40 seconds to run in our cluster.

The get command [calls `controller.GetRolloutInfo`](https://g

[2021-12-14 17:57] huikang commented on #1711
@jessesuen is there any reason to search by all the labels like in `c.replicaSetLister.List(labels.Everything())`? If we filter the pods/analysisrun/... only for that rollout, it can be faster to return the results.

[2021-12-14 17:59] #1518 closed

[2021-12-14 18:01] jessesuen commented on #1653
Duplicate of https://github.com/argoproj/argo-rollouts/issues/1605

[2021-12-14 18:01] #1653 closed

[2021-12-14 18:02] jessesuen commented on #1605
Resolved in https://github.com/argoproj/argo-rollouts/pull/1654

[2021-12-14 18:02] #1605 closed

[2021-12-14 18:19] jessesuen commented on #1711
I agree. This would be more performant

[2021-12-14 18:21] jessesuen commented on #1709
Duplicate of https://github.com/argoproj/argo-rollouts/issues/1538

[2021-12-14 18:21] #1709 closed

[2021-12-14 18:24] huikang commented on #1711
I can take a stab on this one.

[2021-12-14 18:26] jessesuen commented on #1708
Which traffic provider integration are you using / asking to use this with?

Or are you asking about stableService (and not ingress)

[2021-12-14 18:41] huikang commented on #1704
Gotcha. I agree it is better to have the lease lock in the same namespace as the controller automatically.
But what if the controller is running out of the cluster (say, in a local dev mode)? Shall we provide a default value for the namespace?

[2021-12-14 20:46] harikrongali commented on #1700
@aldredb issue is with the rollouts-demo image that you are using. Use any sample image with APIs that can differentiate the stable and canary. You should be able to get accurate results.

[2021-12-14 20:48] harikrongali commented on #1700
rollouts-demo image is a UI rendered output that will change output once URL is used over browser. shouldn't be used for analysis as the output is not accurate. Use more API driven images that can differentiate the state

[2021-12-14 20:51] harikrongali commented on #1667
@deepanverma19 please reopen if you see still see any issue.

[2021-12-14 20:51] #1667 closed

[2021-12-15 01:39] blkperl commented on #1091
There is an upstream issue that will hopefully unblock us https://github.com/kubernetes/kubernetes/issues/96564

[2021-12-15 02:16] joeblubaugh opened #1713 "Rollout failed to start with a small # of replicas and a large # of steps."
## Summary

I have a rollout configured like:
[code]

When this is run with a low replica count, the first step with weight 10 fails to start. My read of the code implies that one canary replica should still be started:
https://github.com/argoproj/argo-rollouts/blob/5e188f94ac5f678d27774249100078d88c8225ee/utils/replicaset/canary.go#L136

We worked around this problem by reducing the number of ste

[2021-12-15 04:41] huikang commented on #1713
@joeblubaugh , I couldn't reproduce the behavior even with a small replica number 1

The first step of my rollout is

[code]

When the rollout paused at step 1, it shows 1 canary pod is created.

[code]

My controller version is `v1.1.0+061efd4.dirty`. or if possible, could you paste the full rollout spec as I might miss something to reproduce the behavior? Thanks.

[2021-12-15 06:43] jinstest1 commented on #1507
when we are expecting the release of the above bugfix ?

[2021-12-15 06:52] jinstest1 commented on #1619
when we can expect the fix to be released ?

[2021-12-15 08:27] kostis-codefresh commented on #1518
@cooperbenson-qz This has been implemented. However since we just added the versioning, only "latest/master" is visible right now. All the next Rollout releases will appear on the drop-down as soon as we release them.

[2021-12-15 08:35] gabipetrovay opened #1716 "zsh completion not enabled when sourced and not extending kubectl completion"
## Summary

I have the zsh completion sourced in `~/.zshrc` using:

[code]

With only this, no completion works:

* `kubectl` does not list `argo`
* `kubectl-argo-rollouts` does not complete
* `kubectl argo rollouts` does not complete

But the completion script does not enable the completion (the following line is commented out):

[code]

So I have to also add this `compdef` to my `~/.zshrc` as we

[2021-12-15 10:15] nissy34 commented on #1385
I encounter this issue as well.
argo-rollout version v1.1.1

[2021-12-15 12:56] #1700 closed

[2021-12-15 13:55] Kakaboto commented on #1708
Hello,

NGINX

[2021-12-15 18:42] #1668 closed

[2021-12-15 19:03] alexmt commented on #1716
@kostis-codefresh FYI

[2021-12-15 20:11] kostis-codefresh commented on #1716
@alexmt . Please assign to me. Thanks for the heads up

[2021-12-15 20:13] alexmt commented on #1716
Thank you @kostis-codefresh !

[2021-12-15 21:15] harikrongali commented on #727
@huikang can we close this?

[2021-12-15 21:26] huikang commented on #727
Thanks for checking. Yeah, this one can be closed now.

[2021-12-15 21:26] #727 closed

[2021-12-16 00:55] perenesenko opened #1718 "Switching 100 traffic to stable after the last step processed"
## Summary

When all steps are passed (`step index == len(steps)`) there is a moment when the rollout controller is sending 100% of the traffic to the stable version immediately before switching the stable/canary labels.

The expected behavior: there should be 100 traffic sent to the canary before switching the labels

It's happening during the short time between reconciling traffic and updating t

[2021-12-16 01:21] MarkSRobinson opened #1719 "Feat: Add query result value to logs"
# Summary

I'd like to see the value of the AnalysisRun result put into the logs.  This would be similar to the AnalysisRun object in k8s, but would make it easier to analyze bugs via digging through the logs rather than relying on k8s recycling objects.  Specifically, I want the value from the query that Argo received.

# Use Cases

Tracking down bugs where Rollouts fail or succeed for unusual re

[2021-12-16 16:29] nissy34 opened #1720 "Controller error logs when using the Notification feature"
## Summary

When using the Notification feature the controller prints errors
`time="2021-12-16T16:13:47Z" level=error msg="Failed to process: Object 'Kind' is missing in ...... `
This doesn't happen when I remove the notification annotations.
It seems that the rollout is progressing as normal.
Can I ignore these errors?

## Diagnostics

What version of Argo Rollouts are you running?
v1.1.1

# roll

[2021-12-17 03:44] mich181189 opened #1721 "Adding a volume to a rollout breaks it"
## Summary

What happened/what you expected to happen?
I added a volume to the sample rollout, it broke. I expected it to work. Converting it to a deployment works as expected

[code]

## Diagnostics

What version of Argo Rollouts are you running?

quay.io/argoproj/argo-rollouts:latest

I am running Kubernetes v1.23.0 so needed the latest tag for the `ingress-api-version` flag

[code]

Dumping out

[2021-12-17 05:06] huikang commented on #1721
Could not reproduce the behavior using the example provided. Everything looks fine after adding a volume to the rollout.
1. Could you describe what is broken (e.g., controller panic)?
2. > I am running Kubernetes v1.23.0 so needed the latest tag for the ingress-api-version flag
   Not sure what does this mean. Could you elaborate a bit?

[2021-12-17 05:08] huikang commented on #1720
Also reported to the notification-engine repo: https://github.com/argoproj/notifications-engine/issues/47

[2021-12-17 08:52] sergeyshaykhullin commented on #1592
@alexmt @jessesuen Can you please delegate to someone who can help with this?

[2021-12-17 19:43] WillSewell opened #1722 "Provide the option to send the entire Rollout as JSON to webhook notification services"
# Summary

For webhook notification services, provide the ability to forward the entire Rollout as JSON.

# Use Cases

We would like to decide which fields to use within our service that handles notification webhooks, rather than within the notification template. This would allow us to reduce the coupling between the template and the webhook handling service that consumes the notifications (which

[2021-12-17 19:49] WillSewell opened #1723 "Pass the trigger name to the notification template"
# Summary

It would be nice if the trigger name could be passed to the notification template.

# Use Cases

Currently we have a template per trigger purely as a way of including the trigger name in the template. The rest of the template is duplicated, for example:

[code]

It would cut back on boilerplate if it was possible to do:

[code]

---

**Message from the maintainers**:

Impacted by this b

[2021-12-17 20:15] huikang commented on #1719
Hi, @MarkSRobinson , could you clarify the problem a bit?

Do you mean the argo-rollouts controller log?

could you provide any example to help understand the proposal? Thanks.

[2021-12-18 22:33] mich181189 commented on #1721
Sure, I can try:

1) What's broken is that it makes a broken rollout - it seems to delete the volume parameters, which then causes it to complain the volume has no name field
2) I'm not using a released version, because I believe the ingress-api-version parameter to the controller isn't in one yet - running 1.23.0 I need that flag because the old beta API that it uses by default doesn't work

[2021-12-18 23:17] mich181189 commented on #1721
Right, I think I've found the problem. In the CRD, volumes is defined as "x-kubernetes-preserve-unknown-fields: true" which seems to be turning the []Volume into an empty array.

in my spec I have:

[code]

whereas in the yaml I read back, I get:

[code]

Changing it to be an array, where the members have their unknown fields preserved, seems to fix it:

[code]

[2021-12-19 02:20] huikang commented on #1721
@mich181189 , thanks for the investigation. I think this is caused by https://github.com/argoproj/argo-rollouts/blob/5b140c97c569647a4f1e604a44262c9d5281656c/hack/gen-crd-spec/main.go#L247

when generating the rollout crd.

@jessesuen , @alexmt , should there be any update to the above line?

[2021-12-19 08:59] gabipetrovay commented on #1716
@kostis-codefresh just did a minor update in the issue description (some copy-paste error). Now the "How can I still enable completions for" question is correct.

[2021-12-19 22:06] MarkSRobinson commented on #1719
Yes, I'd like to see the result in the controller log.

Ideally the log would look like
`<date> - AnalysisRun Complete - Status: Failed - Value: 25 - Object name: MyAnalysisRun - Namespace: MyNamespace`

Then I could dig into my logs to determine why a deployment failed.  This is generally easier for people than accessing kubernetes objects.

[2021-12-20 05:13] huikang commented on #1719
@MarkSRobinson , thanks for your explanation. The feature also makes it easier or any other CD tool like spinnaker to examine the analysis run results. Please take a look #1724 to see if it satisfy the requirement.

[code]

[2021-12-20 14:09] kostis-codefresh commented on #1716
Hello @gabipetrovay

The completion support is coming straight from the popular cobra library which is used by other gotools. There isn't any special instruction just for zsh https://github.com/argoproj/argo-rollouts/blob/master/pkg/kubectl-argo-rollouts/cmd/completion/completion.go#L59

Anyway, if I follow the documentation for zsh as shown here https://argoproj.github.io/argo-rollouts/generated/

[2021-12-21 09:45] asimhon opened #1726 "maxUnavailable field ignored if steps value is lower than maxUnavailable value in canary strategy"
## Summary

What happened/what you expected to happen?
maxUnavailable is getting ignored with canary strategy and lower step.
Example of settings:
[code]
With the following settings with 6 pods I would expect 1 pod to get terminated however 6 pods of old revision still up and running (all in service).
Followed https://argoproj.github.io/argo-rollouts/features/canary/
## Diagnostics

What version o

[2021-12-21 19:13] #1704 closed

[2021-12-21 19:17] perenesenko commented on #1726
Hi @asimhon

There is nothing incorrect in your scenario. I'm guessing you're using basic canary configuration here, there is no traffic routing. So the traffic routing is done based on the number of pods, not the load balancer.

In that implementation number of canary/stable pods based on weight. It's a `ceiling` value if the result is float.
So here we have
* canaryPods = 10% * 6 = 0.6; ceil(0.6

[2021-12-22 01:03] harikrongali commented on #1690
issue happens with following spec:
[code]

[2021-12-22 08:38] asimhon commented on #1726
Thanks for the details answer @perenesenko. In that case, how can I setup similar config with maxSurge and maxUnavailable similar to my old deployment (before rollouts adoption)?

Just to clarify: with deployment K8S object (before rollouts adoption), maxUnavailable cleaned 25% of capacity. To make it easier, let's stick with deployment of 4 pods in total. For new revision deployment (rolling upda

[2021-12-23 06:09] cguertin14 opened #1728 "kubectl-argo-rollouts arm64 docker image not working - Dashboard"
## Summary

The arm64 version of the `quay.io/repository/argoproj/kubectl-argo-rollouts` Docker image isn't working.
When running a container on my raspberry pi with the image tagged `v1.1.1`, I get the following error:
[code]

## Diagnostics

What version of Argo Rollouts are you running? `v1.1.1`

[code]

The problem seems to be that `amd64` is hardcoded in the Dockerfile, [here](https://quay.io

[2021-12-23 17:37] agrawroh commented on #1719
I agree that it make sense for us to provide a way so that we can have these results in some sort of persistent storage, making it easier to do post-analysis but at the same time I don't think controller logs are the best place to do this.

Log messages can change over time and it requires a lot of manual effort to keep everything in sync. I think an interface where you can define your own schema

[2021-12-23 19:21] perenesenko commented on #1726
Hi @asimhon

You need to set `maxSurge:0`, and step weight should divide canary/stable replicas to the integer values.
During the update, the total number of pods will be in a range: [min; max]
Where `min` = replicas - maxUnavailable; `max` = replicas + maxSurge

In the case if the replicas cannot be divided with integers we will round up the replicas and increase `max` + 1.

Example
replicas: 4,

[2021-12-25 00:11] MarkSRobinson commented on #1719
I can see the value is exporting to some other tool for analysis.  My key use case is debugging when something goes wrong.  In my case, standard logs would be completely fine as an engineer could look through them on their own.

[2021-12-25 02:38] shibataka000 opened #1730 "Kustomize fail to merge `.spec.template.spec.containers[].env` fields"
## Summary

Kustomize overwrite Rollout's `.spec.template.spec.containers[].env` fields when overlay. I think kustomize should merge its field instead of overwriting.

### Example

**Manifests**

[code]

[code]

**Expected output of `kustomize build` command**

[code]

**Actual output of `kustomize build` command**

[code]

### Note
I guess [rollout_cr_schema.json](https://github.com/argoproj/argo

[2021-12-26 17:42] nissy34 opened #1731 "Downtime On initial deployment"
## Summary

On first migration from deployment to rollouts I get a few seconds of downtime when using trafficRouting.
I assume that argo rollouts doesn't wait for the StableRS to be ready before adding the pod hash to the stable service selector.

This can be seen from the logs and events.

In the events, we can see that the switch happened before the scaling up.
[code]
and in the logs first we ha

[2021-12-27 15:49] kostis-codefresh commented on #1728
I think that we need to create the ARM executable first. Doesn't look it is created by default https://github.com/argoproj/argo-rollouts/blob/4c08f7ea70e173c09ea35e9bb56cfcfc6bb0118c/.github/workflows/release.yaml#L130

[2021-12-27 23:59] cguertin14 commented on #1728
True, the arm64 artifacts don't seem to be released, but the arm64 Docker images are released on Quay. The problem with those images seems to be in the Dockerfile of the plugin where it uses an amd64 base image: https://github.com/argoproj/argo-rollouts/blob/master/Dockerfile#L74

The root cause of this is probably deeper than that, but to me that seems like a good starting point

[2021-12-28 10:41] kvendingoldo commented on #1507
can it be backported to 1.1.x?

[2021-12-28 18:07] huikang commented on #1730
Looks like the rolloub json misses "x-kubernetes-patch-strategy" for all arrays types in container, `env`, `ports`, `volumeDevices`

[2021-12-29 04:20] huikang commented on #1730
@alexmt , would you mind taking a look at this one? Thanks.

[2021-12-29 14:17] vyvyt commented on #1721
any update? We are having same issue

[2021-12-29 16:41] huikang commented on #1719
@agrawroh , I think the event log for the measurement is in relatively stable format like the analysis run event

https://github.com/argoproj/argo-rollouts/blob/a3477cfbb85b40b0d5722a1f661d4dd261550fa4/analysis/analysis.go#L143-L150

[2021-12-29 18:43] stek29 commented on #1583
[code]

[2021-12-29 20:30] #1713 closed

[2021-12-30 01:56] ultra-baba opened #1733 "progressive blocked when first version can't setup"
## Summary

Progressive has blocked when first version can't setup, e.g. Pod cant't running occur by some reason!

How to Resolve this situation, the UI PROMOTE button still is disable, thx !

[code]

[2021-12-30 10:20] armenr commented on #1184
I understand what the dashboard is intended for, and that it's not meant for production use or to be accessed as some kind of administrative plane for real-world cases.

With that said, I'm building out a local cluster for development and tooling within our TechOps board, as we spec out and learn about how to apply argo-rollouts in our workloads.

To that end, I'm trying to expose rollouts with an

[2021-12-30 13:01] gyz2009 opened #1734 "Istio Destinationrule weight error after last step"
## Summary

What happened/what you expected to happen?
After finish the last step in destinationrule stableRS=oldRS、canaryRS=newRS, but rollouts.Status.StableRS==rollouts.Status.CurrentPodHash,  DesiredWeight=0 causes traffic to request oldRS.

![image](https://user-images.githubusercontent.com/30786213/147754244-716b706c-bf29-4b3a-b185-55a0f0e539ba.png)

<img width="1226" alt="wecom-temp-de455c80

[2021-12-30 13:18] gyz2009 commented on #1734
fix #1736

[2022-01-02 16:07] ssanders1449 opened #1738 "Add option to ensure High Availability for TrafficRouted canary"
# Summary

When using TrafficRouted canary strategy, you can often end up with only a single pod for a replicaset. For example, if you have 10 pods with <= 10% canary, the canary replicaset will only have a single pod. If the node that the pod is running on is ever drained (e.g. by the cluster-autoscaler doing a scale-down), there would be an interruption of service

What change needs making?
Addi

[2022-01-03 15:17] huikang opened #1739 "e2e test failed due to deprecated kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1""
## Summary

What happened/what you expected to happen?

Install CRDs step success in e2e test, but it failed with the following error message

[code]

## Diagnostics

The k3s used by e2e is v1.22, which has deprecated `CustomResourceDefinition`

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

What version of Argo Rollouts are you running?

master

[

[2022-01-03 18:53] perenesenko commented on #1733
@ultra-baba What is the UI do you mean. ArgoCD or the Rollouts dashboard UI?

[2022-01-03 19:14] harikrongali commented on #1738
@ssanders1449 Rollout has a feature setCanaryScale that can be used to achieve what you are looking for.
https://argoproj.github.io/argo-rollouts/features/specification/
[code]

[2022-01-03 19:15] harikrongali commented on #1734
@gyz2009 is weight set to 100% after canary becomes stable?

[2022-01-03 19:16] harikrongali commented on #1734
can you post me virtualService status when this happens?

[2022-01-03 19:18] harikrongali commented on #1733
@ultra-baba you should be able to run promote using cli
[code]

[2022-01-03 19:20] harikrongali commented on #1731
@nissy34 this is expected per design. to avoid downtime, the recommendation is to have deployment & rollout run side by side and after rollout becomes stable, remove deployment.

[2022-01-03 19:22] harikrongali commented on #1731
https://argoproj.github.io/argo-rollouts/migrating/

[2022-01-03 19:33] nissy34 commented on #1731
@harikrongali
My point is that in order to not have any downtime it's not enough to have the rollout and deployment side by aide we need also to have a separate service for the deployment and rollout (as argo-controller adds the stable hash to the service before the rollout is ready).
So we will need an extra step to manually point all traffic to the rollout service.
This isn't clear from the docs

[2022-01-03 19:36] harikrongali commented on #1731
I see your point, you need to have three services and cant reuse services from old deployment. We can update docs to point it out.

[2022-01-03 19:51] nissy34 commented on #1731
@harikrongali thanks for the clarification.

Just to understand, why is this behavior by design?
Doesn't it make sense to wait for all stable pods to be ready on initial deployment before adding the label selector?

[2022-01-03 20:12] harikrongali commented on #1731
Achieving readiness gates is one reason but I would let @jessesuen provide detailed info on this.

[2022-01-03 21:44] mvgmb opened #1741 "Support `client.authentication.k8s.io/v1`"
### Summary

Bump [kubernetes/client-go](https://github.com/kubernetes/client-go) to v0.22 to support `client.authentication.k8s.io/v1`.

Without this new version of kubernetes/client-go, users authenticating via `client.authentication.k8s.io/v1` will not be able to use the plugin.

### Use Cases

Dashboard authentication via `client.authentication.k8s.io/v1`. Currently it results in:

[code]

###

[2022-01-03 23:01] harikrongali commented on #1733
dup of https://github.com/argoproj/argo-rollouts/issues/1581

[2022-01-03 23:01] #1733 closed

[2022-01-04 00:12] #1581 closed

[2022-01-04 00:43] harikrongali commented on #1733
@ultra-baba please try with the latest master changes and let us know if it works for you?

[2022-01-04 03:23] romilpunetha commented on #587
I'm still facing this issue using istio traffic routing using destination rule on istio 1.12.

The problem is that after the weight is shifted 100% to stable subset at the end of the canary process, the caller service does not have endpoints for the stable endpoint cluster `outbound|80|stable|x.svc.cluster.local`. The canary pods are still tracked under the canary endpoint cluster. The flip only h

[2022-01-04 17:03] #1739 closed

[2022-01-04 18:17] #1728 closed

[2022-01-04 19:27] johnniee commented on #1707
Hi @huikang,
I created a PR that should handle this use case:
https://github.com/argoproj/argo-rollouts/pull/1743
I'll be glad to hear if you have any feedback!

[2022-01-05 11:12] CloudXiaobai commented on #1385
the same issues on  v1.1.1

[2022-01-05 17:17] asimhon commented on #1726
Adding a note with Rollout, using Canary strategy, setWeight must be equal or greater to 1 pod from existing setup (should rely on minimum pods if using HPA). It's a bit different behavior from Deployment, however result can be accomplished with the correct setup.
It might be tricky in Canary + istio (when `setWeight` is less than 1 pod) but since this is not relevant currently (reported on Canary

[2022-01-05 17:17] #1726 closed

[2022-01-05 19:53] huikang commented on #1734
Could not reproduce the behavior with the provided steps. After the update completes, the virtualservice has set 100% traffic to the stable subset

[code]

@gyz2009 , could you provide the details of the virtualservice? Thanks.

[2022-01-05 21:44] bpoland opened #1747 "kubectl-argo-rollouts panic while watching progress"
## Summary

We were running the kubectl-argo-rollouts plugin to wait for a rollout to complete.  Right near the end of the rollout, it paniced even though the rollout had completed successfully.

The script waits for two rollouts to complete, e.g.
[code]

So I'm not 100% sure if it was at the end of watching rollout1 that it happened, or when it tried to watch rollout2.

This has only happened onc

[2022-01-06 02:57] wd commented on #1385
As you may have interested, a possible solution is adding the `selector` field like below:

[code]

[2022-01-06 03:17] CloudXiaobai commented on #1385
yes，it works, thanks very much!

[2022-01-06 08:30] bysph commented on #574
Have you considered the opposite situation, for example, an application needs to avoid multiple instances being started at the same time due to insufficient performance of the surrounding system, but sometimes we need to rollback during the canary. In this case, can we choose not to use "fast-tracked rollback"?

[2022-01-06 08:37] bysph opened #1748 "Is there any way to avoid fast-tracked rollbacks during canary？"
# Summary
Currently argo rollouts performs a "fast-tracked rollback" (which skips pauses, steps, analysis) in two circumstances:
we detect if we are moving back to a blue-green ReplicaSet which exists and is still scaled up (within its scaleDownDelay)
if we are moving back to the canary's "stable" ReplicaSet and the upgrade has not yet completed.
(copy from https://github.com/argoproj/argo-rollout

[2022-01-06 08:38] bysph commented on #1748
@jessesuen

[2022-01-06 16:36] crenshaw-dev opened #1750 "Argo Rollouts docs should prioritize k3d"
# Summary

The Argo Rollouts contribution docs should use k3d instead of Minikube. This will bring it in line with the [recommended setup for Argo CD](https://argo-cd.readthedocs.io/en/stable/developer-guide/toolchain-guide/#using-k3d) (and, I believe, Workflows).

# Use Cases

New developers starting with Argo Rollouts will have a better experience with k3d (we've encountered quite a few issues w

[2022-01-07 04:30] Temikus commented on #1747
Can confirm this started happening only after upgrading from `1.1.0` to `1.1.1`

[2022-01-07 05:09] gyz2009 commented on #1734
@huikang This happened in a very short time

[2022-01-07 14:19] #1734 closed

[2022-01-07 14:37] marckhouzam commented on #1716
@kostis-codefresh Would you be able to try out the proposed solution of the above PR? It should be very easy for you as argo-rollouts uses Cobra.  It would be good for plugin developers to give feedback on the PR.  If you can try, here is what you need to do:
1. build kubectl with the PR
    1. clone https://github.com/kubernetes/kubernetes
    2. checkout PR https://github.com/kubernetes/kubernet

[2022-01-09 08:30] fuergaosi233 opened #1754 "Deploying with Helm will result in an error"
## Summary

Deploying with Helm will result in an error

## Diagnostics

1.1.0
### helm info
  {
    "chart_version": "2.5.0",
    "name": "argo-rollouts",
    "release_name": "argo-rollouts",
    "settings": {
    }
  }
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-01-09 08:55] Eslam-mohammed-anwar commented on #1191
@jessesuen @shakti-das Great work, Can this solution help in case of Istio multi-cluster (replicated control plane), Thank you

[2022-01-10 09:53] jaymebrd opened #1755 "Adding InfluxDB as a metrics provider for Argo Rollouts"
# Summary

Add influxDB as a metrics provider to Argo Rollouts

# Use Cases

InfluxDB is a popular open source TSBD, it's make a great addition to the current metric providers available.

I already have a basic implementation of this, and if you're happy I'll go ahead and clean it up and make a PR for it.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the

[2022-01-10 17:26] kvendingoldo commented on #1754
faced with the same issue

[2022-01-10 17:28] kvendingoldo commented on #1507
any news?

[2022-01-10 18:54] perenesenko commented on #1755
Hi @jaymebrd
Please go ahead with your PR.

[2022-01-12 03:15] huikang commented on #1690
@harikrongali , thanks. I can reproduce the behavior now and will investigate the bug.

[2022-01-12 15:07] Eslam-mohammed-anwar opened #1760 "Fixing replica-weighted canary"
## Summary
Let me try to explain the downtime we have due to that

We are using traefik ingress and we set canary and stable services without setting TrafficRouting as traefik ingress is not supported by ArgoRollout.
The issue here is that during canary steps , ArgoRollout will inject podHash of new pod in the canary service spec.selector and old podHash in the stable service spec.selector , but t

[2022-01-12 19:18] perenesenko commented on #1760
@Eslam-mohammed-anwar
You're trying to configure the basic-canary without the traffic routing.

In this case, you can create one more service that will point to all pods from _old replica_ and _new replica_. Name it as an example the **root-service**. This service will be pointing to the all pods and based on a number of pods launched you will get a traffic splitting, managed by **root-service** i

[2022-01-12 19:27] mayzhang2000 opened #1761 "historic ReplicaSet is not deleted"
## Summary

Rollout has `revisionHistoryLimit: 2`, but there are four replicaset in kubernetes. Expecting 3 replicaSet. FYI. The one should be deleted does not have ownerRef field.
[code]
What happened/what you expected to happen?
Expecting 3 replicaset.
## Diagnostics
Based on log, argo rollout removed the ownerRef field.
[code]

What version of Argo Rollouts are you running?

# Paste the logs fr

[2022-01-12 19:43] harikrongali commented on #1760
https://github.com/argoproj/argo-rollouts/issues/516 is required for what you need to achieve. Not sure if the workaround provided by @perenesenko works for you.

[2022-01-12 19:57] #1718 closed

[2022-01-12 20:05] #1721 closed

[2022-01-12 20:39] #1694 closed

[2022-01-12 21:05] jessesuen commented on #1242
Fixed

[2022-01-12 21:05] #1242 closed

[2022-01-13 22:47] jessesuen commented on #1705
@perenesenko i didnt realize you got assigned this. I can take this. I had to fix codegen in order to fix this issue.

[2022-01-13 22:49] #1417 closed

[2022-01-13 22:50] jessesuen commented on #1390
Closing as possibly addressed in https://github.com/argoproj/argo-rollouts/pull/1433

[2022-01-13 22:50] #1390 closed

[2022-01-14 00:04] #1705 closed

[2022-01-14 01:44] kennethtxytqw commented on #516
Is this possible today?

[2022-01-14 10:29] mclarke47 opened #1774 "Canary rollout can get stuck if the stable version is bad"
## Summary

What happened/what you expected to happen?

An Argo Rollouts canary can get itself into a state where it cannot continue to deploy, even if the canary version is valid and you would expect the rollout to progress.

### Bad stable version
<img width="1102" alt="Screenshot 2022-01-14 at 10 04 55" src="https://user-images.githubusercontent.com/6514980/149500745-c633e8fe-f271-4b39-b348-1f0

[2022-01-14 11:17] mclarke47 commented on #1774
I also noticed this with a stable version with a crash backoff loop

[2022-01-14 15:21] huikang commented on #1774
@mclarke47 , I tested your example. After fully promoted the revision 2, the rollout becomes healthy and the bad revision 1 replicaset will be removed:

<img width="682" alt="Screen Shot 2022-01-14 at 10 19 44 AM" src="https://user-images.githubusercontent.com/463631/149539538-51293ead-e966-4303-b247-d89be9931069.png">

So I think this is an expected behavior. I am using the master branch (latest

[2022-01-14 15:37] artem-nefedov opened #1775 "Operation cannot be fulfilled on replicasets.apps: the object has been modified"
## Summary

We sometimes observe the problem where Rollout would be permanently stuck in degraded state due to the error:

[code]

This sometimes happens when experiment tries to scale up preview replica. The issue is very rare. We run a lot of tests, and seen this multiple times already, but when I intentionally wanted to reproduce it to collect info, the test was run ~90 times before it happened

[2022-01-14 16:35] huikang commented on #1774
Sure, we can leave this open (tag it `workaround` as fully fully promoting to a good version resolves the issue).

[2022-01-14 18:12] harikrongali commented on #1774
If the first version is never ready (no healthy stable), then subsequent updates should replace current and not follow canary deployment. Even though a workaround is there, I agree this is a bug.

[2022-01-14 19:28] jessesuen commented on #1774
I think this is possibly a duplicate of https://github.com/argoproj/argo-rollouts/issues/995.

There are actually two scenarios:

1. if we **_never_** had a healthy/stable revision, the rollout is supposed to go automatically to from the bad revision to good revision without running any steps/analysis. This is considered a special case so that the rollout can reach its first stable revision, and w

[2022-01-14 19:38] jessesuen commented on #1774
Looking at your screenshots I see "revision:1" and "revision:2" being used so I see we are dealing with scenario 1 not working properly. We do have a test for this, but something about your setup is different.

[2022-01-14 21:52] #1741 closed

[2022-01-14 21:58] #1707 closed

[2022-01-15 00:05] jessesuen commented on #1775
The issue is that resource conflict errors are a fact of life, and the experiment controller needs to accommodate this possibility by retrying/re-reconciling the experiment. I think the fix for this should be easy.

[code]

[2022-01-15 00:07] jessesuen commented on #1761
I think this only happens when the user changes rollout `spec.selector.matchLabel`. With normal Deployments, this is a immutable field, but we currently have no protection from this.

Can you confirm if the selectors of the ReplicaSets are different for the extra ones?

[2022-01-15 00:09] jessesuen commented on #1754
The helm charts are community-supported (not by any core argoproj maintainers), and so this needs to be addressed in the helm chart.

[2022-01-15 00:13] jessesuen commented on #1738
setCanaryScale was built for this purpose. We need to avoid adding feature complexity to the current calculations for canary vs. stable replica counts so don't think we should introduce a new feature that setCanaryScale should already be able to address.

[2022-01-15 00:13] #1738 closed

[2022-01-15 00:19] jessesuen commented on #1748
An option to avoid fast-tracked rollbacks means that we should run steps/pauses/analysis when going back. However the use case you describe doesn't seem to want that either, so I don't think executing the steps/analysis/pauses is what you want as opposed to limiting the total number of replicas when going back.

Have you tried the dynamicStableScale which balances the total replica counts accordin

[2022-01-15 00:31] jessesuen commented on #1731
Yes it is true that making service selectors are in place *before* pods are created is important for some ingress controller implementations like ALB LoadBalancer controller. But with that said, to address that use case we will steer users to the upcoming ping-pong service management feature (as opposed to canary vs. stable).

I agree we can improve this behaviorfor the migration case. In fact, we

[2022-01-15 01:25] jessesuen commented on #1722
@WillSewell what happens if you do something like this as your template definition:

[code]

[2022-01-15 01:51] jessesuen commented on #995
This issue is a year old, but revisiting this again since https://github.com/argoproj/argo-rollouts/issues/1774 reminded me again. I reread https://github.com/argoproj/argo-rollouts/issues/995#issuecomment-938029382 and I think are some valid points here.

Currently, the behavior is that a Rollout will not progress past a step if cannot achieve the needed canary/stable replica ratio to reach the d

[2022-01-16 09:18] ssanders1449 opened #1779 "Provide a way to specify a minimum number of pods per Replicaset"
# Summary

The issue that I was trying to solve with https://github.com/argoproj/argo-rollouts/issues/1738 is when a horizontal pod autoscaler is controlling the #replicas in the rollout. I want the #canary pods to match the weight of the rollout, but I also want to ensure a minimum number pods (e.g. 2) to ensure high availability. Currently, I can only use setCanaryScale to set either a fixed num

[2022-01-17 11:30] WillSewell opened #1782 "Report notification metrics"
# Summary

Currently if a notification fails to send, the controller [logs an error](https://github.com/argoproj/argo-rollouts/blob/5b140c97c569647a4f1e604a44262c9d5281656c/utils/record/record.go#L181), but it does not emit a metric.

It would be useful to have a counter metric for notifications sent (with a label to differentiate success and failures).

A metric to track latency would also be use

[2022-01-17 13:49] WillSewell commented on #1722
It's effectively the same as the output of `kubectl get rollout <rollout> -o yaml`.

[2022-01-18 08:28] RaviHari opened #1783 "Argo rollout notifications should support a list of triggers in a single annotation"
# Summary

What change needs making?
Update Rollout Notifications to support a list of notifications in a single annotation.
Today we have to specify each notification in argo rollout in a seperate line e.g:
[code]

instead it would be better to declare this in a single annotation like:
[code]

# Use Cases

When would you use this?

When we want to subscribe for multiple notifications.

---

**Mes

[2022-01-18 12:46] smuda opened #1784 "CVEs found"
## Summary

When scanning for vulns there are a number of CVEs:
- github.com/containerd/containerd
  - CVE-2021-41103 (high)
  - CVE-2021-32760 (medium)
- github.com/dgrijalva/jwt-go
  - CVE-2020-26160 (high)
- github.com/miekg/dns
  - CVE-2019-19794 (medium)
- k8s.io/kubernetes
  - CVE-2020-8554 (medium)

I'd be happy to create one or more PRs for those CVE's that are fixable by simply upgrading

[2022-01-18 14:07] WillSewell commented on #1722
It renders standard Go formatting of Go types:

[code]

[2022-01-18 17:17] harikrongali commented on #1411
@DanTulovsky fix is released in 1.1.1, can you validate & let us know if it is working for you?

[2022-01-18 18:58] MarkSRobinson commented on #1731
I am also being impacted by this

[2022-01-18 21:22] smuda commented on #1784
I decided to give it a go and created a PR:
https://github.com/argoproj/argo-rollouts/pull/1785

I hope thats to you liking. :-)

[2022-01-18 23:08] #1690 closed

[2022-01-18 23:41] Temikus commented on #1747
One more addition here - something is wrong with the controller as well. It looks like to be a combination of things. 1.1.0 Kubectl + 1.1.1 controller seem to have the same issue.

[code]

[2022-01-19 00:08] jessesuen commented on #1411
Let's close this as fixed and reopen as necessary

[2022-01-19 00:08] #1411 closed

[2022-01-19 00:14] jessesuen commented on #1422
PR https://github.com/argoproj/argo-rollouts/pull/1753/files adds support for `RolloutAborted` event (requested in this issue). The PR can be examined as an example for adding your own templates and notification for events.

[2022-01-19 00:14] #1422 closed

[2022-01-19 00:15] #1775 closed

[2022-01-19 00:56] jessesuen commented on #1203
Closing this since seems not reproducible

[2022-01-19 00:56] #1203 closed

[2022-01-19 00:58] jessesuen commented on #1526
I think this is just general e2e flakiness

[2022-01-19 00:58] #1526 closed

[2022-01-19 01:59] #1696 closed

[2022-01-19 02:33] jessesuen commented on #1611
I was proposing something more complicated than necessary (having two objects accessible by the notification templates: `{{.rollout}}` and `{{.podTemplate}}`). In actuality, we can simply populate `spec.template` and `spec.selector` even if the rollout is using workloadRef. https://github.com/argoproj/argo-rollouts/pull/1786 will do that.

[2022-01-19 02:35] #1731 closed

[2022-01-19 05:43] jessesuen commented on #1525
I think only the containers section needs to be fixed. Here is how it looks when using workloadRef.

![image](https://user-images.githubusercontent.com/12677113/150070837-048549cc-686e-4ad1-b0d0-9bd69a73a791.png)

However, the Rollback feature seems to be working for me when using workloadRef.

[2022-01-19 06:03] #1611 closed

[2022-01-19 20:25] svissarapu commented on #574
@jessesuen this will be good addition to the current argo rollouts. Are we tracking this against any release? thanks!

[2022-01-19 22:55] #1537 closed

[2022-01-19 23:03] jessesuen commented on #1722
Thanks for the info. I think this might actually be something we can improve in the notification-engine. I don't think anyone cares to output the Go formatted output to be the output. So I think a welcome improvement is such that the engine should automatically render non-primitive types (structs, lists, maps) as JSON automatically.

[2022-01-20 01:40] jessesuen commented on #1665
I examined the controller logs I confirming see that the controller scaling up the canary and increasing weight even though the rollout is aborted. So the small amount of traffic is a result of the controller shifting 25% to the new version temporarily.

[code]

NOTE: I did attempt to reproduce this, but was unable to. I had the following rollout using SMI, which was aborted, and canary scaled dow

[2022-01-20 01:53] jessesuen commented on #1665
I can reproduce this now. It appears to be related to calculations when using the `dynamicStableScale` feature.

[2022-01-20 12:03] agrawroh commented on #1665
@jessesuen You want me to work on this?

[2022-01-20 13:58] bpoland commented on #1665
Is this also related to the `dynamicStableScale` bug that you mentioned in your next comment?  Because I think we can agree that the weights shouldn't be changed when the rollout is in an aborted state right?

[2022-01-20 13:59] bpoland commented on #1525
Hmm alright, it's possible that has been fixed since I originally tried 🤷

[2022-01-20 17:57] jessesuen commented on #1665
Yes the issues are related. The fix I have will address both.

No, I have a fix at hand

[2022-01-20 20:59] #1609 closed

[2022-01-20 22:06] jessesuen commented on #1723
this is a good idea

[2022-01-20 22:31] #1525 closed

[2022-01-20 22:42] #1547 closed

[2022-01-21 04:37] #1747 closed

[2022-01-21 08:26] #1681 closed

[2022-01-22 04:22] smuda opened #1799 "Add script for running e2e tests locally"
# Summary

I have a problem with the e2e tests in PR https://github.com/argoproj/argo-rollouts/pull/1785 and I had problems running the e2e tests locally in my OKD cluster for some reason.

I needed a more controlled, repeatable environment and created a [script for running the e2e tests](https://github.com/AyoyAB/argo-rollouts/blob/feature/run-in-kind/hack/run-e2e-in-kind.sh) in [kind](https://ki

[2022-01-23 13:23] wang-wayne opened #1800 "failed to watch *v1beta1.ingress: failed to list *v1beta1.ingress"
## Summary

Failed to install argo-rollouts on k3s.

## Diagnostics

The version of argo-rollouts is v1.1.1
The version of k3s is v1.23.1+k3s2.
The version of Kubernetes is v1.23.1.

The pod of argo-rollouts failed to start.
[code]

When I set k3s version to v1.21.8+k3s2. The installation of argo-rollouts is successful.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2022-01-24 19:06] alexmt commented on #1800
Following command should help to create k8s cluster with the right version.

[code]

Hopefully it will help to reproduce it

[2022-01-24 19:08] javier-diaz-ppro commented on #1708
This is how I have the rollout configured to use multiple ingress controllers:
`    canary:
      canaryService: rollouts-demo-canary
      stableService: rollouts-demo-stable
      trafficRouting:
        nginx:
          stableIngress: rollouts-demo-stable
        nginx:
          stableIngress: rollouts-demo-stable-public`

[2022-01-24 19:13] alexmt commented on #1800
Tried myself and reproduced the same error :)

[2022-01-24 19:39] alexmt commented on #1800
Just released that this is expected. PR https://github.com/argoproj/argo-rollouts/pull/1655 fixed this issue but the fix is not released yet. So closing the issue since it is already fixed in master

[2022-01-24 19:39] #1800 closed

[2022-01-24 19:50] DanTulovsky opened #1801 "VPA support for argo rollouts"
VPA does not seem to be correctly supported by Argo Rollouts.

- If VPA points to the rollout, then VPA seems to generate updates, but they don't get applied.
- If VPA points to the Deployment and Rollout references the Deployment, VPA does not generate any suggestions because it claims there are no matching pods. (Which is true, if it's looking for Pods owned by the deployment).

I think the corr

[2022-01-24 19:53] leoluz commented on #1800
@harikrongali if we are cherrypicking for the next release we need both PRs that implements networking.Ingress support:
https://github.com/argoproj/argo-rollouts/pull/1529
https://github.com/argoproj/argo-rollouts/pull/1655

[2022-01-25 17:48] #1665 closed

[2022-01-25 17:48] #1701 closed

[2022-01-25 19:20] harikrongali commented on #1801
HPA is available with following example https://argoproj.github.io/argo-rollouts/features/hpa-support/#example
and from VPA [docs](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/pkg/apis/autoscaling.k8s.io/v1/types.go#L86) , seems like same config is available.
Can you please verify if that works ?

[2022-01-25 20:18] DanTulovsky commented on #1801
Hi,

HPA does work. VPA does not work in the way I described above.

Thank you
Dan

[2022-01-25 20:51] schakrad commented on #1355
The delay button is added on the dashboard to display the scaleDownDelay associated with the scaled down revision.

[2022-01-25 21:58] AAATechGuy opened #1805 "Issue after upgrading to v1.1.1 from v1.0.7 | failed to list *v1beta1.Ingress"
Once upgraded, pod `pod/argo-rollouts-588d458875-whgdf` restarts and never in ready state.

We used the command
`kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/releases/download/v1.1.1/install.yaml`

Logs as follows.
[code]

Our Azure Kubernetes Controller version: 1.22.4

Also tried, removing previous argo-rollout and installing new version, didn't work.

In other pos

[2022-01-25 22:06] SriranjithaR commented on #1805
Facing the same issue.
The argo-rollout pod goes into a crashloopbackoff with this error message :
`level=fatal msg="Error running controller: failed to wait for caches to sync"`

[2022-01-26 16:34] bpoland opened #1807 "Allow retrying rollout without scaling down canary pods"
# Summary

Right now, Argo Rollouts provides the `abortScaleDownDelaySeconds` to keep the canary pods scaled up for a period of time after an aborted deployment.  I think this was designed to provide enough time for the traffic split to take effect and all traffic to be sent back to the stable version.

However, it would also be useful if retrying the rollout could reuse those scaled-up pods.  Let

[2022-01-26 18:48] azzouma opened #1808 "Allow management of multiples namepaces without ClusterRoleBinding"
# Summary

Currently, Argo rollouts can be deployed with two scopes, namespaced or cluster. In the first, argo rollouts can manage deployments in its ns only. For the second, a clusterRole and clusterRoleBinding are necessary to manage deployments at the cluster level. There is no option to onboard namespaces one by one without using ClusterRoleBinding (similar	to what ArgoCD offers).
It will be u

[2022-01-26 19:16] leoluz commented on #1805
Argo-Rollouts is currently incompatible with kubernetes 1.22. We have a fix already in master and will be part of Argo-Rollotus 1.2. It will be released in the coming weeks.
If this is urgent for you, the workaround and building and deploying Argo-Rollouts from `master`.

[2022-01-26 19:16] #1805 closed

[2022-01-26 19:35] alexmt commented on #1808
Hello @azzouma ,

I think this is already possible. Rollout controller can be installed in a "namespaced mode": https://github.com/argoproj/argo-rollouts/releases/download/v1.1.1/namespace-install.yaml . In the namespace mode controller is "watching" only one namespace and does not need ClusterRoleBinding. So you would have to install controller into each namespace one by one

[2022-01-26 19:57] azzouma commented on #1808
Hi @alexmt ,
Yes, in the namespaced mode, it is possible to install a controller in each and every ns but this is not convenient, especially when we have too many namespaces, and possibly namespaces created on the fly for specific use cases and teared down afterward.
It would be nice to have a similar feature as what is available in ArgoCD (one instance of the controller that can manage deployment

[2022-01-26 21:58] jessesuen commented on #1784
* github.com/containerd/containerd - is now resolved with k8s update
* github.com/dgrijalva/jwt-go - needs notification-engine to update its dependency
* github.com/miekg/dns - appears to be solvable with a `go get -u`
* k8s.io/kubernetes - should be resolved with k8s update

We will attempt the changes needed in notification-engine to fix the `jwt-go` problem

[2022-01-27 05:34] smuda commented on #1784
Thank you! I had a closer look at [CVE-2020-8554](https://github.com/kubernetes/kubernetes/issues/97076) and that's not currently resolvable by updates but needs an admission webhook. At least it's out of argo-rollouts hands and can be ignored.

[2022-01-27 06:58] smuda commented on #1784
Once the low hanging CVE fruits are handled, would it be possible to to a release? That way I could make a PR to [stakater/reloader ](https://github.com/stakater/Reloader) which for me what this [was all about](https://github.com/stakater/Reloader/issues/267).

[2022-01-27 13:25] bpoland opened #1812 "Reported weight doesn't match actual Rollout/Traffic Split weight"
## Summary

When using a Rollout with traffic splitting (SMI to be precise) the weight reported in the rollouts dashboard and `kubectl argo rollouts get rollout <name>` sometimes don't match the value in the Rollout `.status.canary.weights.canary.weight` or the actual `TrafficSplit` resource.  For example, if we are at weight x and then proceed to a step `setWeight: y` where y would require more p

[2022-01-27 19:15] harikrongali commented on #1784
@smuda we will be having new release next week. Changes will be part of it.

[2022-01-27 21:01] sigi4 commented on #1800
I run into this issue and i'm curious what the dependency is that it isn't released yet?

Kubernetes 1.22 is out since August, wouldn't that have broken much more setups?

[2022-01-27 21:48] leoluz commented on #1800
@sigi4 k8s 1.22 removed the support for `v1beta1.Ingress` from the `extensions` package which is the one used by argo-rollouts. Argo-Rollouts 1.2 will be released in the coming weeks and will add support to the new `networking.Ingress`. If you can't wait for the new release, the suggestion is build and deploy from master branch which is what impacted community users did.

[2022-01-27 21:55] sigi4 commented on #1800
@leoluz ah interesting. I was just really unsure as it feels this issue would affect much more users.

I pinned it through kustomize, which works fine:
`  - github.com/argoproj/argo-rollouts.git/manifests/cluster-install?ref=b06e83dfbceb3edb32f6cf3b7a6e665124dc9221`

[2022-01-27 22:38] hblixt opened #1815 "Automate SBOM generation"
# Summary

Automate [SBOM](https://www.linuxfoundation.org/blog/what-is-an-sbom/) generation and include it as part of release artifacts.
Copied from Argo CD issue #[8081](https://github.com/argoproj/argo-cd/issues/8081)

# Motivation

SBOM would be useful for end-users and partners to quickly find out which components are used by Argo Rollouts and help to identify components that may be subject t

[2022-01-28 02:24] jessesuen commented on #1812
The current displayed weight was written before the controller recording the weight into status. Now that we record the weight into status, this is what should be displayed in the dashboard.

[2022-01-28 05:15] RaviHari commented on #1782
I would like to work on it.

[2022-01-28 05:17] jessesuen commented on #1801
According to docs, to support VPA, the controller simply needs to support the scale subresource:

Which we do. See:
https://github.com/argoproj/argo-rollouts/blob/master/pkg/apis/rollouts/v1alpha1/types.go#L18

Without the support for scale subresource, HPA wouldn't work either. So I'm not sure why VPA wouldn't work.

Can you shed more light on this? Where do you see it generating updates? Does th

[2022-01-28 08:32] smuda commented on #1799
The github actions are using k3s so I added a script for running the e2e in k3d as well.

[2022-01-28 11:59] nissy34 opened #1820 "Using dynamicStableScale and ingress-nginx bug/limitation"
## Summary

`ingress-nginx` has a bug/limitation that if the stable ingress points to a service with no endpoints the ingress will return 503 even if the canary weight is 100% and the canary service has endpoints.

 Therefore when using `ingress-nginx` as the trafficRouting, when argo will set the canary weight to 100% ( either by an explicite `setWeifgt: 100` or in the process of promoting a cana

[2022-01-28 12:10] nissy34 opened #1821 "Update the docs that some configuration option for canary or only if using Basic Canary"
# Summary

Some configuration options are only if using basic canary

- [maxSurge](https://argoproj.github.io/argo-rollouts/features/canary/#maxsurge)
- [maxUnavailable](https://argoproj.github.io/argo-rollouts/features/canary/#maxunavailable)
- [mimicking-rolling-update](https://argoproj.github.io/argo-rollouts/features/canary/#mimicking-rolling-update) - (the rollout gets stuck bwcause there is

[2022-01-28 14:23] DanTulovsky commented on #1801
VPA + Deployment (no Rollout) definitely works, so I don't think permissions are an issue.

Here's a VPA recommendation:

[code]

Here's the status of the VPA:

[code]

Note the `Lower Bound` CPU of `1`.

The rollout has:

[code]
Here's one of three pods:

[code]

Note that CPU is still at 500m.

If I switch this workload back to a Deployment and remove the rollout, VPA works properly.

BTW, the l

[2022-01-28 15:40] RaviHari commented on #1801
VPA works for Rollouts.. we have to update RBAC permission to get,list,watch for argoproj.io apigroup and rollouts resources

Here is the recommendation from vpa object I tried some time back:
[code]

[2022-01-28 15:46] DanTulovsky commented on #1801
Are you saying these permissions are not currently in the install script?

To be clear, I get recommendations just like you, but nothing acts on those recommendations...

On Fri, Jan 28, 2022, at 10:40 AM, RaviHari wrote:

`

[2022-01-28 15:48] RaviHari commented on #1801
Yes.. the permissions are not listed in the vpa deployment..
you need to update apigroup permissions here: https://github.com/kubernetes/autoscaler/blob/a393fe219c5ed6b024eb87e8e79e5004025322b0/vertical-pod-autoscaler/deploy/vpa-rbac.yaml#L174

and

resources here:
https://github.com/kubernetes/autoscaler/blob/a393fe219c5ed6b024eb87e8e79e5004025322b0/vertical-pod-autoscaler/deploy/vpa-rbac.yaml#L1

[2022-01-28 15:55] DanTulovsky commented on #1801
Ah.. so like:

[code]
Is that what you have?

On Fri, Jan 28, 2022, at 10:49 AM, RaviHari wrote:

[2022-01-28 16:00] RaviHari commented on #1801
yes.. you donot need  http://argoproj.io/v1alpha1..
just this will do:

[code]

[2022-01-28 16:30] DanTulovsky commented on #1801
It also looks like: https://github.com/kubernetes/autoscaler/pull/3139/files would work.

This is on GKE.  I just tried to manually edit the roll, and gke promptly reverted it back.  :(

On Fri, Jan 28, 2022, at 11:00 AM, RaviHari wrote:

`

[2022-01-28 16:52] RaviHari commented on #1801
Ok.. I will update the documentation on how to enable VPA for argo-rollouts.

[2022-01-29 00:59] jeunito commented on #1579
Great idea! Would really love to see this

[2022-01-29 13:41] golgotow commented on #1507
how is possible to install argo-rollouts to 1.22 with no issue to ingress v1beta1 ?

[2022-01-29 19:05] bpoland opened #1822 "ReplicaSet in scaledown delay scales up and down repeatedly"
## Summary

When a Rollout has a ReplicaSet in scaledown delay that is not fully scaled up, the controller fights with itself trying to scale up/scale down pods to 100% until the scaledown delay is over.

In the case of the logs below, here were the steps I took
- Rollout is in healthy state with 10 pods, no dynamic stable scale, with a workloadRef Deployment on image A
- Start a deploy by updatin

[2022-01-31 01:53] Temikus commented on #1747
@jessesuen Thank you so much for fixing this! Can we please ask for a release with a fix? 🙏 This is affecting us pretty severely.

[2022-01-31 05:59] huikang commented on #1822
It sounds like the controller considers that the old replicaset should have 10 replicas and keeps bringing up the other 5 pods.

I think the correct log order should be

[code]
After the last line, there should be no more
 `time="2022-01-29T18:42:04Z" level=info msg="Scaled up ReplicaSet name-5dc64db687 (revision 754) from 5 to 10" event_reason=ScalingReplicaSet namespace=default rollout=name` unt

[2022-01-31 18:24] harikrongali commented on #1820
if setWeight is 100, it is expected to set the traffic for the canary to be 100 and stable as 0. Rollouts don't validate the endpoints whether reachable or not. It relies on the user to configure services correctly. I don't see a bug with rollouts here.

[2022-01-31 18:27] #1822 closed

[2022-01-31 18:39] nissy34 commented on #1820
1. in the case of `setWeight: 100` this is not a bug in argo-rollout just a limitation that users need to be aware of.
2. the problem is, that argo-rollouts sets the weight to 100 even if there isn't a `setWeight: 100` so all users with ingress-nginx will in some cases have downtime!!

[2022-01-31 19:18] bpoland commented on #1822
Thank you for the quick fix, looking forward to a release with this included :)

[2022-01-31 22:20] bpoland opened #1826 "Promote at end of deployment rolls traffic back to stable for 30 seconds"
## Summary

We're using Rollouts with SMI Traffic splitting (k8s nginx ingress + Linkerd) and have noticed that at the end of a deployment, nearly all traffic gets reverted to the "old" version for about 30 seconds.  Here's a screenshot from our monitoring:
![image](https://user-images.githubusercontent.com/24273909/151880347-eeaf72d0-4e9a-48bb-90e3-375ff33a6cc7.png)

This is a bit naive but my gu

[2022-01-31 22:37] harikrongali commented on #1826
the issue is fixed with https://github.com/argoproj/argo-rollouts/issues/1681 ..

[2022-01-31 22:37] harikrongali commented on #1826
can you validate with the latest of master?

[2022-01-31 22:42] bpoland commented on #1826
Ahh thanks, I didn't realize it was the same fix.  I don't think I can try it this week but will try next week unless there's an RC out by then.

[2022-01-31 22:42] #1826 closed

[2022-02-01 04:59] huikang opened #1832 "Analysisrun failure doesn't surface to the rollout status"
## Summary

What happened/what you expected to happen?

The status of `get rollout` should be degraded and display the analsysis run error message: `two Measurement Retention metric rules have the same name '.*'  namespace=default rollout=rollouts-demo`

However, the existing implementation gives
[code]

## Diagnostics

What version of Argo Rollouts are you running?

master

[code]

[code]

---

*

[2022-02-01 18:59] alexmt commented on #1815
Implemented by https://github.com/argoproj/argo-rollouts/pull/1834

[2022-02-01 18:59] #1815 closed

[2022-02-01 20:04] #1784 closed

[2022-02-01 23:45] kvendingoldo commented on #1507
can it be backported to 1.1.x version? can we reopen this issue, pls?

[2022-02-02 03:11] ghostsquad opened #1837 "Cannot import go pkg"
## Summary

Trying to import `githubcom/argoproj/argo-rollouts/pkg/apis/rollouts/v1alpha1` and I'm met with an dependency that cannot be met:

[code]

This appears to be because there's a dependency on `k8s.io/kubernetes` where it was never intended on that being used as an import.

https://github.com/kubernetes/kubernetes/issues/90358?ts=4#issuecomment-617859364

---

**Message from the maintaine

[2022-02-02 13:31] mksha opened #1838 "After abort, rollout does not update Istio DestinationRule"
## Summary

What happened/what you expected to happen?

When we abort the rollout then it should update the Istio destination rule so in destinationrule we have subsets with correct         rollouts-pod-template-hash label.

But currently when we abort the rollout it does not update the destination rule, causing cannery endpoint to fail.

## Diagnostics

What version of Argo Rollouts are you runni

[2022-02-02 14:00] jaymebrd commented on #1755
Thanks @perenesenko I've created a PR for this.

[2022-02-02 14:26] huikang commented on #1838
Hi,@mksha, could you confirm if this happens to v0.3.0? Have you tried with v1.1.1 or the latest argo-rollouts image?

[2022-02-02 14:50] mksha commented on #1838
yes, we are using 1.1.1

[2022-02-02 15:28] anup1384 commented on #1720
I'm also receiving the same  issue while using notification engine for sending alert on slack.
[code]

[2022-02-02 15:33] huikang commented on #1838
@mksha , could you paste here the output from `get rollout <rollout name>` and `get desinationrule <name> -o yaml`? Thanks.

[2022-02-02 15:51] mksha commented on #1838
[code]

[2022-02-02 15:51] mksha commented on #1838
@huikang

[2022-02-02 15:55] mksha commented on #1838
[code]

[2022-02-02 15:55] mksha commented on #1838
@huikang let me know if you need more details.
thanks

[2022-02-02 16:20] huikang commented on #1838
Hi, @mksha , thanks for the detailed info. It would be even better if you can provide the output of `kubectl argo rollouts get rollout <rollout name>` Thanks.

[2022-02-02 16:22] mksha commented on #1838
@jgwest @alexec

[2022-02-02 16:23] huikang commented on #1838
Also how about the status of the virtual service `testapp-external`?

[2022-02-02 16:33] leoluz commented on #1507
Argo-Rollouts 1.2 will be released soon.
If this can't wait, please consider using the `latest` image.

[2022-02-02 16:43] huikang commented on #1838
I couldn't reproduce the error with the latest master branch: after abort an update, the virtualservice is set with 100 weght to the stable subset

[code]

The destination has the correct pod labels:

[code]

And the stable pod is still running
[code]

[2022-02-02 16:49] huikang commented on #1838
@mksha , in your case, I noticed the following in the rollout status

[code]

The canary pod is supposed to have a different hash value. I remember there was some bug related to this fixed after v1.1.1. Could you try using the latest version?

[2022-02-02 16:57] mksha commented on #1838
[code]

[2022-02-02 16:57] mksha commented on #1838
@huikang there you go

[2022-02-02 16:58] mksha commented on #1838
after the Aborting rollout

[2022-02-02 17:30] diegoluisi commented on #1619
Hi, same error

`Failed to watch *v1beta1.Ingress: failed to list *v1beta1.Ingress: the server could not find the requested resource (get ingresses.extensions)`

`Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f847e2054d824aea6cd1", GitTreeState:"clean", BuildDate:"2021-10-27T18:41:28Z", GoVersion:"go1.16.9", Compiler:"gc", Platform:"linux/

[2022-02-02 19:49] huikang commented on #1838
@mksha , could you try the latest image? I think the issue has been fixed there.

[2022-02-02 20:42] sof2000 commented on #1547
Fixed this issue by using image v1.1.1 from https://quay.io/repository/argoproj/kubectl-argo-rollouts?tag=latest&tab=tags

[2022-02-02 23:01] #1356 closed

[2022-02-03 09:27] mksha commented on #1838
HI @huikang , after the abort in destinationrule both subsets have same rollouts-pod-template-hash: f4dcdc666, bec canary pod is not there to server the canary traffic, so if destination rules does not point to stable for both stable and canary then canary requests will fail.

[2022-02-03 09:30] mksha commented on #1838
@huikang do you mean trying image created from master branch ?
bec I am already using v1.1.1

[2022-02-03 09:50] mksha commented on #1838
[code]

[2022-02-03 09:50] mksha commented on #1838
from the rollout that was aborted using image v1.1.1

[2022-02-03 09:53] mksha commented on #1838
But still destination rule is not updated , after canary pod deletion.
[code]

[2022-02-03 09:54] mksha commented on #1838
@huikang after the abort both subsets should point to stable hash

[2022-02-03 09:56] mksha commented on #1838
or the pod hash label should be removed completely after abort

[2022-02-03 11:47] mksha commented on #1838
I just figured out that
Before rollout starting and after rollout completed both canary and stable subsets should point to stable pod hash template

example
[code]

But in our case after abort, its
[code]

that is what is being copied to destination rule that is why its causing issues.

[2022-02-03 11:49] mksha opened #1841 "abortScaleDownDelaySeconds is not working as expected"
## Summary

What happened/what you expected to happen?
when we set abortScaleDownDelaySeconds:0 then it should not delete the canary pod but its deleting it immediately.
## Diagnostics

What version of Argo Rollouts are you running?
1.1.1
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-02-03 17:32] jessesuen commented on #1841
@mksha this option is ignored if you are doing a basic canary (not using a traffic router). Can you confirm you are using a traffic router? Which one are you using?

[2022-02-03 18:51] alexmt commented on #1837
This is known issue.  Error is happening because rollouts depends on `k8s/kubernetes`. The workaround is to add following in your go.mod file:

[code]

[2022-02-03 18:51] #1837 closed

[2022-02-03 18:52] huikang commented on #1838
Tested with the latest version and got the following after abort a canary update

[code]

The destinationrul matches the status :

[code]

[2022-02-04 03:31] #1453 closed

[2022-02-04 04:06] #1832 closed

[2022-02-04 04:37] mksha commented on #1838
@huikang  which means its wrong, bec in that case canary subset will point to the canary replicaset that does not have any pod running meaning canary requests will fail.

Ideally when we do the canary deployment in production, then some amount of traffic will be going to canary version of app and we will be performing some analysis and if analysis failed, meaning rollout aborted in that case, we w

[2022-02-04 04:57] huikang commented on #1838
Although the status pooints to the replicaset with 0 pods, the virtualservice have 0 weight to the canary rs; so no traffic will be sent to the replicaset.

I agree that the status should reset to the status where canary and stable points to the stable replicaset after update is aborted.

[2022-02-04 06:22] mksha commented on #1841
@jessesuen I am using the canary with traffic routing.
I am using istio with destination rule

[2022-02-04 06:31] mksha commented on #1838
even if virtual service is having weight 0 for the canary, there is a case when you have session affinity enabled then in that case your traffic will still go to canary replica set.becuase in virtual service you have that rule defined for our canary session affinity cookie.

Apart from that, let me know if i can help to fix this bug, i already found the place when we are updating the hash but not

[2022-02-04 11:23] mksha commented on #1838
@huikang

[2022-02-04 17:01] huikang commented on #1838
I think the root cause is https://github.com/argoproj/argo-rollouts/blob/18677425dc2447a3c43683b1bdac3d031e4de6d6/rollout/trafficrouting.go#L126-L128

Even after the update is aborted, `c.newRS` still points to the 0-replica rs, which leaves the newRS hash in the `status.canary.weights.canary`.
Maybe we can set `newRS` to stable RS if newRS is being deleted
at https://github.com/argoproj/argo-roll

[2022-02-04 18:07] huikang commented on #1841
I can reproduce the issue and will work on a fix. Thanks, @mksha

[2022-02-04 19:19] huikang commented on #1841
@mksha , after second thought, I think this maybe an expected behavior if you don't use `setCanaryScale` in a step, e.g.,

[code]

Otherwise, the code will set the new replica to nil:

https://github.com/argoproj/argo-rollouts/blob/a78640a3f2fed23c9855b2ac1d45e3035248e3e9/utils/replicaset/canary.go#L481-L503

[2022-02-04 20:43] jessesuen commented on #1841
@mksha could you please provide more details including rollout spec, and kubernetes rollout events when this happens? I think we don't have enough information to go off of currently.

[2022-02-04 20:45] zswanson opened #1845 "documentation - Rollout spec for bluegreen strategy missing previewMetadata and activeMetadata example fields"
## Summary

The bluegreen strategy supports adding ephemeral labels and annotations during the rollout, but Rollout spec documentation page are missing this information. We had overlooked the 'ephemeral metadata' page in the user docs and only found this by accident when we assumed that if canary had the fields that it was likely bluegreen did too. This should be added to https://argoproj.github.i

[2022-02-04 21:00] jessesuen opened #1846 "Make prometheus server address optional / centrally configured"
# Summary

AnalysisTemplate authors using the prometheus integration are currently required to specify a prometheus server address as a mandatory field in the template. In retrospect, this server address is something that operators would want to set up, and namespace level users would not care/need to know about this address.

This enhancement proposal is to make the prometheus server address an o

[2022-02-05 00:23] jessesuen commented on #1838
I don't think this would work because `c.newRS` should always point to the latest version and a lot of code relies on that being true.

Fundamentally, this is the issue. We currently assume that if we set a weight of 0, then no traffic will hit the RS. But you are explaining that this isn't always the case. Can you provide the example VirtualService/DestinationRule with session affinity that cause

[2022-02-05 04:09] mksha commented on #1841
@jessesuen I already provided the rollout spec above and other details.
I would request you to reproduce using the above instructions and you will see the issue straightforward as @huikang  saw.

[2022-02-06 10:22] m8mble opened #1850 "Make analysis succeed faster"
# Summary

Support succeeding earlier - once sufficiently many succeeding measurement are available. This aligns the success criteria with the failure / error criteria.

# Use Cases

This would support polling for a criterion and immediately exiting the measurement phase once the condition is met. There are two parts for allowing that:

## Skipping measurements that can't avoid success

Based on v

[2022-02-06 16:17] mksha commented on #1838
basically, in Virtualservice we have a rule based on that if
the host is canary.example.com
or
the request contains a session cookie requesting a canary version of the app then
it would route the traffic to the canary subset of the destination rule no matter what is the weight in virtual service to provide the session affinity.

In this case, if the destination rule canary subset is pointing to a

[2022-02-06 16:17] mksha commented on #1841
I am using the same spec shared at https://github.com/argoproj/argo-rollouts/issues/1838.

[2022-02-06 16:18] mksha commented on #1841
@jessesuen

[2022-02-07 05:29] mksha commented on #1838
So as a solution what we need is, we can keep the RS status whatever it is, but we can update the DestinationRule and just remove the pod-hash-template labels completely from both subset canary and stable when rollout is aborted. When we start the rollout again or retry then just set the destination rule to have labels of pod-hash-templates.

[2022-02-07 09:17] mksha commented on #1838
@jessesuen @huikang any feedback on above?

[2022-02-07 09:51] mksha commented on #1838
I think we need to have that login outside of if c.shouldDelayScaleDownOnAbort() {} block, because in case of rollout abort it will not go inside that If block at all.

[2022-02-07 12:03] mksha commented on #1841
@huikang
1. You are correct, I tried that and it worked, so one that we need to do is, make sure document is updated so we know how to use it with what.
2. Still there is a weird behaviour, if we use the
steps:
        - setCanaryScale:
            weight: 100
        - some-analysis-template
        - setCanaryScale:
            matchTrafficWeight: true
        - setWeight: 10
        - pause: {}

[2022-02-07 14:04] mjhuber opened #1851 "Error using multiple ClusterAnalysisTemplates with like arguments"
## Summary
Given a rollout using multiple ClusterAnalysisTemplates, e.g.,
[code]

If these ClusterAnalysisTemplates share the same name of an argument validation fails with an error like this:
[code]

example args in two ClusterAnalysisTemplates:
[code]

[code]

What happened/what you expected to happen?
I expected the Rollout spec to be validated and the rollout to proceed.

## Diagnostics

What

[2022-02-07 14:56] mjhuber opened #1852 "Update while another rollout in progress produces inconsistent replica scaling"
## Summary
If a revision is deployed to a Rollout while another revision is in progress argo behaves unexpectedly and continuously scales up and down the previous revision.  The rollout eventually succeeds after some period of inconsistent scaling in/out of the old image.

Example rollout:

[code]

### Steps to Reproduce:
1.  Deploy rollout.
2. While rollout is still in progress, update the image

[2022-02-07 15:33] kostis-codefresh commented on #1716
@marckhouzam Yes I can confirm it works for me as well. Of course I had to enable completion for my shell first. Also it is a bit slow during completion. But it still works!

[2022-02-07 15:34] kostis-codefresh commented on #1716
@gabipetrovay to circle back on your original question.

* To get completion for kubectl-argo-rollouts just follow the correct instructions for your shell. Did you try that?
* To get completion for kubectl argo rollouts it seems that you need to wait for https://github.com/kubernetes/kubernetes/pull/105867 to be merged in mainline Kubernetes

[2022-02-07 16:19] huikang commented on #1852
Hi, @mjhuber , I think this issue has been fixed by a recent commit on the master: https://github.com/argoproj/argo-rollouts/issues/1822
Could you try the latest image? Thanks.

[2022-02-07 18:53] mjhuber commented on #1852
Hi @huikang , thanks for your response. Indeed I tried using the `latest` image tag and the issue appears fixed - thanks!  I'll close the one out.  Any idea when the next version will be released that contains the fix?

[2022-02-07 18:54] #1852 closed

[2022-02-08 00:54] huikang commented on #1851
@mjhuber , I think this is an expected behavior as `rollout.spec.canary.analysis.args`can't distinguish which templates the argument should be applied to. Ideally, the args in the rollout could be

[code]

[2022-02-08 16:01] alexec opened #1855 "Update CHANGELOG.md with v1.1 release notes"
It is out of date.

[2022-02-08 23:04] jmgascoriego opened #1857 "argo-rollouts deployment fails in K8s v1.23"
# Summary

Deploying argo-rollouts on a Kubernetes cluster v1.23.1 makes the pod argo-rollouts to continously fail.

# Diagnostic

K8s cluster version: v1.23.1
K8s cluster nodes: 1 master + 3 workers
[code]

argo-rollouts version: v1.1.1
argo-rollout installation method: [YAML file](https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml)

Pod logs:
[code]

K8S API ingress

[2022-02-08 23:53] jmgascoriego commented on #1857
I just tested argo-rollouts v1.2.0-rc1 that was released yesterday and everything is working as expected.

[2022-02-08 23:53] #1857 closed

[2022-02-09 05:21] huikang commented on #632
@khhirani @jessesuen , I think this issue has been resolved recently, right?

[2022-02-09 06:52] ghostsquad commented on #1837
But the issue is that it _shouldn't_ depend directly on `k8s/kubernetes`.

https://github.com/kubernetes/kubernetes/issues/90358?ts=4#issuecomment-617859364

@alexmt can this be fixed by removing the direct dependency, and depending on each individual standalone modules instead?

[2022-02-09 17:25] rdmagm062699 opened #1858 "Rollouts not initiating pre-promotion analysis"
## Summary

What happened/what you expected to happen?
We are seeing our rollouts get stuck in a "Progressing" status when executing a blue/green deployment.  It appears that the pre-promotion analysis run does not get executed causing the rollout to stay in the "Progressing" state.

## Diagnostics

What version of Argo Rollouts are you running?
0.9.2

## Rollout Specific Logs
[code]

---

**Messa

[2022-02-09 21:34] jessesuen commented on #1401
Fixed in https://github.com/argoproj/argo-rollouts/pull/1606 (Rollouts v1.2.0)

[2022-02-09 21:34] #1401 closed

[2022-02-09 21:40] jessesuen commented on #995
Change from bug to enhancement because this was original design but something to revisit.

[2022-02-10 04:43] gavin-db opened #1860 "Canary Rollout Fails to Update `replicas` and `readyReplicas`"
## Summary

During a release of a service `ngrok-proxy` using a canary strategy (no HPA or traffic shifting), `replicas` and `readyReplicas` are not correctly decremented when the last stable pod is deleted, resulting in the rollout [stalling indefinitely](https://github.com/argoproj/argo-rollouts/blob/85cdf40cbd1e4e4b11d1515e6991f5a664b41669/utils/rollout/rolloututil.go#L129) with `old replicas a

[2022-02-10 05:23] agrawroh commented on #1860
@gavin-db Thanks for providing the detailed description and logs!

[2022-02-10 09:39] lextas opened #1861 "Add support for variables in analysis templates"
# Disclaimer

This might be a use case issue so if you disagree feel free to close this issue.

# Summary

Currently analysis templates support arguments but there is no easy way to define a list of variables. It would be nice to set hard-coded values in a template that cannot be overridden to keep queries clean. I know I can add `args` with a default value but it doesn't feel that arguments are m

[2022-02-10 10:03] #1861 closed

[2022-02-10 15:12] huikang commented on #1860
@gavin-db , thanks for reporting. Could you help provide more details regarding the following questions?

1. Are you able to reproduce the error using the latest controller image  or v1.2.0-rc1?
2. what are the canary steps in the rollout spec?
3. What are the steps to reproduce the behavior? (e.g., kubectl apply, rollout update, etc)

[2022-02-10 15:51] harikrongali commented on #1858
@rdmagm062699 can you please try latest version 1.2.0-rc or 1.1.1 and let us know if you still see the issue?

[2022-02-10 16:38] rdmagm062699 commented on #1858
Redeployment of the same version (0.9.2) of  argo rollouts seems to have alleviated the issue.

[2022-02-10 16:38] #1858 closed

[2022-02-10 19:10] gavin-db commented on #1860
@huikang
1. I'm not sure - I haven't tried.
2. Note that the exact strategy steps seem irrelevant, as I have reproduced this with two different services (one of which uses more (and longer) pauses.
`        "strategy": {
            "canary": {
                "analysis": {
                    "templates": [
                        {
                            "templateName": "privatelink-proxy-h

[2022-02-14 04:32] KimDoubleB commented on #1619
argo rollouts `v1.1.1` does not work in `kubernetes 1.23`.
It worked normally in `kubernetes `1.21.5` (I haven't checked version 1.22 yet).
Please refer to this issue #1857

[2022-02-14 10:27] vishal-yadav commented on #473
The issue appears for the latest release (v1.1.1) as well (Checkout code step in https://argoproj.github.io/argo-rollouts/CONTRIBUTING/#pre-requisites). Should simply use git clone/checkout?
[code]

[2022-02-15 04:44] mksha commented on #1841
@huikang @jessesuen  any thoughts?

[2022-02-15 04:45] mksha commented on #1838
@huikang @jessesuen  any thoughts?

[2022-02-15 11:07] civitaspo opened #1864 "BlueGreen Deployment Strategy should respect `status.HPAReplica` if exists."
# Summary

* BlueGreen Deployment Strategy should respect `status.HPAReplica` if exists.
    * If in the current implementation `status.HPAReplica` is larger than the `spec.replicas` defined in Rollout, the replicas of the active ReplicaSet will be updated with a smaller value, causing a temporary scale down before switching the new ReplicaSet.
    * This behaviour occurs in phase2. ref. https://a

[2022-02-15 11:15] civitaspo commented on #1864
If I can get a good response to this improvement from the maintainers, I'm willing to implement it myself.

[2022-02-15 15:48] psibi opened #1865 "--basehref support in Argo Rollout UI"
# Summary

Having `--basehref` support to change the UI base URL will make it
easy to deploy it under a non-root path. This is similar to the one
already present in ArgoCD: https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#ui-base-path

# Use Cases

To serve the dashboard under a non root path.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritiz

[2022-02-15 18:55] harikrongali commented on #1864
If you have HPA enabled, can you remove replicas from rollout spec & validate.

[2022-02-15 22:30] schakrad commented on #1506
I would like to work on this UI task.

[2022-02-15 22:30] schakrad commented on #1463
I would like to work on this task.

[2022-02-16 05:23] psibi opened #1866 "Default grafana dashboard doesn't work if applications deployed in other namespace"
## Summary

When you use the [default grafana dashboard](https://argoproj.github.io/argo-rollouts/features/controller-metrics/#creating-grafana-dashboards) provided by Argo rollouts, it's not giving any options to select other namespace apart from the one where the controller is deployed.

## Diagnostics

What version of Argo Rollouts are you running?

[code]

This is the image I'm using:

[code]

[2022-02-16 05:49] civitaspo commented on #1864
@harikrongali Thanks for the info!!! From what I read in the code, I think that if I remove replicas from the Spec of Rollout, it will be treated as replicas=1 by default. So, if the value of `status.HPAReplica` is greater than 1, the replicas of ReplicaSet will be updated with `1` and scale down will occur. Is my understanding wrong?

https://github.com/argoproj/argo-rollouts/blob/1867742/rollout

[2022-02-16 06:45] psibi commented on #1866
Debugging this issue further, it seems the issue is because there are two labels being exported by prometheus:

- namespace: the namespace where controller is
- exported_namespace: the namespace where the application is present.

I believe the best way to fix is this is create a another set of dashboard for this use case.

[2022-02-16 21:20] jessesuen commented on #1864
@civitaspo - this is true, but only for the initial setting. The `spec.replicas` will be defaulted to 1 if it is `null`, but after it is set, will not touch the value.

When using Rollouts (or Deployments/StatefulSets) with HPA, the expectation is that you do not specify `spec.replicas` because this value will be controlled by HPA. You should never specify `spec.replicas` if you know you will be u

[2022-02-17 02:53] danielhelfand commented on #1682
This looks like it can be closed, right? Fixed by: https://github.com/argoproj/homebrew-tap/pull/22

[2022-02-17 08:30] kostis-codefresh commented on #430
@amitpd is this still an issue for you now that https://github.com/argoproj/argo-rollouts/issues/1029 has been merged?

[2022-02-17 09:55] amitpd commented on #430
@kostis-codefresh Nope. The #1029 fix works for the Canary behaviour I was looking for.

[2022-02-17 09:55] #430 closed

[2022-02-17 13:04] civitaspo commented on #1864
I see. I understand that the unexpected scale down was happening because we had explicitly specified `replicas` even though we use HPA in our environment. Thank you for your help.

[2022-02-17 13:04] #1864 closed

[2022-02-17 16:57] #1447 closed

[2022-02-17 19:33] bbigras opened #1869 "dashboard --insecure-skip-tls-verify: x509: certificate signed by unknown authority"
## Summary

I would expect it to work with `--insecure-skip-tls-verify`.

[code]

[code]

## Diagnostics

What version of Argo Rollouts are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-02-18 04:35] xbuzz commented on #1682
@danielhelfand verified this has been resolved. Cheers!

[2022-02-18 04:35] #1682 closed

[2022-02-22 06:45] jasonwzm opened #1870 "Dashboard crash after hitting Promote button"
## Summary

Dashboard crashed after hitting the Promote button when step is paused. Abort seems to have the same issue. Using Istio for canary traffic routing. Rollout was progressing fine though.

What happened/what you expected to happen?
I don't have to restart the dashboard to get the dashboard working.

## Diagnostics

What version of Argo Rollouts are you running?
v1.2.0-rc1

[code]

---

**

[2022-02-23 00:32] agrawroh commented on #1860
I took a deeper look at this and don't think it has to do anything with the Argo Rollouts controller. The controller delegate the template(s) verification to the K8S and its K8S which is failing the validation of PSP and we are just propagating that failure back to the user/client.

There are two possible theories:
1. The version of k8s library we are using in Argo v1.2 is newer than the k8s versi

[2022-02-23 01:27] harikrongali commented on #1870
@jasonwzm can you post your manifest file? Do you see same with cli as well?
[code]

@perenesenko can you validate the use case?

[2022-02-23 01:35] jasonwzm commented on #1870
[code]

@harikrongali cli works fine and in the UI, promote actually works, it just crashed the UI once the button is hit.

[2022-02-23 16:08] blkperl opened #1875 "Update `github.com/prometheus/client_golang` from 1.11.0 to 1.12.1"
# Summary

Dependabot needs some assistance with https://github.com/argoproj/argo-rollouts/pull/1843

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-02-23 16:11] blkperl opened #1876 "Update `github.com/newrelic/newrelic-client-go` from 0.72.0 to latest"
# Summary

Dependabot needs assistance updating the newrelic-client https://github.com/argoproj/argo-rollouts/pull/1859

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-02-23 17:18] ttusin commented on #474
Up. Definitely need this feature.

[2022-02-23 19:38] perenesenko commented on #1870
I've checked on a version
rollouts-controller 1.1.0 and 1.1.1 and the latest (1.2.0-rc1)
With the **dashboard** on the latest version

I could not reproduce the issue with that file.

@jasonwzm Can you provide the version of dashboard?

[2022-02-23 19:52] jasonwzm commented on #1870
@perenesenko
[code]

[2022-02-23 21:03] perenesenko commented on #1870
@jasonwzm
I could reproduce issue with the next configuration
* rollout controller v1.2-rc1
* dashboard v1.1.0

But everything works fine if I'm using the **controller** and **dashboard** from the master branch.
So it should work fine after the 1.2-rc1

[2022-02-23 21:09] jasonwzm commented on #1870
@perenesenko good to know. Do you know when is the next release?

[2022-02-23 21:50] perenesenko commented on #1870
The release should be soon in a week or two.
BTW we will have a new RC2 today.

[2022-02-23 21:51] jasonwzm commented on #1870
Awesome! I will try out rc2 once it is out and report back.

[2022-02-24 08:52] borkke commented on #782
I found out about this open issue only after we did the implementation where we have **Kong as ingress controller** and our services are deployed with:
- service
- service-preview
- ingress
- ingress-preview
- rollout (tested canary and blue-green)
- and hpa

I was very surprised when I saw that Kong is not on the supported list but my setup works perfectly fine. So, I'm wondering am I missing som

[2022-02-24 21:06] bskidmore commented on #1784
Does this release include CVE-2020-8554? If not is there an update for that fix?

[2022-02-24 22:24] harikrongali commented on #1784
it is part of 1.2.0-rc1

[2022-02-24 23:14] perenesenko commented on #1870
We have RC2 now. I've checked the dashboard. Everything works fine.
@jasonwzm Could you confirm that?

[2022-02-25 00:07] jasonwzm commented on #1870
Getting 404 on rc2 kubectl plugin
[code]

[2022-02-25 00:09] perenesenko commented on #1870
I can download it using a browser

[2022-02-25 00:10] jasonwzm commented on #1870
And also dashboard command gave me a blank dashboard
[code]

[2022-02-25 04:55] harikrongali commented on #1870
please use rc2 not rc1 image.

https://github.com/argoproj/argo-rollouts/releases/tag/v1.2.0-rc2

[2022-02-25 10:31] yq314 commented on #1611
@jessesuen thanks for the work, however, I noticed the rollout extension stopped working since I moved to `WorkloadRef`, not sure if this is related? See https://github.com/argoproj-labs/argocd-extensions/issues/10 for details

[2022-02-25 18:29] jasonwzm commented on #1870
rc2 kubectl plugin was not available yesterday. Tried the rc2 kubectl argo rollout plugin. Now working. Thanks!

[2022-02-25 18:29] #1870 closed

[2022-02-26 19:40] bestrand opened #1883 "Grafana Loki for obtaining measurements for analysis"
# Summary

Add support for Grafana Loki and LogQL for obtaining measurements for analysis.

# Use Cases

Run queries against Grafana Loki with LogQL to get status (errors or other relevant loginfo) from the logs during prePromotionAnalysis / postPromotionAnalysis or during canary release.

Be able to get a good overview both from a log and metrics perspective by using Loki and Prometheus during An

[2022-02-28 12:31] bysph opened #1885 "argo rollout does not delete metrics after rollout has been deleted"
## Summary

What happened/what you expected to happen?
When a rollout has been deleted, argo rollout does not delete it's metrics which has been cached in vec map. This will make response body of metric api too large.

## Diagnostics

What version of Argo Rollouts are you running?
1.11.0

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues wi

[2022-03-01 13:12] bysph commented on #1885
@jessesuen @dthomson25

[2022-03-01 15:20] mksha commented on #1841
@jgwest @huikang  any thoughts?

[2022-03-01 15:20] mksha commented on #1838
@jgwest anhy thoughts on this?

[2022-03-02 04:48] nsingi45 opened #1892 "Failed to integrate Argo CD with DataDog to query the resources metrics status for auto promotion (B/G)"
## Summary

I'm trying to integrate Argo with DataDog to query the resource metrics and based on the metric evaluation the deployment will auto-promote for B/G. In my case the issue is Argo fails to evaluate the DataDog query that passed via Analysis template (Argo fails to query metric from DataDog)

## Diagnostics

Kubernetes version: v1.20 (EKS), argo cd version: v2.2.2, argo rollouts: v1.1.1

[2022-03-03 16:33] ebkn opened #1894 "Can't send Slack Notifications"
## Summary
Hi. I want to notify BlueGreen rollout strategy status to `Slack`.
Rollout works as expected but notification doesn't works.

However I can send notification manually by using `kubectl argo rollouts notifications template notify` command.
[code]

Do I missed some installation processes?

<details><summary>This is my manifests.</summary>

[code]

Maybe this is related to https://github.c

[2022-03-04 01:17] heesuk-ahn opened #1896 "Argo Rollout Dashboard SSO & Multi Tenancy"
# Summary

SSO & Multi-tenancy is not currently supported in the argo rollout dashboard.

This means that when multiple developers use Dashboard together, they can also deploy other services for which they do not have permission.

Apart from this, ArgoCD Dashboard supports SSO & Multi-tenancy, so it is not too difficult for developers of multiple teams to use it together.

# Use Cases

I want to s

[2022-03-04 06:37] harikrongali opened #1897 "Add validation for rollout if selector is not specified"
Similar to deployment, Rollout should throw error and shouldn't create the object if the selector is not specified.

Current behavior:
Rollout object gets created with Error status

Expected behavior:
Rollout object shouldn't be allowed to create and throw a validation error

[code]

[2022-03-04 07:42] sourikghosh commented on #1897
Can i work on this issue

[2022-03-04 18:20] harikrongali commented on #1894
@RaviHari can you please verify when you get a chance?

[2022-03-04 18:33] RaviHari commented on #1894
Sure.. I will look into this.

[2022-03-04 18:52] perenesenko commented on #1892
@nsingi45 Could you specify the count for the `AnalysisTemplate`

[2022-03-04 18:57] alexmt commented on #1896
Can you check Rollout Extension for Argo CD: https://github.com/argoproj-labs/rollout-extension.  It allows to embed Rollout dashboard into Argo CD and re-use Argo CD multi-tenancy features.

[2022-03-04 20:56] ixxeL2097 commented on #521
Same issue with release candidate `1.2.0-rc2` , does someone have any hint on this problem ?

[2022-03-04 21:15] ruben-ojeda-mednax commented on #521
We haven't seen this issue again. A failed rollout always goes into a "Degraded" status if it fails the AnalysisRun. We are also running the same version.

[2022-03-04 21:43] ixxeL2097 commented on #521
Ok I see. I am currently investigating on this. I am most likely doing something wrong, but my job fails and `AnalysisRun` stay healthy instead of degrading my rollout. Maybe something to do with my istio sidecar injection container I guess.

[2022-03-04 22:09] ruben-ojeda-mednax commented on #521
No worries, if AnalysisRun STATUS was "Error", then the rollout STATUS should be "Degraded", but if it was "Successful", I would recommend you look for something else down stream.

[2022-03-04 22:13] ixxeL2097 commented on #521
I tried to disable Istio sidecar injection and still same behaviour :

![image](https://user-images.githubusercontent.com/19793672/156848934-a726aa58-7175-45aa-8594-6bbe73f5eda5.png)

The `AnalysisRun` status is successful and I don't understand why actually

![image](https://user-images.githubusercontent.com/19793672/156849027-b70c7a7d-9a94-473a-8764-e32afda52f93.png)

[2022-03-04 22:24] ruben-ojeda-mednax commented on #521
Your pictures show jobs failing. Is your AnalysisTemplate provider a job? From here: https://argoproj.github.io/argo-rollouts/analysis/job/? I would double check the job command exit code too, just in case.

[2022-03-04 22:28] ixxeL2097 commented on #521
Indeed my `AnalysisTemplate` provider is a job. I will double check the exit code first

[2022-03-04 23:25] ixxeL2097 commented on #521
ok, I figured it out. Seemed like I used a wrong image to execute my job. I was using `curlimages/curl:latest` at first and then replacing that image with a different one from my personal library worked. Anyway, thanks a lot for your help dude !

[2022-03-05 06:40] sourikghosh commented on #1897
@harikrongali  @perenesenko Can you give me a hint from where to start looking, to make this enhancement?

[2022-03-06 03:21] huikang commented on #1897
@sourikghosh , try starting from https://github.com/argoproj/argo-rollouts/blob/575a619d68fdd0e21e6dfa80aeea1c6c34009ef9/pkg/apis/rollouts/validation/validation.go#L95

[2022-03-06 05:10] sourikghosh commented on #1897
thank you very much @huikang.

[2022-03-07 20:30] nsingi45 commented on #1892
@perenesenko
thanks for your input. After specifying `count` field template was able to execute.
But what is the purpose of count here? if we don't specify it, analysis run goes in continuous loop?

[2022-03-07 22:15] lonnixOH commented on #1892
@nsingi45 I encountered this just a few hours ago. I didn't specify count on an AnalysisTemplate and then I created an AnalysisRun from it and it ran forever. I set a count and it ended once the count was reached. While running forever it never go to a successful state and always had a "Running" status, which I assume means it would block a Rollout.

[2022-03-08 02:39] heesuk-ahn commented on #1896
@alexmt Wow thanks for the comment I didn't know there was such an extension plugin, I'll give it a try!

[2022-03-08 17:04] RaviHari commented on #1894
Hi @ebkn ,
I verfied this with latest argo-rollouts (quay.io/argoproj/argo-rollouts:v1.2.0-rc2) deployed and I am getting the slack notifications.. can you please check the docs and see if any step is missing in your environment.

[2022-03-08 17:08] RaviHari commented on #1894
In your configmap I donot see the triggers and templates..
you can use default trigerrs e.g:
[code]

[2022-03-09 01:32] #1860 closed

[2022-03-09 01:35] Cylix commented on #1538
Hey folks 👋

Just to let you know that's something that'd be super useful. For example, being able to have some direct links to the argo-rollouts dashboards in our CI output.

I've crafted a PR (https://github.com/argoproj/argo-rollouts/pull/1902) to add support for this. I'm fairly new to React, so this might need to be reworked a bit, but I'd be happy to put the work to support this!

[2022-03-09 22:36] croomes opened #1904 "Operation cannot be fulfilled on rollouts.argoproj.io: the object has been modified"
## Summary

When creating a new rollout we sometimes see it get stuck and never progress.  Logs show it failing to update due to a resource conflict.  It retries but always get the same conflict error, even though it re-queues after each failure.

Related: #1775

My guess is that the revision update at: https://github.com/argoproj/argo-rollouts/blob/acf805423c48f0e037e6e5686e6d164465f33c51/rollout

[2022-03-10 13:53] swathienugula commented on #1845
/assign

[2022-03-10 16:14] RaviHari opened #1905 "Rollout to pause when the analysis metric doesnot return a value and resume when it does"
# Summary

When the analysis template metric return no values.. Rollout should pause and resume when the values are returned.

# Use Cases

This could be a case when the new deployment has been triggered but the app does not get traffic then rollout will revert it back to the previous version.. but as such the new version of the canary pods have not yet been validated with traffic as application i

[2022-03-10 16:45] alexmt commented on #1905
I think the closest available feature is [inconclusive run](https://argoproj.github.io/argo-rollouts/features/analysis/#inconclusive-runs). In both `successCondition` and `failureCondition` returns `false` then run is considered inconclusive and Rollout automatically pauses.

[code]

[2022-03-10 17:23] ZhangShunzz opened #1906 "how to generate rollout.Status.canary.stableRS"
## Summary

What happened/what you expected to happen?

rollout.Status.canary.stableRS is number.
<img width="215" alt="image" src="https://user-images.githubusercontent.com/44627917/157719079-9c251de4-af9b-4ee5-bad1-6bcb94d5e67a.png">

get error: ReadString: expects " or n, but found 5, error found in #10 byte of ...|tableRS":56868747}

## Diagnostics

What version of Argo Rollouts are you runnin

[2022-03-11 06:11] tobernguyen commented on #958
There is an issue with this approach when combined with ArgoCD with `autosync: prune` turned on because:
- ArgoCD will prune the old ConfigMap on sync
- The stable deployment is still referencing the ConfigMap, which is now no longer exist

Now there are several issues that can happen:
1. If we use HPA with Canary strategy and HPA increases the number of replicas, Argo Rollouts will scale up the s

[2022-03-11 08:42] vishal-yadav commented on #1897
Below code section comment assumes that it is expected behavior if this is caused by dependency between Rollout and Service resources. **I am a newbie to this project** so not sure if such condition/order would be caused by client/user or some race condition. If the wrong order is caused by client/user then it should see such validation error instead of queuing the request to controller for creati

[2022-03-11 09:20] vishal-yadav commented on #1897
While tracking above change bit more it appears it was part of https://github.com/argoproj/argo-rollouts/pull/814 PR and related to referenced resource. However IMO we can refactor/separate both scenarios (waiting/queuing for referenced resource to be created vs general invalid rollout spec issue like this issue).

@jessesuen let me know the background and your opinion about above and I'll work on

[2022-03-11 13:19] PhilippPlotnikov commented on #516
https://github.com/argoproj/argo-rollouts/pull/1907

[2022-03-11 16:59] risinger commented on #958
@tobernguyen have you tried [PruneLast](https://argo-cd.readthedocs.io/en/stable/user-guide/sync-options/#prune-last) (on its own, without `IgnoreExtraneous`)? We currently append a SHA to our configmap names. The reference change in the Rollout spec triggers a rollout. After the rollout is complete, ArgoCD prunes the old configmap.

[2022-03-12 02:38] tobernguyen commented on #958
How this will work in the case that we abort the rollout? When we abort the rollout, will ArgoCD prune the old configmap because now the sync is complete, right?

[2022-03-13 03:55] huikang opened #1908 "Deprecating phase in rollout status"
# Summary

What change needs making?

- Deprecating phase in the rollout status following the guidance of [k8s API convention](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status)

- infer the rollout status from its conditions

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug?

[2022-03-14 08:40] ebkn commented on #1894
@RaviHari I got notifications by adding `defaultTriggers` to configmap. Thanks!
[code]

[2022-03-14 19:08] harikrongali commented on #1702
@schakrad assigned to you

[2022-03-14 19:09] harikrongali commented on #1318
@schakrad assigned to you. comment on the ticket so that I can assign

[2022-03-14 19:15] #1463 closed

[2022-03-14 19:15] #1355 closed

[2022-03-14 19:41] alexmt commented on #1908
Thanks for pointing this out @huikang ! We've introduced `phase` field out of necessity: it was too difficult to replicate condition parsing logic in UI & Argo CD health check, so we introduced `phase` along with conditions.

[2022-03-15 13:07] swathienugula commented on #1845
I would like to work on this issue. Could you please assign to me?

[2022-03-15 13:25] mykyta-batalov commented on #782
@borkke Do you mind sharing an example of how you got it all set up, please? I'm making research if this is a viable option as of today and it would help a lot to have something to look at. Thanks

[2022-03-15 18:36] schakrad commented on #1702
I would like to work on this PR.

[2022-03-15 19:09] mcblair commented on #1904
We're seeing this too, but consistently.

* Argo Rollouts installed with cluster scope to its own namespace
* Rollouts in `default` namespace properly scale down and cleanup old replicasets
* Rollouts in any other namespace does not scale down nor cleanup old replicasets
  * Furthermore, the pods in the old replicasets remain in the k8s `service` endpoint slices

[2022-03-16 10:35] vabc3 opened #1913 "rollout syncHandler keeps retrying patching rollouts in a deleted namespace"
## Summary

What happened/what you expected to happen?

log indicates `rollout syncHandler queue retries` 8k+ times. While the whole namespace `testns` is already deleted.

## Diagnostics

What version of Argo Rollouts are you running?
v1.1.1

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-03-16 13:53] RaviHari commented on #1894
@ebkn can you close this issue if it is working for you?

[2022-03-16 16:27] nirvanagit commented on #1897
@harikrongali - can this be converted to a bug, as selector field should be mandatory for rollouts. Without selector, a rollout is of no use.

[2022-03-16 16:36] vishal-yadav commented on #1897
@harikrongali, Can you please assign this to me?

[2022-03-16 18:48] harikrongali commented on #1897
@vishal-yadav sure, I can assign. Not sure if @sourikghosh is already started working on it. Will wait for a couple of days for @sourikghosh to reply. Else, will reassign it to you.

[2022-03-16 20:35] #1801 closed

[2022-03-17 01:47] vabc3 commented on #1885
This may be similar issue https://github.com/argoproj/argo-rollouts/issues/1913 . Even after rollout got deleted, the sync controller still keeps patching it.

[2022-03-17 02:12] jchenship commented on #557
it's more than 1.5 years, any update for this ? thanks

[2022-03-17 10:50] PhilippPlotnikov commented on #1438
I would like to implement it

[2022-03-17 15:43] alexmt commented on #1438
Thank you @PhilippPlotnikov

[2022-03-17 19:11] DWSR opened #1914 "JSON Logging"
# Summary

Argo Rollouts is one of the few Argo projects that doesn't support JSON logging

# Use Cases

When trying to naively parse logs using a log aggregator like Fluentd.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-03-17 20:30] borkke commented on #782
Here are few notes what I did:

- Used minikube
- Enabled nginx ingress using minikube `minikube addons enable ingress`
- Checked out [rollouts-demo](https://github.com/argoproj/rollouts-demo)
- Added all URLs to my host file (canary.dev.argoproj.io, canary-preview.dev.argoproj.io, blue-green-preview.dev.argoproj.io, blue-green.dev.argoproj.io) to point to my minikube instance
- tried these two ex

[2022-03-17 21:54] DanTulovsky commented on #1904
We also see this occasionally.  Restarting argo-rollouts itself always fixes the problem.

[2022-03-18 14:46] #1892 closed

[2022-03-21 09:40] hcelaloner commented on #1914
I am not sure since I didn't use it. However, it seems that the controller provides flags to change log format: https://github.com/argoproj/argo-rollouts/blob/master/cmd/rollouts-controller/main.go#L221

Therefore, I don't know whether it is documented or not but passing additional command-line arguments to the rollouts-controller may change its log format.

[2022-03-22 01:20] #1782 closed

[2022-03-22 09:22] vishal-yadav commented on #1897
Above validation needs to be done on CRD schema level. After some further deep-dive, got to know that _rollout.spec.selector_ can also resolve the value from _rollout.spec.workloadRef_ section that's why it is optional. So the correct validation for this case would be that one of these fields (selector or workloadRef) should be required/non-empty. Such validation is possible with CRD structural sc

[2022-03-22 17:56] perenesenko commented on #1914
@DWSR
yes, that's correct `--logformat=json` will work.
We just need to fix a documentation

[2022-03-22 18:49] adecchi-2inno commented on #33
Did you could implement Rollouts ? Actually if my HPA scaled the rollouts kill the new scaled pod to set the same is figured out in REPLICAS, and calculate the percentage in the number of the REPLICAS. Did you have this problem ?

[2022-03-24 17:37] perenesenko commented on #474
For now as a draft:

The rollout will have a new step for the header-based traffic `setHeaderBasedWeight`.
there will be a `header-name` property for the header name, and one of `value` or `regex` properties to specify the header value

[code]

[2022-03-25 00:04] Sudhamsh commented on #1184
Did anyone solve exposing the dashboard with ingress?

[2022-03-25 00:26] Sudhamsh commented on #1184
Found the solution: install dashboard manifest and create ingress to svc argo-rollouts-dashboard
https://raw.githubusercontent.com/argoproj/argo-rollouts/master/manifests/dashboard-install.yaml

[2022-03-28 21:20] zachaller commented on #1774
So I have been spent a little time looking into this and it seems that the case where we have no SetWeight steps is handled and is working as intended. However there is a test for TestRolloutBadToGoodSetWeightUpdate but I think the test is incorrect.  This check [here](https://github.com/argoproj/argo-rollouts/blob/master/test/e2e/functional_test.go#L677) I feel should be

[code]

This would then

[2022-03-29 07:39] cfifua commented on #1323
There should be the same SSO and RBAC possibilities as you already implemented at other products. @alexec - probably you can help.

[2022-03-30 11:01] hcelaloner opened #1939 "Is v1.2.0 compatible with Kubernetes 1.16? If not, can the project provide a compatibility matrix?"
# Summary

Previously, some of our clusters had Argo Rollouts v1.1.1 installed via helm charts located in the argo-helm repository. When we tried to upgrade to v1.2.0, we encountered the following error

[code]

I guess `x-kubernetes-map-type` was added in k8s 1.17. If Argo Rollouts is not compatible with k8s 1.16 clusters, it may be good to state this information somewhere? Maybe release notes if

[2022-03-30 20:39] jessesuen commented on #995
Had a discussion about this and agree the current behavior is too surprising. We will change the behavior such that when moving to a new version which is good, the availability of the stable should not prevent the update. The changes which need to be made are:

1. when assessing if a `setWeight` step is completed, we will consult: (a) availability count of canary and (b) the pod count of stable (i

[2022-03-30 21:25] jessesuen commented on #1774
Duplicating to https://github.com/argoproj/argo-rollouts/issues/995

The `TestRolloutBadToGoodSetWeightUpdate` is working as designed, but the decision is to ignore stable version availability when moving to new versions. Which means `TestRolloutBadToGoodSetWeightUpdate` will need to change along with it.

[2022-03-30 21:25] #1774 closed

[2022-03-30 21:58] harikrongali commented on #1702
https://github.com/argoproj/argo-rollouts/issues/1702 fixes the issue

[2022-03-30 21:58] #1702 closed

[2022-03-30 21:59] harikrongali commented on #1939
Every ArgoRollout release supports the latest & latest-2 versions only. But you are correct, it is not mentioned anywhere in the docs and we will update them

[2022-03-31 10:43] mainey commented on #1438
would it be possible to support KrakenD api gateway for argo rollouts as well?

[2022-03-31 11:08] RaviHari commented on #1905
After some thought I think if we introduce a flag `ignoreInconclusiveResult` in rollout it would help in case there are no metrics to do analysis in some desired environments.. so teams can configure this setting in those environments and allow rollout to succeed.

[2022-03-31 15:57] alexmt commented on #1905
Just want to make sure I understand the use case ( please correct me if I'm wrong ):

The rollout is running in a pre-production environment without users, so there is no traffic. Without traffic metrics query returns nothing, so both `successCondition` and `failureCondition` return false, AnalysisRun became inconclusive, and pauses. The user wants to change the behavior so that AnalysisRun consid

[2022-03-31 16:08] RaviHari commented on #1905
I tried with the above successCondition.. and I am seeing AnalysisError..
[code]

Let me see if there is a better way to handle the successCondition..

[2022-03-31 17:01] nilampatel-engineer opened #1945 "how can I generate traffic when the canary is in paused at 50/50 for prometheus to acquire data?"
## Summary

What happened/what you expected to happen?

## Diagnostics

What version of Argo Rollouts are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-03-31 17:14] rjpnps opened #1946 "Rollout spec - K8s Validating Webhook"
# Summary

What change needs making?

As complementary to the closed issue about [Rollout spec validation](https://github.com/argoproj/argo-rollouts/issues/358), it would be great to add support for an _optional_ `ValidatingWebhookConfiguration`.

# Use Cases

When would you use this?

This feature applies to Kubernetes v1.19+ clusters with the `admissionregistration.k8s.io/v1` API enabled. For su

[2022-04-01 11:17] RaviHari commented on #1905
Hi @alexmt ,
Thanks for your inputs..
I am able to get this working with this condition..
`successCondition: "len(result) > 0 ? result[0] >= 0.1 : true"`

The problem was when result is empty if we directly try to fetch result[0] to compare as in the initial condition I had.. it is running into index out of range..

So by using ternary operator we can first check the length of result if it is >0 w

[2022-04-01 11:17] #1905 closed

[2022-04-01 15:47] odorT commented on #1658
I also have the same problem. Are there any workarounds?

[2022-04-01 17:44] #1812 closed

[2022-04-02 15:53] leoluz commented on #1091
FYI, I'm giving it another try in https://github.com/argoproj/argo-cd/pull/8929

[2022-04-03 04:39] alexec commented on #1323
Interesting. SSO+RBAC was very time consuming to implement in Argo Workflows. I would not approach it the same way again. I would use Gin if I started again from scratch:

https://developer.okta.com/blog/2021/02/17/building-and-securing-a-go-and-gin-web-application

[2022-04-03 04:40] alexec opened #1950 "Auto-approve and merge dependabot PRs"
We do this for workflows and events. Copy-and-paste this:

https://github.com/argoproj/argo-workflows/blob/master/.github/workflows/dependabot-reviewer.yml

[2022-04-03 15:59] cfifua commented on #1323
hi, @alexec thank you for the replay!
ArgoCD becomes quite popular in our time because it brings new possibilities and solves many old-known problems.
I believe that with the possibilities for secure login you can improve the customer journey for argo-rollouts!
It is a super useful tool and taking into account that you guys already implemented this functionality for another product I believe, that

[2022-04-04 16:34] object88 commented on #1438
My apologies if "me too"s aren't appropriate for issues here, but we (Dexcare) are very interested in a Gateway API implementation in Argo Rollouts.  @PhilippPlotnikov , is there a way that we can track progress on this?  I may be able to contribute some testing time in our development environment.

[2022-04-04 17:36] juanvasquezreyes commented on #1894
I'm getting same error using teams "Failed to process: Object 'Kind' is missing in "

this is my configuration
[code]

and in the rollout annottations this is what I have
notifications.argoproj.io/subscribe.on-rollout-step-completed.teams: channelName

can you please let me know what I'm missing?

[2022-04-06 15:21] ansilh opened #1960 "Executing "argo rollouts get rollouts" from pod gives error."
## Summary

Executing `argo rollouts get rollouts` from pod gives error.
The service account is binded to cluster role `argo-rollouts`

[code]

## Diagnostics

What version of Argo Rollouts are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-04-06 19:01] geojakes opened #1962 "`when` condition does not work in notification triggers"
## Summary

I've configured argo rollout notifications in our cluster like so via the helm chart values file:

[code]
What happened/what you expected to happen?

The expectation was that during deployment, this notification flows into a slack channel for all applications that are not frontend. Instead the `rollout-step-completed` notification happens for all valid when clause (I am assuming). If I

[2022-04-06 19:33] n888 opened #1963 "ALB --aws-verify-target-group truncates results > 300 LoadBalancers"
## Summary

What happened/what you expected to happen?
Hello Argo Community,

* Expected the ALB Verify Target Group feature to find the ALB and verify ip/weights.
* Environment: There are 330 ALBs in the region. Many rollouts worked fine, while more recently created Ingress Objects seemed to fail all the time with the "LB not found" message.

## Diagnostics

What version of Argo Rollouts are you

[2022-04-06 22:05] harikrongali commented on #1962
@RaviHari can you please check if this is an issue.

[2022-04-07 12:12] RaviHari commented on #1783
Closing this as it supported now: https://github.com/argoproj/notifications-engine/pull/65

[2022-04-07 12:12] #1783 closed

[2022-04-07 15:51] patgmiller opened #1965 "Kustomize Build: rollout deployment always on :latest"
## Summary

When building manifests using `kustomize`, or even `kubectl kustomize`, the resulting deployment manifest has an image tag of `:latest`, instead of using the specified tag version. This is problematic when using a remote bases git URL with tag reference to build manifests, like this `https://github.com/argoproj/argo-rollouts//manifests/cluster-install/?ref=v1.0.7`.

It leads to two pro

[2022-04-07 15:55] patgmiller commented on #1965
I am aware that depending on which version of `kubectl` or `kustomize` one is using there is a work around by putting the following in the `kustomize.yaml` file

[code]

However, the purpose of `kustomize` is to be able to patch in only your own changes so this should probably be fixed in the source project. I'll submit an fix if and when I have some time. So for now I just wanted to bring it up.

[2022-04-07 16:16] fede-r1c0 commented on #1896
Thank you. I didn't know this extension, I'll give it a try too!

[2022-04-07 17:03] SriranjithaR opened #1966 "Replica count not maintained during canary rollout"
# Summary
We are running a canary argo rollout. We have set the `spec.replicas` count to 24.
The rollout spec has 3 steps:
[code]
During the first step (deploying 5% canary), we see that there are atleast 24 pods (stable+canary) serving traffic at all times. However, in step 3, we observed that stable pods are taken down before canary pods have all their containers ready.
Almost obviously, we obse

[2022-04-07 18:18] perenesenko commented on #1966
Hi @SriranjithaR
It's expected behavior.
Once switching weight from 5% => 100% the Rollout decreasing stable for the `maxUnavailable` 25% and increasing the canary for `maxSurge` 25%.

If you don't want the total number goes below the 24 pods you can specify `maxUnavailable` = 0

See: https://argoproj.github.io/argo-rollouts/features/canary/#maxunavailable

[2022-04-07 18:45] harikrongali commented on #1965
dup of https://github.com/argoproj/argo-rollouts/issues/1641

We no longer commit the install manifests into git with hardwired versions because it complicated the release process. Instead, we attach install manifests to the release. You can change your kustomization to reference this instead:

https://github.com/argoproj/argo-rollouts/releases/download/v1.0.7/install.yaml

[2022-04-07 18:45] #1965 closed

[2022-04-07 19:43] RaviHari commented on #1962
I verified this it looks like when condition is not taking effect. The notification gets sent irrespective of the condition. I will update with more details by looking into more.

[2022-04-07 19:45] harikrongali commented on #1962
if this is a issue with notification engine, then we should move this ticket to notification engine repo.

[2022-04-07 20:23] #1966 closed

[2022-04-07 23:58] geojakes commented on #1962
Thanks for verifying this

[2022-04-08 00:04] harikrongali commented on #1962
@alexmt / @jessesuen  can you please move the ticket to notification engine repo

[2022-04-08 03:19] huikang commented on #1960
Hi, @ansilh , looks like I couldn't reproduce the error; the results from the command looks good.

[code]

Could you provide more details about how to reproduce? Thanks.

[2022-04-08 06:56] ansilh commented on #1960
Hi, @huikang , Thanks for your help so far.
You may use the below steps to reproduce the error.
The Job logs will show the reported error.

Regarding why we are doing this;
We are using the helm atomic option for auto rollback when there is a failure during chart install/upgrade.
Helm doesn't understand "Rollout" so it returns with deployed status even before the pods become healthy.
We are trying

[2022-04-08 13:35] geojakes commented on #1962
@harikrongali so is this issue confirmed as a notification engine one?

[2022-04-08 21:15] harikrongali commented on #563
Here is a proposal for the mirror/shadow traffic spec:
Let's call it mirroring is the common name used in istio and other controllers

Two ways mirroring can be used.
1. Mirroring for canary stack
2. Mirroring for experiment stack

Spec for canary use case:
[code]
...
  strategy:
    canary:
      steps:
      - experiment:
          duration: 1h
          # mirror traffic
          mirrorPercenta

[2022-04-09 18:18] n888 commented on #710
@allupaku that looks good to me :+1:

Currently working around this by deploying 1 Rollout per ALB, and then each Rollout is promoted individually.

Small request: Could we fix the typo in the issue title?

[2022-04-10 19:41] #1960 closed

[2022-04-13 11:54] templarfelix opened #1976 "allow prometheus AnalysisTemplate use secret for address and authentication"
# Summary
What change needs making?

allow use secret for set address and headers for prometheus AnalysisTemplate.

# Use Cases
When would you use this?

the same technique of datadog AnalysisTemplate integration https://argoproj.github.io/argo-rollouts/analysis/datadog/

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-04-13 12:45] borkke commented on #782
@mykyta-batalov  Just checking in... Did you have any progress regarding this?

[2022-04-13 18:54] harikrongali commented on #1976
i believe https://github.com/argoproj/argo-rollouts/pull/1956 solve this use case

@RaviHari can you please confirm

[2022-04-13 19:46] templarfelix commented on #1976
Yes thanks @harikrongali

[2022-04-13 19:46] #1976 closed

[2022-04-13 20:31] ivanov-vovan opened #1978 "PostPromotionAnalysis support for Canary strategy"
# Summary

What change needs making?

Similarly to the BlueGreen strategy - add support of postPromotionAnalysis to the Canary strategy.

# Use Cases

When would you use this?

We're trying to minimize a guessing game with the `scaleDownDelaySeconds` delay, which we use to make sure that all the clients  have received updated config from istio control plane.
Having a postPromotionAnalysis would al

[2022-04-13 20:35] jessesuen opened #1979 "Configure metric provider connection information vi env vars"
# Summary

Currently Argo Rollouts is configured with metric provider connection information via Kubernetes Secrets which it has to look up directly.

Instead, we could do a more traditional approach of using env vars to configure this, which would still allow them to be stored as secrets, but just using an `envSource` in the pod.

# Use Cases

We could eliminate the need for rollout controller to

[2022-04-13 21:15] huikang commented on #1978
@harikrongali @jessesuen , before we start working on any PR, would like to hear your input. Thanks.

[2022-04-14 14:57] mihneastaub commented on #911
Hello, any news about this enhancement?

[2022-04-14 18:26] #1963 closed

[2022-04-14 23:07] MarkSRobinson opened #1980 "Argo Rollouts should recognize and kill stuck pods"
# Summary

Occasionally, a pod will be unable to progress to the healthy state.  This will cause the rollout to timeout because it cannot progress.

It would be useful if argo could recognize that (1) there aren't enough healthy pods in the rollouts (2) pods are unable to become healthy soon enough that argo times out, (3) delete the pods so that they are recreated and restarted.

# Use Cases

I h

[2022-04-15 01:53] n888 commented on #1963
Thank you!

[2022-04-15 08:18] YihongGao opened #1982 "argo-rollout stuck in process state (controller.go:174] found '<', expected: !, identifier, or 'end of string')"
## Summary

What happened/what you expected to happen?

[problem]
the application sometime gets stuck in process state and I can't upgrade the application to new version,
![image](https://user-images.githubusercontent.com/27599749/163543120-054ac0f5-1474-42bd-b902-4b863add57d1.png)

[argo-rollout pod log]

[expected]

What version of Argo Rollouts are you running?

v1.2.0

# Paste the logs from th

[2022-04-15 16:44] elebioda opened #1983 "GCP Metrics explorer"
# Summary
Support GCP metrics explorer for analysistemplate. I have a workaround I believe( not tested yet ) which will just be to call the GCP metrics explorer API through the web provider, but it's a little hacky...

What change needs making?
Since rollouts has support for cloud watch it seems reasonable to support metrics explorer from GCP.

# Use Cases
Querry response codes from metrics explor

[2022-04-18 13:24] geojakes commented on #1962
@harikrongali @RaviHari Any chance there is an update on this issue?

[2022-04-18 13:30] RaviHari commented on #1962
Hi @geojakes this is a notification issue. I am working on this. I will update this issue once the fix is in place.

[2022-04-18 18:07] zachaller commented on #1980
So I have questions was the un-healthy pod on the stable replicaset or canary replicaset? The reason I ask is because this [PR](https://github.com/argoproj/argo-rollouts/pull/1957) might help this situation if it was on the stable. I also feel that the Rollouts controller should not deal much with the pods and that should be left to the Kubernetes replicaset controller which will restart pods that

[2022-04-18 18:23] harikrongali commented on #1982
Error shown in the controller log is related to spec. If you can provide spec for myns/test-rollout, we can validate
[code]

And reg application struck, can you post rollout status
`kubectl get rollout cbe-web-main-rollout -o yaml`

[2022-04-19 01:48] elebioda commented on #1983
👍

[2022-04-19 03:51] YihongGao commented on #1982
Sorry, could I provide the other rollout instance?
because the cbe-web-main-rollout deleted, when stuck we will need to delete the rollout instance and re-deploy the pod for upgrade to a newer version.

[code]

[2022-04-20 06:30] YihongGao commented on #1982
I additional few information about deployment, maybe it will help.

**supplement information**
[code]

[2022-04-20 08:34] gpkc commented on #1079
Have there been any developments on this?

[2022-04-20 09:18] jaymebrd commented on #1755
Hi @jessesuen @huikang - Just wanted to reach out again, would love to get the above PR in soon if possible - would appreciate reviews

[2022-04-20 15:01] jcantosz opened #1987 "Allow selecting datasource for grafana dashboard"
# Summary

What change needs making?
The Grafana dashboard example does not allow selecting a datasource for the workflow templates. If one Grafana is used for multiple rollouts instance this means one dashboard for each is needed.

# Use Cases

When would you use this?
When monitoring multiple argo-rollouts data sources from one Grafana dashboard.

---

**Message from the maintainers**:

Impacted

[2022-04-20 18:41] harikrongali commented on #1982
@zachaller can you take a look at it

[2022-04-21 11:01] sankhyan opened #1989 "analysis template: webmetric "method" and "body" field are not supported error in v1.1"
## Summary

Trying you use webmetric in analysis template but getting method" and "body" field are not supported error

taken reference from argo rollouts document : https://argoproj.github.io/argo-rollouts/analysis/web/

code:-

[code]

## Diagnostics

What version of Argo Rollouts are you running?

V 1.1

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prior

[2022-04-21 17:38] harikrongali commented on #1989
@zachaller can you please take a look at it?

[2022-04-21 22:44] MarkSRobinson commented on #1980
@zachaller It's on the canary pod set

[2022-04-21 22:45] MarkSRobinson commented on #1980
Someone just reported that the pods were in the stable replica-set too

[2022-04-21 23:20] zachaller commented on #1980
@MarkSRobinson The pr mentioned above will fix the stable replica set case for sure however as far as the canary rs it really should be up to the k8s replica set controller to kill any pods not passing their liveness check. Was a liveness check defined?

[2022-04-22 04:53] zachaller commented on #563
Just leaving this note here while I think about this a bit more but with mirroring I could see the next possible request being the need to disable a subset of traffic to the mirror as in you would not want to mirror say traffic that modified data. This can be done a few different ways possibly via path based rules to mirror as in only mirror GET requests etc.

The other option is mirror to a diffe

[2022-04-22 10:31] sh240293 commented on #1670
Hey, does Rollout support HPA api version "autoscaling/v2beta2" ? I can find docs only for api "autoscaling/v1". Can anyone confirm this thing?

[2022-04-22 11:53] sankhyan commented on #1989
@zachaller please help here

[2022-04-22 12:42] kidk commented on #1876
Hi 👋  I'm a Technical Product Manager at New Relic. I just wanted to give notice that we will be deprecating versions of our `newrelic-client-go` before 0.73.

How can we help move this forward? I tried to look at the build but didn't see anything related to our library.

I'll continue digging, but any hints the right direction are much appreciated.

[2022-04-22 14:59] zachaller commented on #1989
@sankhyan I was not able to reproduce this on master and v1.2 and looking more into the code v1.1 dose not support POST because GET is hard coded [here](https://github.com/argoproj/argo-rollouts/blob/release-1.1/metricproviders/webmetric/webmetric.go#L51)

[2022-04-22 17:41] #1989 closed

[2022-04-22 17:42] perenesenko commented on #1989
@sankhyan
1.1 does support GET only
Please use 1.2 if you need to use POST

[2022-04-22 21:02] AndiDog opened #1992 "`scaleDownDelaySeconds: 0` keeps old ReplicaSet running but should scale it down immediately"
## Summary

With `scaleDownDelaySeconds: 0` on a blue-green rollout, and clicking Promote-Full in Argo CD UI for faster deployment, the operator kept the old ReplicaSet running without scaling it down or terminating it (and its pods). We would expect the number of seconds to be respected, so zero means "immediately".

In contrast, any non-zero number like `scaleDownDelaySeconds: 1` worked fine in

[2022-04-22 21:48] Thakurvaibhav commented on #1004
For anyone else bumping into this issue, using backticks as suggested by @daleront resolved the issue for me.

[2022-04-22 22:17] zachaller commented on #1992
So there is some documentation around this here https://argoproj.github.io/argo-rollouts/features/scaledown-aborted-rs/ but it seems to focus around when it is aborted which it might fall into that logic when clicking full promotion. I will try to take a look at this at some point to see if the behavior is correct and also that it matches what is documented.

[2022-04-24 14:31] zachaller commented on #1987
fixes #1987

[2022-04-25 12:55] sankhyan commented on #1989
@perenesenko @zachaller thanks for the support will try it on 1.2

[2022-04-25 22:37] harikrongali opened #1994 "Let user create or run analysis outside of deployment lifecycle"
# Summary

What change needs making?

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-04-26 12:21] kishoregv commented on #1821
I would like to work on this issue

[2022-04-26 16:32] thatsmydoing opened #2000 "Bluegreen rollout does not resume if `autoPromotionEnabled: false` is set with `autoPromotionSeconds` and `previewReplicaCount`"
## Summary

In a bluegreen rollout with `autoPromotionEnabled: false` and `autoPromotionSeconds` and `previewReplicaCount` also set, the rollout will stay paused indefinitely until it is manually promoted or any of `previewReplicaCount` or `autoPromotionSeconds`, `autoPromotionEnabled` is removed.

This might be a documentation issue as [it states](https://argoproj.github.io/argo-rollouts/features

[2022-04-26 21:22] tperdue321 opened #2001 "Support for Multiple Ngnix Ingress resources in a single rollout"
# Summary

Argo Rollouts lacks a feature brought up in this Issue https://github.com/argoproj/argo-rollouts/issues/1708 that our org (Rally Health) also needs. Simply put, we need a single rollout resource that manages multiple Ngnix ingress resources that have different network rules but resolve to the same k8 pods/rollout.

# Use Cases

Rally Health wants to use Argo for managing Canary deploys.

[2022-04-26 21:26] tperdue321 commented on #2001
I'll add here that we have forked the project and are actively working on adding this feature for our use and if we are happy with it would like to have it merged back into the main project. Also would like to know what counts as "Organizations below are officially using Argo Rollouts https://github.com/argoproj/argo-rollouts/blob/master/USERS.md since we do not have Argo out in the wild but we ar

[2022-04-27 02:41] jinleileiking opened #2003 "Hang at `ContainerCreating`"
## Summary

When `kubectl argo rollouts promote`, new pod will hang at `ContainerCreating`

## Diagnostics

What version of Argo Rollouts are you running?

[code]

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-04-27 02:44] #2003 closed

[2022-04-27 07:00] PhilippPlotnikov commented on #1438
@object88 yes, of course https://github.com/argoproj/argo-rollouts/pull/2004. Here I have made the support but without tests and rbac permissions, Im in process. I tested locally it works.

[2022-04-27 16:27] zachaller opened #2005 "Add AnalysisServiceGraph CRD"
# Summary

WIP: Very Rough Draft
[code]

Add an AnalysisServiceGraph CRD that would allow a rollout to aggregate multiple AnalysisTemplates that then based on the dependencies defined in the AnalysisServiceGraph would rollback the current rollout if a service that depends on the currently deploying rollout has a failure in one of its analysis's or its own. This would be a rough example:

[code]

[

[2022-04-28 06:45] ju187 opened #2006 "Provide an API to manage deployment progress programmatically"
# Summary

Currently a rollout process could be managed through kubectl plugin or the dashboard.  An API with the same functionality will be very helpful.

# Use Cases

As we have many pipelines that deploy to many clusters, it is difficult to manage for teams to go through each clusters to manage the rollout, for example manually promote.  With a API, we could have a centralized interface to mana

[2022-04-28 06:52] #1846 closed

[2022-04-28 07:03] sankhyan commented on #1989
its working fine on 1.2 thanks @perenesenko @zachaller

[2022-04-28 09:04] thatsmydoing commented on #1939
I think this ticket is related to ingress versions https://github.com/argoproj/argo-rollouts/issues/1507 (there's a flag for it)

I'm not sure that's true as only 1.2.0 supports kubernetes 1.22 and above. And 1.1.0 was released when 1.22 was latest.

[2022-04-28 15:27] stan-gabriel opened #2007 "Deleting a project not working as expected"
## Summary

Deleting a project is deleting all the files but the main folder remains (empty).
-> because of this, the project remains under "Recent Projects" and the user is not redirected to the home page.

Expected behaviour:
Deleting a project should delete all files and folders and redirect the user to the "Home Screen"

<img width="1876" alt="image" src="https://user-images.githubusercontent.

[2022-04-29 15:40] huikang opened #2008 "Document the steps of migrating from rollout to Deployment"
# Summary

What change needs making?

Add a new doc about how to migrate from rollout to deployment

# Use Cases

When would you use this?

In some cases, user may decide to switch back to deployment from rollout. The current migrating page (https://argoproj.github.io/argo-rollouts/migrating/) only  documents the steps from deployment to rollout.

---

**Message from the maintainers**:

Impacted b

[2022-04-29 18:11] #516 closed

[2022-04-29 20:45] ju187 opened #2010 "Support multiple destinationrules in istio subset level traffic management"
# Summary

Currently subset traffic splitting support virtualservice with a single destinationrule.  In the case of a virtual with multiple destination/subset, argo rollout could support one destination.  Is there a workaround for this except break the virtualservice?

# Use Cases

You can see it also uses subset in the VirtualService. Apparently, it's only possible to set one subset for a destina

[2022-04-30 09:13] deepanverma19 opened #2011 "Notifications buggy with HPA trigger"
## Summary

What happened/what you expected to happen?
Whenever a HPA is triggered, the number of pods increase which is the expected behavior but when the downscaling happens i.e. for example pods go from 3 to 2, the rollout gets degraded and sends red alert notification that it has been degraded and after its back to original 2/2, should also be sending green alert that rollout is stable whereas

[2022-05-01 03:04] 13567436138 opened #2012 "notification error: 550 User has no permission"
## Summary

What happened/what you expected to happen?
send email notification success
## Diagnostics

What version of Argo Rollouts are you running?
[root@node01 ~]# kubectl argo rollouts version
kubectl-argo-rollouts: v1.2.0+08cf10e
  BuildDate: 2022-03-22T00:25:11Z
  GitCommit: 08cf10e554fe99c24c8a37ad07fadd9318e4c8a1
  GitTreeState: clean
  GoVersion: go1.17.6
  Compiler: gc
  Platform: linux/

[2022-05-02 13:39] zachaller commented on #2012
This looks to be an error from notification-engine it also seems to be coming from what ever service your trying to send the notification too. That service is having trouble authenticating with whatever user you have it configured to try and use.

[2022-05-02 15:36] #2005 closed

[2022-05-02 17:25] #2007 closed

[2022-05-02 19:34] danielhelfand commented on #2008
This is a good point. +1 that it makes sense to add that section.

Wondering if this would also be an interesting feature for UX around rollouts (i.e. CLI/UI). Maybe the CLI could have a conversion command to convert Deployments to Rollouts and Rollouts back to Deployments.

[2022-05-02 22:18] huikang commented on #2008
@danielhelfand , thanks for your comments. The scope of this enhancement is to add the manual rollback steps as supplement to https://argoproj.github.io/argo-rollouts/migrating/

I agreed that we needs some form of automation for converting between rollout and deployment.

However, I think the conversion feature is beyond the usage of the rollout CLI plugin. One of the reason is that users have va

[2022-05-02 23:37] danielhelfand commented on #2008
Yes, agreed. Docs is the scope of this issue.

That's great! Would definitely be interested in something like this. Think individual plugins or a single plugin for common formats make sense as a way to go.

[2022-05-03 09:36] thomas-riccardi opened #2015 "shell completion: `kubectl-argo-rollouts get rollout TAB` does not auto completes the rollout names"
## Summary

I'm following the getting started guide on linux with auto completion on bash (https://argoproj.github.io/argo-rollouts/getting-started/).

When I hit TAB after `kubectl-argo-rollouts get rollout`, it does not auto completes the rollout names as I would expect. (for example `kubectl get pod TAB` does auto completes with existing pod names.)

It would be really useful for discovery of w

[2022-05-03 13:43] thomas-riccardi opened #2018 "docs: missing workloadRef in Rollout Specification doc"
## Summary

In https://argoproj.github.io/argo-rollouts/features/specification/ it is said it's the full specification (all fields) for a Rollout.

However, it's missing (at least) the `workloadRef`, which is documented in https://argoproj.github.io/argo-rollouts/migrating/#reference-deployment-from-rollout.

I was expecting all fields documented in Rollout Specification doc because 1. it said so,

[2022-05-03 22:47] MarkSRobinson commented on #995
I just got bit by this bug today, so I'm very excited to see a release with this fix.

[2022-05-04 00:41] harikrongali commented on #1306
@schakrad please comment so that i can assign it to you

[2022-05-04 02:05] #2018 closed

[2022-05-04 16:48] danielhelfand opened #2022 "Rollout Spec Docs Out of Date"
# Summary

The [Rollout spec documentation ](https://argoproj.github.io/argo-rollouts/features/specification/) is missing quite a few properties. It should be updated to reflect the current state of the rollout spec.

Listed below are some of the undocumented properties:

https://github.com/argoproj/argo-rollouts/blob/b3647826d5dc740775f1def6ed27fe6e4fa9ff43/manifests/install.yaml#L11080

https://

[2022-05-04 18:44] kostis-codefresh commented on #1994
This is a very interesting use case. But should it really be handled by Argo Rollouts? Maybe ArgoCD is better instead (e.g. as an extension of health checks)?

[2022-05-05 04:59] huikang commented on #2022
It would be nice if the spec can be generated from the rollout API definition.

[2022-05-05 21:51] alexec commented on #1950
There are 13 open PRs for dependencies. The oldest is 4 months old. Why even having PRs fixes opened. This looks bad.

[2022-05-06 20:28] Cylix opened #2023 "High reconciliation activity and CPU load for invalid rollout"
## Summary

We mistakenly configured an invalid rollout, by using `setCanaryScale` without enabling Traffic Routing:

[code]

ArgoCD was able to sync, but argo-rollout failed to progress with the following error:

[code]

While the error was expected, this also resulted in a very high reconciliation activity and high CPU load:

![Screen Shot 2022-05-06 at 1 24 01 PM](https://user-images.githubuser

[2022-05-07 15:46] pragmaticivan opened #2024 "New Relic AnalysisTemplate not working (Rollout stuck)"
## Summary

I've tried a rollout without AnalysisTemplate and it works as expected (Linkerd + Nginx)

When I add an AnalysisTemplate it just gets stuck.

[code]
usage:
[code]

## Diagnostics

What version of Argo Rollouts are you running?
1.2.0

[code]
time="2022-05-07T15:41:12Z" level=info msg="Running initial measurement" analysisrun=rollouts-demo-db57cbfcd-6 metric=success-rate namespace=shared

[2022-05-07 18:24] pragmaticivan commented on #2024
I also got this example tested: https://github.com/edmocosta/rollouts-demo

I might be worse than I thought:

[code]

This actually explodes the whole controller.

[2022-05-07 20:16] pragmaticivan commented on #2024
After bumping to the previous version, I was able to figure out the problem.

A simple issue in the account-id for newrelic used to throw an error before in 1.1.1 and now it just swallows it. IN 1.2.0 it's creating a memory issue.

[2022-05-08 04:20] pragmaticivan commented on #574
Howdy! Is anyone working on that feature already? will that be part of the next release?

[2022-05-08 11:08] agrawroh commented on #563
A few thing regarding the proposed specs for the request mirroring [here](https://github.com/argoproj/argo-rollouts/issues/563#issuecomment-1093367015).

1. `mirror` could be named a little bit better. How about `mirroringPolicies` or `trafficMirroringPolicies`? It's okay to use `shadow` instead of `mirror` if the former is more clear.
2. `mirrorPercentage` should just be called `percentage` or `f

[2022-05-08 15:58] zachaller commented on #563
Yea I actually am planning to add a bit to this proposal because a few things are critical I think to make it truly useful.

Recently we also made a decision to add start and stop steps as the standard for keeping steps simple you can see this with the header based routing. This would remove duration.

I will think about some of the other suggestions more when I re propose this feature.

[2022-05-09 05:22] jinleileiking opened #2025 "Need scale cmd"
``` kubectl scale --replicas=0  deployment/xxx```

not exists in argo cmd

[2022-05-09 10:07] nilampatel-engineer opened #2026 "count > failureLimit, and all tests are marked as Failed, but the actual phase of analysis run is marked as Successful. How can it b possible can someone help pls?"
## Summary

What happened/what you expected to happen?

## Diagnostics

What version of Argo Rollouts are you running?

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2022-05-10 20:51] danielhelfand commented on #2025
The `kubectl scale` command works with Rollouts just like Deployments like below:

[code]

Perhaps this should be documented somewhere though. Not sure if it's mentioned anywhere in docs.

[2022-05-11 09:56] #2025 closed

[2022-05-12 18:37] harikrongali commented on #2011
@RaviHari can you please check?

[2022-05-13 01:20] gradyela opened #2031 "30 second pause between replica pod creation canary strategy"
## Summary

What happened/what you expected to happen?

When applying a rollout change, I'd expect to see replica pods spin up simultaneously based on the step settings.
Currently, replica pods spin up every 30 seconds in exponential steps.  Ex: (ignore the first two pods as this was just a scale up event, but you can see that the two pods didn't start spinning up until 30 seconds after the revisi

[2022-05-13 02:41] zachaller commented on #2031
Could you also provide `kubectl get events` for the namespace this is running in. Rollouts just creates the ReplicaSet and the native ReplicaSet controller would generally manage the pod creation. I want to make sure for instance that your cluster did not have to scale in order to add the pods.

[2022-05-13 18:38] gradyela commented on #2031
@zachaller Get events in the namespace that the rollout lives in?
I'll need to re-do the rollout, it looks like the events are gone from that specific action.  But, looking at the cluster config, its not permitted to scale up nodes right now.  Its at its cap.

[2022-05-13 18:54] gradyela commented on #2031
Also, if its helpful, this cluster is running in AWS EKS

[2022-05-15 12:00] ygqygq2 opened #2033 "istio 1.13.3 docs/getting-started/istio error"
kubectl apply -f multipleVirtualsvc.yaml  -n demo
Error from server: error when creating "multipleVirtualsvc.yaml": admission webhook "validation.istio.io" denied the request: configuration is invalid: 2 errors occurred:
        * SNI host "reviews.bookinfo.com" is not a compatible subset of any of the virtual service hosts: [rollouts-demo-vsvc1.local]
        * SNI host "localhost" is not a compa

[2022-05-16 01:39] kzcPo commented on #1992
I think  `scaleDownDelaySeconds: 0` means permanent retention, and the system adds manual deletion action.

[2022-05-16 15:55] 871690991 opened #2037 "The Rollout "rollout-ref-deployment" is invalid: * spec.selector: Required value * spec.template: Required value"
## Summary

What happened/what you expected to happen?

[](https://argoproj.github.io/argo-rollouts/migrating/#reference-deployment-from-rollout)

I made an error executing the command，  my command is  kubectl apply -f 1.yaml

The Rollout "rollout-ref-deployment" is invalid:
* spec.selector: Required value
* spec.template: Required value

<img width="991" alt="image" src="https://user-images.githu

[2022-05-16 16:38] danielhelfand commented on #1716
I can confirm what @gabipetrovay is reporting. I was unable to get zsh completion working using the instructions from the completion command. I needed to add `compdef _kubectl-argo-rollouts kubectl-argo-rollouts` to my `~/.zshrc` to get everything working.

[code]

[2022-05-16 17:28] marckhouzam commented on #1716
Sourcing the zsh completion script is not supported out of the box for efficiency reasons; sourcing is not the recommended approach coming from the zsh documentation.

If the project wants to support it anyway, it would have to inject the command mentioned by @danielhelfand when generating the completion script.  Helm does this for backward-compatibility reasons here: https://github.com/helm/helm/

[2022-05-17 02:26] schakrad commented on #1306
Hari, could you please assign me this issue.

[2022-05-17 16:11] danielhelfand commented on #1716
Definitely agree.

I think my comment is more to bring up that the current completion docs for kubectl-argo-rollouts seem to not work for some users.

[2022-05-18 09:55] jbouchery opened #2046 "Import `github.com/argoproj/argo-rollouts/pkg/kubectl-argo-rollouts/cmd/promote` fails"
Hi !

I'm actually trying to use argo rollouts blue-green and everything works perfectly :1st_place_medal:

In our use case, we actually have a little customized Go CLI et i would love to use the function `PromoteRollout` in `pkg/kubectl-argo-rollouts/cmd/promote/promote.go`

As i try to import the `github.com/argoproj/argo-rollouts/pkg/kubectl-argo-rollouts/cmd/promote` package, i get errors like

[2022-05-19 05:01] cdlliuy opened #2048 "argo rollout get stuck in "Processing" after abort"
## Summary

Argo rollout get stuck in "processing" after abort

<img width="622" alt="image" src="https://user-images.githubusercontent.com/17263036/169210737-eb5a73ef-629c-48d7-90ba-5490472f6724.png">

I first deployed revision1 successfully.
then with revision2 (assuming as a bad build), I manually "abort" it.
Then, I updated the image for revision 3 (assuming as a fixed build)

I expected the r

[2022-05-19 20:35] perenesenko commented on #1306
@schakrad
Maybe this issue was fixed in scope of https://github.com/argoproj/argo-rollouts/issues/1539
Could you please check that

[2022-05-20 02:51] jngbng commented on #1583
Hello,
In my case, `argo rollout restart` causes random short downtime even with multiple replicas.
It seems that traffic goes to killed pod for short time, which leads 500 error from ingress controller. (in my case AWS ingress controller).
I guess `kubectl.kubernetes.io/restartedAt` feature might not support zero-downtime. (Stop forwarding traffic to pod, send kill signal to pod and wait for grac

[2022-05-22 06:41] phuongnd96 commented on #1005
Up since this is still an issue

[2022-05-23 15:50] #2012 closed

[2022-05-23 18:12] zachaller commented on #2046
I will take a look into how to improve this.

[2022-05-23 20:09] schakrad commented on #1306
The discrepancy is not seen anymore. This issue seems to be fixed as part of the  https://github.com/argoproj/argo-rollouts/issues/1539. Will be closing the story.

[2022-05-24 02:47] cdlliuy commented on #2048
@harikrongali ,
do you mean I need to downgrade to 1.1.x to fix the issue?
is that an regression bug in 1.2.x? any plan to fix it?

[2022-05-25 04:25] MarkSRobinson opened #2050 "Argo rollouts will scale down stable when canary is missing pods"
## Summary

Argo scaled down the stable RS even while the new replica set is not fully available.  In this case, it scaled from 110 pods down to 0 but didn't update the routing until the new RS was 100% ready.

1. Argo shouldn't scale down the stable RS until it switches the to use the new canary as stable.
2. Argo shouldn't scale down the stable RS until the canary RS is ready.

## Diagnostics

W