[2021-05-23 02:47] huikang commented on #1181
Hi, @MarkSRobinson , by `old analysis run objects `, do you mean undeleted pods with `status=Completed`?

If so, I am not sure if there is any control knob in argo-rollouts to remove these objects. @jessesuen , any idea?

[2021-05-23 02:48] huikang commented on #1181
is this duplicate to #1214

[2021-05-23 03:12] MarkSRobinson commented on #1214
IMO, a successful experiments/analysis has basically zero value after the service has been rolled out.  A failed run actually does.  I would prefer something like keep up to X failed runs before recycling them, and just delete successful runs soon after a deployment has completed.

[2021-05-23 04:03] huikang opened #1216 "Support traffic managment in bluegreen strategy"
# Summary

Support traffic management in bluegreen strategy

# Use Cases

During bluegreen update, after the preview RS is ready, I'd like to control the percentage of traffic being sent to the stable version and the preview version.

One workaround is to use canary strategy with `setWeight: 100` as the first step. However, having the traffic routing in the bluegreen strategy would the configurati

[2021-05-24 17:29] dsbos opened #1218 "Document Experiment's specRef member"
# Summary

Examples in the documentation (e.g., in https://argoproj.github.io/argo-rollouts/features/experiment/#integration-with-rollouts) show a `specRef` member in Experiment, but nothing in the current documentation rooted at https://argoproj.github.io/argo-rollouts/ documents that member.

(It is not clear what the values `stable` and `canary` in the example correspond to.  Do they correspond

[2021-05-24 17:49] jessesuen commented on #1203
In your test did you see both AnalysisRuns get created? In my example, the rollout believed it was on the second analysisrun even though the second one never got created (there was only a total of one analysisruns)

[2021-05-24 17:53] dsbos commented on #1218
Oh yeah--that `specRef` is under an `experiment` member in a Rollout, so I don't know exactly how much the schema of the `experiment` member matches the schema of an Experiment object.

So that `experiment` member also should be documented.

[2021-05-24 18:03] jessesuen commented on #1216
I don't think this can work because fundamentally, (basic) canary traffic shaping works is by sharing label selectors of some service and adjusting the replica counts of the canary vs. stable proportionally to the desired weight. If you are sharing label selectors with blue-green strategy, then you are already sending 50% of traffic to blue vs. green stack, since the blue and green are fully scale

[2021-05-24 18:03] perenesenko commented on #1184
@jessesuen
I'll take this one

[2021-05-24 18:07] dsbos opened #1219 "Document objects more explicitly, maybe as Istio documents its objects."
# Summary

Argo Rollouts's K8s objects are not documented very explicitly or clearly. (Some are documented with examples that try to show most options, but without clear specifications of semantics and maybe not all alternatives.)

Consider documenting objects (the top-level objects and the various sub-objects) the way Istio documents its objects and subjects.  (For example, see the member-by-memb

[2021-05-24 18:23] huikang commented on #1216
@jessesuen , thanks for your comment. I agreed that the major benefit is syntax. For example, currently we have to ask customer to do something like following and use a mutating webhook to convert to canary strategy.

[code]

With this syntax enhancement, it will simplify the process. If you think this is doable for v1.1, I can look into this issue.

[2021-05-24 18:34] jessesuen commented on #1181
Yes, let's address this as part of https://github.com/argoproj/argo-rollouts/issues/1214. Duping

[2021-05-24 18:34] #1181 closed

[2021-05-24 18:37] jessesuen commented on #1020
Closing because setCanaryScale must work with traffic management and experiment step is a way to achieve use case.

[2021-05-24 18:37] #1020 closed

[2021-05-24 20:04] huikang commented on #1203
Yes, both AnalysisRuns got created in the order as defined in the canary steps: the 10s sleep job and then the 5s sleep job.

Are you referring to the following 2 analysisrun in your example? If so, are you saying the second one (inconclusive) never got created )
[code]

[2021-05-24 21:41] DanTulovsky opened #1220 "rollouts get rollout -w: moves off screen with too much output"
## Summary

When the number of pods in a Rollout is large, the output of 'get rollout' scrolls off the top of the screen, hiding the most useful parts.  Ideally some sort of scrolling is supported, but in the meantime, cutting off the bottom is probably preferable to scrolling off the top.

Thank you

## Diagnostics

1.0.0

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give

[2021-05-24 22:50] #1205 closed

[2021-05-24 23:05] jessesuen commented on #1216
The fact that you want to split traffic at all, means you really want to be using canary strategy not, blue-green. So I don't even think syntax is incorrect here.

Actually, to achieve your use case using canary strategy,  the syntax would be:

[code]

I really don't think we should complicate the implementation of blue-green strategy with traffic routing support since:
1) use case is already cove

[2021-05-24 23:18] huikang commented on #1216
@jessesuen, thanks for correcting the steps. I think your concerns make sense; closing

[2021-05-24 23:18] #1216 closed

[2021-05-25 02:09] huikang commented on #1214
Sometimes we may need to keep some successful analysis run for debugging purpose (e.g., to compare the results between successful run and failed one). The proposed change could be

1. decouple the retention of analysisrun from spec.revisionHistoryLimit
2. introduce two retention knobs:

[code]

What do you think?

[2021-05-25 02:26] huikang commented on #925
Can not produce the bug in 1.0. @futayamaji , could you try again?

[2021-05-25 05:39] MarkSRobinson commented on #1214
That would work for me

[2021-05-25 14:17] huikang commented on #1214
Cool! Let me try drafting a PR.

[2021-05-25 16:14] dsbos opened #1221 "Doc.: a "pod template" should be "replica-set template"?"
## Summary

In the page section at https://argoproj.github.io/argo-rollouts/features/experiment/#experiment-spec, in the YAML, the comment before the `templates` member says "List of pod template specs ..."

Isn't it the case that:
- it is the nested `template` members that are actually the templates for _pods_, and
- what `templates` lists is really templates for _replica sets_ (since those list

[2021-05-25 18:17] huikang commented on #1214
Here is one example

Suppose that a rollout has 6 revisions (each revision contains some analysis runs), and revision history is 3.

- Before reconciling the revisions
[code]

The pseudo-code of reconciling the revision would be

[code]

If retentionSuccessfulRuns and retentionUnSuccessfulRuns are 0, the code will remove analysis runs for the retained revision.

I am not sure if having two knobs i

[2021-05-25 22:02] #1208 closed

[2021-05-26 00:19] jessesuen opened #1222 "InvalidSpec not properly set in some circumstances"
## Summary

A user applied the following invalid rollout (which specifies both workloadRef and template/selector):

[code]

In this scenario, the controller did not update the rollout status with a condition/phase about the invalid spec.

## Diagnostics

What version of Argo Rollouts are you running? v1.0.0

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prio

[2021-05-26 11:37] eilonmonday opened #1223 "losing control on argo rollouts objects on upgrade to v.1.0.0"
Hey argo team,
We planned to upgrade all our clusters to use Argo v1.0.0, our current version is v.0.8.2.
Of course we started in staging env, when we upgraded the version, the deployment behind the Fargo object was still working, but when we tried to create new version of the deployment, nothing has happened, it felt like the new version can not handle the old argo object.
after we downgraded the

[2021-05-26 14:49] huikang commented on #1222
HI, @jessesuen , I can give this a shot. I think the change could be made to this method

https://github.com/argoproj/argo-rollouts/blob/ff65b39f21a0be79744d45d7169de6ee84e991a6/rollout/controller.go#L462

as it is called at the beginning of each reconcile https://github.com/argoproj/argo-rollouts/blob/ff65b39f21a0be79744d45d7169de6ee84e991a6/rollout/context.go#L51-L53

What do you think?

[2021-05-27 00:29] jessesuen commented on #1222
Yes, I think you're right. It looks like it's not falling into the `if` check for field.Error:

[code]

Maybe the fix should be we don't have this nested if check for casting into `field.Error`.

[2021-05-27 15:24] huikang commented on #1200
I have seen the `TestCanarySuite/TestCanaryScaleDownDelay` failed from time to time and probably worth looking into it.

https://github.com/argoproj/argo-rollouts/pull/1224/checks?check_run_id=2681943983#step:8:649

[2021-05-27 17:53] jessesuen commented on #1223
@eilonmonday to be on the safe side, I recommending not skipping releases. We generally do not recommend jumping any further than n+2 releases. Can you first upgrade to v0.10, allow rollouts to reconcile and any migration to logic to happen, and then upgrade to v1.0?

[2021-05-27 20:19] DanTulovsky opened #1225 "status command exits before timout"
## Summary

I have a rollout that was being watched via `status` with a `--timeout=3h` flag.  It exited with a `degraded` after 20 minutes.

## Diagnostics

What version of Argo Rollouts are you running?  v1.0.1 (kubectl-argo-rollouts = v1.0.0)

[code]

14:13 is when helm pushed the change.
14:33 is when the command failed.

The rollout itself completed successfully shortly thereafter.

(there is

[2021-05-27 20:29] DanTulovsky commented on #1225
This was the output from `status` itself:

[code]

[2021-05-27 21:01] jessesuen commented on #1225
I think this was done by design. If your rollout degrades, do you still want to wait 3 hours?

[2021-05-27 21:22] DanTulovsky commented on #1225
Sorry, I must misunderstand something... the rollout is proceeding just fine.  it's:

1%
wait 600s
10%
wait 600s
30%
wait 600s
60%

I just tried again (with v1.0.1 kubectl-argo-rollouts) and it again failed after 20 minutes.  What exactly is progressDeadlineSeconds measuring (which seems to be set to 600 seconds)?

So I don't understand what's failing here. This is a rollout with 10 replicas. Is t

[2021-05-28 00:17] jessesuen commented on #1225
`spec.progressDeadlineSeconds` is a time in seconds that a rollout must make progress during an update. Note that this should be simply continue making progress and it is not a whole deadline for the whole upgrade process.

It is supposed to act the same as the Deployment, which you can read about here: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#progress-deadline-seconds

[2021-05-28 00:57] DanTulovsky commented on #1225
Just to be clear, the update continues and finishes normally. It's the cli that thinks it failed...

On Thu, May 27, 2021, at 8:17 PM, Jesse Suen wrote:

[2021-05-28 15:39] mkilchhofer opened #1230 "Drop name suffix to object type (eg. "-clusterrole") in deploy manifests"
## Summary

During https://github.com/argoproj/argo-helm/pull/752 we observed k8s objects which are suffixed with the kind of the object:

- `-clusterrole`
  https://github.com/argoproj/argo-rollouts/blob/master/manifests/role/argo-rollouts-clusterrole.yaml
- `-clusterrolebinding`
  https://github.com/argoproj/argo-rollouts/blob/master/manifests/cluster-install/argo-rollouts-clusterrolebinding.yam

[2021-05-28 15:41] huikang opened #1231 "Remove the redundant part in the clusterrole name"
## Summary

In the clusterrole yaml file, there is no need to have `clusterrole` as a part of the name, e.g.,

https://github.com/argoproj/argo-rollouts/blob/ff65b39f21a0be79744d45d7169de6ee84e991a6/manifests/role/argo-rollouts-clusterrole.yaml#L4

The name can be simplified to

[code]

The change will also make the manifest consistent with upcoming changes in `argo-helm`

https://github.com/argop

[2021-05-28 15:44] mkilchhofer commented on #1230
Dup to #1231

[2021-05-28 15:44] #1230 closed

[2021-05-28 16:08] dsbos opened #1232 "Document allowed syntax of result expressions in successCondition, etc."
# Summary

There doesn't seem to be much documentation of the metrics-results expressions used in places such as the `successCondition` members in metrics configurations.

The documentation rooted at https://argoproj.github.io/argo-rollouts does mention a few functions such `asInt`, `asFloat`, and `isNan` and does have examples showing some comparison operators (e.g., `==`, `>=`, `<`,  etc.) and a

[2021-05-28 16:17] dsbos opened #1233 "Doc.: Add link/pointer to examples directory."
# Summary

The documentation rooted at https://argoproj.github.io/argo-rollouts/ doesn't currently seem to have any link or other pointer/reference to the `examples/` directory at https://github.com/argoproj/argo-rollouts/tree/master/examples.

The documentation should somehow alert the reader to the presence of those examples, especially given that they seem to contain information that has not be

[2021-05-28 19:25] dsbos opened #1234 "Doc.: Bad (old?) reference to "Analysis" instead of "AnalysisTemplate""
## Summary

The page at https://argoproj.github.io/argo-rollouts/architecture refers to Analysis and AnalysisRun resources, and doesn't mention AnalysisTemplate.

Shouldn't those references to "Analysis" say "AnalysisTemplate"?

## Diagnostics

N/A

I'm looking at https://argoproj.github.io/argo-rollouts/architecture/#analysis-and-analysisrun as of 2021-05-28.

---

**Message from the maintainers*

[2021-05-28 19:40] jessesuen commented on #1234
I believe the intent was:

The term "analysis"  broadly refers to the use of canary/metric analysis as part of a rollout update. This should not be uppercased unless it is at a beginning of a sentence or in Title Case.

AnalysisTemplates and AnalysisRuns are the implementations of canary analysis support in Rollouts. Since these are referring to custom resources, it should always be CamelCased, an

[2021-05-28 20:11] dsbos commented on #1234
Note that the capitalized "Analysis" seems to used in several different ways, so yeah, there's some straightening out to do.

---

Does the type of the value of a `spec.strategy.canary.analysis` member (the invocation of an AnalysisTemplate object(s)) have a name (e.g., a non-top-level object maybe called something like AnalysisSpec or AnalysisCall or something)?

It would be helpful if Argo Rollo

[2021-05-30 02:09] futayamaji commented on #925
Thanks @huikang

I can confirm the problem is resolved, so I close this issue.

[2021-05-30 02:09] #925 closed

[2021-05-30 08:48] eilonmonday commented on #1223
@jessesuen Thanks for answering,
I tried to do so, yet I have the same issue.
Tried to look for logs of argo-rollouts:

E0530 07:59:47.806691       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *unstructured.Unstructured: clusteranalysistemplates.argoproj.io is forbidden: User "system:serviceaccount:argo-rollouts:argo-rollouts" cannot list resour

[2021-05-30 08:53] jessesuen commented on #1223
[code]

This is clear indication that your RBAC is not correct. The controller needs permission to list ClusterAnalysisTemplates. How did you install rollouts?

[2021-05-31 10:19] vadasambar opened #1235 "unknown field "name" in io.argoproj.v1alpha1.Rollout.spec.template.metadata"
## Summary

What happened/what you expected to happen?
I updated argo rollouts from `v0.10.2` -> `v1.0.0` and my rollouts started throwing error on `kubectl apply`.

## Diagnostics
I think this is related to the change in how CRDs handle `spec.preserveUnknownFields` as written in the [release notes](https://github.com/argoproj/argo-rollouts/releases).

Steps to reproduce
[code]
yaml
[code]
Rollout

[2021-05-31 15:10] eilonmonday commented on #1223
@jessesuen I managed to resolve it, thank you so much! that was my fault while updating.
We are heavy users of Fargo rollouts, and we upgraded to the newest version.
is there any other pipe that we can give feedback/report on bug issues?

[2021-06-01 08:04] ryantse opened #1238 "Istio DestinationRule subset trafficPolicy lost"
## Summary

When using Argo Rollouts' new Istio DestinationRule subset support, the subset's trafficPolicy is lost during the update.

I believe this is due to an incomplete copy of the structure of Istio's DestinationRule Subset struct. The problematic code is: https://github.com/argoproj/argo-rollouts/blob/master/rollout/trafficrouting/istio/istio_types.go#L47-L50

## Diagnostics

Argo Rollouts

[2021-06-01 11:32] zombispormedio opened #1239 "Problem serving controller metrics when collecting "analysis_template_metric_info""
## Summary

When I updated to the latest version, controller metrics stopped working and started to return the following error:

[code]

## Diagnostics
After doing some investigation, controller metrics are failing where there are AnalysisTemplate resources with more than 1 metric.
For example:
[code]

What version of Argo Rollouts are you running?

Argo Rollouts 1.0.1

---

**Message from the mai

[2021-06-01 12:44] eilonmonday commented on #1004
@daleront didn't work for me
any other idea?

[2021-06-01 22:35] MarkSRobinson commented on #1193
Ok, I've tried with the new 1.0.1 release and I'm still seeing the behaviour described above.

[2021-06-02 00:25] daleront commented on #1004
Hey @eilonmonday

I figured out that it was to do with how helm with flow control is passing the values, which was required to e a string.

{{``}} possibly try some back ticks rather than single quotes

[2021-06-02 02:09] MarkSRobinson commented on #1193
It turns out there is a bug in the use of the workqueue for rollouts.  Something is adding the rollout object back to the queue dozens of times.  This causes the exponential back-off queue to basically immediately hit the 16 minute limit (!).

I added some logging in `utils/controller/controller.go:processNextWorkItem()` and got
[code]

Code I used to check
[code]

Something is calling `workqueue.

[2021-06-02 03:33] jessesuen commented on #1239
Thanks for the investigation. Will include this in a v1.0.2 patch

[2021-06-02 04:02] jessesuen opened #1241 "Surface ALB information into rollout status"
# Summary

The recent [ALB weight verification](https://argoproj.github.io/argo-rollouts/features/traffic-management/alb/#weight-verification) feature allowed Argo Rollouts to discover information about the underlying AWS LoadBalancer and TargetGroups, including ARN, IDs, tags, etc... Currently this is only used for verifying the weights of the TargetGroup, but it is not used anywhere else. For de

[2021-06-02 04:24] jessesuen opened #1242 "Allow analysis arguments to get valueFrom Rollout status"
# Summary

Currently, we can pass arguments to AnalysisTemplates from `metadata` labels and annotations, e.g.

[code]

We should also allow passing arguments to AnalysisTemplates whose value is derived from fields in the rollout status.

# Use Cases

As part of https://github.com/argoproj/argo-rollouts/issues/1241, we will be surfacing ALB information under the rollout status. For example:

[code]

[2021-06-02 15:52] rbaybutt opened #1244 "First-class support for configuration changes"
# Summary

When using Rollouts for canary deploys the current common practice for dealing with changes to ConfigMaps that define config for an application is to hash the contents. They're hashed such that the canary config and current stable config are two distinct ConfigMaps used by each version of the application. The issue with this is when deploying a Rollout with a tool like Argo CD the confi

[2021-06-02 16:04] MarkSRobinson commented on #1193
I've got a mitigate for the issue - https://github.com/argoproj/argo-rollouts/pull/1243

[2021-06-02 16:11] rbaybutt opened #1245 "Add feature to pause HPA scaling during an analysis run"
# Summary

At present when an AnalysisRun is in progress the HPA can continue to scale. While this behavior makes sense as a default in order to ensure the needs of an application are met it can also lead to additional complexity. The ask is to add a feature that will pause HPA scaling during the analysis. This will avoid confusion when deploying and will simplify the analysis which may need to ac

[2021-06-02 19:45] jskrzypek commented on #1191
Would this change lead to a rollouts installation having the same sort of behavior as argocd where it can manage multiple clusters with a single installation? Or would that make the controller too overburdened and it's anyhow better to install a single rollouts controller per cluster?

[2021-06-02 20:41] huikang commented on #1235
I think this is an expected behavior. You don't need the `name` in `spec.template` because the name of the replicaset will be generated from the rollout name.

Do I miss anything here?

[2021-06-02 20:44] DanTulovsky commented on #1245
<just a bystander here>. Isn't this dangerous?  What happens if your load goes up during the Analysis run and you would have needed HPA to scale up?  You can't predict these things...

[2021-06-02 21:48] ozooxo opened #1247 "Support visitor method for rollout CRD"
# Summary

We wonder if rollout CRD can support visitor method

# Use Cases

For `Deployment` Kubernetes object, we can do

[code]

However, for `Rollout` CRD, it looks for me

[code]

It doesn't work for `Service` either but will explicit error on missing "visitor method".

[code]

Could `Rollout` CRD be supporting visitor method and versions? Thanks!

---

**Message from the maintainers**:

Impa

[2021-06-02 22:08] jessesuen commented on #1235
@huikang is right. I didn't read through the issue carefully before triaging and assumed this was a regression.

[code]

It's not expected to specify name at this level. The reason this is now suddenly happening with v1.0 is that v1.0 CRDs no longer accept "unknown fields" and reject attempts to set them.

Will close this as expected behavior.

[2021-06-02 22:08] #1235 closed

[2021-06-02 23:03] jessesuen commented on #1247
Since kubectl has the native kinds compiled/registered into the binary, they are able to support this in the kubectl binary.

For Rollouts, we built the equivalent undo command in the plugin. See:
https://argoproj.github.io/argo-rollouts/generated/kubectl-argo-rollouts/kubectl-argo-rollouts_undo/

However, we currently don't have an equivalent `kubectl argo rollouts history` which would be good to

[2021-06-02 23:52] jessesuen commented on #1244
I'm having trouble understanding how this would be different from https://github.com/argoproj/argo-rollouts/issues/958. Can you explain?

[2021-06-03 00:05] jessesuen commented on #958
I've been thinking about this some more. I think the way I would solve this, is with a simple controller that monitors ConfigMaps and Secrets. These objects would be annotated to have back-references to a rollout (or even deployment) which would needs to be redeployed upon change. For example:

[code]

The controller would continuously watch configmaps and secrets. When these objects are updated,

[2021-06-03 00:15] jessesuen commented on #1223
OK glad you got it to work! In terms of feedback, issues and GitHub discussions are the most canonical way to report back so that community can also express their viewpoints.

[2021-06-03 00:15] #1223 closed

[2021-06-03 00:22] jessesuen commented on #958
I just came across a project which took a slightly different but similar approach and already has built-in support for Argo Rollouts!
https://github.com/stakater/Reloader

Has anyone tried using reloader with Argo Rollouts?

[2021-06-03 00:32] jessesuen commented on #958
Looks like their implementation is tied to rollout releases:
https://github.com/stakater/Reloader/issues/232

I think we should improve Rollout support in Reloader so that it is no longer tightly coupled to Rollout versions

[2021-06-03 01:23] jessesuen opened #1248 "invalid memory address or nil pointer dereference in getReferencedRolloutAnalyses()"
## Summary

v1.0.1 can panic with:

[code]

## Diagnostics

What version of Argo Rollouts are you running? v1.0.1

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-03 01:29] jessesuen commented on #1248
Offending code is recently modified analysis validation:

[code]

@khhirani can you take a look?

[2021-06-03 02:06] huikang commented on #1238
Hi, @jessesuen , I am able to reproduce this error. Please assign this to me if @ryantse has not started fixing it.

[2021-06-03 02:16] ryantse commented on #1238
@huikang: I haven't done anything significant towards fixing this issue. I had a quick conversation with @jessesuen about the issue here: https://cloud-native.slack.com/archives/C01U781DW2E/p1622568650056300

I believe the goal was to make it so that future fields that may be added to the Istio DestinationRule, potentially in later versions, would be supported automatically and not require an addi

[2021-06-03 03:09] huikang commented on #1238
@ryantse , thanks for the information.

@jessesuen , after reading your slack chat, my understanding is that instead of using the internal structure of Subset, a more general struct like https://github.com/argoproj/argo-rollouts/blob/ccff157410d2c86c7e608444c4d410b9218c82fa/utils/unstructured/unstructured.go#L24 is preferred for solving the issue. Is this correct?

Another alternative is to import

[2021-06-03 07:31] #1192 closed

[2021-06-03 07:55] #1248 closed

[2021-06-03 14:28] ozooxo commented on #1247
@jessesuen Just one more question:

Is it possible to use `kubectl argo rollouts undo` together with ArgoCD? My understanding is ArgoCD will [always do `kubectl update` inside of the sync process](https://github.com/argoproj/gitops-engine/blob/411c8d0f1cca6c81d6382889548e4dfcc73640c6/pkg/sync/sync_context.go#L848) through argoproj/gitops-engine, so it will be unable for us to customize using other

[2021-06-03 17:51] MarkSRobinson opened #1250 "Error serving metrics"
## Summary

Accessing /metrics endpoint on the argo rollouts pod produces

[code]

This from seconds after a pod had started.

## Diagnostics

I'm running HEAD from argo-rollouts.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-03 20:11] huikang opened #1251 "Add rollout infor to the analysisrun metrics"
# Summary

Add rollout information to the `analsysrun` measurement.

# Use Cases

As a user of rollout, I'd like to aggregate the analsysis run related to a given rollout.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-03 23:26] jessesuen commented on #1238
Exactly.

Correct. We try as much as possible not to have dependencies on other codebases or API definitions that may change. So the goal is to have an implementation that only mutates the fields which we care about, while leaving everything else intact.

Yes, we cannot drop fields. The best way I know how to do that is by using the Unstructured object.

[2021-06-03 23:27] #1222 closed

[2021-06-04 15:47] shakti-das commented on #1191
This won't enable the rollout controller to manage multiple clusters, only the IstioController will be configured to always read/watch from the Istio primary cluster (which may be different from the cluster where the rollout controller is running). The Istio primary cluster will contain the VS/DR that is specified in the `trafficRouting.istio` spec.

[2021-06-04 16:04] huikang commented on #1238
@jessesuen @ryantse , thanks for the info. I will try submitting a fix.

[2021-06-04 18:29] ozooxo commented on #1247
Asked ^ follow up question as a separated issue in https://github.com/argoproj/argo-cd/issues/6404

[2021-06-05 13:07] shivjm commented on #654
+1. It would be very useful to have this on Windows without having to compile it myself with the right settings and copy it to the right place, as @denisrohr outlined.

[2021-06-05 17:51] MarkSRobinson commented on #1250
Dup of bug 1239

[2021-06-05 17:51] #1250 closed

[2021-06-07 15:23] sltet opened #1254 "Rollback a canary deployment when using workoadRef"
## Summary

I'm trying to do a rollback using argo-rollouts and the workloadRef functionality but it seems broken.

here is my rollout:
[code]

here is the deployment:
[code]

When i try to rollback using the cli, nothing still happens in the cluster even when i get an Ok message:
[code]

When i try rollback using the dashboard this is the error i get:
[code]

## Diagnostics

[code]

---

**Messag

[2021-06-07 19:08] DanTulovsky commented on #1225
Is there anything more I can provide here to help?  We are hitting this fairly consistently and it's breaking our automated workflows...

[2021-06-07 20:02] huikang commented on #1254
Hi, @sltet , should `revisionHistoryLimit: 2` be  in the rollout spec, instead of deployment? Also could you paste the full history of command you use to update and rollback? I can try reproduce this on my end. Thanks.

[2021-06-07 20:25] harikrongali commented on #1239
will work on this issue

[2021-06-07 20:41] alexmt opened #1255 "Rollout Dashboard should allow user select namespace"
# Summary

It should be possible to start Dashboard in full cluster mode and allow user to switch between namespaces in the UI.

# Use Cases

The full cluster mode should be useful when the Rollout Dashboard runs as a deployment. Following changes should be implemented:

* add `--namespace` flag to `kubectl argo rollout dashboard`  command:
    * if the flag is not specified then the dashboard sho

[2021-06-08 13:58] mbhatip opened #1258 "Implement OpenShift Routes as a Traffic Manager"
# Summary

OpenShift routes is an alternative for managing traffic on a service level. It should be available as another Traffic Manager option.

# Use Cases

The user has an OpenShift cluster without a service mesh installed. Argo Rollouts can still carry out canary deployments on a service level.

I will be making a PR for this soon, wanted to gauge whether this was practical, relevant, or neces

[2021-06-08 14:14] sltet commented on #1254
Here is the current state:

![rollback-rollout-revlimit](https://user-images.githubusercontent.com/6503472/121200314-a2853380-c841-11eb-86e1-459f09209298.png)

rollout undo first attempt:
[code]

rollout undo second attempt:
[code]

Notes:

- Updates are done using the `helm upgrade` command
- Nothing changed in the cluster after the first and the second attempt
- Not working through the dashboard

[2021-06-08 18:24] perenesenko commented on #1255
I will work on this one

[2021-06-08 19:00] alexmt opened #1259 ""Abort" did not stop failed blue green"
## Summary

Rollout was performing blue green upgrade. The new version failed to start due to internal app error. The user trigger "Abort" action using Argo CD UI. The "Abort" button got grey out but nothing happened: "blue" pods was not deleted.

## Diagnostics

What version of Argo Rollouts are you running?

v0.10.2

[2021-06-09 03:22] jessesuen commented on #1259
As discussed, an aborted rollout does not tear down the new stack. There is an upcoming feature to support this:
https://github.com/argoproj/argo-rollouts/pull/1160

[2021-06-09 03:22] #1259 closed

[2021-06-09 03:23] jessesuen commented on #1259
Duplicate of https://github.com/argoproj/argo-rollouts/issues/941

[2021-06-09 14:12] huikang commented on #1254
@sltet , thanks for your help. Are you saying the cli rollback is working, while the dashboard doesn't?

[2021-06-09 14:13] sltet commented on #1254
@huikang none of them are working. The cli rollback pretend to work by giving an OK message ( `rollout 'rq' undo` ) but nothing happens in the cluster

[2021-06-09 14:33] rbaybutt commented on #1244
Based on further comments in https://github.com/argoproj/argo-rollouts/issues/958 and direction with Reloader I think the principal issue I wanted to address with Argo CD diffs will also be addressed so I'll close this issue.

[2021-06-09 14:33] #1244 closed

[2021-06-09 14:50] huikang commented on #1254
Confirmed. I will look into this issue.

[2021-06-09 14:51] rbaybutt commented on #1245
I definitely don't see this as the default behavior. For workloads with predictable behavior in terms of traffic load I see this as simplifying the rollout. What we've seen in production is that the HPA will decide to scale up by one or two pods as the canary is being promoted. This particular application just runs one pod per node so the CA also scales up one or two nodes accordingly. Now the can

[2021-06-09 14:58] huikang commented on #1254
So I think the root cause is that during forward update, the `rollout's spec.template` is empty because the template is referencing the part of the deployment. However, on a rollout, `rollout's spec.template` somehow is filled by the controller, which results in the error of `invalidSpec`.

Will send a PR to fix it.

[2021-06-09 15:17] kostis-codefresh opened #1262 "Have the documentation always point at the latest release (stable tag vs latest github release)"
At the time of writing even though version 1.0.1 is released, the "stable" Git tag still points to 0.10.2.

This creates confusion for users since the documentation page at https://argoproj.github.io/argo-rollouts/installation.html points to installation manifest at https://raw.githubusercontent.com/argoproj/argo-rollouts/stable/manifests/install.yaml

This means that somebody who is following the

[2021-06-09 19:15] jessesuen commented on #1258
Supporting OpenShift's canary mechanism would be a great improvement to Rollouts. Since I'm unfamiliar with OpenShift Routes, can you provide some details on how this would work, as well as the proposed spec changes to support this? Links to their docs would also help.

[2021-06-09 19:16] jessesuen commented on #1262
Yes, you're right. I think option 2 is the right move at this point since we no longer commit the install manifests to git.

[2021-06-09 19:23] huikang opened #1263 "metrics: add the stats of different types of pods"
# Summary

The current metrics about the rollouts pods show the number of available pods, unavailable pods, and desired pods. It would be useful if we can add the stats of different types of pods, e.g., number of stable/preview pods in b/g strategy, number of canary/stable pods in canary strategy.

# Use Cases

Users need the information for displaying the current deployment info of the rollout.

[2021-06-09 19:29] huikang opened #1264 "Metrics: add revision to the rollout info label"
# Summary

What change needs making?

# Use Cases

Display the revision number on the dashboard

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-06-09 19:49] jessesuen commented on #1239
Fixed in https://github.com/argoproj/argo-rollouts/pull/1261

[2021-06-09 19:49] #1239 closed

[2021-06-09 20:08] jessesuen commented on #1225
@khhirani will be looking into this

[2021-06-09 20:26] jessesuen commented on #1225
@DanTulovsky could you give some insight on the rollout spec (e.g. canary steps) so we can try to reproduce?

[2021-06-09 20:52] DanTulovsky commented on #1225
canarySteps:
    - setWeight: 1
    - pause: {duration: 600s}
    - setWeight: 10
    - pause: {duration: 600s}
    - setWeight: 30
    - pause: {duration: 600s}
    - setWeight: 60
    - pause: {duration: 600s}

I would also try this with few replicas (~10 or so).

On Wed, Jun 9, 2021, at 4:26 PM, Jesse Suen wrote:

[2021-06-09 21:06] nitishm opened #1266 "Provide utility to generate Rollout resources from input Deployment, Service resource YAMLs"
# Summary

What change needs making?
Not a change per se but a utility, in the form of a go lib and/or a CLI tool, that takes Kubernetes Deployment and Service resource YAMLs as an input (possibly helm charts wrapping these resources as templates as well) and outputs a Rollout resource.
Other inputs would include the rollout strategy configuration and analysis template configurations that would be

[2021-06-09 21:06] nitishm commented on #1266
/cc @jessesuen

[2021-06-09 22:20] #1184 closed

[2021-06-09 22:25] jessesuen commented on #1254
I think we need to rethink what the `undo` functionality for rollouts (Rollback button in the dashboard) means when used for workloadRef.

Currently, it doesn't make sense when using workloadRef, because what has to happen is for the referenced object needs to be reverted, and the Rollout wouldn't actually change.

I think the correct approach is: when user performs `kubectl argo rollouts undo` ag

[2021-06-10 01:25] khhirani commented on #1225
@jessesuen I think this hypothesis is incorrect. I tested an example with the `progressDeadlineSeconds`=600s and these canary steps:
[code]
and the command `kar status --timeout 3h rollout-canary` did not time out.

[2021-06-10 01:33] DanTulovsky commented on #1184
Hi.

Thank you for this, but it looks like there is no way to select a namespace in the UI. It's hard-coded to the namespace the dashboard is in.

Is the expectation that one dashboard is run in every namespace?

Dan

[2021-06-10 01:59] DanTulovsky commented on #1225
@khhirani I will try setting progressDeadlineSeconds higher.  You are saying it just has to be higher than the pauseDuration?  You probably already know this, but the docs say that pause time is explicitly not accounted here:

[code]

It would be nice if that was true, since I expect to have large pauses (e.g. hours).

Thank you
Dan

[2021-06-10 02:07] khhirani commented on #1225
@DanTulovsky I think increasing the `progressDeadlineSeconds` should hopefully fix your issue for now. We still may need to make changes on our end - I'm currently running tests.

[2021-06-10 02:08] DanTulovsky commented on #1225
@khhirani thank you. Sorry, to answer your other questions, I only started using this with 1.0.1, so I don't know if this is a regression or not.

[2021-06-10 02:13] mikutas commented on #1184
Yes until #1255 closed, I guess.

[2021-06-10 02:34] DanTulovsky commented on #1225
I can confirm that setting `progressDeadlineSeconds` to `1200` fixed my issue.

[2021-06-10 09:08] #1119 closed

[2021-06-10 13:34] mbhatip commented on #1258
https://docs.openshift.com/container-platform/4.7/applications/deployments/route-based-deployment-strategies.html#deployments-ab-testing_route-based-deployment-strategies

This link highlights how to shift traffic from one service to another using routes. Routes have the following format:

[code]
Where you can specify as many or as little backends as you want using the alternateBackends field, as

[2021-06-11 01:01] #1238 closed

[2021-06-11 07:04] caoyang001 commented on #727
@jessesuen Hi，Could you please review this PR？thanks：https://github.com/argoproj/argo-rollouts/pull/1246

[2021-06-11 07:49] jessesuen commented on #1225
This is a workaround. We identified the underlying issue and are producing a fix.

[2021-06-11 17:10] rmorampudi opened #1272 "Re-deploying the manifests after v1.0.0-rc1 is marking the crds as configured instead of unchanged"
## Summary

What happened/what you expected to happen?

When we re-deploy the manifests for rollouts, for version later to v1.0.0-rc1, the manifests are expected to be marked as unchanged, but it's marked as configured instead, for the crds

[code]

## Diagnostics

What version of Argo Rollouts are you running?
 v1.0.0-rc1 and later versions
[code]

---

**Message from the maintainers**:

Impacted

[2021-06-11 17:22] jessesuen commented on #1272
This behavior is expected and is a side effect of explicitly setting `spec.preserveUnknownFields: false`, which is the new default in v1. You can read why we needed to set this to false in release notes:

https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0

The workaround is to remove `spec.preserveUnknownFields` from the manifests. But we cannot do this in the official manifests because

[2021-06-11 17:32] jessesuen commented on #1272
Note that we eventually **_should_** remove `spec.preserveUnknownFields`, when we reach v1.2 or v1.3 (whenever we don't support upgrades from pre-v1.0). For that reason, I'll keep this open as an enhancement.

[2021-06-12 00:17] jessesuen commented on #727
Hey, thanks for implementing this! After I push v1.0.2 out the door (should happen today), will look into this and other v1.1 pull requests.

[2021-06-12 01:13] #1225 closed

[2021-06-14 15:53] shakti-das opened #1276 "Support multiple VirtualService in Istio canary strategy"
# Summary
The current Istio canary strategy allows specifying only a single `VirtualService`. This is not sufficient for advanced setups where the routes are divided into multiple `VirtualService` resources - like north-south route VS, east-west route VS, and delegate VS.

# Use Cases
In Salesforce, we use multiple `VirtualService` resources linked to a single service. Each service port also gets

[2021-06-14 22:35] jessesuen commented on #1151
Actually we can achieve this with the following order:

1. create preview replicaset with size 0
2. retarget preview service to replicaset hash
3. scale up the preview replicaset

[2021-06-15 00:38] jessesuen commented on #1276
Duplicate of https://github.com/argoproj/argo-rollouts/issues/1100

[2021-06-15 00:38] #1276 closed

[2021-06-15 09:56] jmansardt opened #1277 "Traffic Routing: Add support for the new ingressClassName field on the ingress."
# Summary

Kubernetes introduced a new field on the ingress resource `ingressClassName` which is a replacement for `kubernetes.io/ingress.class` annotation.
The annotation is considered deprecated now. See https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation

Argo rollouts controller should set `ingressClassName` field on the `canary` ingress if it's set on the `s

[2021-06-15 10:05] kostis-codefresh opened #1278 "Docs: inconsistent urls and broken links"
(Reported by Bryan Taylor in the CNCF slack channel)

The documentation pages have mixed rendering results where sometimes the extension .html works and sometimes it doesn't

https://argoproj.github.io/argo-rollouts/features/traffic-management/istio/ -> renders a broken page
https://argoproj.github.io/argo-rollouts/features/traffic-management/istio.html -> works ok

But on the other hand

https://

[2021-06-15 11:11] kostis-codefresh commented on #1233
@dsbos the examples are already linked from the home page. Each paragraph in the Use Cases sections links to an example https://argoproj.github.io/argo-rollouts/#use-cases-of-argo-rollouts

But ok, we will try to make it more clear to readers, that an example directory exists.

[2021-06-15 14:53] DanTulovsky opened #1280 "Argo Rollouts Dashboard error"
## Summary

I installed the new stand alone manifest for argo rollouts dashboard (version 1.0.1). It works for the most part, but every once in a while, when I am looking at a specific Rollout, the screen will go blank.  Refreshing the browser window fixes it.

The Console shows javascript errors:

[code]

## Diagnostics

1.0.1

[code]

---

**Message from the maintainers**:

Impacted by this bug?

[2021-06-15 17:32] puru86 commented on #654
This did not work for me.
GO version: 1.16.5
Windows 10 64-bit

I am able to build the executable, however the dashboard after startup only shows a link to a .gitkeep file...
![image](https://user-images.githubusercontent.com/8615440/122097599-7c592800-ce2d-11eb-938b-f425cde6ee71.png)

![image](https://user-images.githubusercontent.com/8615440/122097675-8f6bf800-ce2d-11eb-993b-3127e6a7d143.png)

I

[2021-06-15 23:11] MarkSRobinson commented on #1193
Fixed in https://github.com/argoproj/argo-rollouts/pull/1243

[2021-06-15 23:11] #1193 closed

[2021-06-16 02:29] btlyken opened #1282 "Support to add annotations to AnalysisRuns that are created from Templates"
# Summary

As someone who wants to use `ClusterAnalysisTemplate`s to test our deployed microservices during and after a canary deployment, it would be useful to be able to add annotations to the `AnalysisRun`s that get created from these templates. Instead of using a template, we have to create individual runs for each microservice we're testing with the annotations we want.

# Use Cases

My main

[2021-06-16 07:23] jessesuen opened #1283 "Zero-downtime blue-green updates with AWS CNI & AWS LoadBalancer Controller"
# Summary

Currently, the way we perform blue-green is as follows:

1. scale up the new V2 stack
2. wait for all pods of V2 to be available
3. swap the label selectors of the active service from pointing from the V1 stack to V2 stack
4. scale down old V1 stack (after scaleDownDelaySeconds - default 30s)

This is a commonly used technique to achieve blue-green in Kubernetes without the need for spe

[2021-06-16 11:18] puru86 opened #1284 "Option to prune argocd "Application" when a rollout is promoted"
# Summary
When services have related configmaps and secrets, then the data objects can be (usually are) versioned as well.

Doing a blue-green rollout or a canary rollout requires that old configmaps and secrets stay available through the transition.

However once the promotion is complete, only the pods are cleaned up. We need a way to provide configmaps and secrets that can be cleaned up when a

[2021-06-16 13:50] puru86 commented on #1284
So an update - i am able to currently get around this by setting syncOptions[PruneLast=true] for the Application being in argoCD.

In this case, since the Promotion is considered as a phase in the sync, it pauses for the promotion to complete before pruning.

Would like to have a definitive answer if this is the correct way to proceed or if this is an accidental quirk made possible through good de

[2021-06-16 17:27] jessesuen commented on #1284
Yep, PruneLast=true was implemented for exactly your use case (e.g. deleting configmaps randomly suffixed by kustomize configmap generators), so it is the correct way to handle your use case.

[2021-06-16 17:27] #1284 closed

[2021-06-16 18:29] huikang opened #1286 "Dashboard does not any data of uptime of the controller"
## Summary

The dashboard of https://github.com/argoproj/argo-rollouts/blob/master/examples/dashboard.json shall show the uptime of the controller process. But there is no data in the `uptime` panel.

## Diagnostics

It seems the query used by the uptime panel does not return any data: `process_start_time_seconds{job="argo-rollouts-metrics"}`.

What version of Argo Rollouts are you running?
v1.0.2

[2021-06-16 20:15] huikang commented on #1286
After some trial and error with my prometheus setup, I find changing the query to `process_start_time_seconds{app_kubernetes_io_name="argo-rollouts-metrics"}` and enabling the service endpoint returns the result

[code]

@jessesuen , do you know why we use the label job="argo-rollouts-metrics" at https://github.com/argoproj/argo-rollouts/blob/7a23fe5dbf78181248c48af8e5224246434e7f99/examples/dashb

[2021-06-17 13:18] huikang commented on #1286
closing as the label depends on the name in the prometheus configuration

[2021-06-17 13:18] #1286 closed

[2021-06-17 14:30] huikang commented on #1272
Hi, @jessesuen , thanks for the workaround. It worked for me.

[code]

[2021-06-17 19:41] perenesenko commented on #1255
#1291

[2021-06-17 19:58] #1280 closed

[2021-06-17 20:24] perenesenko commented on #1214
I'll take this one

[2021-06-17 20:33] huikang commented on #1029
Hi, @jessesuen , I can take this one if no significant effort has been done on it.

[2021-06-17 21:35] jessesuen commented on #793
Closing as duplicate of https://github.com/argoproj/argo-rollouts/issues/941

[2021-06-17 21:35] #793 closed

[2021-06-18 00:06] #369 closed

[2021-06-18 18:27] kev1n11 opened #1292 "Rollout abort scales down stable ReplicaSet if there is no rollout in progress"
## Summary

For _canary_ strategy, calling `rollouts abort` when there's **no** current rollout would scale the **stable** _ReplicaSet_ to 0.

This was surprising, I would have thought this action to be a no-op or at most revert to the _ReplicaSet_ prior to stable.

This is what [the doc](https://argoproj.github.io/argo-rollouts/generated/kubectl-argo-rollouts/kubectl-argo-rollouts_abort.html ) fo

[2021-06-18 18:36] kev1n11 commented on #1292
Looking through the code, it SEEMs what happens is (I've checked both `v0.10.2` and latest `v1.0.2`):

- `reconcileCanaryReplicaSets()` would try to reconcile the **stable** RS first, and then **new** RS later
- in this case `reconcileCanaryStableReplicaSet()` a a no-op because the stable and new RS are the same
- when `reconcileNewReplicaSet()`  the desired count is derived to be 0 because the `S

[2021-06-21 15:22] huikang commented on #1292
Hi, @kev1n11 , somehow I could not reproduce this behavior; following is my steps:

1. Create a rollout resource
2. Update the image tag of the container and fully promote to healthy.

My understanding is that after step 2, there is no current rollout.

3. Abort the rollout` abort rollouts-demo`

[code]

The results show the stable RS is still running. Did I miss any thing in reproducing the behav

[2021-06-21 20:22] perenesenko commented on #1255
Was desided to implement it in a different way.
We're not going to use the namespace parameter. Instead we're going to provide ability for the customer to pick the desired namespace from the dropdown list. It will be prepopulated with the namespace list that has at least one rollout object.

![image](https://user-images.githubusercontent.com/14903681/122822876-85b21c80-d293-11eb-992b-de592c40a1d7.

[2021-06-21 21:19] DanTulovsky commented on #1255
I have two requests if you don't mind.

1. Have an 'All' option that includes rollouts from all namespaces
2. Make the Rollouts themselves take up less space in the UI (perhaps a line per rollout, rather than a box). It looks nice with 2 - 4 Rollouts, but becomes unmanagable with many more.

Thank you!

[2021-06-21 21:34] perenesenko commented on #1255
We discussed previously about pulling rollouts from the all namespaces. It could be performance issues during watch. @alexmt could you confirm?

What about the formatting UI I think we can have dedicated task for that

[2021-06-21 21:57] perenesenko commented on #1255
@DanTulovsky
Regarding #2. We need more discussion here. Can we shrink it to 1 line, or maybe 2. Can we remove the labels "strategy", "weight" and keep only the value with icons. Can we remove the buttons, etc.  Or maybe we can have 2 versions of the view.

It's better to have it on a separate task and all the discussion there.

[2021-06-21 22:11] alexmt commented on #1255
Correct. In addition to rollouts Dashboard watches all replicaset and pods. Number of replicasets and pods might be several times more than Rollout objects. So we have to ask users to view one namespace at a time.

[2021-06-22 14:55] mosheavni opened #1294 "ALB weight stays the same"
## Summary

I have a simple Rollout with canary, using ALB traffic router, I'm trying to set the weight, but for some reason the annotation in the ingress which controls the action remains at 100-0 weights all the time:
[code]

## Diagnostics

What version of Argo Rollouts are you running?
[code]
## Paste the logs from the rollout controller
http://ix.io/3qKL

## Rollout manifest
[code]
![image](h

[2021-06-22 16:34] gavin-db opened #1295 "Rollout incorrectly manages 3 replicasets"
## Summary

What happened/what you expected to happen?

In a dev region, we saw that one Rollout (graphql) was managing 3 replicasets for an extended period of time:

[code]

[code]

![Screen Shot 2021-06-08 at 6 16 59 PM](https://user-images.githubusercontent.com/65616577/122965557-2c9ec300-d33d-11eb-96d4-28a334059f34.png)

Although Revision 40 shows healthy, it looks like something weird happene

[2021-06-22 17:49] jessesuen commented on #1295
The following errors are benign:
[code]

However, this error seems suspicious. Do you have any idea what caused this? It's also strange that the `graphql-6c7865774c` pod is the one affected as it is already running.

[code]

Are you able to provide any of the following?
* logs grepped for `rollout=graphql` during the time period
* kubectl get events during the time period

[2021-06-22 18:22] davidxia commented on #795
I'm running into this issue as well. As a user of argo-rollouts, I'd like my attempts to create [Cluster]AnalysisTemplate with metric names that are too long to fail at creation time instead of failing later at AnalysisRun run-time. Perhaps the code @TommyLike referenced above can check the Job name length and hash or truncate the provided name in some way?

[2021-06-22 21:16] jessesuen commented on #1294
Your steps do not have setWeight steps so it’s expected that your weight is 0% the entire time. I think you mean to do setWeight  instead of setCanaryScale

[2021-06-22 23:21] lowkeyliesmyth commented on #620
I would definitely be interested in this feature too. Functionally the integration should be similar to that of the Ambassador integration.

[2021-06-23 00:02] gavin-db commented on #1295
The full error that you mentioned as suspicious was:
[code]
Note the `primary ingress has been deleted` line; I forgot to include that in the above report and it is probably relevant to the failure.

Unfortunately this happened while I was on vacation and the logs do not go back that far, so we only have what I happened to store.

This appears to be a bug related to Istio work our service infrastr

[2021-06-23 17:08] sarialem opened #1297 "Canary becomes stuck when the new rollout fails and it involves a change in ConfigMap"
## Summary
When a new rollout is deployed that involves a change in the ConfigMap, and the canary rollout degrades, it's unable to upscale the stable replicaset back to normal, since the change in the ConfigMap is not rolled back and causes the stable pods to fail to start (stable code needs).

What happened/what you expected to happen?
The config map was not rolled back when the canary degraded,

[2021-06-23 21:25] jessesuen commented on #1297
This is a problem not specific to rollouts, and it's also not something Rollouts can solve, as it only performs rollbacks to previous replicasets. It does not deal with any other configuration objects (ConfigMaps, Secrets) as part of rollback. Even if it wanted to, the previous configmap contents are lost (replaced by the new contents) and not accessible by the Rollout.

For your use case, you sho

[2021-06-23 21:25] #1297 closed

[2021-06-23 21:34] jessesuen commented on #1297
When rollback needs to involve multiple objects (e.g. Rollout + ConfigMap + Secret + other random custom resources), this should be happening at a higher level, for example, an Argo CD rollback. Doing this at a higher level allows you to roll back multiple objects as a unit.

In Rollouts v1.1, which will have support for notification webhooks, a webhook could theoretically be invoked to signal Arg

[2021-06-23 21:34] #1294 closed

[2021-06-23 21:46] sidprak opened #1302 "Validation error when using workloadRef"
## Summary

This rollout works without any issues:

[code]

However, when I add analysis, like below, I get an incorrect error message. I would also expect this configuration to work. It just loops forever complaining that the rollout spec is not valid.

[code]

## Diagnostics

What version of Argo Rollouts are you running? **1.0.2**

These messages repeat forever and the rollout never completes.

[2021-06-24 03:56] huikang commented on #1302
@sidprak , one workaround is to add `replicas: 1` in your rollout file.

[code]

My guess is that the referred deployment has `replicas: 0`.

@jessesuen , I can look into the issue; please assign it to me. Thanks.

[2021-06-24 04:13] huikang commented on #1302
@sidprak , could you paste the deployment manifest the rollout refers? Thanks.

[2021-06-24 05:48] kev1n11 commented on #1292
@huikang Thanks for checking.

I also can't reproduce it with a minimal example for both versions of Argo `v0.10.2` and `v1.0.2`. It's however 100% reproducible in many repos and env we have running `v0.10.2`.

FWIW we use Istio if that makes any difference. Would you have an example with Istio handy to quickly try it out?

If not I'll try to construct a minimal reproducible example.

[2021-06-24 14:37] huikang commented on #1292
If I understand the above correctly, is this bug only reproducible in v0.10.2 for your repo?

Sure, will test a rollout with istio using both argo-rollouts `v0.10.2` and the `latest master`.

[2021-06-24 14:54] sidprak commented on #1302
@huikang thanks for the quick reply! I can confirm that setting `replicas: 1` in the rollout does work but I run into another issue with that. We use HPA on this rollout and we use ArgoCD for deployment. With this setup, the HPA modifies the # of replicas to something like 10, and ArgoCD constantly tries to set it back to 1. That's the main reason I removed the `replicas` setting from the rollout.

[2021-06-24 14:57] huikang commented on #1302
@sidprak , thanks for your confirmation. I am working on a PR to resolve the issue of not defaulting the replica if the field does not appear in the rollout manifest. Hopefully it will resolve the issue you just described; otherwise we can open up a separate issue.

Will let you know when the PR is ready for testing.

[2021-06-24 15:01] huikang opened #1303 "Invalid log level when notificaiton is not set"
## Summary

What happened/what you expected to happen?

## Diagnostics

When a rollout is created without setting up notification, users don't need to worry about the irrelevant message about notification. However, the current implementation emits ERROR log message.

We could change the log level to `WARN`.

What version of Argo Rollouts are you running?
1.1 (master)

[code]

---

**Message from t

[2021-06-24 16:37] gavin-db commented on #1295
@jessesuen I talked with service infra to determine what caused the suspicious error.

At the time of the error the graphql pod was running with an Istio sidecar container. Istio requires admin level privileges to modify pods but our Pod Security Policy prevented this. When we inject the Istio sidecar, the PSP won't let the pod come up and produces the above error because Istio won't be able to ad

[2021-06-24 17:19] agrawroh commented on #1295
@gavin-db ^ This sums it up very nicely!

@jessesuen Any thoughts on what should be the correct behavior from Argo side in case k8s fails to schedule pods or something else happens preventing the pods to come up? Should Argo scale down this ReplicaSet in addition to marking the old (running) version as stable again?

[2021-06-24 17:45] huikang commented on #1302
@sidprak , could you try the fix in the PR: #1304 ? I tested locally and it worked. Thanks.

[2021-06-24 19:03] #1254 closed

[2021-06-24 21:35] sidprak commented on #1302
@huikang your fix works for me! Thanks for fixing it so quickly.

[2021-06-25 11:20] Jyotika123 opened #1305 "Notification Not triggered trying with webhook and slack"
## Summary

Trying to use argo notification with argo-rollouts. But notifications doesnot triggered as expected. No error logs found on pods.

## Diagnostics
I used the following configuration files for notifications:
[code]

[code]

Now on the Rollout object on Argo rollout , i used the annotation for subscription as :
[code]
[code]

[2021-06-25 12:57] DanTulovsky opened #1306 "Dashboard main screen out of sync"
## Summary

It looks like the main view of the GUI dashboard is out of sync with reality.  For example:

What I see on the main screen:

<img width="459" alt="main" src="https://user-images.githubusercontent.com/509887/123427625-de82fd00-d592-11eb-8801-6639e8ea867d.png">

When I click on that object, I see:

<img width="564" alt="detail" src="https://user-images.githubusercontent.com/509887/123427

[2021-06-25 13:19] DanTulovsky commented on #1306
FYI, restarting dashboards fixed the issue.

[2021-06-25 14:41] huikang commented on #294
Hi, @jessesuen , will this task be considered as part of v1.1 release? If so, I can take it. Thanks.

[2021-06-28 18:35] jessesuen commented on #1305
Notification support is a v1.1 feature. Are you trying with v1.0?

[2021-06-28 18:37] jessesuen commented on #1303
Did you mistype this and meant to say 1.1? Notification is only in v1.1 (master)

[2021-06-28 18:41] huikang commented on #1303
Yes, updated the problem description.

[2021-06-28 19:17] jessesuen commented on #1295
I expect Rollouts to already handle the following situation gracefully, where:
1. the Rollout cannot create the ReplicaSet
2. the Rollout can create the ReplicaSet, but the ReplicaSet cannot create pods (e.g. due to pod admission webhook)

Admittedly we don't have good e2e testing on these scenarios, so perhaps something could have regressed.

We don't have an option ATM to abort an update and go

[2021-06-28 20:15] huikang commented on #1303
@jessesuen I found that if the error message disappears if the notification controller is commented at https://github.com/argoproj/argo-rollouts/blob/255ce28d303bc3a6d94a9df9b6c727f57491a8d1/controller/controller.go#L304

So how about add a command line option to control if the notification controller is need, i.e., `--enable-notification bool` (default is true). If the option is disabled, we don'

[2021-06-28 21:01] ozooxo opened #1310 "Support `recreate` strategy type"
# Summary

We would like Argo Rollout to support `recreate` strategy type if possible.

# Use Cases

Argo Rollout [suggests us to](https://github.com/argoproj/argo-rollouts/blob/b39f4cf6804bba77c0947c761c4ce2b4ddb44c96/docs/migrating.md#L38) use `canary` strategy when migrating both `rollingUpate` and `recreate` from Deployment resources.

Technically if we replace `recreate` with `canary`, we'll

[2021-06-29 17:21] MarkSRobinson opened #1314 "Add metrics for tracking the number of state changes"
# Summary

I would like metrics that track things like:
- Number of times a rollout ended in state (failed, timeout, succeeded, aborted)
- Number of times a rollout moved between non-terminal states (waiting for pods, paused, etc...)
- Number of rollouts started

Functionally, the metrics just emit the current state of Argo Rollouts but I'd like to be able to gather history metrics to demonstrate

[2021-06-29 22:48] jessesuen commented on #1314
We don't have all the metrics you outlined, but have you seen the improved Events and prometheus metrics around the events?

https://blog.argoproj.io/introducing-argo-rollouts-v1-0-803e87f76ef7

[2021-06-30 08:41] Sonam11 commented on #1059
@jessesuen I have one query in the proposed design, so what will happen in the case when we want to increase the weight in the experiment only for the baseline canary analysis. We cannot use setweight again in the step, as it will mark our experiment complete.

[2021-07-01 00:50] jessesuen commented on #1255
Fixed in https://github.com/argoproj/argo-rollouts/pull/1291

[2021-07-01 00:50] #1255 closed

[2021-07-01 09:19] sanzenwin opened #1318 "Dashboard should support rootpath with ingress"
Recently I get the Http404 error about static files when I go to the homepage.
[code]
Argo-cd has support it:  https://github.com/argoproj/argo-cd/pull/3503

[2021-07-01 12:55] kostis-codefresh opened #1319 "docs: Serve-docs target for locally previewing docs is broken"
This commit https://github.com/argoproj/argo-rollouts/commit/96ba0302f4d904e9aba36c3341025f4f51eaed81 removed the plugin-docs Makefile target.

But that target is still mentioned as a dependency for `serve-docs`

So now the command make serve-docs stops with an error

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-07-02 20:02] #1302 closed

[2021-07-02 20:03] #1319 closed

[2021-07-03 00:19] jessesuen commented on #1278
Fixed in https://github.com/argoproj/argo-rollouts/pull/1321

[2021-07-03 00:19] #1278 closed

[2021-07-03 06:14] sanzenwin opened #1323 "Dashboard - Authentication"
Sign in dashboard with token.

Refer to: https://github.com/argoproj/argo-workflows/issues/1813

[2021-07-05 08:28] kostis-codefresh opened #1326 "docs: automatically check links upon build/commit"
# Summary

To avoid broken links in documentation it would be great if we have an automated way to check them as part of the PR process.

ArgoCD already does with the `lint-docs` target and https://github.com/dkhamsing/awesome_bot. Maybe we can reuse the same mechanism?

https://github.com/argoproj/argo-cd/blob/master/Makefile#L504

---

**Message from the maintainers**:

Impacted by this bug? Giv

[2021-07-05 14:08] kev1n11 commented on #1292
@huikang For me, this is reproducible for both version `v0.10.2`  and then still reproducible after upgrading the controller to`lastest`

I basically followed https://argoproj.github.io/argo-rollouts/getting-started/istio/

### Istio version
[code]

Istio Op
[code]

### Installation
[code]

### Set up
[code]

### Reproducing steps
[code]

Then call abort
[code]

[2021-07-05 14:49] huikang commented on #1292
@kev1n11 , thanks for the the detailed instructions to reproduce the error. Now I can reproduce the error, which seems only happened to the rollout with traffic management.

@jessesuen , I can look into this issue; please assign this to me. Thanks.

[2021-07-06 21:29] huikang opened #1327 "The lint subcommand shouldn't report missing '.spec.selector' for rollout using workload ref"
## Summary

The lint subcommand reports error for the following valid rollout

[code]

[code]

What happened/what you expected to happen?

no error should be reported

## Diagnostics

What version of Argo Rollouts are you running?

master

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-07-07 12:18] #1189 closed

[2021-07-07 12:20] #1327 closed

[2021-07-07 15:25] mclarke47 opened #1329 "Terminated metric is marked as successful under analysisrun status"
## Summary

Terminated metric is marked as successful under `analysisrun.status.metricResults[]`.

[code]

A metric result was terminated, I'm assuming because the rollout was failing legitimately. However the `successful` field reads `1` which isn't really true as the job/po for the metric was never run.

## Diagnostics

What version of Argo Rollouts are you running? **V0.10.0**

[code]
time="202

[2021-07-08 19:46] #1191 closed

[2021-07-09 04:01] huikang commented on #1292
@kev1n11 the #1331  should fix this bug. Could you give it a shot? Thanks.

[2021-07-09 14:44] gempesaw opened #1334 "Dashboard UI with namespace picker doesn't show individual rollout in other namespace"
## Summary

After #1291, it's possible to install the dashboard in one namespace and view Rollouts in another namespace. The main page which watches multiple Rollouts works fine and displays Rollouts in other namespaces. However, accessing the individual page for a Rollout in a different namespace shows an empty page.

The logs mention that the Rollout resource wasn't found. If I `kubectl argo rol

[2021-07-09 18:51] #1233 closed

[2021-07-10 11:19] marcportabellaclotet-mt commented on #1334
I am having the same issue.
[code]
I am able to browse namespaces where there are rollouts, but when clicking into it, it returns an empty page.

By the way, argo rollouts is an awesome product!!!

[2021-07-12 00:37] MarkSRobinson commented on #1314
Thanks!  Those were super helpful.  A breakdown by time spent in each phase would be super-useful for me.

[2021-07-12 04:13] huikang opened #1337 "Abort rollout does not remove all canary pods for setCanaryScale"
## Summary

What happened/what you expected to happen?

Rollout abort should remove all canary pods for canary strategy. However, if the canary scale is set for >= 2 steps such as

[code]

When the rollout is aborted after the "2nd set canary scale" step, the abort will leave 2 canary pods running.
The expectation is that all canary should be removed after abort.

[code]

## Diagnostics

What vers

[2021-07-12 07:26] RjYogi7880 opened #1341 "Injecting Jaeger sidecar annotation to argo kind: rollouts."
Hello, I have argocd and argo-rollout setup on my digital ocean Kubernetes cluster, I tried deploying one sample application with "sidecar.jaegertracing.io/inject": "true"  annotation (kind: Rollout) but sidecar injection didn't work. Any help on this?

[2021-07-12 08:00] jessesuen commented on #1337
I think to fix this, `UseSetCanaryScale` should return nil if the rollout is aborted, to indicate that it should not be used when we are in an aborted state

[2021-07-12 08:01] jessesuen commented on #1334
@perenesenko could you look into this?

[2021-07-12 08:06] jessesuen commented on #1329
FWIW, terminated analysis run equating to success was actually by design for the following reasons:

1. It was the best option to choose from the existing phases without introducing a new state in the state machine:
* Pending
* Running
* Successful
* Failed
* Error
* Inconclusive

2. With background analysis (which un indefinitely), the AnlaysisRun will always be terminated by the rollout at the e

[2021-07-12 08:11] jessesuen commented on #1326
I think this can be partially accomplished by adding:

[code]

somewhere in the github action, but this would only catch missing references to the same site (not external links)

[2021-07-12 10:14] kostis-codefresh opened #1339 "docs: Restructure/Review documentation. Also make it beginner friendly."
# Current documentation status

As more and more people adopt Argo Rollouts we need to ensure that the documentation pages cover all common scenarios and can guide both beginner and advanced users to progressive delivery practices.

We need different kinds of documentation for different personas. The documentation right now is mostly of the reference type and caters more to the advanced user/opera

[2021-07-12 15:29] MarkSRobinson opened #1340 "Supporting services that don't receive traffic over an ingress"
# Summary

I would the ability to support load shaping through methods other than through an Ingress.

# Use Cases

I have several services that consume requests from a queue.  This is obviously a problem for Argo Rollouts since I can only get half the functionality (metrics monitoring).  I would like the ability to shift traffic that was consumed through a queue or a DB.

This is a bit of a probl

[2021-07-12 18:44] perenesenko commented on #1334
Yes. I will look on it

[2021-07-13 16:58] csamant-salesforce commented on #1337
@jessesuen Sounds good. @huikang I can pick this up.

[2021-07-13 18:04] #1292 closed

[2021-07-14 14:29] jgkawell commented on #841
I know this is super old, but I'm still having this issue today. The main thing seems to be the post-promotion AnalysisRun throwing things off. The pre-promotion seems to work correctly.

[2021-07-14 18:45] jessesuen commented on #1341
@RjYogi7880 - I doubt Jaeger knows how to inject into Rollout kinds (or CRDs for that matter). If Jaeger injection works similar to Istio or other typical mutating webhooks, then I expect that it needs to be done at the pod level. e.g.:

[code]

[2021-07-14 19:30] perenesenko commented on #1214
PR https://github.com/argoproj/argo-rollouts/pull/1342

[2021-07-14 19:53] perenesenko commented on #1334
PR https://github.com/argoproj/argo-rollouts/pull/1344

[2021-07-14 19:58] aweis89 opened #1349 "A single rollout should support multiple Istio VirtualServices"
# Summary

Currently the Argo Rollouts spec only supports a single VirtualService. This forces folks with multiple VirtualService's with the same destinations to chose which one to use for the canary rollout.

# Use Cases

It's very common to have multiple VirtualService's pointing to a single backend service. One example where this is commonly needed is when associating a VirtualService with a Ga

[2021-07-14 20:06] jessesuen commented on #1349
Agree, but is auplicate of https://github.com/argoproj/argo-rollouts/issues/1100

[2021-07-14 20:06] #1349 closed

[2021-07-14 21:00] #1334 closed

[2021-07-14 21:07] jessesuen commented on #1337
Thank you!

[2021-07-14 21:09] jstewart612 opened #1350 "Argo Rollouts AnalysisTemplates of Job type set an auto-generated label longer than 63 characters"
## Summary

What happened/what you expected to happen?

Argo Rollouts AnalysisTemplates of Job type set an auto-generated label longer than 63 characters.  If you're going to auto-generate a name, and my input did not exceed 63 characters, you should be doing so in a manner that does not make a resulting auto-generated label only you use longer than 63 characters and thus cause the Job the Analysi

[2021-07-14 23:20] jessesuen commented on #1350
Duping to https://github.com/argoproj/argo-rollouts/issues/795

[2021-07-14 23:20] #1350 closed

[2021-07-15 06:36] NaveenVastare commented on #1329
we are also observing similar issue. any suggestion on this?

[2021-07-15 07:24] RjYogi7880 commented on #1341
Hi @jessesuen

This is our sample YAML file for rollout to deploy

[code]
we have tried but no luck....

[2021-07-15 12:50] jstewart612 commented on #795
As a workaround for this issue, I have truncated all my job names to be 20 characters or less, because that's how many characters it was over in my case.  I don't know if the length is variable in what is generated here or not by Argo Rollouts, but I haven't had the issue since.  I would assume it's only variable if the number of jobs in the analysistemplate is double-digits or greater, as I would

[2021-07-15 19:07] jessesuen commented on #1329
@NaveenVastare what are you expecting the behavior to be and the status of the metric?

[2021-07-15 21:24] jessesuen commented on #1029
Thinking about this some more, we probably don't need the flexibility for this to be implemented as a new canary step type and can simply have a boolean or constant values to indicate the behavior of the stable scale. e.g.:

[code]

[code]

[2021-07-15 21:31] jessesuen commented on #1029
[code]

[2021-07-15 21:35] jessesuen commented on #1029
The second change which is necessary is that we cannot immediately setWeight to 0 upon abort. we need to wait until stable is scaled back up.

[code]

[2021-07-15 21:53] huikang commented on #1341
We had no issue injecting istio sidecard to the rollouts. Could it be jaeger does not know how to inject to replicaset or pod?

[2021-07-16 00:37] jessesuen commented on #1341
Looks like that is the case. See Jaeger docs:
https://www.jaegertracing.io/docs/next-release/operator/#auto-injecting-jaeger-agent-sidecars

Support for auto-injecting other controller types is being tracked with https://github.com/jaegertracing/jaeger-operator/issues/750.

[2021-07-16 00:37] #1341 closed

[2021-07-16 04:20] huikang opened #1355 "Dashboard: display the scaledown delay second if a replicaset is scheduled to be scaled down"
# Summary

What change needs making?

The argo-rollouts UI displays the scaledown delay second if a replicaset is scheduled to be scaled down.

# Use Cases

When would you use this?

Some useful information for user to understand the replicaset status.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-07-16 04:54] jessesuen opened #1356 "Incorrect pod template change detection after upgrade from v0.10 to v1.0"
## Summary

We updated a controller from v0.10.x to v1.0.2. After the update, the rollout controller incorrectly decided that a steady-state rollout was updated, as indicated by this log:

[code]

This caused the rollout to go through an update, even though the pod specs were identical.

I captured the ReplicaSet yaml of each version and verified there was no difference. So this must be a change i

[2021-07-16 20:15] perenesenko commented on #1029
@jessesuen I can work on this issue

[2021-07-16 22:13] jessesuen commented on #1356
I can reproduce this with the following rollout first deployed in v0.10, then upgrading the controller to v1.0:

[code]

The detected difference is that the `serviceAccount` field (which has been deprecated in k8s) is no longer defaulted using

live object:
[code]

defaulted object:
[code]

[code]

[2021-07-16 23:51] harikrongali opened #1358 "Analysis with arguments not working"
## Summary

Analysis template with arguments for fields counter, interval, intitial-delay, failedCount etc arent resolved properly and are failing with validation errors.

[code]
  Message:  analysis spec invalid: metrics[0]: invalid interval string: time: invalid duration "{{args.analysis-interval}}"

Also if arg is removed for the interval, then with counter greater than 1 value, analysis runs i

[2021-07-16 23:52] harikrongali commented on #1358
seems https://github.com/argoproj/argo-rollouts/pull/1213/files change caused the regression.

[2021-07-17 06:20] jessesuen commented on #1356
It seems this is what happened:

1. We **_partially_** rely on k8s controller.ComputeHash to detect a change in the pod template.

2. controller.ComputeHash() changed between K8s v1.18 to v1.20.4 - it returns different values for the same template

For the following YAML:

[code]

It returns the following hashes for different k8s libraries:
1. 5c5f4fdfd8 - k8s 1.17.3
2. 5c5f4fdfd8 - k8s v1.18.2
3.

[2021-07-17 06:23] jessesuen commented on #1356
There are two fixes:

1. We should implement a hack/workaround so that the presence or absences of `serviceAccount` does not affect `PodTemplateEqualIgnoreHash`

2. we should switch to a stable hashing function that does not change when the k8s libraries change

[2021-07-18 09:54] eilonmonday opened #1359 "stuck on progressing after upgrade to v1.0.1"
We are working with Argo rollouts for 2 years (version 0.8.2), lately, we have thought of upgrading to v1.0.1 our production environment. since it is a very sensitive environment we upgraded staging environment 1 month ago.

Everything went good, and we had **hundreds of deployments to staging with Argo v1.0.1**,
All of a sudden, the whole thing stopped working. after deployment, and when all pods

[2021-07-19 04:23] NaveenVastare commented on #1329
Pod Status is in CrashLoopBackOff but AnalysisRun gave status as Successful which is not expected. Without running job metrics, AnalysisRun will give status as Successful which is leading to rollback to bad version. any

[code]

[2021-07-19 15:07] huikang commented on #1359
There have been many changes in both the controller's logic and CRD since v0.8.2, so you may need to migrate the rollout's CRs to the latest version to make it work.

[2021-07-19 16:10] windingroad100hf commented on #1358
This util file has the actual code that outputs the error message: https://github.com/argoproj/argo-rollouts/blob/master/utils/analysis/factory.go#L132

[2021-07-19 16:28] harikrongali opened #1360 "inline analysis doesnt wait for all metrics to run"
## Summary
Analysis run doesnt run metric that isnt started but other metrics completed by that time.
following example provides the scenario where one of the metric completed the analysis and posts successful but the other metric isn't started as it has delay. Analysis run completes without running delayed metric.

[code]

## Diagnostics

What version of Argo Rollouts are you running?
1.0.2

[cod

[2021-07-19 20:26] jessesuen commented on #1359
Stracktrace but formatted:

[code]

[2021-07-19 20:43] jessesuen commented on #1359
The only possible explanation is `pauseCond` is nil in this code block

[code]

[2021-07-20 03:56] huikang commented on #1359
I was trying to reproduce the error with the following steps, but couldn't get the same results.

1. install argo-rollouts v0.8.2
2. deploy the following rollout CR

[code]

3. Delete the argo-rollout v0.8.2 Deployment
4. Install the latest argo-rollout (master branch) 'kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/master/download/install.yaml'
5. Promote the rollout

[2021-07-20 10:52] Sanchit-20 commented on #521
Still see the issue with the latest version `v1.0.2` @jessesuen
<img width="1274" alt="Screenshot 2021-07-20 at 4 20 00 PM" src="https://user-images.githubusercontent.com/22833885/126311999-83d530b0-7f98-4ae5-97cb-558cd0465547.png">

[2021-07-20 11:08] wentwog opened #1364 "Support more than 2 Istio HTTPRouteDestinations in the Canary rollout"
Currently the Canary rollout requires that Istio VirtualService's HTTPRoute must have exactly 2 HTTPRouteDestinations.
Support having more HTTPRouteDestinations.

# Use Cases

Migrating to Istio, we have a legacy system to which we route some percentage of traffic, e.g.:
- Istio Stable: 50%
- Istio Canary: 30%
- Legacy: 20%

When a new service version gets rolled out, we'd like ArgoRollouts to swi

[2021-07-20 14:13] jtai-omniex commented on #1305
@jessesuen how do you get v1.1? it seems like the docker images and git tags only go up to 1.0.2

[2021-07-20 15:27] pparth commented on #1364
It is rather restrictive to have to use exactly 2 Route Destinations, unless we are missing something.

[2021-07-20 18:34] joberdick-rcd commented on #1305
@jessesuen is v1.1 not cut yet and we need to build off master to use notifications?

[2021-07-20 19:44] huikang commented on #941
@jessesuen , I think we can close this issue.

[2021-07-20 20:00] huikang commented on #1210
@jessesuen , I can pick this up. Thanks.

[2021-07-20 20:47] jessesuen commented on #1210
Thanks @huikang !

[2021-07-20 20:54] jessesuen commented on #941
Fixed in v1.1

[2021-07-20 20:54] #941 closed

[2021-07-21 10:04] eilonmonday commented on #1359
guys, seems to be an issue with the autoPromotionEnabled flag
when I changed from True to False everything is working. maybe we can investigate from here

[2021-07-21 14:57] huikang commented on #1359
@eilonmonday , I tested with `autoPromotionEnabled: true` in the above steps, but still can't reproduce the error. Could you provide more detail about how you produced the error.

[2021-07-21 17:15] abhranilc opened #1365 "Remove Direct dependency on k8s.io/kubernetes"
# Summary
https://github.com/argoproj/argo-rollouts/blob/master/go.mod#L56 mentions k8s.io/kubernetes

While trying to build my own project which depends on argo-rollouts apis, I am facing issues same as https://github.com/kubernetes/kubernetes/issues/90358

What change needs making?
Direct dependency on k8s.io.kubernetes needs to be removed

# Use Cases

When would you use this?

---

**Message f

[2021-07-21 18:22] abhranilc commented on #1365
Another related issue: https://github.com/google/go-containerregistry/issues/496

[2021-07-21 18:22] #1365 closed

[2021-07-21 18:30] jessesuen commented on #1059
Is there any way in which we can increase the weight to the experiment services as well as part of steps?

That is not possible with the current design. I think what you would need is something like a background experiment. If there was the ability to start an experiment in the background (at the start of the update), would that suit your use case? Alternatively we may need a way to demonize exper

[2021-07-22 06:50] llimon commented on #1151
@jessesuen  Under ALB Ingress controller 2.2.1, when you add a readinessGate condition
[code]
Causes rollout initial rollout pods to never become active because there is no target assigned to them, on the older version of ALB Ingress controller the condition is ignored, and pods become active without a readinessGate assigned.

Pods failing to become active have this error:
[code]

[2021-07-22 21:27] risinger commented on #958
https://github.com/argoproj/argo-rollouts/issues/958#issuecomment-853460052
I like this proposal because it would show a clean diff between old and new config and trigger a rollout for config changes.

I just tried skataker Reloader and it worked as billed: it ran a rolling update. I would much prefer a solution that triggers a rollout and goes through the configured update process. As an added bo

[2021-07-22 21:38] jessesuen commented on #1151
Relevant https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1782

[2021-07-23 13:18] huikang commented on #1100
Our team has a PR to enable this. Will submit a PR soon.

[2021-07-26 18:48] DanTulovsky opened #1372 "Rollout confused after deploying during a canary phase"
## Summary

I had a slow rollout progressing through about 8 steps, with a 30 min wait between each.  Before it was finished, I pushed another change.  This change create a new Revision, but then it got stuck.  No pods were upgraded to the new revision, the previous revision and stable versions stopped progressing.

I unstuck it by running `promote` via the CLI tool.  I ran it once, and the UI sho

[2021-07-26 18:56] DanTulovsky commented on #1372
Additionally, the 'Steps' currently all show as complete. So I have the new Revision 7, the previous upgrade at Revision 6 and the previous stable at Revision 5.

What seems to be happening now is that all pods are being moved from Revision 6 to Revision 7 very quickly, without pausing.  Revision 5 pods are not being touched yet.

[code]

[2021-07-26 20:31] jessesuen commented on #1372
Did you happen to go back to the previously deployed version?

[2021-07-27 00:00] DanTulovsky commented on #1372
No... it was going forward..

On Mon, Jul 26, 2021, at 4:31 PM, Jesse Suen wrote:

[2021-07-27 12:38] #1303 closed

[2021-07-28 05:08] BillyMorgan commented on #1359
Hi guys, I'm experiencing a similar issue with `v1.0.2+7a23fe5`. I've got `autoPromotionEnabled: false` and `autoPromotionSeconds: 45` but the auto promotion never happens. The rollout sits there happily paused with all the replicasets showing healthy status. Lemme know what info would be useful to debug.

[2021-07-28 06:42] shakti-das commented on #1100
Update: We are testing out the PR internally. It will be out for review mostly by next week.

[2021-07-28 18:47] jessesuen opened #1376 "Option to abort when exceeding progressDeadlineSeconds"
# Summary

Currently, we only automatically abort an update if analysis fails. But if analysis is not used and a rollout exceeds progressDeadlineSeconds (e.g. because the new pods don't become ready/available or CrashLoopBackoff), the user should have an option to also automatically abort and rollback in this scenario.

# Use Cases

I want automated aborts but do not use analysis, or I want automa

[2021-07-28 20:28] jessesuen commented on #1359
@BillyMorgan are you seeing the stack trace in the logs as well?

[2021-07-28 22:15] MarkSRobinson opened #1377 "Deployment hangs when existing deploy is unhealthy"
## Summary

I was trying to deploy a service but the 'stable' service was healthy.  Specifically, one of the pods was crashlooping due to memory problems.

This ended up causing Argo to be unable to progress since it was stuck waiting for the stable branch to stabalize.  The cli watcher report the message `waiting for all steps to complete` and `Step 0/5`.

## Diagnostics

What version of Argo Rol

[2021-07-29 01:03] jessesuen commented on #1377
Can you clarify? Was the stable ReplicaSet healthy or crashlooping? These two statements seem at odds.

[2021-07-29 18:35] joberdick-rcd commented on #995
@PedroArvela what's your current work around in this situation? Do you have to delete the entire rollout CRD and start over? Looking for a way to force rollout in this situation that's gitiops friendly.

[2021-07-29 18:57] shakti-das commented on #1100
Hi @jessesuen, could you please assign this to @darshanhs09. He will be sending out a PR for it soon. Thank you.

[2021-07-29 20:58] PedroArvela commented on #995
We haven't really encountered this situation naturally after starting to use Rollouts. But our breaking-glass situation that we prepared if we ever find this is to trigger a rollout with no canary steps at all.

That should make the new rollout work more like a classical Kubernetes deployment and replace one version with the other right away without checking if the previous pods are healthy or not

[2021-07-29 21:44] #1359 closed

[2021-07-30 09:25] jessesuen commented on #1359
This panic should be resolved in v1.0.3. Please give it a try.
https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.3

[2021-07-30 18:04] alexmt opened #1383 "Promote full did not work against BlueGreen with previewReplicaCount"
## Summary

Rollout stuck in degrade state during blue-green rollout.

## Diagnostics

Rollout got paused (as expected) during blue-green. It was not approved within `progressDeadlineSeconds` timeout and switched into Degraded state. Promote was executed using Argo CD action but nothing happened - rollout stayed in Degraded state.

Based on logs rollout got unpaused but controller was trying to se

[2021-07-30 18:08] jessesuen commented on #1383
this is not supposed to happen.

[2021-07-30 21:17] jessesuen commented on #1383
We determined the "Degraded" state was because of outdated client code (Argo CD Rollout health check) and outdated kubectl plugin.

Here was the sequence of Kubernetes events, which show that the rollout was never degraded from the perspective of the rollout controller.

[code]

[2021-07-30 22:19] jessesuen commented on #1359
There is another issue when using the previewReplicaCount feature. This is being fixed and will be in a v1.0.4 release
https://github.com/argoproj/argo-rollouts/issues/1383

[2021-07-30 23:25] #1383 closed

[2021-08-01 13:13] eilonmonday commented on #1383
@jessesuen after upgrading to 1.0.4 i get the error:
`E0801 13:11:51.164664       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.20.4/tools/cache/reflector.go:167: Failed to watch *v1.ConfigMap: failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:argo-rollouts:argo-rollouts" cannot list resource "configmaps" in API group "" in the namespace "argo-rollouts"`

this wa

[2021-08-02 16:25] DanTulovsky opened #1385 "Cannot update the workload-ref/annotation errors"
## Summary

Starting with the upgrade to 1.0.3, I am seeing the following error message for a bunch of my rollouts:

[code]

Pushing a new helm deploy does not trigger a new Rollout.

I killed the argo-rollout pod, and on restart it picked up the changes.  All of these Rollouts reference a Deployment with `replicas: 0` in them.

What information would be helpful to you in figuring out the issue?

[2021-08-02 16:27] DanTulovsky commented on #1385
After a restart, while the Rollout I was looking at is fixed, the new log now shows more errors of the same type for different rollouts:

[code]

There are no other. log entries that reference any of these rollouts.  Maybe there is a race condition here?

[2021-08-02 16:28] DanTulovsky commented on #1385
Here's a full manifest for one of them:

[code]

[2021-08-02 16:30] DanTulovsky commented on #1385
And here's the Deployment it references:

[code]

[2021-08-02 18:09] r0bj opened #1386 "v1.0.4: User "system:serviceaccount:argo-rollouts:argo-rollouts" cannot list resource "configmaps" in API group "" in the namespace "argo-rollouts""
## Summary

Install argo-rollouts:
[code]

argo-rollouts v1.0.4 generats errors:
[code]

It seems that some permissions are missing from `argo-rollouts-clusterrole` ClusterRole, e.g.:
[code]

[2021-08-02 18:40] huikang commented on #1386
Please install use https://raw.githubusercontent.com/argoproj/argo-rollouts/master/manifests/install.yaml
There is something wrong with the install.yaml from the release link

[2021-08-02 18:41] jessesuen commented on #1386
Actually don't install this because this is master code base.

There is a problem with v1.0.4 and v1.0.4 images. Please go back to v1.0.2 until it is resolved/

[2021-08-02 18:54] huikang commented on #1385
Looks like updating the `workload-ref/annotation` failed at the controller; the rollout does not have this annotation.

@DanTulovsky , will you be able to help debug by printing out the error message at

https://github.com/argoproj/argo-rollouts/blob/ff3569dc3977b952058acd2ea3fa674716bff5f6/rollout/temlateref.go#L253

(I forgot to add the err msg to the above line.)

[2021-08-02 19:10] DanTulovsky commented on #1385
Sorry, I am not sure what you are asking. Do you just want to see:

[code]

?

[2021-08-02 19:20] jessesuen commented on #1386
The workflow is mistakenly using cached docker from master and not the release. So v1.0.3 nad v1.0.4. Will be rebuilding these images.

[2021-08-02 20:36] jessesuen commented on #1385
v1.0.3 build is bad because of https://github.com/argoproj/argo-rollouts/issues/1386. I am re-releasing these images

[2021-08-02 20:36] jessesuen commented on #1385
Duplicate https://github.com/argoproj/argo-rollouts/issues/1386

[2021-08-02 20:36] #1385 closed

[2021-08-02 20:46] agrawroh commented on #1364
Since I already touched some of the code for Argo integration with Istio VS in one of my other PRs, I could work on this one. We have a similar requirement and it'll be pretty cool to get it done.
cc @huikang

[2021-08-03 00:00] jessesuen commented on #1377
I believe you meant stable was **unhealthy**.

The way Rollouts currently works, is that relies on balancing stable vs. canary ReplicaSet counts to achieve the desired weight. However, if stable is unavailable, it is not a blanket go-ahead to promote the canary replicaset and skipping steps/analysis.

In this scenario, you would want to leverage the **promote full** feature if you know the stable

[2021-08-03 00:01] jessesuen commented on #1386
Resolved in https://github.com/argoproj/argo-rollouts/pull/1387.

v1.0.3 and v1.0.4 are rebuilding now

[2021-08-03 00:01] #1386 closed

[2021-08-03 09:01] tsurankov opened #1389 "Add option --success-on-pause to status command to return success once 'Paused' state is reached"
# Summary

It would be great to have a flag that could change the behavior of kubectl-argo-rollouts status command.  At least when it is used with a blue-green deployment.
Currently the command return exit 0 status only once the stable rollout is healthy. This is clear, however, this makes the command not very useful in CI/CD pipelines if auto-promotion is disabled. In this case, a preview rollout

[2021-08-03 12:06] tsurankov opened #1390 "Status command returns incorrect output with --watch=true flag once the status changes"
## Summary

The main problem is that the status command used with --watch=true or --timeout flags (which is default behaviour) returns the result 'Progressing - active service cutover pending' even if the status has changed to Paused - BlueGreenPause. If I run it for the second time just after and the status is already Pause, I am getting the correct response.

In the following example, the previe

[2021-08-03 12:09] tsurankov opened #1391 "Status command output differs depending on the flag is set as --watch=true or --watch=false"
## Summary

The output of the status command is different if we run status with the --watch flag set to true or false. I am not sure if it was designed in that way, but for me, it is a bit confusing. Let's compare:
[code]
## Diagnostics

What version of Argo Rollouts are you running?
1.0.4

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the

[2021-08-03 18:56] rbreeze commented on #1306
Hi @DanTulovsky, what happens if you click the refresh button for the rollout in question on the Rollouts List? The list view uses a shallow watch, as watching all of the ReplicaSets for every rollout is quite resource intensive. The single Rollout view, on the other hand, uses a deep watch of all the ReplicaSets and updates relatively instantly.

[2021-08-03 19:00] rbreeze commented on #1221
I think the verbiage as-is is clear enough. Even though the pod templates are nested in the list, it is still fundamentally a list of pod template specs, and the `to run in the experiment as ReplicaSets` part makes it even clearer. Closing but feel free to reopen if you disagree.

[2021-08-03 19:00] #1221 closed

[2021-08-03 19:11] jessesuen commented on #1389
@tsurankov - are you ware we are compatible with `kubectl wait` and you do:

[code]

See: https://github.com/argoproj/argo-rollouts/issues/352

[2021-08-04 09:21] tsurankov commented on #1389
@jessesuen Thank you for sharing the workaround. I will try this
I considered `kubectl-argo-rollouts status` as a replacement for `kubectl rollout status` command. Since rollout has more possibilities I thought it makes sense to enhance its functionality

[2021-08-04 15:15] huikang commented on #1376
Hi, @jessesuen , I can work on this. Please assign it to me. Thanks.

[2021-08-04 22:53] balusarakesh commented on #913
we are also seeing the same issue, please let us know how to fix it?

[2021-08-05 00:59] jessesuen commented on #1283
Slides on the approaches to solving this:

https://docs.google.com/presentation/d/1JnvlE-oKL7HPErwFnBBhH2pfWUf0kSoFRLUDt2Glc6E/edit?usp=sharing

We will be implementing both options 1 and options 2

[2021-08-05 01:25] jessesuen commented on #913
@balusarakesh this is an issue complaining about e2e tests, specifically in github actions. Are you seeing this in your actual production? If so, it means the rollout controller is possibly down.

[2021-08-05 04:16] #1214 closed

[2021-08-05 16:51] balusarakesh commented on #913
looks like our rollouts pod got OOMKilled, we'll fix that and see if issue persists

[2021-08-06 03:36] vishalct commented on #516
We want to leverage traefk for cananry deployment.
I tried following the document to use traefik for traffic management with canary
https://troy.wang/docs/kubernetes/posts/argo-rollouts-support-traefik/
It failed, with below error.
[code]
what code level changes i need to do to make it work? since it's written in Chinese, I am finding it difficult to follow.
@debu99 can u help me here

[2021-08-06 10:15] #1151 closed

[2021-08-06 11:46] tsurankov commented on #538
@hjanuschka Unfortunately, this removes configMapGenerator's hash because the kind is changed

[2021-08-06 20:25] joberdick-rcd commented on #995
@PedroArvela  Thanks. That's only way I could think of.

[2021-08-06 21:10] jessesuen commented on #995
`kubectl argo rollouts promote ROLLOUT --full` is supposed to be the break-glass command to get to the new revision ASAP like Deployments.

[2021-08-09 00:09] Lepird commented on #1258
@mbhatip awesome feature request, was just wondering if you are planning to support routes that are auto-created via ingress objects as described in https://docs.openshift.com/container-platform/4.7/networking/routes/route-configuration.html#nw-ingress-creating-a-route-via-an-ingress_route-configuration ?

I'm asking since we depend on this way of deploying ingresses since it reduces the number of

[2021-08-09 05:19] nf-versent opened #1398 "kubectl argo rollouts create analysisrun segfaults"
I ran the following:

[code]

and got:

[code]

Kubectl version:

[code]

Kubectl argo rollouts version:

[code]

This issue happens for all versions of kubectl argo rollouts higher than 0.9.1.

[2021-08-09 14:17] huikang commented on #1398
Thanks for reporting. This seems caused by a nil pointer of c.DynamicClient. Will submit a PR to fix.

[2021-08-09 18:31] perenesenko commented on #1029
PR: https://github.com/argoproj/argo-rollouts/pull/1382

[2021-08-09 20:54] bpoland commented on #1029
Cross-post in case anyone here has thoughts :) https://github.com/argoproj/argo-rollouts/pull/1382#issuecomment-895536310

[2021-08-09 22:41] AhmadMS1988 opened #1401 "AWS AppMesh support"
Hi
Just wanted to ask if I can achieve progressive deployments on App Mesh with Argo rollouts, and if yes, is there any guide for that?
If it is still not supported, is it possible and safe to use Argo ecosystem with Flagger instead?
Thanks a lot.

[2021-08-10 01:28] mdb opened #1403 "Feature request: Graphite metrics provider support"
# Summary

Thanks for your work on Argo Rollouts! At HBO Max, we're interested in experimenting with Argo Rollouts in support of progressive deployments, though many of our microservices' metrics currently live in [Graphite](https://graphiteapp.org/). It would be great if Argo Rollouts supported a Graphite metrics provider (and we are happy to submit a pull request adding the support).

# Use Case

[2021-08-10 08:50] gyz2009 opened #1405 "Istio Subset- Level traffic splitting cannot be used for Rolling Update"
## Summary
Update process does not Scale down the old RS, Its renewal process is more like blue-green.
It waits for all new ReplicaSet pods  to started and scale down the old ReplicaSet Pods to 0.
[code]

## Diagnostics

What version of Argo Rollouts are you running?
1.0.4

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-08-10 14:11] pparth commented on #1364
So, is there an ETA about this?

[2021-08-10 14:56] huikang commented on #1405
Hi, @gyz2009 , could you paste the rollout status in the middle of an update, e.g., after step 5 (`setWeight: 60`)?

[2021-08-10 15:04] huikang commented on #1405
Never mind; I can reproduce this bug. Will look into this. Thanks.

[2021-08-10 16:42] huikang commented on #1405
@jessesuen , checking the following

https://github.com/argoproj/argo-rollouts/blob/cf19b5b88089adcf4cc0b493de2db232cfb9181c/utils/replicaset/canary.go#L110-L112

which seems cause the oldRs or ohterRS not to be scaled down. Is this the desired behavior for traffic routing?

[2021-08-10 20:50] harikrongali commented on #1405
@huikang  https://github.com/argoproj/argo-rollouts/pull/341/files#r363676969

[2021-08-11 01:12] aajimal opened #1408 "Missing docker image tags corresponding to github tags for argo rollouts controller"
# Summary

There are a number of release tags that have been pushed in github since v0.10.2 (currently v1.0.4 is the latest). However, there are no docker tags on DockerHub which correspond to these releases. There should be a docker image of the controller for all git tags.

# Use Cases

When someone wants to track a specific version release of argo rollouts that specific version of the controlle

[2021-08-11 01:42] huikang commented on #1405
@harikrongali , thanks so much for pointing me to the change. So this is the expected behavior.

@gyz2009 , I think we can close this one per design.

[2021-08-11 06:06] gyz2009 commented on #1405
@huikang Ok, I have some RS Replicas 100+, due to insufficient resources, update will be in pending state.

[2021-08-11 06:13] harikrongali commented on #1405
@gyz2009 https://github.com/argoproj/argo-rollouts/issues/1029 solve what you are seeing and should be available in 1.1 release

[2021-08-11 08:53] gyz2009 opened #1410 "The Istio primary cluster VirtualService cannot be updated during canary deployment"
## Summary

What happened/what you expected to happen?
The Canary deployment has not updated the primary cluster VirtualService, the primary cluster secret has been created according to the document.
![image](https://user-images.githubusercontent.com/30786213/128999910-70a35497-26f5-4209-bb22-ad11e6f0be6e.png)

## Diagnostics

What version of Argo Rollouts are you running?
argo-rollouts:   1.0.4
i

[2021-08-11 20:11] DanTulovsky opened #1411 "Failed Canary Analysis run did not stop rollout"
## Summary

Today we managed to push out a bad binary that failed its analysis run, but the rollout did not stop.

As per the logs below,

[code]

which should have aborted the rollout. In the Web UI we saw a completed rollout, but the Analysis bar was red.  This was an automated rollout and nobody did a promote.

[code]

You can see the failure message, and then later, you see a success message f

[2021-08-11 20:27] alexmt commented on #1411
Thank you @DanTulovsky ,

Can you also add rollout spec to simplify reproducing the issue?

[2021-08-11 20:31] DanTulovsky commented on #1411
[code]

[2021-08-11 20:32] alexmt commented on #1408
Hello @aajimal ,

Argoproj has switched to https://quay.io due to rate limits introduced to Dockerhub. You can find new rollout image tags here:  https://quay.io/repository/argoproj/argo-rollouts?tab=tags

[2021-08-11 20:32] DanTulovsky commented on #1411
Also, there are 6 metrics attached to the AnalysisTemplate all of the form like this:

[code]

[2021-08-12 02:42] huikang commented on #1410
@shakti-das , is this related to your PR?

[2021-08-12 14:51] kostis-codefresh commented on #1310
You **CAN** consolidate the two. Argo Rollouts supports referencing an existing deployment in a rollout. See https://argoproj.github.io/argo-rollouts/migrating/#reference-deployment-from-rollout

This means that you can have a single deployment to be used when you want the recreate strategy and a rollout that points to that deployment when you want to use canaries. There is no duplication of any k

[2021-08-12 18:52] harikrongali opened #1415 "Canary deployment scaledDown stable pods during HPA scale event"
## Summary

When canary deployment is progressing and when HPA scale event happened during the time. Rollout controller scaled down stable pods to zero
[code]

## Diagnostics

1.0.2
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-08-12 22:03] harikrongali opened #1416 "skip canary steps and auto promote incase stable pods are in failed state"
# Summary

In a scenario where stable pods are in the failed state due to config changes or dependency failures. Then canary deployment should have an option to skip steps and deploy a new version.
 or either treat canary deployment as a new deployment and should skip steps.

[code]
# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We

[2021-08-13 00:08] huikang commented on #1416
In this case, what if the canary version still fails. Will the controller abort and rollback to the stable version. There seems a loop between the bad stable version and canary version.

[2021-08-13 09:37] asimhon commented on #1416
This is not what happen today?
In any case for such scenario it requires a user action.
It doesn’t change the fact rollouts should give the option to promote assuming canary is healthy no matter if stable version is bad (think also on analysis - you analyze only canary version and not stable version)

[2021-08-13 10:34] cldmnky opened #1417 "Ambassador mapping in other namespace than where ambassador is running"
## Summary

With a base mapping in a different namespace than ambassador is running in, the service in the canary mapping is created with a service name without a namespace suffix.

The base mapping has a stable service with namespace suffix in order for ambassador to setup lb endpoints in envoy correctly (cross namespace):

[code]

When Argo Rollouts creates the canary mapping, it does not add th

[2021-08-13 19:36] huikang commented on #1416
No, I think in current implementation, if the canary fails and rolls back to the stable, meanwhile some configuration changes, the argo-rollouts controller will leave the stable version in `degraded ` state.

[2021-08-13 20:04] #1398 closed

[2021-08-13 21:13] jessesuen commented on #1416
This is a duplicate request to https://github.com/argoproj/argo-rollouts/issues/1377 so marking it as duplicate there

This is a tricky request, because I don't think it is safe or proper to infer the intention of the user to go straight to canary, when stable ReplicaSet is somehow failed (perhaps only temporarily).

[2021-08-13 21:13] #1416 closed

[2021-08-13 22:09] jessesuen commented on #1410
Support for primary clusters in istio is not available until v1.1

[2021-08-13 23:29] harikrongali commented on #1411
@DanTulovsky with the given config, I am unable to reproduce with the given config. Can you provide me kubectl events that happened during the time frame?

[2021-08-14 12:26] DanTulovsky commented on #1411
I am afraid those are gone already.  I realize this may be difficult to reproduce, but there must be some path in the code where an analysis fails, but the rollout isn't rolled back.  Perhaps that's where it's best to start looking?  I mean, the "rollback release after analysis fails" is core functionality here. :/

On Fri, Aug 13, 2021, at 7:29 PM, harikrongali wrote:

[2021-08-14 18:31] agrawroh commented on #1364
Created a PR for this:
https://github.com/argoproj/argo-rollouts/pull/1420

Would appreciate any feedback/comments.

[2021-08-16 13:37] perenesenko commented on #1029
After discussing on a standup meeting was decided to not implement this feature with a `dynamicStableScale` flag. There are a lot of open questions during scaling up and abort.
Was decided to implement in a way it was described in the [first comment](https://github.com/argoproj/argo-rollouts/issues/1029#issue-827499746) to this issue, using the `setStableScale` configurations. This gives more cont

[2021-08-16 14:14] geowalrus4gh opened #1422 "Support for a hook when rollout fails or aborts"
# Summary

Thanks for the great tool Argo Rollouts Rocks.
Currently, Argo rollouts roll back a version of deployment from new to old when there is an analysis failure or an error. Is it possible to add some hook to run a job when there is such rollback specific to the rollout itself ? . Argo CD hooks and Helm hooks etc are not helpful in this case since those hooks will get applied in any resource

[2021-08-16 14:31] bpoland commented on #1029
Thanks for the update -- makes sense to me.  Appreciate the consideration here, and the transparency!  I think this will definitely address my concerns :)

[2021-08-17 07:34] jessesuen commented on #1029
@perenesenko - i'd like to understand the desire of having `setStableScale` steps vs. a `dynamicStableScale: true` flag. I actually considered the former more confusing and why I favored the idea of having a true/false switch.

[2021-08-17 07:40] #1408 closed

[2021-08-17 07:50] jessesuen commented on #1422
Yes, you will be able to configure a hook via the notification feature coming in v1.1 using the web notification.

[2021-08-17 07:55] jessesuen commented on #1405
Duplicate of https://github.com/argoproj/argo-rollouts/issues/1029

[2021-08-17 07:55] #1405 closed

[2021-08-17 07:57] jessesuen commented on #1411
[code]

This log/error sequence is definitely suspicious. If the metric was assessed failed, we have no reason to take further measurements and the entire Run should be deemed Failed. Will have to figure out what went wrong through code inspection.

[2021-08-17 08:18] #1360 closed

[2021-08-17 08:26] juris opened #1425 "Ingress class missing for canary ingress"
## Summary

What happened/what you expected to happen?
There are multiple classes for ingress-nginx, one of them is nginx-ext. The original ingress has it, however, canary ingress does not have the same class as original ingress. 443 port is missing as well:
[code]
Here is the strategy section
[code]

## Diagnostics

What version of Argo Rollouts are you running?
1.0.4

# Paste the logs from the r

[2021-08-17 13:45] bpoland commented on #1029
@jessesuen I assume it was related to the discussion starting here: https://github.com/argoproj/argo-rollouts/pull/1382#issuecomment-895536310

[2021-08-17 18:31] #1234 closed

[2021-08-17 18:46] jessesuen commented on #1029
I saw that, but I don't think changing the feature to use canary step syntax would alleviate any confusion.

The discussion in https://github.com/argoproj/argo-rollouts/pull/1382#issuecomment-895536310 revealed a flaw in the original approach. The original approach decided the scale of the stable based on the inverse of the canary scale. So in the following example: ​

[code]

[2021-08-17 20:10] bpoland commented on #1029
Yep that's essentially what I was thinking too.  That would certainly make for a cleaner set of canary steps, although it's slightly less configurable.

The only thing I'd add is to make sure that `maxUnavailable` is respected throughout the rollout.  In an extreme example, going from `setWeight: 0` straight to `setWeight: 99` should wait for the canary pods to start and be accepting traffic befor

[2021-08-18 00:27] jessesuen commented on #1425
This is a valid bug. I looked at rollout's nginx traffic router implementation and when it creates the canary ingress, it doesn't carry over the spec.ingressClassName. This should be fixed

[2021-08-18 00:38] jessesuen commented on #1401
Argo Rollouts does not currently have App Mesh support, but it's definitely something we'd like to support. Introducing support for new mesh/ingress controllers has been fairly straight forward, if you understand how to develop using the K8s golang client and API's. In fact, most of our ingress/mesh support has been contributed by our community.

Yes, it is perfectly safe to use Argo CD with Flagg

[2021-08-18 11:19] perenesenko commented on #1029
Hi @jessesuen ,

Sorry for the long text I put here. Anyway, we can have a meeting to discuss that by video chat. We have a meeting with Alex about this today at 8 AM you can join or we can have another one.
Here are my thoughts about the implementation options.

### dynamicStableScale

With the `dynamicStableScale` flag we will have a couple of complicated places in our implementation.
1. e.g. Wh

[2021-08-18 18:51] jessesuen commented on #1029
I don't agree the argument that using a `setStableScale` step is easier to understand than having a dynamicStableScale flag. In fact I think it is harder to understand because you have to take into consideration what step you are on to understand how the stable will be scaled. A single `dynamicStableScale` flag is easy to explain -- stable will be always scaled to the inverse of traffic weight.

S

[2021-08-19 03:35] jessesuen commented on #1029
I met with @alexmt earlier today to discuss. I think there was a misunderstanding that the traffic weight shift needs to be gradual when there is a weight change. Given the following steps:

[code]

it is not required to gradually increase from 0 to 100 based on available canary pods. In fact that is the **_wrong_** behavior because it prevents the ability to perform blue-green using the canary st

[2021-08-19 11:40] jessesuen commented on #1029
Here is a working PoC:

https://github.com/argoproj/argo-rollouts/pull/1430

[2021-08-19 11:50] shrey-183 opened #1431 "Bluegreen Rollout stuck in status: Progressing with message: more replicas need to be updated"
## Summary

What happened/what you expected to happen?

I am testing out an example of blue-green rollout from the docs. Here is the manifest:
https://github.com/argoproj/argo-rollouts/blob/master/examples/rollout-bluegreen.yaml

I expect to replicas being created, however nothing seems to be working here.

## Diagnostics

What version of Argo Rollouts are you running?

kubectl-argo-rollouts: v1.0

[2021-08-19 18:49] harikrongali commented on #1431
@shrey-183 you need to run argo rollouts  on your minikube/k3d if it is local or in your cluster. Please follow the steps in https://argoproj.github.io/argo-rollouts/installation/

[2021-08-19 19:56] lucaskenda opened #1434 "Dashboard - Field overflow"
## Summary

If the image name is too long i get an overflow:

![image](https://user-images.githubusercontent.com/4048688/130133602-96afa1af-16ba-42a1-b7c7-696bdfa51933.png)

## Diagnostics

I'm using kubectl-argos-rollout latest version (v1.1.0).
The problem is here, the class has a fixed width of 400px, It could be changed for min-width to avoid this bug.

[code]

---

**Message from the maintain

[2021-08-19 20:33] rbreeze commented on #1434
This was fixed in Argo UI in this commit: https://github.com/argoproj/argo-ui/commit/1743b4246c414ff397aca37f48ee7776a73f2f21

I'll open a PR to bump the Argo UI version in the Rollouts Dashboard

[2021-08-19 21:41] bpoland commented on #1029
Does this mean it will wait for the newly-scaled pods to be available before shifting traffic (is that the difference between `setWeight` and `actualWeight`)?  That was my main concern with my `maxUnavailable` comment earlier.

[2021-08-19 23:33] jessesuen commented on #1029
Correct. Consider the following Rollout and steps:

[code]

The sequence of events would be:

0. At beginning of update (steady state) we are at:
`stable: 4, canary: 0, desiredWeight: 0, actualWeight: 0`
1. When processing the first step, we scale to:
`stable: 4, canary 3, desiredWeight: 75, actualWeight: 0`
2. As soon as canary reaches availability 3, we update traffic object (e.g. VirtualService

[2021-08-19 23:49] bpoland commented on #1029
Perfect. This will be a great feature to have!

[2021-08-20 00:29] jessesuen commented on #1029
For posterity, I'd like to document the abort behavior. Given the same rollout previously:

[code]

Given the scenario when we aborted the Rollout when it was at the pause step. The sequence of events would be:

0. Before the abort, at the pause step, we started at:
`stable: 1, canary: 3, desiredWeight: 75, actualWeight: 75`
1. Upon abort, we immediately scale up stable to 100%. The desired weight

[2021-08-20 07:14] shrey-183 commented on #1431
@harikrongali thanks for your reply, I am currently running argo-rollouts on openshift 4 cluster. I have tried following the installation steps, however when I run the command `kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml`, nothing happens, the terminal just freezes for me. Don't really know why this is happening though?

[2021-08-20 14:10] sqerison commented on #913
Hey guys, I got this issue when removed replicas from Rollout and wanted HPA to manage it. If I set replicas in rollout, e.g., 4 and HPA min 2, then Rollout controls recreated pods according to his replicas and ignore HPA. As a result, I got circular recreation.
Anyone faced and solved this issue?

[2021-08-20 19:37] #1434 closed

[2021-08-20 19:41] jessesuen commented on #1431
The following error indicates that rollouts is not even installed in your cluster:

[code]

Seems like you have something more fundamentally wrong in your environment if you can't kubectl apply manifests without the command hanging. That would not be a rollout issue. Can you apply anything? Does this work?

[code]

[2021-08-21 09:09] shrey-183 commented on #1431
I tried to run the above command and I get,
[code]
And here is what I get after running `kubectl get all`
[code]

Not sure why the pod go into a crashloopbackoff state. Is this supposed to happen?

[2021-08-23 01:42] mark-church opened #1438 "Gateway API support for Argo rollouts"
[Gateway API](https://gateway-api.sigs.k8s.io/) is a standard out of SIG-Network that evolves the ingress interface with more advanced capabilities such as weight-based load balancing. There are already many [Gateway API implementations](https://gateway-api.sigs.k8s.io/implementations/) that exist including Kong, Traefik, Istio, GKE, and more. This tutorial shows how [traffic splitting](https://ga

[2021-08-23 18:12] huikang commented on #1431
The CrashLoopBackOff is due to the failure of the nginx pod, which is beyond control of the argo-rollouts controller.
Does you template work with `kind: deployment`?

[2021-08-23 18:22] jessesuen commented on #1431
It doesn't. I asked to run the basic Kubernetes nginx deployment in the tutorial, which fails with:

[code]

This is definitely an environmental issue since a basic nginx Deployment is unable to run, and the Rollout controller does not appear to be running.

[2021-08-23 18:22] #1431 closed

[2021-08-23 18:26] jessesuen commented on #1438
As with our support for SMI, this makes perfect sense to me, and would help to alleviate the many direct integration requests that we often get.

[2021-08-23 18:36] shrey-183 commented on #1431
I re-installed the controller and now everything works. Thanks for your comments!

[2021-08-23 20:01] #1295 closed

[2021-08-23 20:01] #1376 closed

[2021-08-23 20:12] #1415 closed

[2021-08-24 20:46] jessesuen opened #1444 "DataDog nil pointer dereference"
## Summary

User reported the following panic in logs:

[code]

## Diagnostics

What version of Argo Rollouts are you running? unsure

Here was affected code. It is likely caused by misconfiguration, but we should handle it.

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-08-24 20:48] jessesuen commented on #1444
We should not be ignoring this error to URL parse:

[code]

[2021-08-25 03:19] huikang commented on #926
@zcc35357949 , does setting the `unsuccessfulRunHistoryLimit` to a smaller number help resolve this issue?

[2021-08-25 03:21] huikang commented on #1231
Closing as the PR #1265 is merged

[2021-08-25 03:21] #1231 closed

[2021-08-25 13:02] gartemiev opened #1447 "Add support of centralized dashboard which will have access to all namespaces"
Currenly argo-rollouts supports dashboard per namespace only.
This is not convenient since We have applications in different namespaces.
Is it possible to add a feature that will enable dashboard support for multiple namespaces from one single namespace like for example Grafana dashboards in Prometheus operator which have access to all namespaces in EKS cluster?

[2021-08-26 12:09] artem-nefedov opened #1451 "Unreleased images?"
Our automated dependency update bot detected that docker images with tags v1.0.5 and v1.0.6 now exists on quay repo. However, there are no such releases on github, and files https://github.com/argoproj/argo-rollouts/releases/download/v1.0.5/install.yaml and https://github.com/argoproj/argo-rollouts/releases/download/v1.0.6/install.yaml do not exist. Is this intentional? I'm asking to decide if we

[2021-08-26 20:08] #1451 closed, assigned to nobody

[2021-08-26 21:11] jessesuen opened #1453 "Ping-Pong service management in canary updates"
# Summary

Spawning this from https://github.com/argoproj/argo-rollouts/issues/1283.

AWS Load Balancer Controller (and possibly others), suffer from an issue where modifying selectors of Services behind an AWS Ingress is problematic, because changing Service selectors prevents readiness gates to be injected properly. This highly dependent on the ingress controller implementation, but with AWS Loa

[2021-08-28 13:48] sigi4 opened #1456 "argo-rollouts uses :latest image tag for tagged versions"
## Summary
I'm using kustomize to reference a specific argo-rollouts version like v1.0.2 and discovered that due to some image cache issue, that my argo-rollout broke.

I'm not sure but this looks wrong: https://github.com/argoproj/argo-rollouts/blob/v1.0.6/manifests/base/kustomization.yaml

It would be great to pin the docker image when referencing argo-rollouts through kustomize. When the :lates

[2021-08-28 22:23] batthebee opened #1457 "Daemonset support"
# Summary

Support of canary updates etc. for daemonset's

# Use Cases

For tools like kubeedge it makes sense to address workloads per daemon sets. For this it would be great to be able to use argo rollouts to roll out the workload.
For example, a canary update should first address a few nodes and roll out the rest after success.

---
**Message from the maintainers**:

Impacted by this bug? Give

[2021-08-30 20:23] alexmt commented on #1456
Project switched to another way of delivering installation manifests. Now each rollout release have install.yaml attached. E.g. https://github.com/argoproj/argo-rollouts/releases/download/v1.0.6/install.yaml

[2021-08-31 00:35] mumoshu commented on #1457
I'm interested in this feature, too 👍

Would this be in line with the direction maintainers want to go?
If so, I'm eager to contribute anything I can.

FWIW, I have seen this happened in a similar(my impression) project called Flagger. It resulted in a huge refactor, extracting the `Controller` interface to abstract away Deployment, DaemonSet, and Service.

Controller interface: https://github.com

[2021-08-31 18:35] bpoland commented on #430
An app that does cache warming or other resource intensive tasks at startup might cause a thundering herd to hit caches/databases if a bunch of pods start at once.  Even if going from 0% of traffic to 100% (e.g. using promote-full), it would be nice to allow incrementally starting pods instead of all at once.  It's not exactly the same as `maxSurge/maxUnavailable` but seems related.

[2021-08-31 18:39] bpoland commented on #1029
I've been thinking a bit more about our earlier discussion and commented on another ticket: https://github.com/argoproj/argo-rollouts/issues/430#issuecomment-909497665

I wonder if in the context of this change, whether there could be an option to respect the maxSurge/maxUnavailable across both the stable and canary replicasets which would help prevent a thundering herd of pods.  So during the ini

[2021-09-01 01:25] jessesuen commented on #1457
@mumoshu I do think the community would be very interested in this. And hats off to you for this ambitious effort! Support for DaemonSets would be great to have, though a lot of things in the rollout spec will be not applicable so we should do what we can to eliminate confusion.

You are right that the codebase is heavily geared towards Deployments/ReplicaSets because, well, we actually started of

[2021-09-01 04:29] jessesuen commented on #1029
This won't help during a promote-full scenario or during an initial deploy, but during subsequent updates, it's possible to gradually bring up the canary before the 100% traffic shift. Example:

[code]

I understand the request. But it would need to come in as a separate enhancement since current PR for this feature is not aimed to address that problem, and we are no worse than the current situati

[2021-09-01 13:00] bpoland commented on #1029
Fair enough, that makes sense. Appreciate the detailed response!

[2021-09-01 21:54] mumoshu commented on #1457
Ahh that makes sense!

I was thinking of using some node selector similar to Flagger has used in https://github.com/fluxcd/flagger/pull/455/files#diff-5b82d873db5e83d2c5e55ac78a8db04acb28005e570741c6924edc78669ad6a2R19

For example, you label the source daemonset that is referenced from workfloadRed with `rollouts.argoproj.io/scale-to-0": "true"`. There will be no nodes labeled with "scale-to-0" s

[2021-09-02 00:49] khhirani opened #1463 "Dashboard - no weight for Experiment step, unable to promote"
## Summary

The Argo Rollouts Dashboard doesn't show the necessary information for the experiment step in canary strategy, like `weight`. It would also be nice to see whether the experiment references the `stable` or `canary` stack.

It's also not possible to promote the rollout during an experiment step.

<img width="1440" alt="Screen Shot 2021-09-01 at 5 41 55 PM" src="https://user-images.github

[2021-09-02 04:20] jessesuen commented on #1456
Correct. The argoproj projects should switch to install manifests as release artifacts. Events looks like the only one left to do and I filed an issue for it. https://github.com/argoproj/argo-events/issues/1326

[2021-09-02 04:20] #1456 closed

[2021-09-02 10:41] jessesuen commented on #1457
Thank you for the detailed answers. Things are much clearer now. I now understand how it's possible to limit DeamonSets by labeling nodes.

I think we both agree that it would be unreasonable to ask the user to manage nodes of labels, especially with thing like cluster autoscaler where users will not have an opportunity to do this. Plus I imagine would be very error prone. So I do believe our only

[2021-09-02 13:41] DanTulovsky commented on #1411
Hi, is there any update on this?  thank you!

[2021-09-02 15:33] shahafy-ma opened #1466 "Analysis with Prometheus - reflect: slice index out of range"
## Summary

I am using AnalysisTemplate with Prometheus query, whenever the result is empty I am getting `"reflect: slice index out of range"` and the AnalysisRun is failing with RolloutAborted. I would expect to have the ability to deal with this result

## Diagnostics

What version of Argo Rollouts are you running?
`v1.0.0`

---

**Message from the maintainers**:

Impacted by this bug? Give it a

[2021-09-02 17:28] jessesuen commented on #1466
Yes this would be a bug

[2021-09-02 20:22] huikang commented on #1466
Hey, @jessesuen , I can pic this up if no one is on it. Thanks.

[2021-09-02 20:23] alexmt commented on #1466
@jessesuen , @huikang just want to clairify. Is rollout should not be aborted in this case or we need to improve error message?

[2021-09-02 20:33] huikang commented on #1466
@alexmt , shall we consider missing data as failed analysis run?

[2021-09-03 12:33] zdmytriv commented on #1305
+1 come on guys, release it finally

[2021-09-03 13:21] mumoshu commented on #1457
@jessesuen Thanks for your confirmation!

I fully agree with you.

Good point!

Makes sense. Then I'll begin with the workloadRef approach for the DaemonSet support after I managed to finish my refactoring on rolloutContext 👍

[2021-09-03 13:38] mumoshu commented on #1457
@jessesuen Would you mind if I submitted a huge pull request to refactor it to extract out the `Deployer` interface to abstract away most of replicaset-related code?

Here's the whole diff of my branch:

https://github.com/mumoshu/argo-rollouts/compare/c72a354...refactor-replicaset-deployer#diff-56586f9fc6c7b867749ad84717fa96e8486f9f96ac1f59a4a747f2083d648f24R41-R55

And here's the state of the De

[2021-09-03 18:47] rbreeze opened #1468 "UI: Upgrade to Yarn 2"
See https://github.com/argoproj/argo-cd/issues/5279

[2021-09-03 19:04] #1210 closed

[2021-09-03 21:14] byangtri opened #1470 "ProgressDeadlineExceeded: ReplicaSet "foo" has timed out progressing"
## Summary

What happened/what you expected to happen?
Deployed an application with canary rollout and after all pods and resources became healthy, the Rollout would become Degraded. Giving error `ProgressDeadlineExceeded: ReplicaSet "rollout-65985786b7" has timed out progressing.`
![image](https://user-images.githubusercontent.com/77506625/132065366-08dffb2e-5d80-44a9-8072-4212b86c2829.png)

## D

[2021-09-04 04:45] huikang commented on #1470
Hi, @byangtri , there is few information from the log you attached. Could you paste the output of `kubectl argo rollouts get rollout <rollout-name> --watch`? Thanks.

[2021-09-05 04:03] huikang opened #1473 "command create analysisrun fails to create analysisrun"
## Summary

What happened/what you expected to happen?

[code]

1. Analysisrun can't be create due to the existing resourceVersion field

[code]

2. Spec.args are not resolved correctly even argument is provided in the command.

[code]

## Diagnostics

What version of Argo Rollouts are you running?

master

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prior

[2021-09-05 06:40] shahafy-ma commented on #1466
IMHO, we should
1. Improve the log
2. Having the ability to mark the rollout as fail/success, similar to the isNaN() function.

What do you think?

[2021-09-05 09:08] fblgit commented on #514
https://github.com/argoproj/argo-rollouts/pull/1472
should fix this.

[2021-09-05 09:10] fblgit commented on #514
@dthomson25  can you link this issue with the PR ?

[2021-09-06 04:12] 13567436138 opened #1474 "kubectl explain argo-rollouts crd shows nothing"
# Summary

What change needs making?
kubectl explain argo-rollouts crd shows nothing
# Use Cases
kubectl explain
When would you use this?
dive into argo-rollout
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-09-06 11:39] kostis-codefresh commented on #1474
Can you clarify what command you use and what is the exact output please?

[code]

[2021-09-06 22:07] 13567436138 commented on #1474
···
[root@node01 ~]# kubectl explain rollout
KIND:     Rollout
VERSION:  argoproj.io/v1alpha1

DESCRIPTION:
     <empty>
[root@node01 ~]#
···

[root@node01 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Pla

[2021-09-07 04:25] huikang commented on #1466
@shahafy-ma , agreed with your first point: we need to update the message in the analysisrun status, which shows `reflect: slice index out of range` currently.

[code]

Regarding your second point, the current implementation marks the the update as failed and will rollout back to the stable version. Anything wrong with this behavior?

[2021-09-07 15:49] huikang commented on #1466
Hi, @jessesuen @alexmt , after some investigation, I found that the root cause is that the expr failed to resolve `result[0]` when the `resultValue ` is an empty array.

https://github.com/argoproj/argo-rollouts/blob/ba9af78cff78486f9a5fe775b78354c745b2d6d3/utils/evaluate/evaluate.go#L83

I couldn't find any error handler method from `github.com/antonmedv/expr`. Other than adding some logic to par

[2021-09-07 16:42] byangtri commented on #1470
`kubectl argo rollouts get rollout mgr-poller-rollout --watch

Name:            mgr-poller-rollout
Namespace:       qtest
Status:          ✖ Degraded
Message:         ProgressDeadlineExceeded: ReplicaSet "mgr-poller-rollout-65985786b7" has timed out progressing.
Strategy:        Canary
  Step:          0/3
  SetWeight:     20
  ActualWeight:  0
Images:          242129367204.dkr.ecr.us-east-1.amazo

[2021-09-07 17:17] huikang commented on #1470
@byangtri , could you provide the rollout manifest to help reproduce the error? Thanks.

[2021-09-07 17:22] byangtri commented on #1470
@huikang

`
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  labels:
    app: qtest-mgr-poller
    argocd.argoproj.io/instance: qtest-mgr-prod-ap-southeast-2
    chart: qtest-chart-0.4.3
    heritage: Helm
    release: qtest-mgr-prod-ap-southeast-2
  name: mgr-poller-rollout
  namespace: qtest
spec:
  minReadySeconds: 30
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels

[2021-09-07 17:29] jessesuen commented on #1466
Can this be worked around by checking `result == null || result[0] > 1234` ? If so, perhaps this is not a bug and we should document this.

[2021-09-07 17:46] huikang commented on #1470
Hi, @byangtri , thanks for sharing the yaml file. I adjusted the content a bit to remove some environmental dependencies and got the following

[code]

The results look correct using the latest master

[code]

Could you try this one in your cluster?

[2021-09-07 18:20] byangtri commented on #1470
The environment variables and service accounts  are required for our applications to run. The other rollouts in same namespace are very similar if not exactly the same as the degraded rollout. Not sure why this rollout is degraded as our other clusters are running same helm chart with no issues.

[2021-09-07 20:43] huikang commented on #1466
Hi, @jessesuen , setting `result == null || result[0] > 1234 ` in the analysis template results in the following error

[code]

[2021-09-07 20:45] huikang commented on #1470
The environment variables and service accounts should not affect the rollout status if the replicaset can be created successfully.

Given no other rollouts have such issue, have you tried deleting the `mgr-poller-rollout` rollout and recreate?

[2021-09-08 10:24] kostis-codefresh commented on #1474
What Argo Rollouts version do you have? How did you install it on the cluster?

Does this happen to other clusters as well?

[2021-09-08 10:32] kostis-codefresh commented on #922
There seems to be an upcoming gateway API that can function the same way as SMI but for gateways/ingresses https://github.com/argoproj/argo-rollouts/issues/1438

[2021-09-08 10:55] kostis-codefresh commented on #523
It seems that contour will have an implementation for the Kubernetes Gateway API https://gateway-api.sigs.k8s.io/implementations/#contour

So Contour support might be available after implementing https://github.com/argoproj/argo-rollouts/issues/1438

[2021-09-08 10:55] kostis-codefresh commented on #516
It seems that Traefik will have an implementation for the Kubernetes Gateway API https://gateway-api.sigs.k8s.io/implementations/#traefik

So Traefik support might be available after implementing https://github.com/argoproj/argo-rollouts/issues/1438

[2021-09-08 10:56] kostis-codefresh commented on #782
It seems that Kong will have an implementation for the Kubernetes Gateway API https://gateway-api.sigs.k8s.io/implementations/#kong

So Kong support might be available after implementing #1438

[2021-09-08 10:57] kostis-codefresh commented on #1106
It seems that HAProxy will have an implementation for the Kubernetes Gateway API https://gateway-api.sigs.k8s.io/implementations/#haproxy-ingress

So HAProxy support might be available after implementing #1438

[2021-09-08 10:58] kostis-codefresh commented on #620
It seems that Gloo will have an implementation for the Kubernetes Gateway API https://gateway-api.sigs.k8s.io/implementations/#gloo-edge

So Gloo support might be available after implementing #1438

[2021-09-08 10:59] 13567436138 commented on #1474
kubectl create namespace argo-rollouts
kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/releases/download/v1.0.6/install.yaml

I only tested in one cluster yet.

argo-rollout 1.0.6

[2021-09-08 13:13] kostis-codefresh commented on #1474
What kind of cluster is this? Can you try on a brand new cluster?

I just tried with kind and I get the following:

[code]

[2021-09-08 13:42] rhishikeshj opened #1480 "Canary releases with ALB ingress not getting traffic"
## Summary

What happened
Canary service isn't getting any traffic even when weight is 20%.
Also, I see only 1 rule in the ALB listeners which is at 100%

What you expected to happen?
Canary service should get traffic 20% of the times.
ALB listener should have 2 rules, one for stable and one for canary service as documented here : https://argoproj.github.io/argo-rollouts/getting-started/alb/#2-per

[2021-09-08 15:42] todaywasawesome commented on #1200
May attempt to implement in Codefresh to see if it works better.

[2021-09-08 17:12] #1100 closed

[2021-09-08 18:42] jessesuen commented on #1466
Sorry the correct literal is `nil` not `null`? Does `result == nil || result[0] > 1234` work?

[2021-09-08 19:12] huikang commented on #1466
No, same error. It looks the expr package can't interpret `result == nil`

[code]

[2021-09-08 19:16] huikang commented on #1466
Hi, @jessesuen , this one works
`len(result) == 0 || result[0] > 1234`. I will send a PR to update the doc. Thanks for your suggestions.

[2021-09-08 20:12] harikrongali commented on #1480
@khhirani can you triage?

[2021-09-09 00:18] 13567436138 commented on #1474
···
[root@node01 ~]# kubectl explain rollout.spec.strategy.canary
KIND:     Rollout
VERSION:  argoproj.io/v1alpha1

RESOURCE: canary <Object>

DESCRIPTION:
     <empty>

FIELDS:
   analysis     <Object>

   antiAffinity <Object>

   canaryMetadata       <Object>

   canaryService        <string>

   maxSurge     <>

   maxUnavailable       <>

   scaleDownDelayRevisionLimit  <integer>

   scaleDow

[2021-09-09 04:45] harikrongali commented on #1480
@rhishikeshj  can you post the output of following command
[code]

[2021-09-09 06:50] kostis-codefresh commented on #1474
I get this

[code]

[2021-09-09 10:25] rhishikeshj commented on #1480
Output from the command

_ignore the timestamps for now. I had started this rollout yesterday_

[code]

[2021-09-09 12:10] artem-tomyuk commented on #1305
+1

[2021-09-09 12:49] 13567436138 commented on #1474
got

[2021-09-09 12:49] #1474 closed

[2021-09-09 15:57] #1466 closed

[2021-09-09 17:11] xavipanda commented on #1457
IMHO.. gigantic refactor with a big risk of introducing behaviours that eventually may affect the project. But with enough tests  and a fleet big enough where both Deployments and DaemonSets rollouts creates a solid and documented analysis.. it can be a good feature and a scenario for extending rollouts into other types.

But i actually have some questions and how the rollout approach would be wit

[2021-09-10 00:02] mumoshu commented on #1457
I hear you. But if you read diff on my branch, you'd probably notice that all the units tests are passing and I'm mostly moving functions from one place to another and renaming functions. There's no logic change.

In terms of "risk" that eventually affect the project, I'd rather say it's in the current state of code.

Currently, `pkg/rollout` is a big monolith. Inside it, the controller, syncer, b

[2021-09-10 00:17] mumoshu commented on #1457
Oh, note that I imagine there will be two flavours of STS support :)

One flavour would deploy two or more statefulsets and do blue-green or canary releases across those.

Another flavour would somehow modify a single statefulset to gradually replace canary pods with stable pods. You shall be required to reimplmenet the K8s statefulset controller inside Rollouts, or hack with an admission webhook

[2021-09-10 08:46] #1473 closed

[2021-09-10 19:43] leoluz commented on #1480
@rhishikeshj As your ALB listener has only one rule, can you inspect the value in the `alb.ingress.kubernetes.io/actions.root-service` annotation in your Ingress resource?
The Rollouts controller should update that annotation to something like:
[code]
This annotation will then be consumed by the ALB controller to correctly set the listener in AWS. We just need to understand which part is not doing

[2021-09-11 06:38] 13567436138 opened #1486 "add kubectl explain description"
# Summary
add kubectl explain description
What change needs making?

# Use Cases
kubectl explain
When would you use this?
I donot understand the fields of kubectl explain
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-09-11 08:19] 13567436138 opened #1487 "promote error"
## Summary

What happened/what you expected to happen?
[root@node01 ~]# kubectl argo rollouts promote reviews-v1 -n istio
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x17bfbfd]

goroutine 1 [running]:
github.com/argoproj/argo-rollouts/pkg/kubectl-argo-rollouts/cmd/promote.getPatches(0xc000b79200, 0x2000000, 0x

[2021-09-12 00:50] harikrongali commented on #1487
assigning to @leoluz

[2021-09-12 08:34] shahafy-ma commented on #1466
Amazing job guys.
Your doing is very appreciated.

[2021-09-13 11:21] rhishikeshj commented on #1480
Hi @leoluz
Here's the information that you want

[code]

It seems the annotations are being set correctly, but I still don't see the second rule being added to the ALB listener.

![ingress_alb_listener_rules](https://user-images.githubusercontent.com/719190/133074973-3cc8f13e-186b-4d69-a2ea-cbe60c8b27ba.png)

[2021-09-13 15:26] leoluz commented on #1480
If the annotation is correctly updated in your `Ingress` resource it means that Argo-Rollouts is doing what it is suppose to do. From this point is the responsibility of AWS Load Balancer Controller to update the ALB state in AWS. Check the ALB Controller logs to see if you find any hint of what might be the actual problem.

[2021-09-13 16:50] leoluz commented on #1487
@13567436138 Can you please confirm a few things?

 Which argo-rollouts version are you running? You answered 1.30 but it might be a mistake as the current stable version is 1.0.6

Can you please share your Rollouts yaml (removing sensitive information) so we can verify how it is configured to run?

[2021-09-13 18:14] #619 closed

[2021-09-13 18:52] alexmt opened #1506 "Visualize Analysis Measurements in Rollouts Dashboard"
# Summary

Dashboard visualizes analysis runs but there is no way to see measurements details.

![image](https://user-images.githubusercontent.com/426437/133140128-7ac72c05-0f62-4749-8f4a-5993008d4d57.png)

# Use Cases

Dashboard should get measurements visualization so that user can understand why analysis failed/succeded.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍

[2021-09-13 18:56] alexmt commented on #1422
Adding to v1.2 to document how to configure it.

[2021-09-13 19:37] alexmt opened #1507 "Support switching between extensions/v1beta1 and networking.k8s.io/v1 Ingress"
# Summary

Rollout uses `extensions/v1beta1` `Ingress` that is now longer available in v1.22. However the replacement `networking.k8s.io/v1` is available only since v1.19 .

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122

It is too early to drop support for <v1.19 clusters so we need to support both.

# Details

Introduce controller CLI flag `--extensions-ingress` (

[2021-09-13 20:06] aweis89 commented on #132
For a scale-to-zero functionality that is compatible with Argo Rollouts, have a look at [KEDA](https://keda.sh/blog/2020-11-04-keda-2.0-release).

IMO Knative shot themselves in the foot a bit by using a single resource to manage both rollouts (canary, blue-green etc.) and scaling in a single resource. As Jesse mentioned, that makes it rather difficult to integrate with other rollout tools such as

[2021-09-13 20:19] leoluz commented on #1417
I am a bit confused by the title of this issue. There is no requirement to have the base mapping created in the same namespace where Ambassador is running in order to have the Rollouts integration to work. The only requirement is that the base mapping needs to be created in the same namespace as the Rollout resource.

Is your Ambassador Mapping created in a different namespace than your Rollout?

[2021-09-13 22:24] byangtri commented on #1470
Deleting and recreating did not work, but it seems to have resolved itself after running a full rollout

[2021-09-13 22:24] #1470 closed

[2021-09-13 23:10] 13567436138 commented on #1487
[root@node01 ~]# kubectl argo rollouts version
kubectl-argo-rollouts: v1.0.6+5b332f6
  BuildDate: 2021-08-26T06:28:26Z
  GitCommit: 5b332f6bb76f6399bbc26067caa9a28c59f2bade
  GitTreeState: clean
  GoVersion: go1.16.3
  Compiler: gc
  Platform: linux/amd64
[root@node01 ~]#

[2021-09-13 23:10] 13567436138 commented on #1487
I forget which yaml I used

[2021-09-13 23:12] 13567436138 commented on #1487
and I can not reproduce it

[2021-09-14 01:55] huikang commented on #1391
Hi, @tsurankov , the [PR](https://github.com/argoproj/argo-rollouts/pull/1433) should resolve this bug; here is some sample output: https://github.com/argoproj/argo-rollouts/pull/1433#issuecomment-918724760

[2021-09-14 11:46] gartemiev commented on #1447
@jessesuen, could you please provide with any update on this and when it will be implemented?

[2021-09-14 14:57] bpoland commented on #1447
My previous comment was incorrect, it's working fine in master images.  It should be in 1.1 whenever that gets released.

[2021-09-14 15:02] gartemiev commented on #1447
@bpoland , when 1.1 be released?

[2021-09-14 15:09] bpoland commented on #1447
Good question, I'd like to know as well :)

[2021-09-14 22:17] gaganapplatix commented on #1453
Found another window where rollouts Pods never become ready, when dealing with readiness gate:
1) Desired and Stable both point to current replicaset
2) New Pod scales up, gets both TargetGroup readiness gates set on it (2 readiness gates)
3) Before containers become Ready,  new replicaset is rolled out and desired service points to new hash for new replicaset
4) At this point the Pod will never b

[2021-09-15 08:29] #1014 closed

[2021-09-15 08:34] jessesuen commented on #1507
For consistency with our other resource kinds where we need to switch API versions (e.g. `--istio-api-version`, `--ambassador-api-version`), we should probably name this flag:

[code]

[2021-09-15 10:28] yashmehrotra opened #1511 "Add age to `AnalysisRun` printer columns"
# Summary

Add an `AGE` parameter to `AnalysisRun` printer columns for ease of viewing

# Use Cases

When debugging why a canary rolled back, doing a `kubectl get` of AnalysisRun returns just the name and status. While the name being composed of the replicaset makes things easier, I found that adding the Age parameter helps tremendously.

The only change we need to make is to add this to the `addi

[2021-09-15 17:00] jddcarreira opened #1512 "Export rollout.Status.CurrentPodHash in rollout_info metric"
# Summary

Currently by using metric `rollout_info` we have no way to check which version of the rollout caused a specific event.
The metric `rollout_info` exposes information about the rollout namespace and name, but we don't have any dimension which refers to the version of the rollout/fleet where a specific state happened.
To export this dimension as part of `rollout_info`, we could expose the

[2021-09-15 17:10] #1487 closed

[2021-09-15 17:12] harikrongali opened #1513 "Traffic Routing ability with Experiment steps Support for Istio"
# Summary

https://github.com/argoproj/argo-rollouts/issues/1059 provided the framework to add support for SMI & ALB. Extending on the support this ticket will add support Istio

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-09-15 17:13] harikrongali opened #1514 "Traffic Routing ability with Experiment steps Support for ambassador"
# Summary

#1059 provided the framework to add support for SMI & ALB. Extending on the support this ticket will add support ambassador

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-09-15 17:15] harikrongali commented on #1059
Split the ticket into 2 to extend support for other traffic management controllers

[2021-09-15 17:15] #1059 closed

[2021-09-15 17:18] harikrongali commented on #1425
@juris as we didnt find a way to validate for port and addressed the annotation. Will close the issue. Please reopen or create new issue if you see any issue

[2021-09-15 17:18] #1425 closed

[2021-09-15 17:44] huikang commented on #1390
@tsurankov , could you try this PR https://github.com/argoproj/argo-rollouts/pull/1433; it might resolve this issue? Also I think the reason you see 3-4 status updates is due to duplicated events being filtered. Thanks.

[2021-09-15 19:39] alexmt opened #1516 "Flaky e2e tests"
## Summary

We've accumulated several flaky e2e tests that fail CI frequently. Creating a ticket to address it. The list below contains known flaky tests, more tests will be added during

* TestAnalysisSuite/TestCanaryInlineMultipleAnalysis
* TestAnalysisSuite/TestBackgroundAnalysisWithArgs

[2021-09-15 23:29] rohitdumbre86 commented on #1506
@alexmt I would like to tackle this issue.

[2021-09-15 23:58] alexmt commented on #1506
Thank you @rohitdumbre86 !

Since it is a UI task I would suggest creating a mockup and discuss it in issue before implementing. @rbreeze might have a suggestion about how the visualization should look like

[2021-09-16 08:46] kostis-codefresh commented on #1516
Already reported as https://github.com/argoproj/argo-rollouts/issues/1200

[2021-09-16 11:58] kostis-codefresh commented on #654
PR created at https://github.com/argoproj/argo-rollouts/pull/1517

[2021-09-16 14:47] leoluz commented on #1507
Im investigating the code on how to implement this change. The reason why `istio` and `ambassador` expose a parameter to configure the api version is because they both leverage the k8s dynamic client. Using the dynamic client the API version string is the only requirement in order to correctly setup the `GVR` to interact with the resource. In the case of the Ingress however the interaction is with

[2021-09-16 15:08] alexmt commented on #1516
Thank you @kostis-codefresh ! Closing duplicate

[2021-09-16 15:08] #1516 closed

[2021-09-16 16:18] cooperbenson-qz opened #1518 "Publish the docs for the latest release instead of master"
# Summary

The [project documentation](https://argoproj.github.io/argo-rollouts/) should be built from the most recent release instead of master or default to displaying the most recent release and allow users to switch to the master version.

# Use Cases

Right now the publically published documentation is built from the master branch, which means it contains documentation for unreleased features

[2021-09-17 00:43] huikang opened #1522 "Add a health probe endpoint to the controller"
# Summary

What change needs making?

Add a health checkpoint like `:8081/healthz` to the controller. Currently we rely on the metrics server for health probe.

https://github.com/argoproj/argo-rollouts/blob/01879e474d7973ced4b963fc19276a594e93bdfc/manifests/base/argo-rollouts-deployment.yaml#L26-L38

# Use Cases

When would you use this?

When HA is enabled, the non-lead instance should not start

[2021-09-17 07:18] jessesuen commented on #1507
We already use `k8s.io/client-go v0.20.4` (aka K8s v1.20.4) which should have both the `extensions` Ingress client and `networking.k8s.io`, so I don't think it's a matter of upgrading the go client.

In past experience (e.g. Deployment apps vs. Deployment extensions), using the clientset for newer group (`networking.k8s.io`) would still work to modify the legacy group/kind, so I believe it should

[2021-09-17 09:13] jessesuen commented on #1518
Agree 100%. We need to do what Argo CD did and use readthedocs to version the docs per branch https://github.com/argoproj/argo-cd/pull/5099

[2021-09-17 19:38] leoluz commented on #1507
You are right. client-go v0.20.4 provides both versions indeed.

I created [this small project](https://github.com/leoluz/ingress-test) to validate this and indeed it is possible to use the client from the new `networking.k8s.io` group to manipulate the old one in `extensions/v1beta1`. Unfortunately as @alexmt pointed out, it is probably too early to drop to support of Rollouts for clusters < 1.19

[2021-09-17 20:06] jessesuen commented on #1507
Yes, I suspect you may need to implement an abstraction over the two ingress clientsets which basically does:

[code]

[2021-09-20 09:05] jessesuen opened #1523 "TestNewCloudWatchAPIClient tries to call AWS"
## Summary

Seems like a new cloudwatch test fails because it really wants to talk to AWS:

[code]

Unit tests shouldn't be really trying to do stuff to the environments.

[2021-09-20 16:33] #1403 closed

[2021-09-20 21:39] bpoland opened #1525 "Rollouts Dashboard doesn't fully support using workloadRef"
## Summary

When using a `Rollout` which uses `workloadRef`:
- the "Containers" section is not populated (it just says "Add more containers to fill this space")
- the "Rollback" buttons on previous revisions don't work -- clicking them doesn't do anything

I think either those features should be removed when using `workloadRef`, or they should be updated to work.

## Diagnostics

What version of A

[2021-09-20 22:26] jessesuen commented on #1525
Ah yes, dashboard needs to be updated to handle workloadRef.

[2021-09-20 22:37] jessesuen opened #1526 "e2e TestRolloutPauseDurationGreaterThanProgressDeadlineSeconds flakey"
## Summary

`TestRolloutPauseDurationGreaterThanProgressDeadlineSeconds` is flakey but not due to the typical `waiting for spec to be observed problem`.

[code]

logs indicate it fails after 5 seconds, which means `WatchRolloutStatus` helper does not take into account observed generation?

[code]

## Diagnostics

What version of Argo Rollouts are you running? v1.1

[code]

---

**Message from the

[2021-09-21 00:12] huikang commented on #1511
Sounds a good idea. @yashmehrotra , could you send a PR to enable this? Thanks.

[2021-09-21 01:16] yashmehrotra commented on #1511
@huikang Awesome, I'll create a PR for this, I hope it is fine if I do it for all the CRDs:

- analysisruns.argoproj.io
- analysistemplates.argoproj.io
- clusteranalysistemplates.argoproj.io
- experiments.argoproj.io
- rollouts.argoproj.io

[2021-09-21 02:14] yashmehrotra commented on #1511
@huikang Have created a PR: https://github.com/argoproj/argo-rollouts/pull/1527

Please take a look

[2021-09-21 08:48] #1029 closed

[2021-09-21 09:40] kostis-codefresh commented on #1518
I added a first PR https://github.com/argoproj/argo-rollouts/pull/1528 to implement readthedocs building (before actually adding the selector of the versions)

Current result is at https://argo-rollouts.readthedocs.io/en/readthedocs/

[2021-09-21 14:39] leoluz commented on #1507
This is the first draft implementing an Ingress Wrapper in the `ingress` package. @jessesuen @alexmt if you agree with this direction I will update the PR replacing all `Ingress` usage in the project to use this pattern.
https://github.com/argoproj/argo-rollouts/pull/1529

[2021-09-21 19:30] jessesuen opened #1531 "Re-enable pushes to ghcr.io"
## Summary

I recently disabled pushes to ghcr.io because of unknown 403 failures:
https://github.com/argoproj/argo-rollouts/pull/1530

There may be some ongoing issue happening recently
https://github.community/t/403-error-on-container-registry-push-from-github-action/173071/38

This issue is to re-enable pushes to ghcr.io once it is all worked out.

Perhaps this is related to CDN issues that hav

[2021-09-22 22:29] #1444 closed

[2021-09-23 15:52] derjust commented on #1525
This seems to also affect `kubectl argo rollouts set image` as it doesn't find the container.
The only workaround seems to be to alter the deployment itself - Argo then picks it up as expected

[2021-09-23 18:17] bpoland commented on #1525
That feels less surprising to me, although the kubectl plugin should probably provide a helpful error message saying that command isn't supported when using `workloadRef`?

[2021-09-23 18:49] bpoland opened #1536 "Dashboard UI display problems with long container image name/tag"
## Summary

When a container image name or tag is long, it extends past the edge of the box and "breaks" the UI.  This is a visual issue only.

![image](https://user-images.githubusercontent.com/24273909/134566141-2f125385-3f7d-46b8-94f7-75c5553e16b8.png)

## Diagnostics

Argo rollouts dashboard v1.1.0-rc1

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize th

[2021-09-23 20:38] jessesuen commented on #1525
I thought we [had fixed this already](https://github.com/argoproj/argo-rollouts/pull/1275) in the plugin CLI command, but it appears we only fixed the `undo` command for workloadRef and not the `set image` for workloadRefs.

If anyone wants to take a stab at this, the `undo` fix in  https://github.com/argoproj/argo-rollouts/pull/1275 is a good example of how it can be fixed in the same way for `se

[2021-09-23 20:40] jessesuen commented on #1525
Actually let me spawn a separate issue for plugin work so that it can be worked on independently from dashboard.

[2021-09-23 20:42] jessesuen opened #1537 "plugin set image does not work with workloadRef"
## Summary

Spawned from https://github.com/argoproj/argo-rollouts/issues/1525.

If using workloadRef, the plugin `set image` command does not work. We made it work for `undo` but not for set image.

## Diagnostics

What version of Argo Rollouts are you running? v1.1.0-rc1

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-09-24 08:18] MickJar commented on #654
The PR #1517 does not fix the issue with the broken dashboard through the CLI. Should we migrate that to a separate issue?

[2021-09-24 14:00] bpoland opened #1538 "Dashboard: allow direct links to a specific rollout"
# Summary

In the rollouts dashboard, you can send a link to `https://rollout.dash.url/rollout/rollout-name` but it seems like the namespace is set via a cookie or local browser storage, so the first time you go to the link it defaults to the namespace where the dashboard is running (I'm using the 1.1 RC so the dashboard has multi-namespace support).  Once the user picks the correct namespace in t

[2021-09-24 15:42] bpoland opened #1539 "Dashboard doesn't send client update when a pod terminates"
## Summary

When watching the rollouts dashboard during a canary rollout, the dashboard usually updates automatically as the rollout progresses through the steps.  When a pod starts terminating it updates to show a blue circle box, but when the pod finishes terminating there is no update sent to the client UI.

This is generally not an issue while the rollout is progressing since another update us

[2021-09-24 17:49] harikrongali commented on #1538
@perenesenko

[2021-09-26 10:30] deepanverma19 commented on #1305
Getting the same issues with v1.1.0-rc tag.

[2021-09-27 21:39] spkane opened #1547 "`kubectl argo rollouts dashboard` always spins up an empty dashboard with namespace set to `unknown`"
## Summary

If I have run the following:

[code]

I would expect the dashboard to be setup properly and show a UI representation of what I can see using:

[code]

## Diagnostics

What version of Argo Rollouts are you running?

* `quay.io/argoproj/argo-rollouts:v1.0.6`

[code]

![image](https://user-images.githubusercontent.com/129629/134989158-4ec294c4-4fb9-4c70-8a8b-1fee9ac29d32.png)

---

**Mess

[2021-09-27 23:52] jessesuen opened #1548 "DataDog provider should allow dealing with no data points returned"
## Summary

When there are no data points in a DataDog query, we automatically return error: `Datadog returned no value` with no ability to change this behavior. However, some users may want to consider this scenario a success. The code which prevents users from deciding how to handle this is here:

https://github.com/argoproj/argo-rollouts/blob/f5e2d82cb3be3d0e7f51b35f81c8f34c0bbf929e/metricprovi

[2021-09-28 00:09] jessesuen commented on #1548
More context: https://cloud-native.slack.com/archives/C01U781DW2E/p1632782321129900

[2021-09-28 00:10] rms1000watt commented on #1548
@jessesuen Thank you for making this issue. I'll take a look at it.

[2021-09-28 00:24] jessesuen commented on #1548
I think to fix this:

1. Instead of doing this:

[code]

we instead call EvaluateResult the result and give value of nil. e.g.:

[code]

2. If expr does not allow polymorphic comparison using built-in operators (i.e. `successCondition: result == nil || result <= 0.05`), then we could introduce an `isNil()` convenience method.

[2021-09-28 04:05] gyz2009 commented on #1405
@harikrongali  I tested 1.1.0-RC1 and there was no change
[code]

[2021-09-28 09:32] deepanverma19 opened #1550 "Slack Notifications not working - proxy config not supported"
## Summary

What happened/what you expected to happen?
I am getting timeout errors connecting to the endpoint https://slack.com/api/chat.postMessage. Is there any way to add proxy host and port as part of config?

## Diagnostics

What version of Argo Rollouts are you running?
v1.1.0-rc1
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with

[2021-09-28 10:26] gyz2009 commented on #1410
@jessesuen  I tested it in 1.1.0-RC1 and it still didn't work.
[code]

# Logs for the entire controller:
kubectl logs -n argo-rollouts deployment/argo-rollouts
[code]

![image](https://user-images.githubusercontent.com/30786213/135070276-469d7fcc-771f-4016-b9fd-e71754dacc6d.png)

[2021-09-28 17:31] harikrongali commented on #1550
@ryota-sakamoto can you take a look at it?

[2021-09-28 18:44] rms1000watt commented on #1548
I think the first option is not feasible.

There's 2 cases:
- datadog returned no values, and people want that to error out
- datadog returned no values, and people don't want that to error out, so they add a success/failure condition

If we force `evaluate.EvaluateResult(nil, metric, p.logCtx)` on every empty result, we'd have effectively broken backwards compatibility since it doesn't error out

[2021-09-28 20:45] perenesenko opened #1552 "Istio does not switch the traffic"
## Summary

On the last release I tested configuration with Rollout+Istio.
During the Rollout for the new version the traffic is still pointing 100 to the stable version.

Expected if we have steps: setWeight: 50. Some traffic (50%) should be sent to the canary

## Diagnostics

I'm running the latest one from the master branch. After the 1.1.0-rc1

I found that after this PR https://github.com/arg

[2021-09-28 21:09] perenesenko commented on #1552
I will work on the issue

[2021-09-28 22:15] perenesenko commented on #1552
I found the piece of code that copying the `tls` field to the newObj.Object with a `nil` value
[code]
and on a level-up method, the next code is raising an error that is hiding and not rethrowing to the upper level

[code]

[2021-09-28 22:16] perenesenko commented on #1552
Solution is to provide non `nil` check
[code]

Also in addition to this to prevent hiding of an error will return it immediately
[code]

[2021-09-29 05:15] rms1000watt commented on #1548
@jessesuen Ready for review: https://github.com/argoproj/argo-rollouts/pull/1551 👍 🙏

[2021-09-29 17:47] #1552 closed

[2021-09-29 18:47] perenesenko commented on #1539
I will look on this one

[2021-09-30 02:27] huikang commented on #1550
Should this be filed to the notification-engine?

[2021-09-30 16:58] spkane commented on #1547
The new plugin actually seems worse. I can use something like this fine:

[code]

but when I try to bring up the dashboard with:

[code]

then I open up:

[http://127.0.0.1:3100/](http://127.0.0.1:3100/)

I get nothing but a blank screen.

Viewing page source reveals this:

[code]

The new version of the kubectl plugin is:

[code]

[2021-09-30 23:58] jessesuen commented on #908
Eviction is equivalent to a delete but honoring PDBs. My counter question is why would we want to bypass PDB restrictions and use delete instead of evict?

We do honor maxUnavailable as long as it is greater than 0. We cannot support 0 because restaring rollout is different than restarting Deployments (which is a rolling update). It needs to be different because we support restarting a Rollout at

[2021-10-02 18:54] huikang opened #1559 "istio: ambuguous virtualService and virtualServices cause rollout to stuck"
## Summary

What happened/what you expected to happen?

We update a rollout with multiple istio virtualServices in the trafficrouting configuration. When the rollout is being created, the controller fails to spin up any pods and the rollout stuck in degraded status.

## Diagnostics

What version of Argo Rollouts are you running?

master

[code]

It turns out the this function https://github.com/ar

[2021-10-02 22:47] #1559 closed

[2021-10-03 07:09] eilonmonday opened #1560 "Read-only dashboard"
# Summary

Add read-only permissions for the dashboard

# Use Cases

We would like to give the developers access to the dashboard only for visualization without the ability to click on retry, promote, etc.

Thanks!

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-10-03 20:07] huikang commented on #451
Hi, @jessesuen , I can take over this one as we march to v1.2. Implementation wise, we may update the rollout CRD with the following additional fields:

[code]

We keep the `activeService` and `previewService` for backward compatibility like in multiple `virtualServices` support.
What do you think?

[2021-10-04 10:34] cldmnky commented on #1417
Hey @leoluz, sorry for the late reply.

Our mapping and our rollout is in the same namespace.

The ambassador deployment is in an other namespace.

Our base mapping has:
`service: test-app-stable.test-progressive:80` (service.namespace))

Them mapping that rolluts creates does not persist the namespace in the rollouts mapping:
`service: test-app-stable:80`.

What hits us is: (from: https://www.get

[2021-10-04 14:15] leoluz commented on #1417
Thank you for the clarification. Which version of Ambassador are you using?

Since 1.0.0, which is almost 2 years old, it will default to the namespace in which the Mapping resource is defined. Thats why we didn't introduce the namespace in the service name initially.

Can you confirm if this is mainly to support very old versions of Ambassador?

[2021-10-04 16:41] huikang commented on #1522
After further thought, I think having multiple replicas serving the metrics port won't cause any conflict to the **rollout_info** metrics. Each controller replica, regardless of primary or backup, reads the measurement by reading from collecting rollouts
https://github.com/argoproj/argo-rollouts/blob/7c7774434f437f8706b953aadcfd45e435830510/controller/metrics/rollouts.go#L52-L61

so the measuremen

[2021-10-05 14:15] jstewart612 opened #1563 ""Error Message: unknown name response" but canary responds the entire time"
## Summary

I ran this Rollout:

[code]

With this AnalysisTemplate:

[code]

Canary pod started and that URL works from another pod while the pod is started.... but the Rollout fails with "Error Message: unknown name response" and kills the canary pod that was returning 200 at that uri the entire time at that service name.

## Diagnostics

What version of Argo Rollouts are you running?

1.0.7

[c

[2021-10-05 15:09] cldmnky commented on #1417
Hmmm we are running 1.13 (upgraded in a few steps).

That is strange, the namespace lookup does not work as expected for us then.

We worked around it by applying that small PR we created.

I’ll check why this does not work as expected then for us. 😅

Feel free to close the PR and the issue then!

[2021-10-05 18:22] harikrongali commented on #1563
@jstewart612 can you run query ('http://maestro-canary.qa.svc.cluster.local/ops/heartbeat') manually and check if that works. Seems rollout doesn't have access to the URL
you can run the query in the namespace where rollout is running.

[2021-10-05 18:57] leoluz commented on #1417
I wouldn't be against merging your PR if Ambassador 1.0.0 was still supported. However it isn't the case as this release is almost 2 years old.

[2021-10-05 23:32] AAATechGuy opened #1564 "support for adding argo-rollouts as helm dependencies in chart.yaml"
# Summary

What change needs making?

Proposal to add support for adding `argo-rollouts` as helm `dependencies` in chart.yaml.

Consider an example of `aad-pod-identity`
[code]
The chart is published via https://github.com/Azure/aad-pod-identity/tree/master/charts

# Use Cases

When would you use this?

- this would avoid the need to manually install the chart on first use, and help automate upgra

[2021-10-05 23:39] AAATechGuy opened #1565 "migrate [apiextensions.k8s.io/v1beta1] to [apiextensions.k8s.io/v1] | unsupported from CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+"
# Summary

What change needs making?

`Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition`
Need to upgrade CRD version.

![image](https://user-images.githubusercontent.com/3484074/136117322-906e90d9-f054-44e6-a0fd-9cbd411b8b3b.png)

# Use Cases

When would you use this?

---

**Message

[2021-10-06 18:02] jstewart612 commented on #1563
Found the problem.

It was not referring to a name resolution issue.  It was referring to the fact that a variable named "response" didn't exist for use in the successCondition.

User error.

[2021-10-06 18:02] #1563 closed

[2021-10-06 19:40] jessesuen commented on #1565
We already migrated to v1. But you are installing the old version because you are referencing using the `stable` tag (which is deprecated). We now provide installation manifests attached to the release. See:

https://github.com/argoproj/argo-rollouts/releases/tag/v1.0.0

[2021-10-06 19:40] #1565 closed

[2021-10-06 19:41] jessesuen commented on #1560
You can just remove all the write permission from the service account associated with the dashboard.

[2021-10-06 20:20] jessesuen commented on #1305
Closing this since v1.1-rc1 is out and will be GA next week. @deepanverma19 your issue is related to lack of proxy support which will need an enhancement.

[2021-10-06 20:20] #1305 closed

[2021-10-06 20:20] #1560 closed

[2021-10-06 20:29] jessesuen commented on #1547
I'm unable to reproduce this. I've tested with the same version using safari, chrome, and brave:

[code]

The fact that you have the source returned is a good thing. I wonder if you have something in your browser preventing UI from rendering (e.g. javascript disable). Perhaps opening your browser's developer tools may give some clues.

[2021-10-07 03:49] huikang opened #1566 "Validating service's selector label for bluegreen rollout"
# Summary

What change needs making?

For blue-green rollout, if the **selector** labels of service object doesn't match the label of the bluegreen rollout, the rollout should be considered as _Invalid_.

# Use Cases

When would you use this?

The current validation logic only checks if the activeService and previewService exist and reconciles the label with the **rollouts-pod-template-hash** key.

[2021-10-07 07:04] Sanchit-20 commented on #995
When we rollout a new version(say `v4`) and once all the `steps` mentioned in canary(for v4) are completed successfully, so in this case the current default behaviour is the existing rollout gets promoted _**automatically**_  (unless we mention an infinite `pause: {}` in `steps`) to the latest version and version `v4` becomes the stable version.

@jessesuen  Similarly, for the current use case whe

[2021-10-08 12:32] alkalinecoffee opened #1571 "template must be empty error when using workloadRef"
## Summary

We are using `workloadRef` in our rollout to point at an existing deployment, but seeing the following error:

Our rollout does not include a `template`--only the existing deployment does.  However, when exporting the rollout's yaml, we can see both `template` and `workloadRef` in the exported file (maybe that is what is triggering this error?).

## Diagnostics

Previously used 1.0.1 w

[2021-10-08 13:20] #1571 closed, assigned to nobody

[2021-10-08 19:56] alkalinecoffee opened #1572 "Rollout clobbers pre-existing ALB annotations"
## Summary

We have pre-existing annotations in place for our ALB listener rules, but argo appears to be clobbering those annotations so they never actually take effect.

Our service requires the use of sticky sessions.  For enabling stickiness on targets, this is done by first setting this ingress annotation:

[code]

But since both the canary and stable target groups are routed by the same liste

[2021-10-11 10:44] jramospagantis opened #1576 "Datadog metric: invalid memory address or nil pointer dereference"
## Summary
I get the error invalid memory address or nil pointer dereference when i use a AnalysisTemplate with a Datadog metric
Rollout Image:        quay.io/argoproj/argo-rollouts:v1.0.7
K8s version: v1.21.2-eks-55daa9d

## Diagnostics
AnalysisTemplate:

apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: datadog-test
spec:
  args:
  - name: service-name
  metrics:
  - name

[2021-10-13 09:30] heesuk-ahn opened #1579 "Argo Rollout Dashboard - Checking log view"
# Summary

Improved to check the logs of deployed Pods directly from Argo Rollout Dashboard.
Then we can get visibility right after deployment.

# Use Cases

I made a usecase wireframe with a bit of photoshop.

As shown in the image below, if you click on a pod, the log appears, I think the user experience will be richer.

![example-1](https://user-images.githubusercontent.com/42938941/137106605-e

[2021-10-14 13:07] bpoland opened #1580 "Promote-full with traffic splitting doesn't wait for new pods to be ready"
## Summary

When using the promote-full option with traffic splitting, 100% of traffic is immediately sent to the new ReplicaSet, even if it is not scaled up enough to handle the traffic.

Instead, it should immediately scale up the new RS to full size, but wait to adjust the traffic split as the new pods become ready.  I had thought this was the difference between set weight and actual weight, bu

[2021-10-14 13:10] bpoland opened #1581 "Dashboard should allow promote/promote-full at any time"
# Summary

Currently the rollout dashboard disables the promote and promote-full buttons at certain points (seems to be when scaling canary/setting weight requires pods to be started and become ready).  The CLI options do not have this restriction, so I think the dashboard should also allow promoting at any time.

# Use Cases

When I want to promote/promote-full while pods are starting

---

**Mes

[2021-10-14 14:56] bpoland opened #1582 "Allow "pre-warming" canary pods without waiting"
# Summary

When using the `setCanaryScale` step, the Rollout waits for the scaled pods to start and become ready before proceeding to the next canary step.  It would be nice if there was a way to tell the canary ReplicaSet to scale up ahead of time, while still allowing the following canary steps to proceed.

# Use Cases

For pods which take a long time to start and become ready, it would be helpf

[2021-10-14 19:00] bpoland opened #1583 "Restarting 1-replica rollout causes stable to terminate immediately"
## Summary

In a Rollout with 1 replica, triggering a restart causes the running pod to be terminated immediately at the same time that the new pod starts up.  This happens even when explicitly setting `maxUnavailable: 0` (the default is documented as 25% which I would have expected to be rounded down to 0 pods).  This causes no pods to be available until the new one becomes ready.

I know 1 repli

[2021-10-14 20:04] bpoland commented on #1583
Ah sorry -- I just mean manually triggering a restart of pods with `kubectl argo rollouts restart <name>` or the rollouts dashboard.

With a deployment it would be `kubectl rollout restart deployment/<name>`

Here's the output before starting:
[code]

Then I run `kubectl argo rollouts restart example` and right afterwards:
[code]

As you can see, the running pod is immediately terminated and we ar

[2021-10-14 22:42] ghost opened #1585 "notifications-install.yaml works only with `kubectl apply` but fails with `helm`"
## Summary

I'm installing `notifications-install.yaml` as a part of my Helm chart.

`kubectl apply -f https://github.com/argoproj/argo-rollouts/blob/master/manifests/notifications-install.yaml` succeeds, however when adding the `notifications-install.yaml` file as a part of a Helm chart's template, applying the chart results in the following error:
[code]

It's attempting to evaluate `.rollout.me

[2021-10-15 00:28] #1585 closed, assigned to nobody

[2021-10-15 20:28] DanTulovsky opened #1587 "No rollout after 1.1.0 Upgrade"
## Summary

I upgraded to version 1.1.0 and now none of the Rollouts work.  They all show an error like:

[code]
Do i need to clear some stuck state somewhere?

Thank you

## Diagnostics

1.1.0

[code]
time="2021-10-15T20:21:17Z" level=info msg="Started syncing rollout" generation=325 namespace=staging-space-station resourceVersion=997295647 rollout=staging-space-station-spanmixer
time="2021-10-15

[2021-10-15 20:35] DanTulovsky commented on #1587
errr...

[code]

I guess that would be my problem... grrr...

[2021-10-15 20:44] DanTulovsky commented on #1587
Hmm, so I manually did a `kubectl apply` on the CRDs in the install.yaml file, but the error remains.

[2021-10-15 20:50] harikrongali commented on #1587
for rollouts 1.1.0 for helm is updated yesterday as per https://github.com/argoproj/argo-helm/pull/966 .. can you try using this?

[2021-10-15 22:47] DanTulovsky commented on #1587
So I rolled back to 1.0.7, which works. But, @harikrongali question for you.  Given the helm docs (https://helm.sh/docs/chart_best_practices/custom_resource_definitions/) that state helm doesn't upgrade CRD definitions, how does your chart manager to do it?  Or do I simply misunderstand what the helm docs are saying?

[2021-10-16 21:51] #1587 closed

[2021-10-17 17:53] huikang opened #1591 "Add resolved query to the status of analysisrun"
# Summary

In the current implementation, `analsysrun` doesn't display the query with resolved arguments as shown below, which makes it a bit harder to do some troubleshooting on the analysis template.

[code]

it would be nice if we can add the query with resolved arguments to the analysisrun status.

# Use Cases

When would you use this?

Users who want to troubleshoot some analysis run with arg

[2021-10-17 19:30] sergeyshaykhullin opened #1592 "Add ingress support"
# Summary
Add ingress for argo rollouts dashboard

# Use Cases
Simple access for ui behind oauth2-proxy

# Related
Helm chart PR https://github.com/argoproj/argo-helm/pull/870, Issue https://github.com/argoproj/argo-helm/issues/868

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-10-18 04:47] pranshu256 opened #1593 "Bad canary replicaset isn't scaled down even after the rollout is marked as degraded"
## Summary

If a new canary rollout pods are stuck in an error state (e.g. image pull back off), the rollout degrades after the progress deadline is exceeded but the bad replica set/pods aren't scaled down.

Steps to reproduce:

1. Create a rollout with canary strategy, and have a stable version running.
2. Create a new revision of this rollout with a bad image tag
3. Wait for the rollout to progr

[2021-10-18 12:26] kostis-codefresh commented on #654
Well the screenshot tells you what to do. This is not a graphical application. You need to open a terminal in windows (type cmd in the start menu) and run the program from there.

Just to clarify, the executable you downloaded is a command line application for managing Argo Rollouts that is itself installed on a cluster already.

It is much better to join the slack channel of Argo Rollouts for thi

[2021-10-18 18:09] perenesenko commented on #1593
@pranshu256 This is expected behavior.
To abort the Rollout you need to specify those parameters:
[code]

[2021-10-18 22:09] jessesuen commented on #1583
I would love a way to handle this, but the hard part of this problem is we need to support restarts **in the middle of canary & blue-green updates**. This makes the problem much harder than rolling update's "restart" which is nothing but another update.

[2021-10-18 22:39] greenkiwi opened #1594 "Release assets appear to be missing dashboard install manifest"
## Summary

We are using kustomize to deploy argo-rollouts.  We would like to deploy the dashboard, but the manifest install file is missing from the release.

As it stands, we have to add the resources and then overwrite the tag.
[code]

Can a `dashboard-install.yaml` be added to the resources associated with a release?  (And or is there a better way to install the dashboard?)

---

**Message fro

[2021-10-18 23:25] jessesuen commented on #1593
Please try:

[code]

[2021-10-18 23:29] jessesuen commented on #1581
Yes, this seems reasonable. Promote and promote-full should be available anytime during an update (but not when fully rollouted out at a steady state).

For reference, here is when Argo CD presents them as options (resume is similar to promote in the UI).
https://github.com/argoproj/argo-cd/blob/master/resource_customizations/argoproj.io/Rollout/actions/discovery.lua

[2021-10-18 23:49] greenkiwi commented on #1594
@jessesuen Does it make sense to also have the rollout transform as a release asset?

We are having to add it to kustomization.yaml with a URL to the raw file:

https://raw.githubusercontent.com/argoproj/argo-rollouts/v1.1.0/docs/features/kustomize/rollout-transform.yaml

Should I file a second ticket for that?

[2021-10-19 13:30] flaviolemos78 opened #1596 "Canary Rollout with errors when there's an scale event during the experiment"
## Summary

When using canary rollout with experiments, if during the experiment there's an scale event, the rollout  `status.canary.experiment` metadata is deleted. On the next reconcile cycle, the canary reconciler will try to (re)create/recue the experiment which results in an error. The error continues on further reconciles until the canary step is incremented. Since every time a reconcile job

[2021-10-19 18:04] perenesenko commented on #1594
I forgot to include it in the artifacts.
Here is a fix for that
PR: https://github.com/argoproj/argo-rollouts/pull/1601

[2021-10-19 23:24] bpoland commented on #1447
@cikupin I think something's off with your setup, my dashboard shows v1.1.0 and allows me to select the namespace

[2021-10-20 02:06] huikang commented on #1522
After some further thought on this issue, I think the root cause is that the `reconciliation` metric depends on the pod: each pod of controller will have different measurement.

So another option of making the deployment progress is to add  some label like `instance_id` to the `reconciliation` metric, as well as a new metric named `is_primary` (1 means it is a primary, 0 means non primary pod).
Th

[2021-10-20 06:07] lackofdream commented on #1134
TLS configurations of canary ingress are inherited from the corresponding main ingress, please check whether the canary ingress is correctly selected by the ingress controller (spec.ingressClassName for example)

[2021-10-20 16:43] harikrongali commented on #1522
1. All pods need to be ready even if secondary
2. Yes, adding instance_id will be good. One thing to add is the ability for metric providers to skip reading events from secondary pods. As load will increase based on the number of pods.

[2021-10-20 18:08] ryota-sakamoto commented on #1550
@jessesuen
I'll be working on this issue.

[2021-10-21 18:47] crenshaw-dev opened #1605 "Remove go-mpatch from unit tests to avoid OSX permissions error"
# Summary

We should rewrite any unit tests which use go-mpatch so that they do not use go-mpatch.

# Motivation

Three unit tests currently use go-mpatch:
1. https://github.com/argoproj/argo-rollouts/blob/d83543a8f5c2eab5abce2b8c5d962a438025e313/analysis/controller_test.go#L62
2. https://github.com/argoproj/argo-rollouts/blob/d83543a8f5c2eab5abce2b8c5d962a438025e313/experiments/controller_test.go

[2021-10-22 07:01] caseyscarborough opened #1607 "Failed to list *v1beta1.Ingress: the server could not find the requested resource (get ingresses.extensions)"
## Summary

Whenever Argo Rollouts is installed, the `argo-rollouts` pod fails to start with the following error:

[code]

## Diagnostics

I ran the following commands to install v1.1.0:

[code]

The deployed `argo-rollouts` pod doesn't start up and fails with the following error:

[code]

Here is my server version:

[code]

I have also tried applying the `install.yaml` manifest with ArgoCD and re

[2021-10-22 08:24] harikrongali opened #1608 "Propagate AWS target group hash to rollout metadata"
# Summary

What change needs making?
Similar to canary/stable hash values, propagate AWS target group hashes for canary & stable
Will be available only if --aws-verify-target-group enabled

# Use Cases

When would you use this?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-10-22 18:20] #1607 closed, assigned to nobody

[2021-10-23 04:26] alexmt opened #1609 "Long image names should be truncated on rollout details page"
## Summary

Long image names should be truncated on rollout details page

<img width="1356" alt="Screen Shot 2021-10-22 at 9 22 28 PM" src="https://user-images.githubusercontent.com/426437/138542187-095efd2d-e2f2-423f-b94b-4d701e621dac.png">

## Diagnostics

v1.1

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-10-26 04:11] yq314 opened #1611 "Notifications don't get container info when using WorkloadRef"
## Summary

When using WorkloadRef, the notifications will not render container information as per https://github.com/argoproj/argo-rollouts/blob/master/manifests/notifications/on-rollout-completed.yaml#L23

It's because there's no `template` section in the `rollout` object passed to the template, can we populate the template from WorkloadRef before passing it to the template?

---

**Message from

[2021-10-28 07:07] itsnagaraj opened #1614 "Undo/Abort rollouts when using workloadRef"
## Summary

What happened/what you expected to happen?
When I undo a rollout I expect the rollout to be reverted to previous version. The application was not reverted to old version and it remained scaled down in degraded state. Even when I scaled using `kubectl scale deploy/test-api --replicas 1` the application remained in degraded state and would not receive any traffic

## Diagnostics

Manifes

[2021-10-28 10:27] noam-codefresh opened #1615 "Running HEAD on EKS 1.19+ cluster crashes on startup"
## Summary

What happened/what you expected to happen?
When I start my controller on my EKS cluster, which is currently running version 1.19
The code that tries to guess my ingress apiVersion fails, because the serverVersion `.Minor` returns `"19+"`, which crashes at the `atoi` call,

## Diagnostics

What version of Argo Rollouts are you running?
I am running from current master/HEAD, which is on

[2021-10-28 16:33] agrawroh opened #1617 "Add Dry-Run Capability For Metrics In AnalysisTemplates"
# Background

We are now using Argo Rollouts in production and have a few additional requirements to extend it to all our backend services. One of the top ask/requirements in the checklist is to have an ability to evaluate new analyses for their real behavior, prior to actually rolling back based on those analyses. One possible solution would be to add a `Dry-Run` mode to the **AnalysisTemplate**

[2021-10-28 16:38] #1615 closed, assigned to nobody

[2021-10-29 18:03] harikrongali commented on #1614
Abort will put the status in degraded state as rollout couldn't reach desired state. If you want to a healthy state, you should do rollback.

[2021-11-01 01:55] regiszanandrea opened #1619 "Failed to watch *v1beta1.Ingress: failed to list *v1beta1.Ingress: the server could not find the requested resource"
## Summary
I'm receiving this log from argocd-rollout pod after the argo-rollout installation and my deploy keeps stucked on Health: Progressing. I also tried with version v1.0.6 but I'm getting the same error

What happened/what you expected to happen?
Should deploy normally without error.

## Diagnostics

What version of Argo Rollouts are you running?
Latest: v1.1.0
minikube: v1.23.2
k8s: v1.22.

[2021-11-01 04:06] #371 closed

[2021-11-01 17:03] noam-codefresh commented on #1608
Hello.
I am trying to work on this request, and here is what I have currently made so far:
In the `awsVerifyTargetGroups` func, I added some code that adds the `targetGroupARN` as a label on the service. However, so far I keep getting a `!verifyRes.Verified` response from `aws.VerifyTargetGroupBinding`
When I drilled into it, I saw that the service's endpoints `Subsets.Address` have the internal I

[2021-11-01 18:26] perenesenko commented on #1619
We have a fix for this one. It's in a master but not released yet

[2021-11-01 18:36] perenesenko commented on #1619
Fixed in a scope of https://github.com/argoproj/argo-rollouts/issues/1507

[2021-11-01 18:36] #1619 closed

[2021-11-01 21:19] harikrongali commented on #1608
you dont need full ARN, just the id is enough, for example arn:aws:elasticloadbalancing:us-east-2:795188202216:targetgroup/k8s-testargo-albrollo-2249f2dae0/7010986ede9433b1
 -->  k8s-testargo-albrollo-2249f2dae0 is enough

can you post the ingress and rollout manifest files?

[2021-11-02 04:43] Sahithijalagam commented on #654
@kostis-codefresh I have tried the steps you mentioned by downloading the file renamed with .EXE and ran it but the plugin is not working .

[2021-11-02 07:19] noam-codefresh commented on #1608
Sure. I was mostly using the ALB getting started guide.
Here is my ingress:
[code]

and Rollout:
[code]

I installed the ALB resources and controller from [v2.3](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/deploy/installation/), and after some fiddling got everything to work with internet-facing ingress (I had to manually set the availability zones of the ALB to use the pub

[2021-11-02 07:33] noam-codefresh commented on #1608
oh, I think my problem is related to the `tgb.Spec.TargetType` being `instance` and not `ip`. I made a little hack to get it to pass some condition in the code (for debugging purposes, as a start), but of course, there are consequences to doing such hacks.
Is this feature meant to work with `instance` type as well? if so, I will probably need to add some resolving from the endpoints' IP addresses

[2021-11-02 09:38] kostis-codefresh commented on #654
@Sahithijalagam "the plugin is not working" is a very vague statement. Please open a brand new issue on Github and show the output of what you get when you run it. Alternatively join the CNCF slack channel and post a question in the argo-rollouts channel (again showing the result you get)

[2021-11-02 12:07] noam-codefresh commented on #1608
For the 2nd side of the task - I've been looking at adding the stable and canary (or active/preview) to the `BuildArgumentsForRolloutAnalysisRun` func. But it will require getting those two services from the rollout (there's a blueGreen implementation, I'll need to add a similar canary implementation as well - and wrap in a generic one that just returns both services maybe).
Maybe another option i

[2021-11-02 14:35] dpiraud opened #1621 "BlueGreen: Old RS not scaled down"
## Summary

What happened/what you expected to happen?

## Summary
Having a blue/green demo app, old RS in not scaled down after rollout success.
## Diagnostics

### Version:
1.1.0
### Configuration
[code]
### Rollout view
[code]
### Logs
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-11-02 16:51] jessesuen commented on #1608
Instead of this:

[code]

When we spoke about this a while back, I was originally thinking we could have valueFrom do this in a more generic name, referencing field metadata in the status. This way it would not be specific to AWS. Also the work items could be split into two tasks:

1. populate AWS metadata into status (for debugging and/or to be passed to analysis)
2. support supplying status fiel

[2021-11-02 16:56] harikrongali commented on #1608
Thanks for the comment @jessesuen . I think this makes sense to have a more generic option without sticking to AWS.
So, it will be populating AWS metadata (targetGroup information) to rollout Status and then Analysis objects should be able to consume json objects. And values will be passed in using ValueFrom reference.

@noam-codefresh let me know above comment make sense.

[2021-11-02 16:59] jessesuen commented on #1608
We have two issues for this already:
1. https://github.com/argoproj/argo-rollouts/issues/1241
2. https://github.com/argoproj/argo-rollouts/issues/1242

I think we should dup this one

[2021-11-02 17:01] harikrongali commented on #1608
@noam-codefresh I will close this one. Please comment on #1241 and I will assign it to you.

[2021-11-02 17:01] #1608 closed

[2021-11-02 17:05] jessesuen commented on #1242
To make this feature more useful, instead of single field paths, we should support JSON string objects and enhance analysis to allow dot notation referencing when the supplied argument is a json string.

[2021-11-02 20:45] ahmetb commented on #294
Happy to have this on Krew. If there's a concern around maintenance in both places, we have release automation tooling in place that would help you also publish this on Krew without much hassle. https://krew.sigs.k8s.io/docs/developer-guide/release/automating-updates/

[2021-11-02 21:29] harikrongali commented on #1621
am unable to reproduce the scenario. From the logs, I dont see scale down delay set to the  old replicaSet.
is the service switch happening correctly and traffic is going to the new stack?

[2021-11-02 21:30] harikrongali commented on #1621
can you also describe old replicaSet as well?

[2021-11-03 00:08] #1596 closed

[2021-11-03 01:37] huikang commented on #1621
The following lines appear repeatedly and look suspicious

[code]

if the rollout still exists, could you paste the output of `kubectl get rollout <rollout name> -o yaml` and the `kubectl get replicaset <old replicaset> -o yaml`. Would like to see if the replicaset has any abnormal status. Thanks.

[2021-11-03 08:55] dpiraud commented on #1621
yes, traffic to new version is OK

I have to replay it this mornnig, here are the describe without "private" part, logs looks similar

### Rollout
[code]
[code]

### Old RS
[code]
### New RS
[code]

[2021-11-03 15:47] huikang commented on #1621
@dpiraud , those logs definitely provide some clue about this issue, which indicates the controller can't add the scaledown annotation to the old RS due to some interruption.
Since this problem seems reproducible in your setup, I am wondering if you could try a simple b/g rollout like in https://argoproj.github.io/argo-rollouts/features/bluegreen/.

BTW, I really like the traffic monitoring dashbo

[2021-11-03 15:58] noam-codefresh commented on #1241
If I understand correctly, the alb traffic routing can be applied to BlueGreen as well. Am I correct?
If so - do you want the status.alb to include `CanaryTargetGroup` and `StableTargetGroup`? Or do you expect it to use `ActiveTargetGroup` and `PreviewTargetGroup`?

[2021-11-04 07:06] PatrickWolleb commented on #132
@jessesuen how would you start with writing a StatefulRollout?

[2021-11-04 13:04] chicocvenancio opened #1623 "Pin image versions on manifests"
# Summary

Manifests are using `latest` as image versions, this creates issues with backwards incompatible changes breaking existing installations.

# Use Cases

To have a more stable installation.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritize the issues with the most 👍.

[2021-11-04 15:26] bpoland opened #1624 "`progressDeadlineAbort` causes degraded Rollout outside of a deployment"
## Summary

It seems that with `progressDeadlineAbort: true` that some Rollouts randomly get marked as degraded when no deployment is in progress.  This has been happening repeatedly since I turned on `progressDeadlineAbort` (and stops happening when I turn that back off).

When the issue happens, the Rollout is left like this:
[code]

Luckily with the changes in 1.1 having the `SetWeight: 0` does

[2021-11-04 16:22] noam-codefresh commented on #1241
I just created a PR - https://github.com/argoproj/argo-rollouts/pull/1625

[2021-11-04 16:25] noam-codefresh commented on #1242
I am not sure I understand this last comment - do you mean something more complex than the example above? Or just having the ability to reference any field in the status, but some dot notation like `status.alb.canaryTargetGroup.name`?

I was thinking about using https://github.com/stretchr/objx to extract the value from the rollout instance. Is there any library/way you recommend to do it?

[2021-11-04 16:48] harikrongali commented on #1623
Project switched to another way of delivering installation manifests. Now each rollout release have install.yaml attached. E.g. https://github.com/argoproj/argo-rollouts/releases/download/v1.1.0/install.yaml

[2021-11-04 17:42] #1522 closed

[2021-11-05 14:56] bpoland commented on #1580
Hi @khhirani, is there any other information I can provide to help narrow down this issue and get a fix in place?  It's a pretty serious issue and constrains the ability to promote.  A possible workaround would be to sequentially promote quickly through all the canary steps but https://github.com/argoproj/argo-rollouts/issues/1581 prevents doing that easily in the dashboard which makes it harder f